Backup_2026-07-17/Payment workflows.json
{"updatedAt":"2026-07-16T14:01:30.290Z","createdAt":"2026-07-16T07:25:19.764Z","id":"huempg47C7YuIsDh","name":"Payment workflows","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatsyncs-website-payment","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,-64],"id":"398d4a05-2c63-444e-8141-b39ee78a13bf","name":"Webhook","webhookId":"22926896-7ca1-4a90-98e8-197d476bc1c7","credentials":{"httpHeaderAuth":{"id":"U5s88HXLj5pOdR42","name":"ChatSyncs Website Webhook Payment"}}},{"parameters":{"assignments":{"assignments":[{"id":"b7f80a01-5781-4889-837f-541b662f58a2","name":"user_phone_no","value":"={{ $('Webhook').item.json.body.phone.split(\"+\")[1] }}","type":"string"},{"id":"8d30592e-3d5a-4df9-8cbc-0810854ced02","name":"template_type","value":"={{ $('Webhook').item.json.body.template }}","type":"string"},{"id":"95e1648f-4bc4-48be-bf81-f97d413aefa4","name":"name","value":"={{ $('Webhook').item.json.body.name }}","type":"string"},{"id":"2e3c96cb-6816-4aa9-87d0-8c5bdc9bbdbc","name":"plan","value":"={{ $('Webhook').item.json.body.plan }}","type":"string"},{"id":"ecca6fde-a447-456d-ba97-4585ea037e11","name":"discount_label","value":"={{ $('Webhook').item.json.body.discountLabel }}","type":"string"},{"id":"2d124e55-683d-4120-b368-77860ed74b8e","name":"offercode","value":"={{ $('Webhook').item.json.body.offerCode }}","type":"string"},{"id":"784241b2-c0c1-44a9-ba0b-c41b10ab9d65","name":"amount","value":"={{ $('Webhook').item.json.body.amount }}","type":"string"},{"id":"59bf8f91-2803-44b0-9cfa-6a468f28b3eb","name":"currency_symbol","value":"={{ $('Webhook').item.json.body.currencySymbol }}","type":"string"},{"id":"8f4b9a29-3f99-4f54-a3b6-e2be002eed4e","name":"payment_id","value":"={{ $('Webhook').item.json.body.paymentId }}","type":"string"},{"id":"872866ef-d1a2-42a9-937b-d5bd483fe719","name":"date","value":"={{ $('Webhook').item.json.body.nextBillingDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-64],"id":"19de45f8-056b-4854-867f-ef80da54de4f","name":"variables"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('variables').item.json.template_type }}","rightValue":"payment_success","operator":{"type":"string","operation":"equals"},"id":"11def685-3ba8-4ae4-8c39-bd9145d9e707"}],"combinator":"and"},"renameOutput":true,"outputKey":"Success"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9d70c1d3-afff-4498-a677-e8ef938ec199","leftValue":"={{ $('variables').item.json.template_type }}","rightValue":"subscription_halted","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Halted"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"20dcb0a2-d8ed-4f64-ac4b-410d137e9c4e","leftValue":"={{ $('variables').item.json.template_type }}","rightValue":"renewal_success","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Renewal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"58342128-74b4-4b35-ae2d-9daacf65883e","leftValue":"={{ $('variables').item.json.template_type }}","rightValue":"payment_failed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Failed"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[656,-96],"id":"91c8d02f-0359-4cea-b08e-63b5f1a33025","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[480,-64],"id":"2cfe2865-b2b5-4855-bde3-ff7a9f8603fa","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"dac02e54-5e22-451e-af02-addda0257508","name":"payment_success_template_id","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'payment_success_template_id').json.value }}","type":"string"},{"id":"8bfbfa1c-58f2-4a53-ac96-121141159827","name":"payment_failed_template_id","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'payment_failed_template_id').json.value }}","type":"string"},{"id":"785e0990-ec0d-4e70-8815-53f2a16a3853","name":"renewal_success_template_id","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'renewal_success_template_id').json.value }}","type":"string"},{"id":"433e97ef-a70a-42a2-8843-8b7253aca532","name":"subscription_halted_template_id","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'subscription_halted_template_id').json.value }}","type":"string"},{"id":"decdfb27-1e46-40f5-a879-1fcd425fe5bc","name":"phone_number_id","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'phone_number_id').json.value }}","type":"string"},{"id":"4bc6790b-059b-41d6-b3a1-5abe34d8976b","name":"api_token","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'api_token').json.value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-64],"id":"7bd2de33-5e81-459c-83d5-ac221219dbe2","name":"template_variables"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ph1GDrKe4EoguIv9","mode":"list","cachedResultName":"ChatSyncs Account ID Information","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Ph1GDrKe4EoguIv9"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"account","keyValue":"lakshit"},{"keyName":"number","keyValue":"chatsyncs"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[144,-64],"id":"c350c507-8fe8-46e5-b12f-d23aa8a1110f","name":"data_table_account"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Limit').item.json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Limit').item.json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Limit').item.json.payment_success_template_id }}"},{"name":"templateVariable-amount-2","value":"={{ $('variables').item.json.currency_symbol }}{{ $('variables').item.json.amount }}"},{"name":"templateVariable-planName-3","value":"={{ $('variables').item.json.plan }}"},{"name":"templateVariable-paymentId-4","value":"={{ $('variables').item.json.payment_id }}"},{"name":"phone_number","value":"={{ $('variables').item.json.user_phone_no }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[976,-288],"id":"9c10d714-f342-4eef-bb7a-f109077dec35","name":"payment_success_template"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Limit').item.json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Limit').item.json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Limit').item.json.subscription_halted_template_id }}"},{"name":"templateVariable-planName-2","value":"={{ $('variables').item.json.plan }}"},{"name":"templateVariable-offer-3","value":"={{ $('variables').item.json.offercode }}"},{"name":"templateVariable-code-4","value":"={{ $('variables').item.json.offercode }}"},{"name":"phone_number","value":"={{ $('variables').item.json.user_phone_no }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[976,-112],"id":"67183e28-99d8-4769-bb94-7674d6814cdb","name":"subscription_halted"},{"parameters":{"dataToSave":{"values":[{"key":"payment_type","value":"={{ $json.body.template }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-208,-64],"id":"47a9e290-3f62-46a2-a495-b80f8a18b580","name":"Execution Data"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Limit').item.json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Limit').item.json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Limit').item.json.payment_failed_template_id }}"},{"name":"templateVariable-amount-2","value":"={{ $('variables').item.json.currency_symbol }}{{ $('variables').item.json.amount }}"},{"name":"templateVariable-planName-3","value":"={{ $('variables').item.json.plan }}"},{"name":"phone_number","value":"={{ $('variables').item.json.user_phone_no }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[976,224],"id":"b07d5939-4ed0-411f-ba66-9e13acbd7b66","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Limit').item.json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Limit').item.json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Limit').item.json.renewal_success_template_id }}"},{"name":"templateVariable-planName-2","value":"={{ $('variables').item.json.plan }}"},{"name":"templateVariable-amount-3","value":"={{ $('variables').item.json.currency_symbol }}{{ $('variables').item.json.amount }}"},{"name":"templateVariable-date-4","value":"={{ $('variables').item.json.date }}"},{"name":"phone_number","value":"={{ $('variables').item.json.user_phone_no }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[976,48],"id":"d6815ef9-8556-4e0d-af7d-d9a589236356","name":"renewal"}],"connections":{"Webhook":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"variables":{"main":[[{"node":"data_table_account","type":"main","index":0}]]},"template_variables":{"main":[[{"node":"Limit","type":"main","index":0}]]},"data_table_account":{"main":[[{"node":"template_variables","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"payment_success_template","type":"main","index":0}],[{"node":"subscription_halted","type":"main","index":0}],[{"node":"renewal","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"variables","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv894857.hstgr.cloud","user-agent":"curl/8.7.1","content-length":"197","accept":"*/*","authorization":"ch_paymentwebhooks","content-type":"application/json","x-forwarded-for":"36.255.91.108","x-forwarded-host":"n8n.srv894857.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2e77aa5d919","x-real-ip":"36.255.91.108","accept-encoding":"gzip"},"params":{},"query":{},"body":{"phone":"+919987749950","template":"payment_failed","name":"Lakshit Ukani","amount":"2999.00","plan":"Pro Plan","link":"https://chatsyncs.com/subscription","currency":"INR","currencySymbol":"₹"},"webhookUrl":"https://n8n.srv894857.hstgr.cloud/webhook/chatsyncs-website-payment","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"03e573b0-2ee7-429d-81fe-e4bf13f8ee0a","activeVersionId":"03e573b0-2ee7-429d-81fe-e4bf13f8ee0a","triggerCount":1,"shared":[{"updatedAt":"2026-07-16T07:25:19.773Z","createdAt":"2026-07-16T07:25:19.773Z","role":"workflow:owner","workflowId":"huempg47C7YuIsDh","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-07-16T14:01:34.000Z","createdAt":"2026-07-16T14:01:29.859Z","versionId":"03e573b0-2ee7-429d-81fe-e4bf13f8ee0a","workflowId":"huempg47C7YuIsDh","nodes":[{"parameters":{"httpMethod":"POST","path":"chatsyncs-website-payment","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,-64],"id":"398d4a05-2c63-444e-8141-b39ee78a13bf","name":"Webhook","webhookId":"22926896-7ca1-4a90-98e8-197d476bc1c7","credentials":{"httpHeaderAuth":{"id":"U5s88HXLj5pOdR42","name":"ChatSyncs Website Webhook Payment"}}},{"parameters":{"assignments":{"assignments":[{"id":"b7f80a01-5781-4889-837f-541b662f58a2","name":"user_phone_no","value":"={{ $('Webhook').item.json.body.phone.split(\"+\")[1] }}","type":"string"},{"id":"8d30592e-3d5a-4df9-8cbc-0810854ced02","name":"template_type","value":"={{ $('Webhook').item.json.body.template }}","type":"string"},{"id":"95e1648f-4bc4-48be-bf81-f97d413aefa4","name":"name","value":"={{ $('Webhook').item.json.body.name }}","type":"string"},{"id":"2e3c96cb-6816-4aa9-87d0-8c5bdc9bbdbc","name":"plan","value":"={{ $('Webhook').item.json.body.plan }}","type":"string"},{"id":"ecca6fde-a447-456d-ba97-4585ea037e11","name":"discount_label","value":"={{ $('Webhook').item.json.body.discountLabel }}","type":"string"},{"id":"2d124e55-683d-4120-b368-77860ed74b8e","name":"offercode","value":"={{ $('Webhook').item.json.body.offerCode }}","type":"string"},{"id":"784241b2-c0c1-44a9-ba0b-c41b10ab9d65","name":"amount","value":"={{ $('Webhook').item.json.body.amount }}","type":"string"},{"id":"59bf8f91-2803-44b0-9cfa-6a468f28b3eb","name":"currency_symbol","value":"={{ $('Webhook').item.json.body.currencySymbol }}","type":"string"},{"id":"8f4b9a29-3f99-4f54-a3b6-e2be002eed4e","name":"payment_id","value":"={{ $('Webhook').item.json.body.paymentId }}","type":"string"},{"id":"872866ef-d1a2-42a9-937b-d5bd483fe719","name":"date","value":"={{ $('Webhook').item.json.body.nextBillingDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-64],"id":"19de45f8-056b-4854-867f-ef80da54de4f","name":"variables"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('variables').item.json.template_type }}","rightValue":"payment_success","operator":{"type":"string","operation":"equals"},"id":"11def685-3ba8-4ae4-8c39-bd9145d9e707"}],"combinator":"and"},"renameOutput":true,"outputKey":"Success"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9d70c1d3-afff-4498-a677-e8ef938ec199","leftValue":"={{ $('variables').item.json.template_type }}","rightValue":"subscription_halted","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Halted"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"20dcb0a2-d8ed-4f64-ac4b-410d137e9c4e","leftValue":"={{ $('variables').item.json.template_type }}","rightValue":"renewal_success","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Renewal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"58342128-74b4-4b35-ae2d-9daacf65883e","leftValue":"={{ $('variables').item.json.template_type }}","rightValue":"payment_failed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Failed"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[656,-96],"id":"91c8d02f-0359-4cea-b08e-63b5f1a33025","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[480,-64],"id":"2cfe2865-b2b5-4855-bde3-ff7a9f8603fa","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"dac02e54-5e22-451e-af02-addda0257508","name":"payment_success_template_id","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'payment_success_template_id').json.value }}","type":"string"},{"id":"8bfbfa1c-58f2-4a53-ac96-121141159827","name":"payment_failed_template_id","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'payment_failed_template_id').json.value }}","type":"string"},{"id":"785e0990-ec0d-4e70-8815-53f2a16a3853","name":"renewal_success_template_id","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'renewal_success_template_id').json.value }}","type":"string"},{"id":"433e97ef-a70a-42a2-8843-8b7253aca532","name":"subscription_halted_template_id","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'subscription_halted_template_id').json.value }}","type":"string"},{"id":"decdfb27-1e46-40f5-a879-1fcd425fe5bc","name":"phone_number_id","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'phone_number_id').json.value }}","type":"string"},{"id":"4bc6790b-059b-41d6-b3a1-5abe34d8976b","name":"api_token","value":"={{ $('data_table_account').all().find(i => i.json.Key === 'api_token').json.value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-64],"id":"7bd2de33-5e81-459c-83d5-ac221219dbe2","name":"template_variables"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ph1GDrKe4EoguIv9","mode":"list","cachedResultName":"ChatSyncs Account ID Information","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Ph1GDrKe4EoguIv9"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"account","keyValue":"lakshit"},{"keyName":"number","keyValue":"chatsyncs"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[144,-64],"id":"c350c507-8fe8-46e5-b12f-d23aa8a1110f","name":"data_table_account"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Limit').item.json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Limit').item.json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Limit').item.json.payment_success_template_id }}"},{"name":"templateVariable-amount-2","value":"={{ $('variables').item.json.currency_symbol }}{{ $('variables').item.json.amount }}"},{"name":"templateVariable-planName-3","value":"={{ $('variables').item.json.plan }}"},{"name":"templateVariable-paymentId-4","value":"={{ $('variables').item.json.payment_id }}"},{"name":"phone_number","value":"={{ $('variables').item.json.user_phone_no }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[976,-288],"id":"9c10d714-f342-4eef-bb7a-f109077dec35","name":"payment_success_template"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Limit').item.json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Limit').item.json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Limit').item.json.subscription_halted_template_id }}"},{"name":"templateVariable-planName-2","value":"={{ $('variables').item.json.plan }}"},{"name":"templateVariable-offer-3","value":"={{ $('variables').item.json.offercode }}"},{"name":"templateVariable-code-4","value":"={{ $('variables').item.json.offercode }}"},{"name":"phone_number","value":"={{ $('variables').item.json.user_phone_no }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[976,-112],"id":"67183e28-99d8-4769-bb94-7674d6814cdb","name":"subscription_halted"},{"parameters":{"dataToSave":{"values":[{"key":"payment_type","value":"={{ $json.body.template }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-208,-64],"id":"47a9e290-3f62-46a2-a495-b80f8a18b580","name":"Execution Data"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Limit').item.json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Limit').item.json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Limit').item.json.payment_failed_template_id }}"},{"name":"templateVariable-amount-2","value":"={{ $('variables').item.json.currency_symbol }}{{ $('variables').item.json.amount }}"},{"name":"templateVariable-planName-3","value":"={{ $('variables').item.json.plan }}"},{"name":"phone_number","value":"={{ $('variables').item.json.user_phone_no }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[976,224],"id":"b07d5939-4ed0-411f-ba66-9e13acbd7b66","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Limit').item.json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Limit').item.json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Limit').item.json.renewal_success_template_id }}"},{"name":"templateVariable-planName-2","value":"={{ $('variables').item.json.plan }}"},{"name":"templateVariable-amount-3","value":"={{ $('variables').item.json.currency_symbol }}{{ $('variables').item.json.amount }}"},{"name":"templateVariable-date-4","value":"={{ $('variables').item.json.date }}"},{"name":"phone_number","value":"={{ $('variables').item.json.user_phone_no }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[976,48],"id":"d6815ef9-8556-4e0d-af7d-d9a589236356","name":"renewal"}],"connections":{"Webhook":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"variables":{"main":[[{"node":"data_table_account","type":"main","index":0}]]},"template_variables":{"main":[[{"node":"Limit","type":"main","index":0}]]},"data_table_account":{"main":[[{"node":"template_variables","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"payment_success_template","type":"main","index":0}],[{"node":"subscription_halted","type":"main","index":0}],[{"node":"renewal","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"variables","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Lakshit Ukani","name":"Version v1.1.1","description":"","autosaved":false},"tags":[]}