Backup_2026-05-27/Daily AI Automation News to Slack.json
{"updatedAt":"2025-09-17T19:25:21.000Z","createdAt":"2025-09-17T18:51:34.796Z","id":"iLNOwtmGAbFC9kIc","name":"Daily AI Automation News to Slack","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"id":"daily-trigger","name":"Daily AI News Check","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[640,540]},{"parameters":{"url":"https://feeds.feedburner.com/venturebeat/AI"},"id":"venturebeat-rss","name":"VentureBeat AI RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[860,340]},{"parameters":{"url":"https://techcrunch.com/tag/artificial-intelligence/feed/"},"id":"techcrunch-rss","name":"TechCrunch AI RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[860,540]},{"parameters":{"url":"https://openai.com/blog/rss.xml"},"id":"openai-rss","name":"OpenAI Blog RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[860,740]},{"parameters":{"url":"https://zapier.com/blog/tag/automation/rss/"},"id":"zapier-rss","name":"Zapier Automation RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[860,940]},{"parameters":{"url":"https://n8n.io/blog/rss.xml"},"id":"n8n-rss","name":"n8n Blog RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[860,1140]},{"parameters":{"mode":"append"},"id":"merge-sources","name":"Merge All Sources","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1080,740]},{"parameters":{"jsCode":"// Filter articles from the last 24 hours and focus on automation\nconst now = new Date();\nconst yesterday = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\nconst automationKeywords = [\n  'automation', 'ai', 'artificial intelligence', 'machine learning',\n  'workflow', 'bot', 'chatbot', 'rpa', 'robotic process automation',\n  'zapier', 'n8n', 'make', 'integromat', 'api', 'integration',\n  'no-code', 'low-code', 'pipeline', 'trigger', 'webhook'\n];\n\nconst filteredArticles = [];\n\nfor (const item of $input.all()) {\n  const pubDate = new Date(item.json.pubDate || item.json.isoDate);\n  \n  // Check if article is from the last 24 hours\n  if (pubDate >= yesterday) {\n    const title = (item.json.title || '').toLowerCase();\n    const description = (item.json.description || item.json.content || '').toLowerCase();\n    const fullText = title + ' ' + description;\n    \n    // Check if article contains automation-related keywords\n    const hasAutomationKeywords = automationKeywords.some(keyword => \n      fullText.includes(keyword.toLowerCase())\n    );\n    \n    if (hasAutomationKeywords) {\n      filteredArticles.push({\n        json: {\n          title: item.json.title,\n          link: item.json.link,\n          description: item.json.description || item.json.content,\n          pubDate: item.json.pubDate || item.json.isoDate,\n          source: item.json.meta?.title || 'Unknown'\n        }\n      });\n    }\n  }\n}\n\nreturn filteredArticles;"},"id":"filter-articles","name":"Filter Recent AI Automation Articles","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,740]},{"parameters":{"jsCode":"// Prepare articles for AI summarization\nconst articles = $input.all();\n\nif (articles.length === 0) {\n  return [{ json: { hasArticles: false, message: 'No recent AI automation news found today.' } }];\n}\n\n// Limit to top 10 most recent articles\nconst sortedArticles = articles\n  .sort((a, b) => new Date(b.json.pubDate) - new Date(a.json.pubDate))\n  .slice(0, 10);\n\nconst articlesText = sortedArticles.map((article, index) => {\n  return `${index + 1}. **${article.json.title}**\\n   Source: ${article.json.source}\\n   Link: ${article.json.link}\\n   Description: ${article.json.description?.substring(0, 200)}...\\n`;\n}).join('\\n');\n\nreturn [{\n  json: {\n    hasArticles: true,\n    articlesCount: sortedArticles.length,\n    articlesText: articlesText,\n    articles: sortedArticles\n  }\n}];"},"id":"prepare-articles","name":"Prepare Articles for Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,740]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.hasArticles}}","value2":true}]}},"id":"check-articles","name":"Check Articles Exist","type":"n8n-nodes-base.if","typeVersion":1,"position":[1740,740]},{"parameters":{"model":"gpt-4o-mini","messages":{"messageType":"text","message":"=You are an AI automation expert. Create a concise daily digest of the following AI and automation news articles. Focus on:\n\n1. Key developments in AI automation tools\n2. New features in no-code/low-code platforms \n3. API integrations and workflow automation\n4. Business automation trends\n\nFormat your response as:\n**🤖 Daily AI Automation News Digest - {{DateTime.now().toFormat('MMM dd, yyyy')}}**\n\n**📋 Summary:**\n[2-3 sentence overview of key trends/themes]\n\n**🔥 Top Stories:**\n[List 3-5 most important articles with brief insights]\n\n**💡 Key Takeaways:**\n[Bullet points of actionable insights for automation enthusiasts]\n\nHere are today's articles:\n{{$json.articlesText}}"},"options":{"temperature":0.3}},"id":"ai-summarizer","name":"AI News Summarizer","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1,"position":[1960,840]},{"parameters":{"resource":"message","operation":"post","select":"channel","channelId":"#ai-automation-news","text":"={{$json.choices[0].message.content}}\n\n---\n*Powered by n8n automation*","otherOptions":{"mrkdwn":true}},"id":"slack-message","name":"Send to Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2180,840]},{"parameters":{"resource":"message","operation":"post","select":"channel","channelId":"#ai-automation-news","text":"🤷‍♂️ **No AI Automation News Today**\n\nNo recent articles found matching our automation criteria. Check back tomorrow!\n\n*Powered by n8n automation*","otherOptions":{"mrkdwn":true}},"id":"no-articles-slack","name":"No Articles Notification","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2040,640]}],"connections":{"Daily AI News Check":{"main":[[{"node":"VentureBeat AI RSS","type":"main","index":0},{"node":"TechCrunch AI RSS","type":"main","index":0},{"node":"OpenAI Blog RSS","type":"main","index":0},{"node":"Zapier Automation RSS","type":"main","index":0},{"node":"n8n Blog RSS","type":"main","index":0}]]},"VentureBeat AI RSS":{"main":[[{"node":"Merge All Sources","type":"main","index":0}]]},"TechCrunch AI RSS":{"main":[[{"node":"Merge All Sources","type":"main","index":1}]]},"OpenAI Blog RSS":{"main":[[{"node":"Merge All Sources","type":"main","index":2}]]},"Zapier Automation RSS":{"main":[[{"node":"Merge All Sources","type":"main","index":3}]]},"n8n Blog RSS":{"main":[[{"node":"Merge All Sources","type":"main","index":4}]]},"Merge All Sources":{"main":[[{"node":"Filter Recent AI Automation Articles","type":"main","index":0}]]},"Filter Recent AI Automation Articles":{"main":[[{"node":"Prepare Articles for Summary","type":"main","index":0}]]},"Prepare Articles for Summary":{"main":[[{"node":"Check Articles Exist","type":"main","index":0}]]},"Check Articles Exist":{"main":[[{"node":"AI News Summarizer","type":"main","index":0}],[{"node":"No Articles Notification","type":"main","index":0}]]},"AI News Summarizer":{"main":[[{"node":"Send to Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"643b261f-2b95-49c0-824e-ce9594e51601","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-17T18:51:34.799Z","createdAt":"2025-09-17T18:51:34.799Z","role":"workflow:owner","workflowId":"iLNOwtmGAbFC9kIc","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}