Backup_2026-07-23/My workflow 41.json
{"updatedAt":"2026-07-23T05:09:52.336Z","createdAt":"2026-07-18T17:13:39.876Z","id":"zCg2miETN1UY2Wnz","name":"My workflow 41","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nconst message = (body.user_message || \"\").trim().toLowerCase();\n\nlet intent = \"ai\";\n\nif ([\"hi\", \"hello\", \"hey\", \"good morning\", \"good evening\"].includes(message)) {\n  intent = \"greeting\";\n}\nelse if (\n  message.includes(\"payment\") ||\n  message.includes(\"invoice\") ||\n  message.includes(\"paid\") ||\n  message.includes(\"bill\")\n) {\n  intent = \"payment\";\n}\nelse if (\n  message.includes(\"book\") ||\n  message.includes(\"meeting\") ||\n  message.includes(\"schedule\")\n) {\n  intent = \"booking\";\n}\nelse if (\n  message.includes(\"agent\") ||\n  message.includes(\"human\") ||\n  message.includes(\"support\")\n) {\n  intent = \"human\";\n}\n\nreturn [\n  {\n    json: {\n      intent,\n      subscriber_id: body.subscriber_id,\n      phone: body.chat_id,\n      name: body.first_name,\n      message: body.user_message,\n      email: body.custom_fields?.Email || \"\",\n      employee_id: body.custom_fields?.[\"employee id\"] || \"\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,-128],"id":"db0532d3-379c-47aa-a21b-7cfbf6f63759","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"e3983fef-0522-4899-bedf-8581d758766d","name":"subscriber_id","value":"={{ $json.subscriber_id }}","type":"string"},{"id":"c3b2ff3f-cd13-482a-b83b-7e30539f76a2","name":"phone","value":"={{ $json.phone }}","type":"number"},{"id":"d0d67ec1-ef8a-48b3-b082-2da2eb1da5da","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"58735e32-4ccf-4839-9639-6e9b134458a0","name":"api token","value":"22152|m5XgWcJtPuXNiLqk01jg5AZ69mWOjp8CAT8Mk3o6bd4101bb","type":"string"},{"id":"c8d0a195-f466-48f4-9d04-e6b1fc01bae1","name":"phone number id","value":"1041410149058121","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-128],"id":"ab33c4c8-1bb8-49b4-aa56-4ee0c2e86034","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=\n{{ $('Webhook').item.json.body.chat_id }}\nYou are the ChatSyncs AI Support Assistant.\n{{ $('Webhook').item.json.body.user_message }}\nAnswer only questions related to ChatSyncs.\n\nRules:\n- Be friendly and professional.\n- Keep replies under 80 words.\n- Answer clearly and directly.\n- If the user greets you, greet them and ask how you can help.\n- If you don't know the answer, say:\n  \"I'm not sure about that. I'll connect you with our support team for further assistance.\"\n- Never make up information.","options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[176,-176],"id":"e22041be-4aa0-47dd-a713-59b31f85d0a2","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.headers['content-length'] }}","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[336,80],"id":"04de9c14-734b-4212-9aaf-911b601e8ea7","name":"Simple Memory1"},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[96,80],"id":"327f1b56-e5ab-47ea-ac1e-d5703a522821","name":"Groq Chat Model","credentials":{"groqApi":{"id":"RezLOP1XX699eXKT","name":"Groq account"}}},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').item.json['api token'] }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').item.json['phone number id'] }}"},{"name":"phone_number","value":"={{ $('Edit Fields').item.json.phone }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[592,-224],"id":"a25647d9-4d4c-4f3d-80d0-26d690b2d09b","name":"HTTP Request"},{"parameters":{"httpMethod":"POST","path":"chat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,-128],"id":"9d67ec31-519e-42b4-ae9f-59179d67739b","name":"Webhook","webhookId":"73c2415e-7a85-4b4e-adec-13d001cf76b1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1040,-304],"id":"6b9b817f-2849-4309-8c45-c515b59789c5","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"payment","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,304],"id":"1362e6c0-fcce-4311-b467-a1dd09cd33b6","name":"Webhook1","webhookId":"1ed45cf3-6b59-4c84-8319-32f98c4a9f32"},{"parameters":{"assignments":{"assignments":[{"id":"94b653f8-f7a3-476e-85cd-27c4b71b4dc0","name":"department","value":"={{ $json.body.department }}","type":"string"},{"id":"a7af39fd-d472-49a2-a4dd-67daadf8c943","name":"phone","value":"={{ $json.body.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,304],"id":"5c9cae9d-e5d3-4d29-b481-ec05f9eae9d7","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"18406a7c-3255-4f8b-9f45-e197d1786250","leftValue":"={{ $json.department }}","rightValue":"order10","operator":{"type":"string","operation":"equals"}},{"id":"e4e865d0-fefd-457d-8e5e-c48855a1a233","leftValue":"={{ $json.department }}","rightValue":"order11","operator":{"type":"string","operation":"equals"}},{"id":"4ae4745b-b1d2-439e-8894-6673b3ef37be","leftValue":"={{ $json.department }}","rightValue":"order12","operator":{"type":"string","operation":"equals"}},{"id":"c42e695a-3be1-4bdd-920e-0cd0d59860bc","leftValue":"={{ $json.department }}","rightValue":"order13","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[80,304],"id":"de965435-47da-495a-bcfd-e55122be9289","name":"If"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": \"success\",\n  \"customer\": \"Rahul\",\n  \"product\": \"Laptop\",\n  \"delivery\": \"Tomorrow\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[400,288],"id":"98f6d71b-a4af-4aab-9987-4bc625fd8291","name":"Respond to Webhook1"},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,432],"id":"5bc766ea-4169-4981-844e-3d58d5069625","name":"Respond to Webhook2"}],"connections":{"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"n8n.srv894857.hstgr.cloud","content-length":"37","accept":"application/json","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv894857.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2e77aa5d919","x-real-ip":"172.18.0.1","accept-encoding":"gzip"},"params":{},"query":{},"body":{"department":"order10","phone":"919959623255"},"webhookUrl":"https://n8n.srv894857.hstgr.cloud/webhook-test/payment","executionMode":"test"},"pairedItem":{"item":0}}],"Webhook":[{"json":{"headers":{"host":"n8n.srv894857.hstgr.cloud","content-length":"477","accept":"application/json","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv894857.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2e77aa5d919","x-real-ip":"172.18.0.1","accept-encoding":"gzip"},"params":{},"query":{},"body":{"whatsapp_bot_name":"Lakshit ChatSyncs Support","whatsapp_bot_id":429068,"subscriber_id":"919987749950-429068","wa_message_id":"wamid.HBgMOTE5OTg3NzQ5OTUwFQIAEhgUM0E0MkU2MTNENkZBREIwRjc1MDYA","label_names":"","first_name":"Lakshit","chat_id":"919987749950","user_message":{"type":"image","url":"https://bot-data.s3.ap-southeast-1.wasabisys.com/livechat/2026/7/whatsapp-429068/286640-429068-2119469405593018.jpeg","caption":""},"whatsapp_bot_username":"+91 93262 58458"},"webhookUrl":"https://n8n.srv894857.hstgr.cloud/webhook/chat","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"38424078-132e-430e-8465-f0e7a7a7fbfd","activeVersionId":"010fbd2f-16ac-4e0c-bf96-c0eac1f7a39f","triggerCount":2,"shared":[{"updatedAt":"2026-07-18T17:13:39.881Z","createdAt":"2026-07-18T17:13:39.881Z","role":"workflow:owner","workflowId":"zCg2miETN1UY2Wnz","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-07-23T05:05:29.000Z","createdAt":"2026-07-23T05:05:04.117Z","versionId":"010fbd2f-16ac-4e0c-bf96-c0eac1f7a39f","workflowId":"zCg2miETN1UY2Wnz","nodes":[{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nconst message = (body.user_message || \"\").trim().toLowerCase();\n\nlet intent = \"ai\";\n\nif ([\"hi\", \"hello\", \"hey\", \"good morning\", \"good evening\"].includes(message)) {\n  intent = \"greeting\";\n}\nelse if (\n  message.includes(\"payment\") ||\n  message.includes(\"invoice\") ||\n  message.includes(\"paid\") ||\n  message.includes(\"bill\")\n) {\n  intent = \"payment\";\n}\nelse if (\n  message.includes(\"book\") ||\n  message.includes(\"meeting\") ||\n  message.includes(\"schedule\")\n) {\n  intent = \"booking\";\n}\nelse if (\n  message.includes(\"agent\") ||\n  message.includes(\"human\") ||\n  message.includes(\"support\")\n) {\n  intent = \"human\";\n}\n\nreturn [\n  {\n    json: {\n      intent,\n      subscriber_id: body.subscriber_id,\n      phone: body.chat_id,\n      name: body.first_name,\n      message: body.user_message,\n      email: body.custom_fields?.Email || \"\",\n      employee_id: body.custom_fields?.[\"employee id\"] || \"\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,-128],"id":"db0532d3-379c-47aa-a21b-7cfbf6f63759","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"e3983fef-0522-4899-bedf-8581d758766d","name":"subscriber_id","value":"={{ $json.subscriber_id }}","type":"string"},{"id":"c3b2ff3f-cd13-482a-b83b-7e30539f76a2","name":"phone","value":"={{ $json.phone }}","type":"number"},{"id":"d0d67ec1-ef8a-48b3-b082-2da2eb1da5da","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"58735e32-4ccf-4839-9639-6e9b134458a0","name":"api token","value":"22152|m5XgWcJtPuXNiLqk01jg5AZ69mWOjp8CAT8Mk3o6bd4101bb","type":"string"},{"id":"c8d0a195-f466-48f4-9d04-e6b1fc01bae1","name":"phone number id","value":"1041410149058121","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-128],"id":"ab33c4c8-1bb8-49b4-aa56-4ee0c2e86034","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=\n{{ $('Webhook').item.json.body.chat_id }}\nYou are the ChatSyncs AI Support Assistant.\n{{ $('Webhook').item.json.body.user_message }}\nAnswer only questions related to ChatSyncs.\n\nRules:\n- Be friendly and professional.\n- Keep replies under 80 words.\n- Answer clearly and directly.\n- If the user greets you, greet them and ask how you can help.\n- If you don't know the answer, say:\n  \"I'm not sure about that. I'll connect you with our support team for further assistance.\"\n- Never make up information.","options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[176,-176],"id":"e22041be-4aa0-47dd-a713-59b31f85d0a2","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.headers['content-length'] }}","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[336,80],"id":"04de9c14-734b-4212-9aaf-911b601e8ea7","name":"Simple Memory1"},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[96,80],"id":"327f1b56-e5ab-47ea-ac1e-d5703a522821","name":"Groq Chat Model","credentials":{"groqApi":{"id":"RezLOP1XX699eXKT","name":"Groq account"}}},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').item.json['api token'] }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').item.json['phone number id'] }}"},{"name":"phone_number","value":"={{ $('Edit Fields').item.json.phone }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[592,-224],"id":"a25647d9-4d4c-4f3d-80d0-26d690b2d09b","name":"HTTP Request"},{"parameters":{"httpMethod":"POST","path":"chat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,-128],"id":"9d67ec31-519e-42b4-ae9f-59179d67739b","name":"Webhook","webhookId":"73c2415e-7a85-4b4e-adec-13d001cf76b1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1040,-304],"id":"6b9b817f-2849-4309-8c45-c515b59789c5","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"payment","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,304],"id":"1362e6c0-fcce-4311-b467-a1dd09cd33b6","name":"Webhook1","webhookId":"1ed45cf3-6b59-4c84-8319-32f98c4a9f32"},{"parameters":{"assignments":{"assignments":[{"id":"94b653f8-f7a3-476e-85cd-27c4b71b4dc0","name":"department","value":"={{ $json.body.department }}","type":"string"},{"id":"a7af39fd-d472-49a2-a4dd-67daadf8c943","name":"phone","value":"={{ $json.body.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,304],"id":"5c9cae9d-e5d3-4d29-b481-ec05f9eae9d7","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"18406a7c-3255-4f8b-9f45-e197d1786250","leftValue":"={{ $json.department }}","rightValue":"order10","operator":{"type":"string","operation":"equals"}},{"id":"e4e865d0-fefd-457d-8e5e-c48855a1a233","leftValue":"={{ $json.department }}","rightValue":"order11","operator":{"type":"string","operation":"equals"}},{"id":"4ae4745b-b1d2-439e-8894-6673b3ef37be","leftValue":"={{ $json.department }}","rightValue":"order12","operator":{"type":"string","operation":"equals"}},{"id":"c42e695a-3be1-4bdd-920e-0cd0d59860bc","leftValue":"={{ $json.department }}","rightValue":"order13","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[80,304],"id":"de965435-47da-495a-bcfd-e55122be9289","name":"If"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": \"success\",\n  \"customer\": \"Rahul\",\n  \"product\": \"Laptop\",\n  \"delivery\": \"Tomorrow\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[400,288],"id":"98f6d71b-a4af-4aab-9987-4bc625fd8291","name":"Respond to Webhook1"},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,432],"id":"5bc766ea-4169-4981-844e-3d58d5069625","name":"Respond to Webhook2"}],"connections":{"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Lakshit Ukani","name":"Version 010fbd2f","description":"","autosaved":true},"tags":[]}