Backup_2026-07-24/Meeting Workflow.json
{"updatedAt":"2026-07-24T10:13:46.083Z","createdAt":"2026-07-09T13:02:58.620Z","id":"R6QbsvOZSejrRWUp","name":"Meeting Workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatsyncs-meeting","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2480,-352],"id":"09d6bf1e-f527-4772-ad5e-decad23ca3b3","name":"Webhook","webhookId":"c5abcbf8-d5f8-4496-943b-aae1bd1f1264"},{"parameters":{"content":"## ChatSyncs Meeting Confirmed\nTODO -  Send confirmation to rahul, mosmi and lakshit","height":112,"width":1408},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,-1312],"id":"7b5d82ab-b039-44e4-b219-f9685fd2df66","name":"Sticky Note"},{"parameters":{"content":"## ChatSyncs Reminder\n- Completely with n8n Schdeule\n- Partial n8n + whatsapp sequence\n\nTODO -  Send reminder to rahul, mosmi and lakshit","height":128,"width":1456},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1056,496],"id":"237acbeb-8396-44ee-8936-b7888f5a438c","name":"Sticky Note1"},{"parameters":{"jsCode":"const results = [];\n\n// Add any other field-label variants you use across event types here.\nconst AGENDA_FIELD_KEYS = [\n  'What-you-expect-out-of-call', // used on Book-a-Demo, Partner, etc.\n  'Call-Agenda',                  // used on other event types\n];\n\nconst AGENDA_MAX_LENGTH = 300;\n\n// Collapses newlines/extra whitespace into a single clean line\nfunction toSingleLine(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\r?\\n+/g, '. ')   // newline -> \". \"\n    .replace(/\\.\\.\\s*/g, '. ')  // avoid double periods if line already ended with \".\"\n    .replace(/\\s{2,}/g, ' ')    // collapse extra spaces\n    .trim();\n}\n\n// Truncates to max length without cutting a word in half\nfunction truncate(str, maxLength = AGENDA_MAX_LENGTH) {\n  if (!str || str.length <= maxLength) return str;\n  const cut = str.slice(0, maxLength);\n  const lastSpace = cut.lastIndexOf(' ');\n  return (lastSpace > 0 ? cut.slice(0, lastSpace) : cut).trim() + '...';\n}\n\nfunction extractAgenda(payload) {\n  const fields = payload.userFieldsResponses || {};\n\n  // 1. Check known field keys in priority order, take the first one with a value\n  for (const key of AGENDA_FIELD_KEYS) {\n    const val = fields[key]?.value;\n    if (val) return truncate(toSingleLine(val));\n  }\n\n  // 2. Fallback: scan any remaining userFieldsResponses whose label/key\n  //    looks like an agenda field (covers future/typo'd variants)\n  for (const key of Object.keys(fields)) {\n    const label = (fields[key]?.label || key).toLowerCase();\n    if (label.includes('agenda') || label.includes('expect')) {\n      const val = fields[key]?.value;\n      if (val) return truncate(toSingleLine(val));\n    }\n  }\n\n  // 3. Final fallback\n  return truncate(toSingleLine(payload.additionalNotes)) || '';\n}\n\nfor (const item of $('Webhook').all()) {\n  // Webhook data can arrive nested under `body` or flat\n  const payload = item.json.body?.payload ?? item.json.payload;\n  const attendee = payload.attendees?.[0] ?? {};\n  const tz = attendee.timeZone || payload.organizer?.timeZone || 'Asia/Kolkata';\n  const start = new Date(payload.startTime);\n  const eventID = payload.eventTypeId;\n\n  // --- Client-side date/time (attendee's own timezone) ---\n  const meetingDateClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  // --- India-side date/time (always Asia/Kolkata, no matter who booked) ---\n  const meetingDateIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  const meetingLink =\n    payload.videoCallData?.url ||\n    payload.metadata?.videoCallUrl ||\n    payload.location ||\n    '';\n\n  // Booking management links — strip any trailing slash on bookerUrl\n  const bookerUrl = (payload.bookerUrl || 'https://cal.com').replace(/\\/+$/, '');\n  const uid = payload.uid;\n  const rescheduleLink =\n    uid && !payload.disableRescheduling ? `${bookerUrl}/reschedule/${uid}` : '';\n  const cancelLink =\n    uid && !payload.disableCancelling ? `${bookerUrl}/booking/${uid}?cancel=true` : '';\n\n  // WhatsApp API wants digits only, no \"+\"\n  const rawPhone = attendee.phoneNumber || payload.responses?.attendeePhoneNumber?.value || '';\n  const phone = rawPhone.replace(/\\D/g, '');\n\n  results.push({\n    json: {\n      triggerEvent: item.json.body?.triggerEvent ?? item.json.triggerEvent,\n      bookingId: payload.bookingId,\n      bookingUid: uid,\n      status: payload.status,\n      customerName: attendee.firstName || attendee.name || 'there',\n      customerEmail: attendee.email || '',\n      customerPhone: phone,\n      meetingTitle: payload.eventTypeTitle || payload.title,\n      // Client-facing (their local time — e.g. UK guest sees UK time)\n      meetingDateClient,\n      meetingTimeClient,\n      // Internal / India-facing (always IST, e.g. for your own WhatsApp reminders)\n      meetingDateIndia,\n      meetingTimeIndia,\n      eventID,\n      meetingLink,\n      rescheduleLink,\n      cancelLink,\n      bookingLink: uid ? `${bookerUrl}/booking/${uid}` : '',\n      timeZone: tz,\n      startTimeISO: payload.startTime,\n      endTimeISO: payload.endTime,\n      durationMinutes: payload.length,\n      agenda: extractAgenda(payload),\n    },\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,-96],"id":"71fa2348-dbb9-45dc-9816-c33e22876e25","name":"refine data "},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"admin@chatsyncs.com","mode":"list","cachedResultName":"admin@chatsyncs.com"},"returnAll":true,"timeMax":"={{ $now.plus({ hour: 2 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-1840,576],"id":"7a4d6a77-4b65-47d8-9ce0-63144e2adcd8","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"M9kY3aUfgV3DQhS7","name":"ChatSyncs Google Calendar"}}},{"parameters":{"jsCode":"// --- Config ---\nconst WINDOWS = [\n  { label: '15_min', fromMin: 0,  toMin: 15 },\n  { label: '60_min', fromMin: 58, toMin: 73 },\n];\n\nconst SKIP_DECLINED = true;\nconst DEFAULT_TZ = 'Asia/Kolkata';   // fallback if event omits timeZone\n\nconst PHONE_RE = /\\+\\d[\\d\\s\\-().]{6,}\\d/;\nconst EMAIL_RE = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst PLACEHOLDER_RE = /^(guest|organizer|attendee)$/i;\n\nfunction parsePeopleByEmail(description) {\n  const map = {};\n  if (!description) return map;\n\n  const lines = description.split('\\n').map(l => l.trim());\n  let pending = null;\n\n  for (const line of lines) {\n    if (!line) continue;\n\n    if (EMAIL_RE.test(line)) {\n      const key = line.toLowerCase();\n      if (pending) {\n        const prev = map[key];\n        map[key] = {\n          name:  pending.name  || prev?.name  || null,\n          phone: pending.phone || prev?.phone || null,\n        };\n      } else if (!map[key]) {\n        map[key] = { name: null, phone: null };\n      }\n      pending = null;\n      continue;\n    }\n\n    const m = line.match(PHONE_RE);\n    const phone = m ? m[0].replace(/[\\s\\-().]/g, '') : null;\n\n    let name = (m ? line.slice(0, m.index) : line)\n      .replace(/[-–—:]\\s*$/, '')\n      .replace(/\\s*[-–—]\\s*Organizer$/i, '')\n      .trim();\n\n    if (!name || PLACEHOLDER_RE.test(name)) name = null;\n\n    pending = { name, phone };\n  }\n\n  return map;\n}\n\n// --- Date/time helpers (all timezone-aware) ---\nconst fmt = (date, tz, opts) =>\n  new Intl.DateTimeFormat('en-IN', { timeZone: tz, ...opts }).format(date);\n\n// \"1:00 pm\"\nconst timeStr = (d, tz) =>\n  fmt(d, tz, { hour: 'numeric', minute: '2-digit', hour12: true })\n    .replace(/\\s?(AM|PM)/i, s => ' ' + s.trim().toLowerCase());\n\n// \"10 July 2026\"\nconst dateStr = (d, tz) =>\n  fmt(d, tz, { day: 'numeric', month: 'long', year: 'numeric' });\n\n// \"Friday\"\nconst dayStr = (d, tz) => fmt(d, tz, { weekday: 'long' });\n\n// \"2026-07-10\" — for grouping / DB keys\nconst isoDate = (d, tz) => fmt(d, tz, { year: 'numeric', month: '2-digit', day: '2-digit' })\n  .split('/').reverse().join('-');\n\n// 75 -> \"1 hour 15 minutes\"\nfunction humanDuration(totalMin) {\n  const mins = Math.max(0, Math.round(totalMin));\n  const h = Math.floor(mins / 60);\n  const m = mins % 60;\n  const parts = [];\n  if (h) parts.push(`${h} hour${h > 1 ? 's' : ''}`);\n  if (m) parts.push(`${m} minute${m > 1 ? 's' : ''}`);\n  return parts.join(' ') || '0 minutes';\n}\n\nconst now = Date.now();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const ev = item.json;\n\n  if (ev.status && ev.status !== 'confirmed') continue;\n\n  const startRaw = ev.start?.dateTime;\n  if (!startRaw) continue;\n\n  const startMs = new Date(startRaw).getTime();\n  if (Number.isNaN(startMs)) continue;\n  if (startMs <= now) continue;\n\n  if (SKIP_DECLINED) {\n    const self = (ev.attendees || []).find(a => a.self);\n    if (self && self.responseStatus === 'declined') continue;\n  }\n\n  const minutesUntil = (startMs - now) / 60000;\n  const win = WINDOWS.find(w => minutesUntil >= w.fromMin && minutesUntil < w.toMin);\n  if (!win) continue;\n\n  const tz = ev.start?.timeZone || DEFAULT_TZ;\n  const startDate = new Date(startMs);\n  const endRaw = ev.end?.dateTime || null;\n  const endDate = endRaw ? new Date(endRaw) : null;\n\n  const durationMin = endDate ? (endDate - startDate) / 60000 : null;\n  const minsLeft = Math.round(minutesUntil);\n\n  // \"Today\" / \"Tomorrow\" / \"Friday\" — relative to the event's own timezone\n  const todayKey = isoDate(new Date(now), tz);\n  const eventKey = isoDate(startDate, tz);\n  const tomorrowKey = isoDate(new Date(now + 86400000), tz);\n  const relativeDay =\n    eventKey === todayKey ? 'Today'\n    : eventKey === tomorrowKey ? 'Tomorrow'\n    : dayStr(startDate, tz);\n\n  const people = parsePeopleByEmail(ev.description);\n\n  const guests = (ev.attendees || [])\n    .filter(a => !a.self)\n    .map(a => {\n      const info = people[a.email?.toLowerCase()] || {};\n      return {\n        name: info.name || null,\n        email: a.email,\n        phone: info.phone || null,\n        responseStatus: a.responseStatus || null,\n      };\n    });\n\n  const primary =\n    guests.find(g => g.phone) || guests.find(g => g.name) || guests[0] || null;\n\n  out.push({\n    json: {\n      reminderType: win.label,\n      eventId: ev.id,\n      title: ev.summary,\n\n      // --- Person ---\n      inviteeName: primary?.name || null,\n      inviteeEmail: primary?.email || null,\n      inviteePhone: primary?.phone || null,\n      hasPhone: Boolean(primary?.phone),\n\n      // --- Formatted for messaging ---\n      startTimeFormatted: timeStr(startDate, tz),          // \"1:00 pm\"\n      endTimeFormatted: endDate ? timeStr(endDate, tz) : null,\n      dateFormatted: dateStr(startDate, tz),               // \"10 July 2026\"\n      dayOfWeek: dayStr(startDate, tz),                    // \"Friday\"\n      relativeDay,                                         // \"Today\"\n      durationFormatted: durationMin ? humanDuration(durationMin) : null,\n      startsInFormatted: humanDuration(minsLeft),          // \"1 hour 13 minutes\"\n\n      // --- Raw, for logic downstream ---\n      minutesUntil: minsLeft,\n      durationMinutes: durationMin,\n      startTime: startRaw,\n      endTime: endRaw,\n      eventDate: eventKey,                                 // \"2026-07-10\"\n      timeZone: tz,\n\n      meetLink: ev.hangoutLink || ev.location || null,\n      description: ev.description || '',\n      attendees: guests,\n      htmlLink: ev.htmlLink,\n    },\n  });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1616,576],"id":"4209e1b9-b46a-4424-bc13-31fd4b732ba5","name":"Code in JavaScript"},{"parameters":{"url":"https://api.cal.com/v2/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"50"},{"name":"status","value":"upcoming"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"cal_live_c2d6c9d19240980867342eb7bf07c558"},{"name":"cal-api-version","value":"2026-05-01"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-496,1088],"id":"41549028-c49b-48d5-a79f-f97a4072c4e5","name":"Upcoming Cal Meeting"},{"parameters":{"jsCode":"const results = [];\n\nconst AGENDA_MAX_LENGTH = 300;\n\n// Add any other field-label variants you use across event types here.\nconst AGENDA_FIELD_KEYS = [\n  'Call-Agenda',                  // used on most event types\n  'What-you-expect-out-of-call',  // used on Book-a-Demo, Partner, etc.\n];\n\n// Collapses newlines/extra whitespace into a single clean line\nfunction toSingleLine(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\r?\\n+/g, '. ')\n    .replace(/\\.\\.\\s*/g, '. ')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\n// Truncates to max length without cutting a word in half\nfunction truncate(str, maxLength = AGENDA_MAX_LENGTH) {\n  if (!str || str.length <= maxLength) return str;\n  const cut = str.slice(0, maxLength);\n  const lastSpace = cut.lastIndexOf(' ');\n  return (lastSpace > 0 ? cut.slice(0, lastSpace) : cut).trim() + '...';\n}\n\nfunction extractAgenda(fields, fallback) {\n  // 1. Check known field keys in priority order\n  for (const key of AGENDA_FIELD_KEYS) {\n    const val = fields[key];\n    if (val) return truncate(toSingleLine(val));\n  }\n\n  // 2. Fallback: scan any remaining field keys that look like an agenda field\n  for (const key of Object.keys(fields)) {\n    const label = key.toLowerCase();\n    if (label.includes('agenda') || label.includes('expect')) {\n      const val = fields[key];\n      if (val) return truncate(toSingleLine(val));\n    }\n  }\n\n  // 3. notes / description fallback\n  return truncate(toSingleLine(fields.notes || fallback || ''));\n}\n\nfor (const item of $input.all()) {\n  // Handles: {status, data: [...]}, {data: [...]}, or a bare booking object\n  const bookings = item.json.data ?? (Array.isArray(item.json) ? item.json : [item.json]);\n\n  for (const b of bookings) {\n    const attendee =\n      b.attendees?.find((a) => a.phoneNumber) ||\n      b.attendees?.find((a) => a.name) ||\n      b.attendees?.[0] ||\n      {};\n    const fields = b.bookingFieldsResponses ?? {};\n    const host = b.hosts?.[0] ?? {};\n    const tz = attendee.timeZone || host.timeZone || 'Asia/Kolkata';\n    const start = new Date(b.start);\n\n    const meetingDate = new Intl.DateTimeFormat('en-IN', {\n      timeZone: tz,\n      day: 'numeric',\n      month: 'long',\n      year: 'numeric',\n    }).format(start);\n    const meetingTime = new Intl.DateTimeFormat('en-IN', {\n      timeZone: tz,\n      hour: 'numeric',\n      minute: '2-digit',\n      hour12: true,\n    }).format(start);\n\n    const rawPhone = attendee.phoneNumber || fields.attendeePhoneNumber || '';\n    const phone = rawPhone.replace(/\\D/g, '');\n\n    const agenda = extractAgenda(fields, b.description);\n\n    results.push({\n      json: {\n        bookingId: b.id,\n        bookingUid: b.uid,\n        status: b.status,\n        customerName: attendee.name || fields.name || 'there',\n        customerEmail: attendee.email || fields.email || '',\n        customerPhone: phone,\n        meetingTitle: b.title,\n        eventTypeSlug: b.eventType?.slug || '',\n        meetingDate,\n        meetingTime,\n        meetingLink: b.meetingUrl || b.location || '',\n        timeZone: tz,\n        startTimeISO: b.start,\n        endTimeISO: b.end,\n        durationMinutes: b.duration,\n        agenda,\n        hostName: host.name || '',\n        hostEmail: host.email || '',\n        guests: b.guests ?? [],\n      },\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,1088],"id":"e485271f-0f71-4f74-a8c8-1e24c29eba9b","name":"Proper Format"},{"parameters":{"jsCode":"// --- Config ---\nconst WINDOWS = [\n  { label: '15_min', fromMin: 0,  toMin: 15 },\n  { label: '60_min', fromMin: 58, toMin: 70 },\n];\nconst VALID_STATUSES = ['accepted'];   // Cal.com: accepted | pending | cancelled | rejected\nconst DEFAULT_TZ = 'Asia/Kolkata';\n\n// --- Helpers ---\nconst fmt = (d, tz, opts) => new Intl.DateTimeFormat('en-IN', { timeZone: tz, ...opts }).format(d);\nconst dayStr  = (d, tz) => fmt(d, tz, { weekday: 'long' });\nconst isoDate = (d, tz) =>\n  fmt(d, tz, { year: 'numeric', month: '2-digit', day: '2-digit' }).split('/').reverse().join('-');\nfunction humanDuration(totalMin) {\n  const mins = Math.max(0, Math.round(totalMin));\n  const h = Math.floor(mins / 60);\n  const m = mins % 60;\n  const parts = [];\n  if (h) parts.push(`${h} hour${h > 1 ? 's' : ''}`);\n  if (m) parts.push(`${m} minute${m > 1 ? 's' : ''}`);\n  return parts.join(' ') || '0 minutes';\n}\n\nconst now = Date.now();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const b = item.json;\n  if (!VALID_STATUSES.includes(b.status)) continue;\n  if (!b.startTimeISO) continue;\n  const startMs = new Date(b.startTimeISO).getTime();\n  if (Number.isNaN(startMs) || startMs <= now) continue;\n  const minutesUntil = (startMs - now) / 60000;\n  const win = WINDOWS.find(w => minutesUntil >= w.fromMin && minutesUntil < w.toMin);\n  if (!win) continue;\n\n  const tz = b.timeZone || DEFAULT_TZ;\n  const startDate = new Date(startMs);\n  const minsLeft = Math.round(minutesUntil);\n\n  // --- Client-side date/time (attendee's own timezone) ---\n  const meetingDateClient = b.meetingDate;   // already computed upstream in attendee's tz\n  const meetingTimeClient = b.meetingTime;\n\n  // --- India-side date/time (always Asia/Kolkata) ---\n  const meetingDateIndia = fmt(startDate, DEFAULT_TZ, { day: 'numeric', month: 'long', year: 'numeric' });\n  const meetingTimeIndia = fmt(startDate, DEFAULT_TZ, { hour: 'numeric', minute: '2-digit', hour12: true });\n\n  const todayKey    = isoDate(new Date(now), tz);\n  const tomorrowKey = isoDate(new Date(now + 86400000), tz);\n  const eventKey    = isoDate(startDate, tz);\n  const relativeDay =\n    eventKey === todayKey ? 'Today'\n    : eventKey === tomorrowKey ? 'Tomorrow'\n    : dayStr(startDate, tz);\n\n  const todayKeyIndia    = isoDate(new Date(now), DEFAULT_TZ);\n  const tomorrowKeyIndia = isoDate(new Date(now + 86400000), DEFAULT_TZ);\n  const eventKeyIndia    = isoDate(startDate, DEFAULT_TZ);\n  const relativeDayIndia =\n    eventKeyIndia === todayKeyIndia ? 'Today'\n    : eventKeyIndia === tomorrowKeyIndia ? 'Tomorrow'\n    : dayStr(startDate, DEFAULT_TZ);\n\n  // Guests list repeats the customer's own email — drop it.\n  const otherGuests = (b.guests || []).filter(\n    g => g.toLowerCase() !== (b.customerEmail || '').toLowerCase()\n  );\n\n  out.push({\n    json: {\n      reminderType: win.label,\n      bookingId: b.bookingId,\n      bookingUid: b.bookingUid,\n      eventTypeSlug: b.eventTypeSlug,\n      title: b.meetingTitle,\n\n      // --- Person ---\n      customerName: b.customerName || null,\n      customerEmail: b.customerEmail || null,\n      customerPhone: b.customerPhone || null,\n      hasPhone: Boolean(b.customerPhone),\n\n      // --- Client tz ---\n      meetingDateClient,\n      meetingTimeClient,\n      dayOfWeek: dayStr(startDate, tz),\n      relativeDay,\n\n      // --- India tz (always Asia/Kolkata) ---\n      meetingDateIndia,\n      meetingTimeIndia,\n      dayOfWeekIndia: dayStr(startDate, DEFAULT_TZ),\n      relativeDayIndia,\n\n      durationFormatted: humanDuration(b.durationMinutes),\n      startsInFormatted: humanDuration(minsLeft),       // \"1 hour 2 minutes\"\n\n      // --- Raw, for logic downstream ---\n      minutesUntil: minsLeft,\n      durationMinutes: b.durationMinutes,\n      startTimeISO: b.startTimeISO,\n      endTimeISO: b.endTimeISO,\n      eventDate: eventKey,\n      eventDateIndia: eventKeyIndia,\n      timeZone: tz,\n      meetingLink: b.meetingLink || null,\n      agenda: b.agenda || '',\n      hostName: b.hostName,\n      hostEmail: b.hostEmail,\n      guests: otherGuests,\n      dedupeKey: `${b.bookingUid}:${win.label}`,\n    },\n  });\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,1088],"id":"6219b1d7-4bff-4046-b02f-60ab1c168735","name":"Time window Filter"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields1').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields1').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields1').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields1').item.json.mosmi_name }}"},{"name":"templateVariable-time-2","value":"={{ $json.startsInFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields1').first().json.mosmi_number }}"},{"name":"templateVariable-title-5","value":"={{ $('Time window Filter').item.json.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('Time window Filter').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $('Time window Filter').item.json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[320,1168],"id":"9fbe12bc-ff08-4f14-95f4-66e6b3f51f61","name":"Reminder to Mosmi"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields1').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields1').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields1').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields1').item.json.rahul_name }}"},{"name":"templateVariable-time-2","value":"={{ $json.startsInFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields1').first().json.rahul_number }}"},{"name":"templateVariable-title-5","value":"={{ $('Time window Filter').item.json.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('Time window Filter').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $('Time window Filter').item.json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[352,768],"id":"14fbf0eb-ecec-4e6e-b37d-1b9b05884626","name":"Reminder to Rahul"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields1').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields1').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields1').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields1').item.json.lakshit_name }}"},{"name":"templateVariable-time-2","value":"={{ $json.startsInFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields1').first().json.lakshit_number }}"},{"name":"templateVariable-title-5","value":"={{ $('Time window Filter').item.json.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('Time window Filter').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $('Time window Filter').item.json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,1376],"id":"fb542f4b-c8fe-4686-900f-dbf9400e10c5","name":"Reminder to Lakshit"},{"parameters":{"assignments":{"assignments":[{"id":"3ebd99ea-2ee5-4f65-9285-6079c6a955ec","name":"template_id","value":"={{ $('Get row(s)').all().find(i => i.json.Key === 'meeting_confirmation_template_id').json.value }}","type":"string"},{"id":"bb503078-aec3-46f2-9cdd-abcbd4ba301f","name":"phone_number_id","value":"={{ $('Get row(s)').all().find(i => i.json.Key === 'phone_number_id').json.value }}","type":"string"},{"id":"300073ad-74d8-469b-8bad-67f9fed3650d","name":"api_token","value":"={{ $('Get row(s)').all().find(i => i.json.Key === 'api_token').json.value }}","type":"string"},{"id":"a322876d-b05c-4025-a298-e669c3057924","name":"mosmi_number","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Mosmi').number }}","type":"string"},{"id":"57203391-2e20-4e49-b7d0-d40e97c558bd","name":"rahul_number","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Rahul').number }}","type":"string"},{"id":"f3304dce-5dd3-4249-a0cb-4541e1071aeb","name":"lakshit_number","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Lakshit').number }}","type":"string"},{"id":"f1daf71f-64bb-441f-9c7a-3fff72072a55","name":"mosmi_name","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Mosmi').name }}","type":"string"},{"id":"a3af3f74-9fb4-42e4-be1f-fbc62a5e15d0","name":"lakshit_name","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Lakshit').name }}","type":"string"},{"id":"0ee6eb16-b4de-4d9f-93a3-6d59178634c8","name":"rahul_name","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Rahul').name }}","type":"string"},{"id":"32429c98-e592-4b78-9d62-013cf2dc2277","name":"allow_booking_ids","value":"=[6302585, 6260038]","type":"array"},{"id":"ab1a8a35-accb-41f1-b42c-a948b9a9e3e0","name":"not_allow_packages_ids","value":"=[16597, 16596, 15714, 15713, 15420]","type":"array"},{"id":"0807239a-4fe3-4b33-844d-2877c3535195","name":"no_show_sequence_ids","value":"16437","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,-96],"id":"bed8f5ad-0e38-45f6-8235-2adcd5fa7134","name":"Edit Fields"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ph1GDrKe4EoguIv9","mode":"list","cachedResultName":"ChatSyncs Account ID Information","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Ph1GDrKe4EoguIv9"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"account","keyValue":"lakshit"},{"keyName":"number","keyValue":"chatsyncs"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-768,-96],"id":"9f6d64bc-25d2-4be5-b82a-eceb19244a68","name":"Get row(s)"},{"parameters":{"assignments":{"assignments":[{"id":"3ebd99ea-2ee5-4f65-9285-6079c6a955ec","name":"template_id","value":"={{ $('Get row(s)1').all().find(i => i.json.Key === 'meeting_reminder_template_id').json.value }}","type":"string"},{"id":"bb503078-aec3-46f2-9cdd-abcbd4ba301f","name":"phone_number_id","value":"={{ $('Get row(s)1').all().find(i => i.json.Key === 'phone_number_id').json.value }}","type":"string"},{"id":"300073ad-74d8-469b-8bad-67f9fed3650d","name":"api_token","value":"={{ $('Get row(s)1').all().find(i => i.json.Key === 'api_token').json.value }}","type":"string"},{"id":"03db5934-687f-4658-b5e2-be890b6853e6","name":"mosmi_number","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Mosmi').number }}","type":"string"},{"id":"557b3d68-2f80-4f3c-b7b0-01b7e6570d70","name":"lakshit_number","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Lakshit').number }}","type":"string"},{"id":"c5e73da1-c967-46db-b5e2-7407278dcb00","name":"rahul_number","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Rahul').number }}","type":"string"},{"id":"905241c7-a585-4748-8828-ec6cd4ca4610","name":"mosmi_name","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Mosmi').name }}","type":"string"},{"id":"a007f18f-ee54-444f-aeb5-eaf0785ae5ce","name":"rahul_name","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Rahul').name }}","type":"string"},{"id":"1fd3f5be-b844-474b-883e-490562cbf683","name":"lakshit_name","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Lakshit').name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,1088],"id":"a5b7e395-3b25-4294-89f6-ad89008e04a1","name":"Edit Fields1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ph1GDrKe4EoguIv9","mode":"list","cachedResultName":"ChatSyncs Account ID Information","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Ph1GDrKe4EoguIv9"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"account","keyValue":"lakshit"},{"keyName":"number","keyValue":"chatsyncs"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1168,1088],"id":"4910b8ab-489c-443f-b183-58cf36087538","name":"Get row(s)1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"cIPA9Qt2oa1tXixT","mode":"list","cachedResultName":"chatsyncs_team_member_data","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/cIPA9Qt2oa1tXixT"},"filters":{"conditions":[{"keyName":"type","keyValue":"number"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1216,-96],"id":"1b005e13-4829-489f-b04e-d1282f79db57","name":"Get row(s)2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-992,-96],"id":"812272b0-ae76-481c-a604-e5431e11d006","name":"Aggregate"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"cIPA9Qt2oa1tXixT","mode":"list","cachedResultName":"chatsyncs_team_member_data","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/cIPA9Qt2oa1tXixT"},"filters":{"conditions":[{"keyName":"type","keyValue":"number"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1616,1088],"id":"1f85fb57-484f-41d9-9a35-9ab7486164e5","name":"Get row(s)3"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1392,1088],"id":"bcaf52bd-8235-4ff5-a691-e6f657e347cd","name":"Aggregate1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[608,1088],"id":"c3460790-85d8-4316-bde5-c8a23d7a31f8","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2208,-272],"id":"97703559-4548-49d8-abac-6a0f3f3b1467","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-720,1088],"id":"b2942ad5-9796-448f-82f7-d07e2c73c8cf","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-320,-96],"id":"6643ffc4-6358-497c-a0de-e992fb7dce23","name":"Limit1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields').first().json.lakshit_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields').first().json.lakshit_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data ').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,16],"id":"ace9284d-556e-4274-8419-463d6ca818fc","name":"Lakshit1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields').first().json.rahul_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"= {{ $('Edit Fields').first().json.rahul_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data ').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,-368],"id":"72450030-90ce-43f0-bae7-48d68af23a2b","name":"Rahul1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields').first().json.mosmi_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields').first().json.mosmi_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data ').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,-560],"id":"543dd2d5-944e-4a68-8e40-3d9712bf484a","name":"mosmi1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateClient }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeClient }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $json.customerPhone }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data ').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,-176],"id":"19bd108b-2777-4630-8467-ee1cb826878f","name":"client"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields1').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields1').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields1').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $('Time window Filter').item.json.customerName }}"},{"name":"templateVariable-time-2","value":"={{ $json.startsInFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDateClient }}"},{"name":"templateVariable-link-4","value":"={{ $('Time window Filter').item.json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Time window Filter').item.json.customerPhone }}"},{"name":"templateVariable-title-5","value":"={{ $('Time window Filter').item.json.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('Time window Filter').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $('Time window Filter').item.json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[352,992],"id":"f26b20e6-2b54-4024-945a-c40e28999c4e","name":"Reminder to client"},{"parameters":{"url":"=https://platform.chatsyncs.com/api/v1/user/list?apiToken={{ $('Edit Fields').item.json.api_token }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,128],"id":"286ee474-7917-49e3-9c7b-631126c2845a","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bf1b9fde-253a-40c3-8769-9152c126917b","leftValue":"={{$json.shouldCancel}}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[528,128],"id":"23d5f8e6-987c-479a-ba38-54d73a41bd10","name":"If"},{"parameters":{"method":"POST","url":"=https://api.cal.com/v2/bookings/{{ $('refine data ').item.json.bookingUid }}/cancel","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=Content-Type","value":"application/json"},{"name":"cal-api-version","value":"2026-02-25"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"cancellationReason\": \"Sorry, this demo slot is reserved exclusively for Pro Plan members. We've had to cancel this booking as a result — feel free to reach out if you'd like to upgrade and rebook a demo.\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1232,416],"id":"72966eda-4fba-46f6-9f6c-2e97090936e8","name":"Booking Cancel"},{"parameters":{"jsCode":"const targetPackageIds = $('Limit1').first().json.not_allow_packages_ids;\n\nconst bookingItems = $('refine data ').all();\n\nconst rawUserItems = $('HTTP Request').all();\nlet userList = [];\nfor (const it of rawUserItems) {\n  const j = it.json;\n  if (Array.isArray(j)) {\n    userList.push(...j);\n  } else if (j && Array.isArray(j.message)) {\n    userList.push(...j.message);   // ← your API's actual wrapper key\n  } else if (j && Array.isArray(j.data)) {\n    userList.push(...j.data);\n  } else if (j) {\n    userList.push(j);\n  }\n}\n\nconst results = [];\n\nfor (const item of bookingItems) {\n  const bookingData = item.json;\n  const customerEmail = (bookingData.customerEmail || '').trim().toLowerCase();\n\n  const matchedUser = userList.find(\n    (u) => u.email && u.email.trim().toLowerCase() === customerEmail\n  );\n\n  let shouldCancel = true;\n  let isExistingCustomer = !!matchedUser;\n\n  if (matchedUser) {\n    shouldCancel = targetPackageIds.includes(Number(matchedUser.package_id));\n  }\n\n  results.push({\n    json: {\n      ...bookingData,\n      isExistingCustomer,\n      matchedPackageId: matchedUser ? matchedUser.package_id : null,\n      matchedPackageName: matchedUser ? matchedUser.package_name : null,\n      shouldCancel,\n      debug_totalUsersLoaded: userList.length, // keep for one more test, then remove\n    },\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,128],"id":"ad066d8f-c1c4-4291-9f57-3084b0e3ef0d","name":"Code in JavaScript1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7c31af08-a771-4e47-9173-31eb3825f6e4","leftValue":"={{ $('Limit1').item.json.allow_booking_ids }}","rightValue":"={{ $('Webhook').item.json.body.payload.eventTypeId }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[128,-96],"id":"1b4a4400-58fc-44ae-b466-6f2f789f36f2","name":"allow booking ids"},{"parameters":{"dataToSave":{"values":[{"key":"meeting_type","value":"confirmed"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-1424,-80],"id":"92d89d80-13dd-4f24-bf3f-773487441c93","name":"Execution Data"},{"parameters":{"dataToSave":{"values":[{"key":"meeting_type","value":"reminder"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-1776,1088],"id":"d0bd4843-ee8a-4116-bd64-92396b3553f2","name":"Execution Data1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/subscriber/chat/remove-sequence","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').item.json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').item.json.phone_number_id }}"},{"name":"phone_number","value":"={{ $('refine data ').item.json.customerPhone }}"},{"name":"sequence_ids","value":"={{ $('Edit Fields').item.json.no_show_sequence_ids }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1728,-176],"id":"869ac1d1-bdd7-44ca-bc80-7e8c9a346c5b","name":"NO show sequence removal"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.triggerEvent }}","rightValue":"BOOKING_CANCELLED","operator":{"type":"string","operation":"equals"},"id":"461f4216-4870-48e8-93f6-cdfd690f104c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6b89f6e3-8257-44b1-bb15-d4495a40f6fc","leftValue":"={{ $json.body.triggerEvent }}","rightValue":"BOOKING_RESCHEDULED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reschedule"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bcf4c0c3-df72-4aec-a93b-9dd901b5f060","leftValue":"={{ $json.body.triggerEvent }}","rightValue":"BOOKING_CREATED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Created"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1984,-368],"id":"8c749abf-1ac0-470d-b37c-66892a08f16e","name":"Switch"},{"parameters":{"jsCode":"const results = [];\n\n// Add any other field-label variants you use across event types here.\nconst AGENDA_FIELD_KEYS = [\n  'What-you-expect-out-of-call', // used on Book-a-Demo, Partner, etc.\n  'Call-Agenda',                  // used on other event types\n];\n\nconst AGENDA_MAX_LENGTH = 300;\n\n// Collapses newlines/extra whitespace into a single clean line\nfunction toSingleLine(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\r?\\n+/g, '. ')   // newline -> \". \"\n    .replace(/\\.\\.\\s*/g, '. ')  // avoid double periods if line already ended with \".\"\n    .replace(/\\s{2,}/g, ' ')    // collapse extra spaces\n    .trim();\n}\n\n// Truncates to max length without cutting a word in half\nfunction truncate(str, maxLength = AGENDA_MAX_LENGTH) {\n  if (!str || str.length <= maxLength) return str;\n  const cut = str.slice(0, maxLength);\n  const lastSpace = cut.lastIndexOf(' ');\n  return (lastSpace > 0 ? cut.slice(0, lastSpace) : cut).trim() + '...';\n}\n\nfunction extractAgenda(payload) {\n  const fields = payload.userFieldsResponses || {};\n\n  // 1. Check known field keys in priority order, take the first one with a value\n  for (const key of AGENDA_FIELD_KEYS) {\n    const val = fields[key]?.value;\n    if (val) return truncate(toSingleLine(val));\n  }\n\n  // 2. Fallback: scan any remaining userFieldsResponses whose label/key\n  //    looks like an agenda field (covers future/typo'd variants)\n  for (const key of Object.keys(fields)) {\n    const label = (fields[key]?.label || key).toLowerCase();\n    if (label.includes('agenda') || label.includes('expect')) {\n      const val = fields[key]?.value;\n      if (val) return truncate(toSingleLine(val));\n    }\n  }\n\n  // 3. Final fallback\n  return truncate(toSingleLine(payload.additionalNotes)) || '';\n}\n\nfor (const item of $('Webhook').all()) {\n  // Webhook data can arrive nested under `body` or flat\n  const payload = item.json.body?.payload ?? item.json.payload;\n  const attendee = payload.attendees?.[0] ?? {};\n  const tz = attendee.timeZone || payload.organizer?.timeZone || 'Asia/Kolkata';\n  const start = new Date(payload.startTime);\n  const eventID = payload.eventTypeId;\n\n  // --- Client-side date/time (attendee's own timezone) ---\n  const meetingDateClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  // --- India-side date/time (always Asia/Kolkata, no matter who booked) ---\n  const meetingDateIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  const meetingLink =\n    payload.videoCallData?.url ||\n    payload.metadata?.videoCallUrl ||\n    payload.location ||\n    '';\n\n  // Booking management links — strip any trailing slash on bookerUrl\n  const bookerUrl = (payload.bookerUrl || 'https://cal.com').replace(/\\/+$/, '');\n  const uid = payload.uid;\n  const rescheduleLink =\n    uid && !payload.disableRescheduling ? `${bookerUrl}/reschedule/${uid}` : '';\n  const cancelLink =\n    uid && !payload.disableCancelling ? `${bookerUrl}/booking/${uid}?cancel=true` : '';\n\n  // WhatsApp API wants digits only, no \"+\"\n  const rawPhone = attendee.phoneNumber || payload.responses?.attendeePhoneNumber?.value || '';\n  const phone = rawPhone.replace(/\\D/g, '');\n\n  results.push({\n    json: {\n      triggerEvent: item.json.body?.triggerEvent ?? item.json.triggerEvent,\n      bookingId: payload.bookingId,\n      bookingUid: uid,\n      status: payload.status,\n      customerName: attendee.firstName || attendee.name || 'there',\n      customerEmail: attendee.email || '',\n      customerPhone: phone,\n      meetingTitle: payload.eventTypeTitle || payload.title,\n      // Client-facing (their local time — e.g. UK guest sees UK time)\n      meetingDateClient,\n      meetingTimeClient,\n      // Internal / India-facing (always IST, e.g. for your own WhatsApp reminders)\n      meetingDateIndia,\n      meetingTimeIndia,\n      eventID,\n      meetingLink,\n      rescheduleLink,\n      cancelLink,\n      bookingLink: uid ? `${bookerUrl}/booking/${uid}` : '',\n      timeZone: tz,\n      startTimeISO: payload.startTime,\n      endTimeISO: payload.endTime,\n      durationMinutes: payload.length,\n      agenda: extractAgenda(payload),\n    },\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-416],"id":"2a45f3a6-f082-422b-9a7d-8536a56ba528","name":"refine data 1"},{"parameters":{"assignments":{"assignments":[{"id":"3ebd99ea-2ee5-4f65-9285-6079c6a955ec","name":"template_id","value":"={{ $('Get row(s)4').all().find(i => i.json.Key === 'meeting_recheduled_template_id').json.value }}","type":"string"},{"id":"bb503078-aec3-46f2-9cdd-abcbd4ba301f","name":"phone_number_id","value":"={{ $('Get row(s)4').all().find(i => i.json.Key === 'phone_number_id').json.value }}","type":"string"},{"id":"300073ad-74d8-469b-8bad-67f9fed3650d","name":"api_token","value":"={{ $('Get row(s)4').all().find(i => i.json.Key === 'api_token').json.value }}","type":"string"},{"id":"a322876d-b05c-4025-a298-e669c3057924","name":"mosmi_number","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Mosmi').number }}","type":"string"},{"id":"57203391-2e20-4e49-b7d0-d40e97c558bd","name":"rahul_number","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Rahul').number }}","type":"string"},{"id":"f3304dce-5dd3-4249-a0cb-4541e1071aeb","name":"lakshit_number","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Lakshit').number }}","type":"string"},{"id":"f1daf71f-64bb-441f-9c7a-3fff72072a55","name":"mosmi_name","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Mosmi').name }}","type":"string"},{"id":"a3af3f74-9fb4-42e4-be1f-fbc62a5e15d0","name":"lakshit_name","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Lakshit').name }}","type":"string"},{"id":"0ee6eb16-b4de-4d9f-93a3-6d59178634c8","name":"rahul_name","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Rahul').name }}","type":"string"},{"id":"32429c98-e592-4b78-9d62-013cf2dc2277","name":"allow_booking_ids","value":"=[6302585, 6260038]","type":"array"},{"id":"ab1a8a35-accb-41f1-b42c-a948b9a9e3e0","name":"not_allow_packages_ids","value":"=[16597, 16596, 15714, 15713]","type":"array"},{"id":"0807239a-4fe3-4b33-844d-2877c3535195","name":"no_show_sequence_ids","value":"16437","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-320],"id":"eb6da09d-4378-419a-a99e-5531929e4969","name":"Edit Fields2"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ph1GDrKe4EoguIv9","mode":"list","cachedResultName":"ChatSyncs Account ID Information","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Ph1GDrKe4EoguIv9"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"account","keyValue":"lakshit"},{"keyName":"number","keyValue":"chatsyncs"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-784,-320],"id":"3d96265f-f0ea-4a50-b17c-7193390521b7","name":"Get row(s)4"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"cIPA9Qt2oa1tXixT","mode":"list","cachedResultName":"chatsyncs_team_member_data","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/cIPA9Qt2oa1tXixT"},"filters":{"conditions":[{"keyName":"type","keyValue":"number"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1232,-320],"id":"95836d0f-0be8-4962-813c-c14356bf5dfd","name":"Get row(s)5"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1008,-320],"id":"ea69fd96-1775-4b97-9264-0bd28b876c9b","name":"Aggregate2"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-336,-336],"id":"c9a87d1c-60a4-4435-acce-c573200c7d30","name":"Limit2"},{"parameters":{"dataToSave":{"values":[{"key":"meeting_type","value":"Rescheduled"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-1440,-288],"id":"6984adad-b05d-49f6-b3d6-e1859fbd7af9","name":"Execution Data2"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields2').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields2').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields2').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateClient }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeClient }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $json.customerPhone }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data 1').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[688,-736],"id":"28ab57eb-147c-4bba-bf1f-d5da2e94f3ef","name":"client1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields2').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields2').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields2').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields2').first().json.mosmi_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields2').first().json.mosmi_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data 1').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[688,-896],"id":"31eec4c9-6fba-45c6-ba8a-b28ab45982dd","name":"mosmi"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields2').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields2').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields2').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields2').first().json.rahul_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"= {{ $('Edit Fields2').first().json.rahul_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data 1').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,-560],"id":"db6cf458-0f22-4600-ae4b-70eb2964f5c0","name":"Rahul"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields2').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields2').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields2').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields2').first().json.lakshit_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields2').first().json.lakshit_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data 1').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,-368],"id":"72a1f652-f4fe-4da1-9501-fa3963623764","name":"Lakshit"},{"parameters":{"jsCode":"const results = [];\n\n// Add any other field-label variants you use across event types here.\nconst AGENDA_FIELD_KEYS = [\n  'What-you-expect-out-of-call', // used on Book-a-Demo, Partner, etc.\n  'Call-Agenda',                  // used on other event types\n];\n\nconst AGENDA_MAX_LENGTH = 300;\n\n// Collapses newlines/extra whitespace into a single clean line\nfunction toSingleLine(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\r?\\n+/g, '. ')   // newline -> \". \"\n    .replace(/\\.\\.\\s*/g, '. ')  // avoid double periods if line already ended with \".\"\n    .replace(/\\s{2,}/g, ' ')    // collapse extra spaces\n    .trim();\n}\n\n// Truncates to max length without cutting a word in half\nfunction truncate(str, maxLength = AGENDA_MAX_LENGTH) {\n  if (!str || str.length <= maxLength) return str;\n  const cut = str.slice(0, maxLength);\n  const lastSpace = cut.lastIndexOf(' ');\n  return (lastSpace > 0 ? cut.slice(0, lastSpace) : cut).trim() + '...';\n}\n\nfunction extractAgenda(payload) {\n  const fields = payload.userFieldsResponses || {};\n\n  // 1. Check known field keys in priority order, take the first one with a value\n  for (const key of AGENDA_FIELD_KEYS) {\n    const val = fields[key]?.value;\n    if (val) return truncate(toSingleLine(val));\n  }\n\n  // 2. Fallback: scan any remaining userFieldsResponses whose label/key\n  //    looks like an agenda field (covers future/typo'd variants)\n  for (const key of Object.keys(fields)) {\n    const label = (fields[key]?.label || key).toLowerCase();\n    if (label.includes('agenda') || label.includes('expect')) {\n      const val = fields[key]?.value;\n      if (val) return truncate(toSingleLine(val));\n    }\n  }\n\n  // 3. Final fallback\n  return truncate(toSingleLine(payload.additionalNotes)) || '';\n}\n\nfor (const item of $('Webhook').all()) {\n  // Webhook data can arrive nested under `body` or flat\n  const payload = item.json.body?.payload ?? item.json.payload;\n  const attendee = payload.attendees?.[0] ?? {};\n  const tz = attendee.timeZone || payload.organizer?.timeZone || 'Asia/Kolkata';\n  const start = new Date(payload.startTime);\n  const eventID = payload.eventTypeId;\n\n  // --- Client-side date/time (attendee's own timezone) ---\n  const meetingDateClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  // --- India-side date/time (always Asia/Kolkata, no matter who booked) ---\n  const meetingDateIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  const meetingLink =\n    payload.videoCallData?.url ||\n    payload.metadata?.videoCallUrl ||\n    payload.location ||\n    '';\n\n  // Booking management links — strip any trailing slash on bookerUrl\n  const bookerUrl = (payload.bookerUrl || 'https://cal.com').replace(/\\/+$/, '');\n  const uid = payload.uid;\n  const rescheduleLink =\n    uid && !payload.disableRescheduling ? `${bookerUrl}/reschedule/${uid}` : '';\n  const cancelLink =\n    uid && !payload.disableCancelling ? `${bookerUrl}/booking/${uid}?cancel=true` : '';\n\n  // WhatsApp API wants digits only, no \"+\"\n  const rawPhone = attendee.phoneNumber || payload.responses?.attendeePhoneNumber?.value || '';\n  const phone = rawPhone.replace(/\\D/g, '');\n\n  results.push({\n    json: {\n      triggerEvent: item.json.body?.triggerEvent ?? item.json.triggerEvent,\n      bookingId: payload.bookingId,\n      bookingUid: uid,\n      status: payload.status,\n      customerName: attendee.firstName || attendee.name || 'there',\n      customerEmail: attendee.email || '',\n      customerPhone: phone,\n      meetingTitle: payload.eventTypeTitle || payload.title,\n      // Client-facing (their local time — e.g. UK guest sees UK time)\n      meetingDateClient,\n      meetingTimeClient,\n      // Internal / India-facing (always IST, e.g. for your own WhatsApp reminders)\n      meetingDateIndia,\n      meetingTimeIndia,\n      eventID,\n      meetingLink,\n      rescheduleLink,\n      cancelLink,\n      bookingLink: uid ? `${bookerUrl}/booking/${uid}` : '',\n      timeZone: tz,\n      startTimeISO: payload.startTime,\n      endTimeISO: payload.endTime,\n      durationMinutes: payload.length,\n      agenda: extractAgenda(payload),\n    },\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,-720],"id":"50ad5122-8a4d-4ecb-8e59-cc9acc292649","name":"refine data 2"},{"parameters":{"assignments":{"assignments":[{"id":"3ebd99ea-2ee5-4f65-9285-6079c6a955ec","name":"template_id","value":"={{ $('Get row(s)6').all().find(i => i.json.Key === 'meeting_cancelled_template_id').json.value }}","type":"string"},{"id":"bb503078-aec3-46f2-9cdd-abcbd4ba301f","name":"phone_number_id","value":"={{ $('Get row(s)6').all().find(i => i.json.Key === 'phone_number_id').json.value }}","type":"string"},{"id":"300073ad-74d8-469b-8bad-67f9fed3650d","name":"api_token","value":"={{ $('Get row(s)6').all().find(i => i.json.Key === 'api_token').json.value }}","type":"string"},{"id":"a322876d-b05c-4025-a298-e669c3057924","name":"mosmi_number","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Mosmi').number }}","type":"string"},{"id":"57203391-2e20-4e49-b7d0-d40e97c558bd","name":"rahul_number","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Rahul').number }}","type":"string"},{"id":"f3304dce-5dd3-4249-a0cb-4541e1071aeb","name":"lakshit_number","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Lakshit').number }}","type":"string"},{"id":"f1daf71f-64bb-441f-9c7a-3fff72072a55","name":"mosmi_name","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Mosmi').name }}","type":"string"},{"id":"a3af3f74-9fb4-42e4-be1f-fbc62a5e15d0","name":"lakshit_name","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Lakshit').name }}","type":"string"},{"id":"0ee6eb16-b4de-4d9f-93a3-6d59178634c8","name":"rahul_name","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Rahul').name }}","type":"string"},{"id":"32429c98-e592-4b78-9d62-013cf2dc2277","name":"allow_booking_ids","value":"=[6302585, 6260038]","type":"array"},{"id":"ab1a8a35-accb-41f1-b42c-a948b9a9e3e0","name":"not_allow_packages_ids","value":"=[16597, 16596, 15714, 15713]","type":"array"},{"id":"0807239a-4fe3-4b33-844d-2877c3535195","name":"no_show_sequence_ids","value":"16437","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,-720],"id":"a377b782-d0ec-4f44-83f2-77c3617010a0","name":"Edit Fields4"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ph1GDrKe4EoguIv9","mode":"list","cachedResultName":"ChatSyncs Account ID Information","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Ph1GDrKe4EoguIv9"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"account","keyValue":"lakshit"},{"keyName":"number","keyValue":"chatsyncs"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-848,-720],"id":"6b78cf90-71ef-48ff-9209-da1cb48fffcc","name":"Get row(s)6"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"cIPA9Qt2oa1tXixT","mode":"list","cachedResultName":"chatsyncs_team_member_data","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/cIPA9Qt2oa1tXixT"},"filters":{"conditions":[{"keyName":"type","keyValue":"number"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1296,-720],"id":"f7adc7a8-7c97-4332-ba93-fb99adda34c5","name":"Get row(s)7"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1072,-720],"id":"0ef6c173-8b78-4f98-93e6-4ad5b3efc68f","name":"Aggregate3"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-416,-720],"id":"b648c9f1-8786-4c39-9122-de4704d379b5","name":"Limit3"},{"parameters":{"dataToSave":{"values":[{"key":"meeting_type","value":"Cancelled"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-1472,-720],"id":"e8cb4755-a99d-4dc6-973c-423af0bca884","name":"Execution Data3"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields4').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields4').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields4').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"phone_number","value":"={{ $json.customerPhone }}"},{"name":"=templateVariable-name-2","value":"={{ $('Webhook').item.json.body.payload.cancellationReason }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-912],"id":"1fea8b47-431a-4f88-a61d-a57b54c49a18","name":"client2"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields4').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields4').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields4').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"phone_number","value":"={{ $('Edit Fields4').first().json.rahul_number }}"},{"name":"templateVariable-name-2","value":"={{ $('Webhook').item.json.body.payload.cancellationReason }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-736],"id":"a239a699-04e6-4fd6-ae88-9dd6114b2040","name":"Rahul2"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields4').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields4').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields4').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"phone_number","value":"={{ $('Edit Fields4').first().json.mosmi_number }}"},{"name":"templateVariable-name-2","value":"={{ $('Webhook').item.json.body.payload.cancellationReason }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-1072],"id":"e061c53e-6489-4e04-9a3f-14e791f64ff0","name":"mosmi2","disabled":true},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields4').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields4').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields4').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"phone_number","value":"={{ $('Edit Fields4').first().json.lakshit_number }}"},{"name":"templateVariable-name-2","value":"={{ $('Webhook').item.json.body.payload.cancellationReason }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-576],"id":"4eccb4b1-7482-43ae-954c-ca6d0513b50e","name":"Lakshit2","disabled":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/15 9-23 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1952,1088],"id":"878de64d-939d-4b9c-840d-0e9080f811fa","name":"Run every 15min from 9am to 11pm"},{"parameters":{"url":"https://crm.lakshitukani.com/rest/leads","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"60"},{"name":"depth","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImQ3MWFiNmU5LTVjYjQtNDJiOS04MjE5LWU5ODcxMTgyZmYyOSJ9.eyJzdWIiOiIxNjk3NjlkOC05YmQ3LTRmMWQtODA5Yi1lMDEwYjRhMDNhMzkiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiMTY5NzY5ZDgtOWJkNy00ZjFkLTgwOWItZTAxMGI0YTAzYTM5IiwiaWF0IjoxNzg0NjIwNzY5LCJleHAiOjQ5MzgyMjA3NjcsImp0aSI6IjA2YzMwNjVhLThjMTgtNDlmMS04Y2E5LTE5YzFmMDdlNjQxNSJ9.nntvNJHJW4biJetiQau-CvWCKK9ExQlC3OmNtmRWtqtPmISBboJWmBxP4ABVpWSRvJ2811IXZ0fXGXe1IlY9KQ"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,1616],"id":"530fdbe0-b709-4b70-b1e7-d516f3c23e4d","name":"HTTP Request1"},{"parameters":{"jsCode":"// n8n Code node — \"Summarize Leads by Phone Number\"\n// Expects input: the Twenty CRM /rest/leads (or GraphQL) response\n// Handles both raw array-of-leads and the {data:{leads:[...]}} wrapper shape\n\nconst items = $input.all();\n\n// Grab the leads array regardless of how it's wrapped\nlet leads = [];\nfor (const item of items) {\n  const json = item.json;\n  if (Array.isArray(json)) {\n    if (json[0]?.data?.leads) {\n      leads = json[0].data.leads;\n    } else {\n      leads = json;\n    }\n  } else if (json?.data?.leads) {\n    leads = json.data.leads;\n  } else if (json?.leads) {\n    leads = json.leads;\n  }\n}\n\n// Helper: strip newlines/extra whitespace and truncate to 700 chars\nfunction cleanAndTruncate(text, maxLen = 700) {\n  if (!text) return '';\n  const cleaned = text\n    .replace(/\\r?\\n|\\r/g, ' ')   // remove newlines\n    .replace(/\\s+/g, ' ')        // collapse multiple spaces\n    .trim();\n  return cleaned.length > maxLen\n    ? cleaned.slice(0, maxLen).trim() + '…'\n    : cleaned;\n}\n\nconst output = leads.map(lead => {\n  const phone = lead.whatsappNumber\n    || lead.phone?.primaryPhoneNumber\n    || '';\n\n  const fullPhone = lead.phone?.primaryPhoneCallingCode\n    ? `${lead.phone.primaryPhoneCallingCode}${lead.phone.primaryPhoneNumber}`\n    : phone;\n\n  const rawLastActivity = lead.activities?.length\n    ? lead.activities[lead.activities.length - 1].summary?.markdown || ''\n    : '';\n\n  return {\n    json: {\n      name: lead.name || '',\n      phoneNumber: fullPhone,\n      whatsappNumber: lead.whatsappNumber || '',\n      companyName: lead.companyName || '',\n      stage: lead.stage || '',\n      source: lead.source || '',\n      nextFollowUpDate: lead.nextFollowUpDate || null,\n      nextAction: lead.nextAction || '',\n      notesSummary: lead.notes?.markdown || '',\n      lastActivitySummary: cleanAndTruncate(rawLastActivity, 700),\n      activityCount: lead.activities?.length || 0,\n      leadId: lead.id\n    }\n  };\n});\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,1616],"id":"b6dfd4d9-ab50-4e06-8797-99c909fd9cf3","name":"Code in JavaScript2"},{"parameters":{"jsCode":"// n8n Code node — \"Match Reminder to Lead by WhatsApp Number\"\n\n// 👉 Replace with your actual node names\nconst leadsItems = $('Summarize Leads by Phone Number').all();\nconst reminderItems = $('Upcoming Cal Meeting').all();\n\n// Normalize: strip everything except digits, compare last 10 digits\nfunction normalizePhone(num) {\n  if (!num) return '';\n  return String(num).replace(/\\D/g, '').slice(-10);\n}\n\nconst leads = leadsItems.map(i => i.json);\n\nconst output = [];\n\nfor (const reminderItem of reminderItems) {\n  const reminder = reminderItem.json;\n  const reminderPhoneNorm = normalizePhone(reminder.customerPhone);\n\n  const matchedLead = leads.find(lead =>\n    normalizePhone(lead.whatsappNumber) === reminderPhoneNorm\n  );\n\n  if (matchedLead) {\n    output.push({\n      json: {\n        ...reminder,\n        matchedLead\n      }\n    });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,1616],"id":"842ed6ff-b8cf-4815-bb0f-2e4f6854c809","name":"Code in JavaScript3"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields1').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields1').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields1').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields1').item.json.rahul_name }}"},{"name":"templateVariable-time-2","value":"={{ $json.startsInFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields1').first().json.rahul_number }}"},{"name":"templateVariable-title-5","value":"={{ $('Time window Filter').item.json.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('Time window Filter').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $('Time window Filter').item.json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[768,1616],"id":"2d7138a1-a962-427d-b3cd-8c9a40303149","name":"Reminder to Rahul1"},{"parameters":{"url":"https://crm.lakshitukani.com/rest/leads","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter","value":"email.primaryEmail[eq]:\"sy.ahmedadam@gmail.com\""},{"name":"depth","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImQ3MWFiNmU5LTVjYjQtNDJiOS04MjE5LWU5ODcxMTgyZmYyOSJ9.eyJzdWIiOiIxNjk3NjlkOC05YmQ3LTRmMWQtODA5Yi1lMDEwYjRhMDNhMzkiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiMTY5NzY5ZDgtOWJkNy00ZjFkLTgwOWItZTAxMGI0YTAzYTM5IiwiaWF0IjoxNzg0NjIwNzY5LCJleHAiOjQ5MzgyMjA3NjcsImp0aSI6IjA2YzMwNjVhLThjMTgtNDlmMS04Y2E5LTE5YzFmMDdlNjQxNSJ9.nntvNJHJW4biJetiQau-CvWCKK9ExQlC3OmNtmRWtqtPmISBboJWmBxP4ABVpWSRvJ2811IXZ0fXGXe1IlY9KQ"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-144,1488],"id":"7c42dcfd-df39-43d9-849e-5f383c5019ee","name":"HTTP Request2"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"refine data ":{"main":[[{"node":"allow booking ids","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Upcoming Cal Meeting":{"main":[[{"node":"Proper Format","type":"main","index":0}]]},"Proper Format":{"main":[[{"node":"Time window Filter","type":"main","index":0}]]},"Time window Filter":{"main":[[{"node":"Reminder to client","type":"main","index":0},{"node":"Reminder to Rahul","type":"main","index":0},{"node":"Reminder to Mosmi","type":"main","index":0},{"node":"Reminder to Lakshit","type":"main","index":0}]]},"Reminder to Lakshit":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get row(s)1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Get row(s)2":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)3":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Get row(s)1","type":"main","index":0}]]},"Reminder to Rahul":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Reminder to Mosmi":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Upcoming Cal Meeting","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"refine data ","type":"main","index":0}]]},"mosmi1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Rahul1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"client":{"main":[[{"node":"NO show sequence removal","type":"main","index":0}]]},"Lakshit1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Reminder to client":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"If":{"main":[[{"node":"mosmi1","type":"main","index":0},{"node":"Rahul1","type":"main","index":0},{"node":"client","type":"main","index":0},{"node":"Lakshit1","type":"main","index":0}],[{"node":"Booking Cancel","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"If","type":"main","index":0}]]},"allow booking ids":{"main":[[{"node":"mosmi1","type":"main","index":0},{"node":"Rahul1","type":"main","index":0},{"node":"client","type":"main","index":0},{"node":"Lakshit1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Get row(s)2","type":"main","index":0}]]},"Execution Data1":{"main":[[{"node":"Get row(s)3","type":"main","index":0}]]},"NO show sequence removal":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Execution Data3","type":"main","index":0}],[{"node":"Execution Data2","type":"main","index":0}],[{"node":"Execution Data","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Get row(s)4":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Get row(s)5":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Get row(s)4","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"refine data 1","type":"main","index":0}]]},"Execution Data2":{"main":[[{"node":"Get row(s)5","type":"main","index":0}]]},"refine data 1":{"main":[[{"node":"client1","type":"main","index":0},{"node":"mosmi","type":"main","index":0},{"node":"Rahul","type":"main","index":0},{"node":"Lakshit","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Limit3","type":"main","index":0}]]},"Get row(s)6":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Get row(s)7":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Get row(s)6","type":"main","index":0}]]},"Limit3":{"main":[[{"node":"refine data 2","type":"main","index":0}]]},"Execution Data3":{"main":[[{"node":"Get row(s)7","type":"main","index":0}]]},"refine data 2":{"main":[[{"node":"Lakshit2","type":"main","index":0},{"node":"Rahul2","type":"main","index":0},{"node":"client2","type":"main","index":0},{"node":"mosmi2","type":"main","index":0}]]},"Booking Cancel":{"main":[[]]},"Run every 15min from 9am to 11pm":{"main":[[{"node":"Execution Data1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Reminder to Rahul1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Run every 15min from 9am to 10pm":{"recurrenceRules":[]},"node:Run every 15min from 9am to 11pm":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Code in JavaScript":[{"json":{"reminderType":"60_min","eventId":"_csp4el2nahb7iganeks5irbgc5s5egri75h40gr1dgn66rrd","title":"Support Call 15 Minutes between ChatSyncs Team and Lakshit","inviteeName":"Lakshit","inviteeEmail":"lakshitukani77@gmail.com","inviteePhone":"+919987749950","hasPhone":true,"startTimeFormatted":"1:00 pm","endTimeFormatted":"1:15 pm","dateFormatted":"10 July 2026","dayOfWeek":"Friday","relativeDay":"Today","durationFormatted":"15 minutes","startsInFormatted":"1 hour 3 minutes","minutesUntil":63,"durationMinutes":15,"startTime":"2026-07-10T13:00:00+05:30","endTime":"2026-07-10T13:15:00+05:30","eventDate":"2026-07-10","timeZone":"Asia/Kolkata","meetLink":"https://meet.google.com/brf-gkwm-rbh","description":"What:\nSupport Call 15 Minutes between ChatSyncs Team and Lakshit\n\nInvitee timezone:\nAsia/Calcutta\n\nWho:\nChatSyncs Team - Organizer\nadmin@chatsyncs.com\nLakshit - +919987749950\nlakshitukani77@gmail.com\n\nWhere:\nhttps://meet.google.com/brf-gkwm-rbh\n\nCall Agenda:\nSome agenda\n  \n\nNeed to reschedule or cancel? https://cal.com/booking/g2GTWTVyAWu8YmpaxWCr9b?changes=true","attendees":[{"name":"Lakshit","email":"lakshitukani77@gmail.com","phone":"+919987749950","responseStatus":"needsAction"}],"htmlLink":"https://www.google.com/calendar/event?eid=X2NzcDRlbDJuYWhiN2lnYW5la3M1aXJiZ2M1czVlZ3JpNzVoNDBncjFkZ242NnJyZCBhZG1pbkBjaGF0c3luY3MuY29t"}}],"Run every 15min from 9am to 11pm":[{"json":{"timestamp":"2026-07-22T14:15:00.021+05:30","Readable date":"July 22nd 2026, 2:15:00 pm","Readable time":"2:15:00 pm","Day of week":"Wednesday","Year":"2026","Month":"July","Day of month":"22","Hour":"14","Minute":"15","Second":"00","Timezone":"Asia/Kolkata (UTC+05:30)"},"pairedItem":{"item":0}}],"Webhook":[{"json":{"headers":{"host":"n8n.srv894857.hstgr.cloud","user-agent":"node","content-length":"3616","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-cal-signature-256":"no-secret-provided","x-cal-webhook-version":"2021-10-20","x-forwarded-for":"5.60.65.64","x-forwarded-host":"n8n.srv894857.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2e77aa5d919","x-real-ip":"5.60.65.64"},"params":{},"query":{},"body":{"triggerEvent":"BOOKING_CREATED","createdAt":"2026-07-24T09:49:01.978Z","payload":{"bookerUrl":"https://cal.com","title":"Book A Demo between ChatSyncs Team and Lakshit Test","startTime":"2026-07-27T18:00:00.000Z","endTime":"2026-07-27T18:30:00.000Z","additionalNotes":"","type":"book-a-demo","eventTypeTitle":"Book A Demo","description":"See how ChatSyncs can transform your business","eventTypeId":6260038,"hideCalendarNotes":false,"hideCalendarEventDetails":false,"privateNoteEnabled":false,"privateNoteMode":null,"privateNoteTemplate":null,"hideOrganizerEmail":false,"schedulingType":null,"seatsPerTimeSlot":null,"seatsShowAttendees":true,"seatsShowAvailabilityCount":true,"customReplyToEmail":null,"disableRescheduling":false,"disableReschedulingScope":"HOST_AND_ATTENDEE","disableCancelling":false,"disableCancellingScope":"HOST_AND_ATTENDEE","organizer":{"id":2952413,"name":"ChatSyncs Team","email":"admin@chatsyncs.com","username":"chatsyncs","timeZone":"Asia/Calcutta","language":{"locale":"en"},"timeFormat":"h:mma","utcOffset":330},"attendees":[{"name":"Lakshit Test","email":"ukanilakshit77@gmail.com","timeZone":"Asia/Calcutta","language":{"locale":"en"},"phoneNumber":"+919987749950","bookingSeat":null,"utcOffset":330,"firstName":"Lakshit","lastName":"Test"}],"customInputs":{},"responses":{"name":{"label":"your_name","value":"Lakshit Test","isHidden":false},"email":{"label":"email_address","value":"ukanilakshit77@gmail.com","isHidden":false},"attendeePhoneNumber":{"label":"phone_number","value":"+919987749950","isHidden":false},"location":{"label":"location","value":{"value":"integrations:google:meet","optionValue":""},"isHidden":false},"Company-Name":{"label":"Company Name","value":"ChatSyncs Test","isHidden":false},"Company-Website":{"label":"Company Website","value":"https://www.chatsyncs.com/","isHidden":false},"agenda":{"label":"What you expect out of call","value":"Testing","isHidden":false},"title":{"label":"what_is_this_meeting_about","isHidden":true},"notes":{"label":"additional_notes","isHidden":false},"guests":{"label":"additional_guests","value":[],"isHidden":false},"rescheduleReason":{"label":"reason_for_reschedule","isHidden":false}},"userFieldsResponses":{"Company-Name":{"label":"Company Name","value":"ChatSyncs Test","isHidden":false},"Company-Website":{"label":"Company Website","value":"https://www.chatsyncs.com/","isHidden":false},"agenda":{"label":"What you expect out of call","value":"Testing","isHidden":false}},"location":"integrations:google:meet","iCalUID":"f5jM8DMpLv9hwSrJPF5NfT@Cal.com","iCalSequence":0,"requiresConfirmation":false,"oneTimePassword":null,"platformClientId":"","platformRescheduleUrl":"","platformCancelUrl":"","platformBookingUrl":"","uid":"f5jM8DMpLv9hwSrJPF5NfT","organizationId":null,"hashedLink":null,"cancellationReason":null,"rejectionReason":null,"hideBranding":false,"videoCallData":{"type":"google_meet_video","id":"","password":"","url":"https://meet.google.com/etb-rxuz-rjh"},"appsStatus":[{"appName":"Google Calendar","type":"google_calendar","success":1,"failures":0,"errors":[]},{"appName":"Google Meet","type":"google_meet_video","success":1,"failures":0,"errors":[]}],"destinationCalendar":[{"id":1425054,"integration":"google_calendar","externalId":"admin@chatsyncs.com","primaryEmail":"admin@chatsyncs.com","userId":2952413,"credentialId":2303461}],"bookingId":22892410,"status":"ACCEPTED","eventTitle":"Book A Demo","eventDescription":"See how ChatSyncs can transform your business","price":0,"currency":"usd","length":30,"assignmentReason":[],"metadata":{"videoCallUrl":"https://meet.google.com/etb-rxuz-rjh"}}},"webhookUrl":"https://n8n.srv894857.hstgr.cloud/webhook/chatsyncs-meeting","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"41bbcb1d-3bed-413c-89b6-18c0b4aaa81a","activeVersionId":"41bbcb1d-3bed-413c-89b6-18c0b4aaa81a","triggerCount":2,"shared":[{"updatedAt":"2026-07-09T13:02:58.632Z","createdAt":"2026-07-09T13:02:58.632Z","role":"workflow:owner","workflowId":"R6QbsvOZSejrRWUp","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-07-24T10:13:50.000Z","createdAt":"2026-07-24T10:13:46.089Z","versionId":"41bbcb1d-3bed-413c-89b6-18c0b4aaa81a","workflowId":"R6QbsvOZSejrRWUp","nodes":[{"parameters":{"httpMethod":"POST","path":"chatsyncs-meeting","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2480,-352],"id":"09d6bf1e-f527-4772-ad5e-decad23ca3b3","name":"Webhook","webhookId":"c5abcbf8-d5f8-4496-943b-aae1bd1f1264"},{"parameters":{"content":"## ChatSyncs Meeting Confirmed\nTODO -  Send confirmation to rahul, mosmi and lakshit","height":112,"width":1408},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,-1312],"id":"7b5d82ab-b039-44e4-b219-f9685fd2df66","name":"Sticky Note"},{"parameters":{"content":"## ChatSyncs Reminder\n- Completely with n8n Schdeule\n- Partial n8n + whatsapp sequence\n\nTODO -  Send reminder to rahul, mosmi and lakshit","height":128,"width":1456},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1056,496],"id":"237acbeb-8396-44ee-8936-b7888f5a438c","name":"Sticky Note1"},{"parameters":{"jsCode":"const results = [];\n\n// Add any other field-label variants you use across event types here.\nconst AGENDA_FIELD_KEYS = [\n  'What-you-expect-out-of-call', // used on Book-a-Demo, Partner, etc.\n  'Call-Agenda',                  // used on other event types\n];\n\nconst AGENDA_MAX_LENGTH = 300;\n\n// Collapses newlines/extra whitespace into a single clean line\nfunction toSingleLine(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\r?\\n+/g, '. ')   // newline -> \". \"\n    .replace(/\\.\\.\\s*/g, '. ')  // avoid double periods if line already ended with \".\"\n    .replace(/\\s{2,}/g, ' ')    // collapse extra spaces\n    .trim();\n}\n\n// Truncates to max length without cutting a word in half\nfunction truncate(str, maxLength = AGENDA_MAX_LENGTH) {\n  if (!str || str.length <= maxLength) return str;\n  const cut = str.slice(0, maxLength);\n  const lastSpace = cut.lastIndexOf(' ');\n  return (lastSpace > 0 ? cut.slice(0, lastSpace) : cut).trim() + '...';\n}\n\nfunction extractAgenda(payload) {\n  const fields = payload.userFieldsResponses || {};\n\n  // 1. Check known field keys in priority order, take the first one with a value\n  for (const key of AGENDA_FIELD_KEYS) {\n    const val = fields[key]?.value;\n    if (val) return truncate(toSingleLine(val));\n  }\n\n  // 2. Fallback: scan any remaining userFieldsResponses whose label/key\n  //    looks like an agenda field (covers future/typo'd variants)\n  for (const key of Object.keys(fields)) {\n    const label = (fields[key]?.label || key).toLowerCase();\n    if (label.includes('agenda') || label.includes('expect')) {\n      const val = fields[key]?.value;\n      if (val) return truncate(toSingleLine(val));\n    }\n  }\n\n  // 3. Final fallback\n  return truncate(toSingleLine(payload.additionalNotes)) || '';\n}\n\nfor (const item of $('Webhook').all()) {\n  // Webhook data can arrive nested under `body` or flat\n  const payload = item.json.body?.payload ?? item.json.payload;\n  const attendee = payload.attendees?.[0] ?? {};\n  const tz = attendee.timeZone || payload.organizer?.timeZone || 'Asia/Kolkata';\n  const start = new Date(payload.startTime);\n  const eventID = payload.eventTypeId;\n\n  // --- Client-side date/time (attendee's own timezone) ---\n  const meetingDateClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  // --- India-side date/time (always Asia/Kolkata, no matter who booked) ---\n  const meetingDateIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  const meetingLink =\n    payload.videoCallData?.url ||\n    payload.metadata?.videoCallUrl ||\n    payload.location ||\n    '';\n\n  // Booking management links — strip any trailing slash on bookerUrl\n  const bookerUrl = (payload.bookerUrl || 'https://cal.com').replace(/\\/+$/, '');\n  const uid = payload.uid;\n  const rescheduleLink =\n    uid && !payload.disableRescheduling ? `${bookerUrl}/reschedule/${uid}` : '';\n  const cancelLink =\n    uid && !payload.disableCancelling ? `${bookerUrl}/booking/${uid}?cancel=true` : '';\n\n  // WhatsApp API wants digits only, no \"+\"\n  const rawPhone = attendee.phoneNumber || payload.responses?.attendeePhoneNumber?.value || '';\n  const phone = rawPhone.replace(/\\D/g, '');\n\n  results.push({\n    json: {\n      triggerEvent: item.json.body?.triggerEvent ?? item.json.triggerEvent,\n      bookingId: payload.bookingId,\n      bookingUid: uid,\n      status: payload.status,\n      customerName: attendee.firstName || attendee.name || 'there',\n      customerEmail: attendee.email || '',\n      customerPhone: phone,\n      meetingTitle: payload.eventTypeTitle || payload.title,\n      // Client-facing (their local time — e.g. UK guest sees UK time)\n      meetingDateClient,\n      meetingTimeClient,\n      // Internal / India-facing (always IST, e.g. for your own WhatsApp reminders)\n      meetingDateIndia,\n      meetingTimeIndia,\n      eventID,\n      meetingLink,\n      rescheduleLink,\n      cancelLink,\n      bookingLink: uid ? `${bookerUrl}/booking/${uid}` : '',\n      timeZone: tz,\n      startTimeISO: payload.startTime,\n      endTimeISO: payload.endTime,\n      durationMinutes: payload.length,\n      agenda: extractAgenda(payload),\n    },\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,-96],"id":"71fa2348-dbb9-45dc-9816-c33e22876e25","name":"refine data "},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"admin@chatsyncs.com","mode":"list","cachedResultName":"admin@chatsyncs.com"},"returnAll":true,"timeMax":"={{ $now.plus({ hour: 2 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-1840,576],"id":"7a4d6a77-4b65-47d8-9ce0-63144e2adcd8","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"M9kY3aUfgV3DQhS7","name":"ChatSyncs Google Calendar"}}},{"parameters":{"jsCode":"// --- Config ---\nconst WINDOWS = [\n  { label: '15_min', fromMin: 0,  toMin: 15 },\n  { label: '60_min', fromMin: 58, toMin: 73 },\n];\n\nconst SKIP_DECLINED = true;\nconst DEFAULT_TZ = 'Asia/Kolkata';   // fallback if event omits timeZone\n\nconst PHONE_RE = /\\+\\d[\\d\\s\\-().]{6,}\\d/;\nconst EMAIL_RE = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst PLACEHOLDER_RE = /^(guest|organizer|attendee)$/i;\n\nfunction parsePeopleByEmail(description) {\n  const map = {};\n  if (!description) return map;\n\n  const lines = description.split('\\n').map(l => l.trim());\n  let pending = null;\n\n  for (const line of lines) {\n    if (!line) continue;\n\n    if (EMAIL_RE.test(line)) {\n      const key = line.toLowerCase();\n      if (pending) {\n        const prev = map[key];\n        map[key] = {\n          name:  pending.name  || prev?.name  || null,\n          phone: pending.phone || prev?.phone || null,\n        };\n      } else if (!map[key]) {\n        map[key] = { name: null, phone: null };\n      }\n      pending = null;\n      continue;\n    }\n\n    const m = line.match(PHONE_RE);\n    const phone = m ? m[0].replace(/[\\s\\-().]/g, '') : null;\n\n    let name = (m ? line.slice(0, m.index) : line)\n      .replace(/[-–—:]\\s*$/, '')\n      .replace(/\\s*[-–—]\\s*Organizer$/i, '')\n      .trim();\n\n    if (!name || PLACEHOLDER_RE.test(name)) name = null;\n\n    pending = { name, phone };\n  }\n\n  return map;\n}\n\n// --- Date/time helpers (all timezone-aware) ---\nconst fmt = (date, tz, opts) =>\n  new Intl.DateTimeFormat('en-IN', { timeZone: tz, ...opts }).format(date);\n\n// \"1:00 pm\"\nconst timeStr = (d, tz) =>\n  fmt(d, tz, { hour: 'numeric', minute: '2-digit', hour12: true })\n    .replace(/\\s?(AM|PM)/i, s => ' ' + s.trim().toLowerCase());\n\n// \"10 July 2026\"\nconst dateStr = (d, tz) =>\n  fmt(d, tz, { day: 'numeric', month: 'long', year: 'numeric' });\n\n// \"Friday\"\nconst dayStr = (d, tz) => fmt(d, tz, { weekday: 'long' });\n\n// \"2026-07-10\" — for grouping / DB keys\nconst isoDate = (d, tz) => fmt(d, tz, { year: 'numeric', month: '2-digit', day: '2-digit' })\n  .split('/').reverse().join('-');\n\n// 75 -> \"1 hour 15 minutes\"\nfunction humanDuration(totalMin) {\n  const mins = Math.max(0, Math.round(totalMin));\n  const h = Math.floor(mins / 60);\n  const m = mins % 60;\n  const parts = [];\n  if (h) parts.push(`${h} hour${h > 1 ? 's' : ''}`);\n  if (m) parts.push(`${m} minute${m > 1 ? 's' : ''}`);\n  return parts.join(' ') || '0 minutes';\n}\n\nconst now = Date.now();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const ev = item.json;\n\n  if (ev.status && ev.status !== 'confirmed') continue;\n\n  const startRaw = ev.start?.dateTime;\n  if (!startRaw) continue;\n\n  const startMs = new Date(startRaw).getTime();\n  if (Number.isNaN(startMs)) continue;\n  if (startMs <= now) continue;\n\n  if (SKIP_DECLINED) {\n    const self = (ev.attendees || []).find(a => a.self);\n    if (self && self.responseStatus === 'declined') continue;\n  }\n\n  const minutesUntil = (startMs - now) / 60000;\n  const win = WINDOWS.find(w => minutesUntil >= w.fromMin && minutesUntil < w.toMin);\n  if (!win) continue;\n\n  const tz = ev.start?.timeZone || DEFAULT_TZ;\n  const startDate = new Date(startMs);\n  const endRaw = ev.end?.dateTime || null;\n  const endDate = endRaw ? new Date(endRaw) : null;\n\n  const durationMin = endDate ? (endDate - startDate) / 60000 : null;\n  const minsLeft = Math.round(minutesUntil);\n\n  // \"Today\" / \"Tomorrow\" / \"Friday\" — relative to the event's own timezone\n  const todayKey = isoDate(new Date(now), tz);\n  const eventKey = isoDate(startDate, tz);\n  const tomorrowKey = isoDate(new Date(now + 86400000), tz);\n  const relativeDay =\n    eventKey === todayKey ? 'Today'\n    : eventKey === tomorrowKey ? 'Tomorrow'\n    : dayStr(startDate, tz);\n\n  const people = parsePeopleByEmail(ev.description);\n\n  const guests = (ev.attendees || [])\n    .filter(a => !a.self)\n    .map(a => {\n      const info = people[a.email?.toLowerCase()] || {};\n      return {\n        name: info.name || null,\n        email: a.email,\n        phone: info.phone || null,\n        responseStatus: a.responseStatus || null,\n      };\n    });\n\n  const primary =\n    guests.find(g => g.phone) || guests.find(g => g.name) || guests[0] || null;\n\n  out.push({\n    json: {\n      reminderType: win.label,\n      eventId: ev.id,\n      title: ev.summary,\n\n      // --- Person ---\n      inviteeName: primary?.name || null,\n      inviteeEmail: primary?.email || null,\n      inviteePhone: primary?.phone || null,\n      hasPhone: Boolean(primary?.phone),\n\n      // --- Formatted for messaging ---\n      startTimeFormatted: timeStr(startDate, tz),          // \"1:00 pm\"\n      endTimeFormatted: endDate ? timeStr(endDate, tz) : null,\n      dateFormatted: dateStr(startDate, tz),               // \"10 July 2026\"\n      dayOfWeek: dayStr(startDate, tz),                    // \"Friday\"\n      relativeDay,                                         // \"Today\"\n      durationFormatted: durationMin ? humanDuration(durationMin) : null,\n      startsInFormatted: humanDuration(minsLeft),          // \"1 hour 13 minutes\"\n\n      // --- Raw, for logic downstream ---\n      minutesUntil: minsLeft,\n      durationMinutes: durationMin,\n      startTime: startRaw,\n      endTime: endRaw,\n      eventDate: eventKey,                                 // \"2026-07-10\"\n      timeZone: tz,\n\n      meetLink: ev.hangoutLink || ev.location || null,\n      description: ev.description || '',\n      attendees: guests,\n      htmlLink: ev.htmlLink,\n    },\n  });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1616,576],"id":"4209e1b9-b46a-4424-bc13-31fd4b732ba5","name":"Code in JavaScript"},{"parameters":{"url":"https://api.cal.com/v2/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"50"},{"name":"status","value":"upcoming"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"cal_live_c2d6c9d19240980867342eb7bf07c558"},{"name":"cal-api-version","value":"2026-05-01"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-496,1088],"id":"41549028-c49b-48d5-a79f-f97a4072c4e5","name":"Upcoming Cal Meeting"},{"parameters":{"jsCode":"const results = [];\n\nconst AGENDA_MAX_LENGTH = 300;\n\n// Add any other field-label variants you use across event types here.\nconst AGENDA_FIELD_KEYS = [\n  'Call-Agenda',                  // used on most event types\n  'What-you-expect-out-of-call',  // used on Book-a-Demo, Partner, etc.\n];\n\n// Collapses newlines/extra whitespace into a single clean line\nfunction toSingleLine(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\r?\\n+/g, '. ')\n    .replace(/\\.\\.\\s*/g, '. ')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n}\n\n// Truncates to max length without cutting a word in half\nfunction truncate(str, maxLength = AGENDA_MAX_LENGTH) {\n  if (!str || str.length <= maxLength) return str;\n  const cut = str.slice(0, maxLength);\n  const lastSpace = cut.lastIndexOf(' ');\n  return (lastSpace > 0 ? cut.slice(0, lastSpace) : cut).trim() + '...';\n}\n\nfunction extractAgenda(fields, fallback) {\n  // 1. Check known field keys in priority order\n  for (const key of AGENDA_FIELD_KEYS) {\n    const val = fields[key];\n    if (val) return truncate(toSingleLine(val));\n  }\n\n  // 2. Fallback: scan any remaining field keys that look like an agenda field\n  for (const key of Object.keys(fields)) {\n    const label = key.toLowerCase();\n    if (label.includes('agenda') || label.includes('expect')) {\n      const val = fields[key];\n      if (val) return truncate(toSingleLine(val));\n    }\n  }\n\n  // 3. notes / description fallback\n  return truncate(toSingleLine(fields.notes || fallback || ''));\n}\n\nfor (const item of $input.all()) {\n  // Handles: {status, data: [...]}, {data: [...]}, or a bare booking object\n  const bookings = item.json.data ?? (Array.isArray(item.json) ? item.json : [item.json]);\n\n  for (const b of bookings) {\n    const attendee =\n      b.attendees?.find((a) => a.phoneNumber) ||\n      b.attendees?.find((a) => a.name) ||\n      b.attendees?.[0] ||\n      {};\n    const fields = b.bookingFieldsResponses ?? {};\n    const host = b.hosts?.[0] ?? {};\n    const tz = attendee.timeZone || host.timeZone || 'Asia/Kolkata';\n    const start = new Date(b.start);\n\n    const meetingDate = new Intl.DateTimeFormat('en-IN', {\n      timeZone: tz,\n      day: 'numeric',\n      month: 'long',\n      year: 'numeric',\n    }).format(start);\n    const meetingTime = new Intl.DateTimeFormat('en-IN', {\n      timeZone: tz,\n      hour: 'numeric',\n      minute: '2-digit',\n      hour12: true,\n    }).format(start);\n\n    const rawPhone = attendee.phoneNumber || fields.attendeePhoneNumber || '';\n    const phone = rawPhone.replace(/\\D/g, '');\n\n    const agenda = extractAgenda(fields, b.description);\n\n    results.push({\n      json: {\n        bookingId: b.id,\n        bookingUid: b.uid,\n        status: b.status,\n        customerName: attendee.name || fields.name || 'there',\n        customerEmail: attendee.email || fields.email || '',\n        customerPhone: phone,\n        meetingTitle: b.title,\n        eventTypeSlug: b.eventType?.slug || '',\n        meetingDate,\n        meetingTime,\n        meetingLink: b.meetingUrl || b.location || '',\n        timeZone: tz,\n        startTimeISO: b.start,\n        endTimeISO: b.end,\n        durationMinutes: b.duration,\n        agenda,\n        hostName: host.name || '',\n        hostEmail: host.email || '',\n        guests: b.guests ?? [],\n      },\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,1088],"id":"e485271f-0f71-4f74-a8c8-1e24c29eba9b","name":"Proper Format"},{"parameters":{"jsCode":"// --- Config ---\nconst WINDOWS = [\n  { label: '15_min', fromMin: 0,  toMin: 15 },\n  { label: '60_min', fromMin: 58, toMin: 70 },\n];\nconst VALID_STATUSES = ['accepted'];   // Cal.com: accepted | pending | cancelled | rejected\nconst DEFAULT_TZ = 'Asia/Kolkata';\n\n// --- Helpers ---\nconst fmt = (d, tz, opts) => new Intl.DateTimeFormat('en-IN', { timeZone: tz, ...opts }).format(d);\nconst dayStr  = (d, tz) => fmt(d, tz, { weekday: 'long' });\nconst isoDate = (d, tz) =>\n  fmt(d, tz, { year: 'numeric', month: '2-digit', day: '2-digit' }).split('/').reverse().join('-');\nfunction humanDuration(totalMin) {\n  const mins = Math.max(0, Math.round(totalMin));\n  const h = Math.floor(mins / 60);\n  const m = mins % 60;\n  const parts = [];\n  if (h) parts.push(`${h} hour${h > 1 ? 's' : ''}`);\n  if (m) parts.push(`${m} minute${m > 1 ? 's' : ''}`);\n  return parts.join(' ') || '0 minutes';\n}\n\nconst now = Date.now();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const b = item.json;\n  if (!VALID_STATUSES.includes(b.status)) continue;\n  if (!b.startTimeISO) continue;\n  const startMs = new Date(b.startTimeISO).getTime();\n  if (Number.isNaN(startMs) || startMs <= now) continue;\n  const minutesUntil = (startMs - now) / 60000;\n  const win = WINDOWS.find(w => minutesUntil >= w.fromMin && minutesUntil < w.toMin);\n  if (!win) continue;\n\n  const tz = b.timeZone || DEFAULT_TZ;\n  const startDate = new Date(startMs);\n  const minsLeft = Math.round(minutesUntil);\n\n  // --- Client-side date/time (attendee's own timezone) ---\n  const meetingDateClient = b.meetingDate;   // already computed upstream in attendee's tz\n  const meetingTimeClient = b.meetingTime;\n\n  // --- India-side date/time (always Asia/Kolkata) ---\n  const meetingDateIndia = fmt(startDate, DEFAULT_TZ, { day: 'numeric', month: 'long', year: 'numeric' });\n  const meetingTimeIndia = fmt(startDate, DEFAULT_TZ, { hour: 'numeric', minute: '2-digit', hour12: true });\n\n  const todayKey    = isoDate(new Date(now), tz);\n  const tomorrowKey = isoDate(new Date(now + 86400000), tz);\n  const eventKey    = isoDate(startDate, tz);\n  const relativeDay =\n    eventKey === todayKey ? 'Today'\n    : eventKey === tomorrowKey ? 'Tomorrow'\n    : dayStr(startDate, tz);\n\n  const todayKeyIndia    = isoDate(new Date(now), DEFAULT_TZ);\n  const tomorrowKeyIndia = isoDate(new Date(now + 86400000), DEFAULT_TZ);\n  const eventKeyIndia    = isoDate(startDate, DEFAULT_TZ);\n  const relativeDayIndia =\n    eventKeyIndia === todayKeyIndia ? 'Today'\n    : eventKeyIndia === tomorrowKeyIndia ? 'Tomorrow'\n    : dayStr(startDate, DEFAULT_TZ);\n\n  // Guests list repeats the customer's own email — drop it.\n  const otherGuests = (b.guests || []).filter(\n    g => g.toLowerCase() !== (b.customerEmail || '').toLowerCase()\n  );\n\n  out.push({\n    json: {\n      reminderType: win.label,\n      bookingId: b.bookingId,\n      bookingUid: b.bookingUid,\n      eventTypeSlug: b.eventTypeSlug,\n      title: b.meetingTitle,\n\n      // --- Person ---\n      customerName: b.customerName || null,\n      customerEmail: b.customerEmail || null,\n      customerPhone: b.customerPhone || null,\n      hasPhone: Boolean(b.customerPhone),\n\n      // --- Client tz ---\n      meetingDateClient,\n      meetingTimeClient,\n      dayOfWeek: dayStr(startDate, tz),\n      relativeDay,\n\n      // --- India tz (always Asia/Kolkata) ---\n      meetingDateIndia,\n      meetingTimeIndia,\n      dayOfWeekIndia: dayStr(startDate, DEFAULT_TZ),\n      relativeDayIndia,\n\n      durationFormatted: humanDuration(b.durationMinutes),\n      startsInFormatted: humanDuration(minsLeft),       // \"1 hour 2 minutes\"\n\n      // --- Raw, for logic downstream ---\n      minutesUntil: minsLeft,\n      durationMinutes: b.durationMinutes,\n      startTimeISO: b.startTimeISO,\n      endTimeISO: b.endTimeISO,\n      eventDate: eventKey,\n      eventDateIndia: eventKeyIndia,\n      timeZone: tz,\n      meetingLink: b.meetingLink || null,\n      agenda: b.agenda || '',\n      hostName: b.hostName,\n      hostEmail: b.hostEmail,\n      guests: otherGuests,\n      dedupeKey: `${b.bookingUid}:${win.label}`,\n    },\n  });\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,1088],"id":"6219b1d7-4bff-4046-b02f-60ab1c168735","name":"Time window Filter"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields1').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields1').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields1').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields1').item.json.mosmi_name }}"},{"name":"templateVariable-time-2","value":"={{ $json.startsInFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields1').first().json.mosmi_number }}"},{"name":"templateVariable-title-5","value":"={{ $('Time window Filter').item.json.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('Time window Filter').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $('Time window Filter').item.json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[320,1168],"id":"9fbe12bc-ff08-4f14-95f4-66e6b3f51f61","name":"Reminder to Mosmi"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields1').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields1').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields1').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields1').item.json.rahul_name }}"},{"name":"templateVariable-time-2","value":"={{ $json.startsInFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields1').first().json.rahul_number }}"},{"name":"templateVariable-title-5","value":"={{ $('Time window Filter').item.json.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('Time window Filter').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $('Time window Filter').item.json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[352,768],"id":"14fbf0eb-ecec-4e6e-b37d-1b9b05884626","name":"Reminder to Rahul"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields1').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields1').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields1').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields1').item.json.lakshit_name }}"},{"name":"templateVariable-time-2","value":"={{ $json.startsInFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields1').first().json.lakshit_number }}"},{"name":"templateVariable-title-5","value":"={{ $('Time window Filter').item.json.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('Time window Filter').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $('Time window Filter').item.json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,1376],"id":"fb542f4b-c8fe-4686-900f-dbf9400e10c5","name":"Reminder to Lakshit"},{"parameters":{"assignments":{"assignments":[{"id":"3ebd99ea-2ee5-4f65-9285-6079c6a955ec","name":"template_id","value":"={{ $('Get row(s)').all().find(i => i.json.Key === 'meeting_confirmation_template_id').json.value }}","type":"string"},{"id":"bb503078-aec3-46f2-9cdd-abcbd4ba301f","name":"phone_number_id","value":"={{ $('Get row(s)').all().find(i => i.json.Key === 'phone_number_id').json.value }}","type":"string"},{"id":"300073ad-74d8-469b-8bad-67f9fed3650d","name":"api_token","value":"={{ $('Get row(s)').all().find(i => i.json.Key === 'api_token').json.value }}","type":"string"},{"id":"a322876d-b05c-4025-a298-e669c3057924","name":"mosmi_number","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Mosmi').number }}","type":"string"},{"id":"57203391-2e20-4e49-b7d0-d40e97c558bd","name":"rahul_number","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Rahul').number }}","type":"string"},{"id":"f3304dce-5dd3-4249-a0cb-4541e1071aeb","name":"lakshit_number","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Lakshit').number }}","type":"string"},{"id":"f1daf71f-64bb-441f-9c7a-3fff72072a55","name":"mosmi_name","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Mosmi').name }}","type":"string"},{"id":"a3af3f74-9fb4-42e4-be1f-fbc62a5e15d0","name":"lakshit_name","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Lakshit').name }}","type":"string"},{"id":"0ee6eb16-b4de-4d9f-93a3-6d59178634c8","name":"rahul_name","value":"={{ $('Aggregate').first().json.data.find(c => c.name === 'Rahul').name }}","type":"string"},{"id":"32429c98-e592-4b78-9d62-013cf2dc2277","name":"allow_booking_ids","value":"=[6302585, 6260038]","type":"array"},{"id":"ab1a8a35-accb-41f1-b42c-a948b9a9e3e0","name":"not_allow_packages_ids","value":"=[16597, 16596, 15714, 15713, 15420]","type":"array"},{"id":"0807239a-4fe3-4b33-844d-2877c3535195","name":"no_show_sequence_ids","value":"16437","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,-96],"id":"bed8f5ad-0e38-45f6-8235-2adcd5fa7134","name":"Edit Fields"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ph1GDrKe4EoguIv9","mode":"list","cachedResultName":"ChatSyncs Account ID Information","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Ph1GDrKe4EoguIv9"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"account","keyValue":"lakshit"},{"keyName":"number","keyValue":"chatsyncs"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-768,-96],"id":"9f6d64bc-25d2-4be5-b82a-eceb19244a68","name":"Get row(s)"},{"parameters":{"assignments":{"assignments":[{"id":"3ebd99ea-2ee5-4f65-9285-6079c6a955ec","name":"template_id","value":"={{ $('Get row(s)1').all().find(i => i.json.Key === 'meeting_reminder_template_id').json.value }}","type":"string"},{"id":"bb503078-aec3-46f2-9cdd-abcbd4ba301f","name":"phone_number_id","value":"={{ $('Get row(s)1').all().find(i => i.json.Key === 'phone_number_id').json.value }}","type":"string"},{"id":"300073ad-74d8-469b-8bad-67f9fed3650d","name":"api_token","value":"={{ $('Get row(s)1').all().find(i => i.json.Key === 'api_token').json.value }}","type":"string"},{"id":"03db5934-687f-4658-b5e2-be890b6853e6","name":"mosmi_number","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Mosmi').number }}","type":"string"},{"id":"557b3d68-2f80-4f3c-b7b0-01b7e6570d70","name":"lakshit_number","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Lakshit').number }}","type":"string"},{"id":"c5e73da1-c967-46db-b5e2-7407278dcb00","name":"rahul_number","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Rahul').number }}","type":"string"},{"id":"905241c7-a585-4748-8828-ec6cd4ca4610","name":"mosmi_name","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Mosmi').name }}","type":"string"},{"id":"a007f18f-ee54-444f-aeb5-eaf0785ae5ce","name":"rahul_name","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Rahul').name }}","type":"string"},{"id":"1fd3f5be-b844-474b-883e-490562cbf683","name":"lakshit_name","value":"={{ $('Aggregate1').first().json.data.find(c => c.name === 'Lakshit').name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,1088],"id":"a5b7e395-3b25-4294-89f6-ad89008e04a1","name":"Edit Fields1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ph1GDrKe4EoguIv9","mode":"list","cachedResultName":"ChatSyncs Account ID Information","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Ph1GDrKe4EoguIv9"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"account","keyValue":"lakshit"},{"keyName":"number","keyValue":"chatsyncs"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1168,1088],"id":"4910b8ab-489c-443f-b183-58cf36087538","name":"Get row(s)1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"cIPA9Qt2oa1tXixT","mode":"list","cachedResultName":"chatsyncs_team_member_data","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/cIPA9Qt2oa1tXixT"},"filters":{"conditions":[{"keyName":"type","keyValue":"number"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1216,-96],"id":"1b005e13-4829-489f-b04e-d1282f79db57","name":"Get row(s)2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-992,-96],"id":"812272b0-ae76-481c-a604-e5431e11d006","name":"Aggregate"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"cIPA9Qt2oa1tXixT","mode":"list","cachedResultName":"chatsyncs_team_member_data","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/cIPA9Qt2oa1tXixT"},"filters":{"conditions":[{"keyName":"type","keyValue":"number"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1616,1088],"id":"1f85fb57-484f-41d9-9a35-9ab7486164e5","name":"Get row(s)3"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1392,1088],"id":"bcaf52bd-8235-4ff5-a691-e6f657e347cd","name":"Aggregate1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[608,1088],"id":"c3460790-85d8-4316-bde5-c8a23d7a31f8","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2208,-272],"id":"97703559-4548-49d8-abac-6a0f3f3b1467","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-720,1088],"id":"b2942ad5-9796-448f-82f7-d07e2c73c8cf","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-320,-96],"id":"6643ffc4-6358-497c-a0de-e992fb7dce23","name":"Limit1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields').first().json.lakshit_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields').first().json.lakshit_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data ').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,16],"id":"ace9284d-556e-4274-8419-463d6ca818fc","name":"Lakshit1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields').first().json.rahul_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"= {{ $('Edit Fields').first().json.rahul_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data ').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,-368],"id":"72450030-90ce-43f0-bae7-48d68af23a2b","name":"Rahul1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields').first().json.mosmi_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields').first().json.mosmi_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data ').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,-560],"id":"543dd2d5-944e-4a68-8e40-3d9712bf484a","name":"mosmi1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateClient }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeClient }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $json.customerPhone }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data ').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,-176],"id":"19bd108b-2777-4630-8467-ee1cb826878f","name":"client"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields1').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields1').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields1').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $('Time window Filter').item.json.customerName }}"},{"name":"templateVariable-time-2","value":"={{ $json.startsInFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDateClient }}"},{"name":"templateVariable-link-4","value":"={{ $('Time window Filter').item.json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Time window Filter').item.json.customerPhone }}"},{"name":"templateVariable-title-5","value":"={{ $('Time window Filter').item.json.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('Time window Filter').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $('Time window Filter').item.json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[352,992],"id":"f26b20e6-2b54-4024-945a-c40e28999c4e","name":"Reminder to client"},{"parameters":{"url":"=https://platform.chatsyncs.com/api/v1/user/list?apiToken={{ $('Edit Fields').item.json.api_token }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,128],"id":"286ee474-7917-49e3-9c7b-631126c2845a","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bf1b9fde-253a-40c3-8769-9152c126917b","leftValue":"={{$json.shouldCancel}}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[528,128],"id":"23d5f8e6-987c-479a-ba38-54d73a41bd10","name":"If"},{"parameters":{"method":"POST","url":"=https://api.cal.com/v2/bookings/{{ $('refine data ').item.json.bookingUid }}/cancel","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=Content-Type","value":"application/json"},{"name":"cal-api-version","value":"2026-02-25"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"cancellationReason\": \"Sorry, this demo slot is reserved exclusively for Pro Plan members. We've had to cancel this booking as a result — feel free to reach out if you'd like to upgrade and rebook a demo.\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1232,416],"id":"72966eda-4fba-46f6-9f6c-2e97090936e8","name":"Booking Cancel"},{"parameters":{"jsCode":"const targetPackageIds = $('Limit1').first().json.not_allow_packages_ids;\n\nconst bookingItems = $('refine data ').all();\n\nconst rawUserItems = $('HTTP Request').all();\nlet userList = [];\nfor (const it of rawUserItems) {\n  const j = it.json;\n  if (Array.isArray(j)) {\n    userList.push(...j);\n  } else if (j && Array.isArray(j.message)) {\n    userList.push(...j.message);   // ← your API's actual wrapper key\n  } else if (j && Array.isArray(j.data)) {\n    userList.push(...j.data);\n  } else if (j) {\n    userList.push(j);\n  }\n}\n\nconst results = [];\n\nfor (const item of bookingItems) {\n  const bookingData = item.json;\n  const customerEmail = (bookingData.customerEmail || '').trim().toLowerCase();\n\n  const matchedUser = userList.find(\n    (u) => u.email && u.email.trim().toLowerCase() === customerEmail\n  );\n\n  let shouldCancel = true;\n  let isExistingCustomer = !!matchedUser;\n\n  if (matchedUser) {\n    shouldCancel = targetPackageIds.includes(Number(matchedUser.package_id));\n  }\n\n  results.push({\n    json: {\n      ...bookingData,\n      isExistingCustomer,\n      matchedPackageId: matchedUser ? matchedUser.package_id : null,\n      matchedPackageName: matchedUser ? matchedUser.package_name : null,\n      shouldCancel,\n      debug_totalUsersLoaded: userList.length, // keep for one more test, then remove\n    },\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,128],"id":"ad066d8f-c1c4-4291-9f57-3084b0e3ef0d","name":"Code in JavaScript1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7c31af08-a771-4e47-9173-31eb3825f6e4","leftValue":"={{ $('Limit1').item.json.allow_booking_ids }}","rightValue":"={{ $('Webhook').item.json.body.payload.eventTypeId }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[128,-96],"id":"1b4a4400-58fc-44ae-b466-6f2f789f36f2","name":"allow booking ids"},{"parameters":{"dataToSave":{"values":[{"key":"meeting_type","value":"confirmed"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-1424,-80],"id":"92d89d80-13dd-4f24-bf3f-773487441c93","name":"Execution Data"},{"parameters":{"dataToSave":{"values":[{"key":"meeting_type","value":"reminder"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-1776,1088],"id":"d0bd4843-ee8a-4116-bd64-92396b3553f2","name":"Execution Data1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/subscriber/chat/remove-sequence","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields').item.json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields').item.json.phone_number_id }}"},{"name":"phone_number","value":"={{ $('refine data ').item.json.customerPhone }}"},{"name":"sequence_ids","value":"={{ $('Edit Fields').item.json.no_show_sequence_ids }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1728,-176],"id":"869ac1d1-bdd7-44ca-bc80-7e8c9a346c5b","name":"NO show sequence removal"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.triggerEvent }}","rightValue":"BOOKING_CANCELLED","operator":{"type":"string","operation":"equals"},"id":"461f4216-4870-48e8-93f6-cdfd690f104c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6b89f6e3-8257-44b1-bb15-d4495a40f6fc","leftValue":"={{ $json.body.triggerEvent }}","rightValue":"BOOKING_RESCHEDULED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reschedule"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bcf4c0c3-df72-4aec-a93b-9dd901b5f060","leftValue":"={{ $json.body.triggerEvent }}","rightValue":"BOOKING_CREATED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Created"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1984,-368],"id":"8c749abf-1ac0-470d-b37c-66892a08f16e","name":"Switch"},{"parameters":{"jsCode":"const results = [];\n\n// Add any other field-label variants you use across event types here.\nconst AGENDA_FIELD_KEYS = [\n  'What-you-expect-out-of-call', // used on Book-a-Demo, Partner, etc.\n  'Call-Agenda',                  // used on other event types\n];\n\nconst AGENDA_MAX_LENGTH = 300;\n\n// Collapses newlines/extra whitespace into a single clean line\nfunction toSingleLine(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\r?\\n+/g, '. ')   // newline -> \". \"\n    .replace(/\\.\\.\\s*/g, '. ')  // avoid double periods if line already ended with \".\"\n    .replace(/\\s{2,}/g, ' ')    // collapse extra spaces\n    .trim();\n}\n\n// Truncates to max length without cutting a word in half\nfunction truncate(str, maxLength = AGENDA_MAX_LENGTH) {\n  if (!str || str.length <= maxLength) return str;\n  const cut = str.slice(0, maxLength);\n  const lastSpace = cut.lastIndexOf(' ');\n  return (lastSpace > 0 ? cut.slice(0, lastSpace) : cut).trim() + '...';\n}\n\nfunction extractAgenda(payload) {\n  const fields = payload.userFieldsResponses || {};\n\n  // 1. Check known field keys in priority order, take the first one with a value\n  for (const key of AGENDA_FIELD_KEYS) {\n    const val = fields[key]?.value;\n    if (val) return truncate(toSingleLine(val));\n  }\n\n  // 2. Fallback: scan any remaining userFieldsResponses whose label/key\n  //    looks like an agenda field (covers future/typo'd variants)\n  for (const key of Object.keys(fields)) {\n    const label = (fields[key]?.label || key).toLowerCase();\n    if (label.includes('agenda') || label.includes('expect')) {\n      const val = fields[key]?.value;\n      if (val) return truncate(toSingleLine(val));\n    }\n  }\n\n  // 3. Final fallback\n  return truncate(toSingleLine(payload.additionalNotes)) || '';\n}\n\nfor (const item of $('Webhook').all()) {\n  // Webhook data can arrive nested under `body` or flat\n  const payload = item.json.body?.payload ?? item.json.payload;\n  const attendee = payload.attendees?.[0] ?? {};\n  const tz = attendee.timeZone || payload.organizer?.timeZone || 'Asia/Kolkata';\n  const start = new Date(payload.startTime);\n  const eventID = payload.eventTypeId;\n\n  // --- Client-side date/time (attendee's own timezone) ---\n  const meetingDateClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  // --- India-side date/time (always Asia/Kolkata, no matter who booked) ---\n  const meetingDateIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  const meetingLink =\n    payload.videoCallData?.url ||\n    payload.metadata?.videoCallUrl ||\n    payload.location ||\n    '';\n\n  // Booking management links — strip any trailing slash on bookerUrl\n  const bookerUrl = (payload.bookerUrl || 'https://cal.com').replace(/\\/+$/, '');\n  const uid = payload.uid;\n  const rescheduleLink =\n    uid && !payload.disableRescheduling ? `${bookerUrl}/reschedule/${uid}` : '';\n  const cancelLink =\n    uid && !payload.disableCancelling ? `${bookerUrl}/booking/${uid}?cancel=true` : '';\n\n  // WhatsApp API wants digits only, no \"+\"\n  const rawPhone = attendee.phoneNumber || payload.responses?.attendeePhoneNumber?.value || '';\n  const phone = rawPhone.replace(/\\D/g, '');\n\n  results.push({\n    json: {\n      triggerEvent: item.json.body?.triggerEvent ?? item.json.triggerEvent,\n      bookingId: payload.bookingId,\n      bookingUid: uid,\n      status: payload.status,\n      customerName: attendee.firstName || attendee.name || 'there',\n      customerEmail: attendee.email || '',\n      customerPhone: phone,\n      meetingTitle: payload.eventTypeTitle || payload.title,\n      // Client-facing (their local time — e.g. UK guest sees UK time)\n      meetingDateClient,\n      meetingTimeClient,\n      // Internal / India-facing (always IST, e.g. for your own WhatsApp reminders)\n      meetingDateIndia,\n      meetingTimeIndia,\n      eventID,\n      meetingLink,\n      rescheduleLink,\n      cancelLink,\n      bookingLink: uid ? `${bookerUrl}/booking/${uid}` : '',\n      timeZone: tz,\n      startTimeISO: payload.startTime,\n      endTimeISO: payload.endTime,\n      durationMinutes: payload.length,\n      agenda: extractAgenda(payload),\n    },\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-416],"id":"2a45f3a6-f082-422b-9a7d-8536a56ba528","name":"refine data 1"},{"parameters":{"assignments":{"assignments":[{"id":"3ebd99ea-2ee5-4f65-9285-6079c6a955ec","name":"template_id","value":"={{ $('Get row(s)4').all().find(i => i.json.Key === 'meeting_recheduled_template_id').json.value }}","type":"string"},{"id":"bb503078-aec3-46f2-9cdd-abcbd4ba301f","name":"phone_number_id","value":"={{ $('Get row(s)4').all().find(i => i.json.Key === 'phone_number_id').json.value }}","type":"string"},{"id":"300073ad-74d8-469b-8bad-67f9fed3650d","name":"api_token","value":"={{ $('Get row(s)4').all().find(i => i.json.Key === 'api_token').json.value }}","type":"string"},{"id":"a322876d-b05c-4025-a298-e669c3057924","name":"mosmi_number","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Mosmi').number }}","type":"string"},{"id":"57203391-2e20-4e49-b7d0-d40e97c558bd","name":"rahul_number","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Rahul').number }}","type":"string"},{"id":"f3304dce-5dd3-4249-a0cb-4541e1071aeb","name":"lakshit_number","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Lakshit').number }}","type":"string"},{"id":"f1daf71f-64bb-441f-9c7a-3fff72072a55","name":"mosmi_name","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Mosmi').name }}","type":"string"},{"id":"a3af3f74-9fb4-42e4-be1f-fbc62a5e15d0","name":"lakshit_name","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Lakshit').name }}","type":"string"},{"id":"0ee6eb16-b4de-4d9f-93a3-6d59178634c8","name":"rahul_name","value":"={{ $('Aggregate2').first().json.data.find(c => c.name === 'Rahul').name }}","type":"string"},{"id":"32429c98-e592-4b78-9d62-013cf2dc2277","name":"allow_booking_ids","value":"=[6302585, 6260038]","type":"array"},{"id":"ab1a8a35-accb-41f1-b42c-a948b9a9e3e0","name":"not_allow_packages_ids","value":"=[16597, 16596, 15714, 15713]","type":"array"},{"id":"0807239a-4fe3-4b33-844d-2877c3535195","name":"no_show_sequence_ids","value":"16437","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-320],"id":"eb6da09d-4378-419a-a99e-5531929e4969","name":"Edit Fields2"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ph1GDrKe4EoguIv9","mode":"list","cachedResultName":"ChatSyncs Account ID Information","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Ph1GDrKe4EoguIv9"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"account","keyValue":"lakshit"},{"keyName":"number","keyValue":"chatsyncs"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-784,-320],"id":"3d96265f-f0ea-4a50-b17c-7193390521b7","name":"Get row(s)4"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"cIPA9Qt2oa1tXixT","mode":"list","cachedResultName":"chatsyncs_team_member_data","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/cIPA9Qt2oa1tXixT"},"filters":{"conditions":[{"keyName":"type","keyValue":"number"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1232,-320],"id":"95836d0f-0be8-4962-813c-c14356bf5dfd","name":"Get row(s)5"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1008,-320],"id":"ea69fd96-1775-4b97-9264-0bd28b876c9b","name":"Aggregate2"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-336,-336],"id":"c9a87d1c-60a4-4435-acce-c573200c7d30","name":"Limit2"},{"parameters":{"dataToSave":{"values":[{"key":"meeting_type","value":"Rescheduled"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-1440,-288],"id":"6984adad-b05d-49f6-b3d6-e1859fbd7af9","name":"Execution Data2"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields2').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields2').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields2').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateClient }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeClient }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $json.customerPhone }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data 1').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[688,-736],"id":"28ab57eb-147c-4bba-bf1f-d5da2e94f3ef","name":"client1"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields2').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields2').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields2').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields2').first().json.mosmi_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields2').first().json.mosmi_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data 1').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[688,-896],"id":"31eec4c9-6fba-45c6-ba8a-b28ab45982dd","name":"mosmi"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields2').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields2').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields2').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields2').first().json.rahul_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"= {{ $('Edit Fields2').first().json.rahul_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data 1').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,-560],"id":"db6cf458-0f22-4600-ae4b-70eb2964f5c0","name":"Rahul"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields2').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields2').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields2').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields2').first().json.lakshit_name }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTimeIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields2').first().json.lakshit_number }}"},{"name":"templateVariable-title-5","value":"= {{ $('Webhook').item.json.body.payload.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('refine data 1').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,-368],"id":"72a1f652-f4fe-4da1-9501-fa3963623764","name":"Lakshit"},{"parameters":{"jsCode":"const results = [];\n\n// Add any other field-label variants you use across event types here.\nconst AGENDA_FIELD_KEYS = [\n  'What-you-expect-out-of-call', // used on Book-a-Demo, Partner, etc.\n  'Call-Agenda',                  // used on other event types\n];\n\nconst AGENDA_MAX_LENGTH = 300;\n\n// Collapses newlines/extra whitespace into a single clean line\nfunction toSingleLine(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\r?\\n+/g, '. ')   // newline -> \". \"\n    .replace(/\\.\\.\\s*/g, '. ')  // avoid double periods if line already ended with \".\"\n    .replace(/\\s{2,}/g, ' ')    // collapse extra spaces\n    .trim();\n}\n\n// Truncates to max length without cutting a word in half\nfunction truncate(str, maxLength = AGENDA_MAX_LENGTH) {\n  if (!str || str.length <= maxLength) return str;\n  const cut = str.slice(0, maxLength);\n  const lastSpace = cut.lastIndexOf(' ');\n  return (lastSpace > 0 ? cut.slice(0, lastSpace) : cut).trim() + '...';\n}\n\nfunction extractAgenda(payload) {\n  const fields = payload.userFieldsResponses || {};\n\n  // 1. Check known field keys in priority order, take the first one with a value\n  for (const key of AGENDA_FIELD_KEYS) {\n    const val = fields[key]?.value;\n    if (val) return truncate(toSingleLine(val));\n  }\n\n  // 2. Fallback: scan any remaining userFieldsResponses whose label/key\n  //    looks like an agenda field (covers future/typo'd variants)\n  for (const key of Object.keys(fields)) {\n    const label = (fields[key]?.label || key).toLowerCase();\n    if (label.includes('agenda') || label.includes('expect')) {\n      const val = fields[key]?.value;\n      if (val) return truncate(toSingleLine(val));\n    }\n  }\n\n  // 3. Final fallback\n  return truncate(toSingleLine(payload.additionalNotes)) || '';\n}\n\nfor (const item of $('Webhook').all()) {\n  // Webhook data can arrive nested under `body` or flat\n  const payload = item.json.body?.payload ?? item.json.payload;\n  const attendee = payload.attendees?.[0] ?? {};\n  const tz = attendee.timeZone || payload.organizer?.timeZone || 'Asia/Kolkata';\n  const start = new Date(payload.startTime);\n  const eventID = payload.eventTypeId;\n\n  // --- Client-side date/time (attendee's own timezone) ---\n  const meetingDateClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeClient = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  // --- India-side date/time (always Asia/Kolkata, no matter who booked) ---\n  const meetingDateIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start);\n  const meetingTimeIndia = new Intl.DateTimeFormat('en-IN', {\n    timeZone: 'Asia/Kolkata',\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start);\n\n  const meetingLink =\n    payload.videoCallData?.url ||\n    payload.metadata?.videoCallUrl ||\n    payload.location ||\n    '';\n\n  // Booking management links — strip any trailing slash on bookerUrl\n  const bookerUrl = (payload.bookerUrl || 'https://cal.com').replace(/\\/+$/, '');\n  const uid = payload.uid;\n  const rescheduleLink =\n    uid && !payload.disableRescheduling ? `${bookerUrl}/reschedule/${uid}` : '';\n  const cancelLink =\n    uid && !payload.disableCancelling ? `${bookerUrl}/booking/${uid}?cancel=true` : '';\n\n  // WhatsApp API wants digits only, no \"+\"\n  const rawPhone = attendee.phoneNumber || payload.responses?.attendeePhoneNumber?.value || '';\n  const phone = rawPhone.replace(/\\D/g, '');\n\n  results.push({\n    json: {\n      triggerEvent: item.json.body?.triggerEvent ?? item.json.triggerEvent,\n      bookingId: payload.bookingId,\n      bookingUid: uid,\n      status: payload.status,\n      customerName: attendee.firstName || attendee.name || 'there',\n      customerEmail: attendee.email || '',\n      customerPhone: phone,\n      meetingTitle: payload.eventTypeTitle || payload.title,\n      // Client-facing (their local time — e.g. UK guest sees UK time)\n      meetingDateClient,\n      meetingTimeClient,\n      // Internal / India-facing (always IST, e.g. for your own WhatsApp reminders)\n      meetingDateIndia,\n      meetingTimeIndia,\n      eventID,\n      meetingLink,\n      rescheduleLink,\n      cancelLink,\n      bookingLink: uid ? `${bookerUrl}/booking/${uid}` : '',\n      timeZone: tz,\n      startTimeISO: payload.startTime,\n      endTimeISO: payload.endTime,\n      durationMinutes: payload.length,\n      agenda: extractAgenda(payload),\n    },\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,-720],"id":"50ad5122-8a4d-4ecb-8e59-cc9acc292649","name":"refine data 2"},{"parameters":{"assignments":{"assignments":[{"id":"3ebd99ea-2ee5-4f65-9285-6079c6a955ec","name":"template_id","value":"={{ $('Get row(s)6').all().find(i => i.json.Key === 'meeting_cancelled_template_id').json.value }}","type":"string"},{"id":"bb503078-aec3-46f2-9cdd-abcbd4ba301f","name":"phone_number_id","value":"={{ $('Get row(s)6').all().find(i => i.json.Key === 'phone_number_id').json.value }}","type":"string"},{"id":"300073ad-74d8-469b-8bad-67f9fed3650d","name":"api_token","value":"={{ $('Get row(s)6').all().find(i => i.json.Key === 'api_token').json.value }}","type":"string"},{"id":"a322876d-b05c-4025-a298-e669c3057924","name":"mosmi_number","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Mosmi').number }}","type":"string"},{"id":"57203391-2e20-4e49-b7d0-d40e97c558bd","name":"rahul_number","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Rahul').number }}","type":"string"},{"id":"f3304dce-5dd3-4249-a0cb-4541e1071aeb","name":"lakshit_number","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Lakshit').number }}","type":"string"},{"id":"f1daf71f-64bb-441f-9c7a-3fff72072a55","name":"mosmi_name","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Mosmi').name }}","type":"string"},{"id":"a3af3f74-9fb4-42e4-be1f-fbc62a5e15d0","name":"lakshit_name","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Lakshit').name }}","type":"string"},{"id":"0ee6eb16-b4de-4d9f-93a3-6d59178634c8","name":"rahul_name","value":"={{ $('Aggregate3').first().json.data.find(c => c.name === 'Rahul').name }}","type":"string"},{"id":"32429c98-e592-4b78-9d62-013cf2dc2277","name":"allow_booking_ids","value":"=[6302585, 6260038]","type":"array"},{"id":"ab1a8a35-accb-41f1-b42c-a948b9a9e3e0","name":"not_allow_packages_ids","value":"=[16597, 16596, 15714, 15713]","type":"array"},{"id":"0807239a-4fe3-4b33-844d-2877c3535195","name":"no_show_sequence_ids","value":"16437","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,-720],"id":"a377b782-d0ec-4f44-83f2-77c3617010a0","name":"Edit Fields4"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ph1GDrKe4EoguIv9","mode":"list","cachedResultName":"ChatSyncs Account ID Information","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Ph1GDrKe4EoguIv9"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"account","keyValue":"lakshit"},{"keyName":"number","keyValue":"chatsyncs"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-848,-720],"id":"6b78cf90-71ef-48ff-9209-da1cb48fffcc","name":"Get row(s)6"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"cIPA9Qt2oa1tXixT","mode":"list","cachedResultName":"chatsyncs_team_member_data","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/cIPA9Qt2oa1tXixT"},"filters":{"conditions":[{"keyName":"type","keyValue":"number"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1296,-720],"id":"f7adc7a8-7c97-4332-ba93-fb99adda34c5","name":"Get row(s)7"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1072,-720],"id":"0ef6c173-8b78-4f98-93e6-4ad5b3efc68f","name":"Aggregate3"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-416,-720],"id":"b648c9f1-8786-4c39-9122-de4704d379b5","name":"Limit3"},{"parameters":{"dataToSave":{"values":[{"key":"meeting_type","value":"Cancelled"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-1472,-720],"id":"e8cb4755-a99d-4dc6-973c-423af0bca884","name":"Execution Data3"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields4').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields4').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields4').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"phone_number","value":"={{ $json.customerPhone }}"},{"name":"=templateVariable-name-2","value":"={{ $('Webhook').item.json.body.payload.cancellationReason }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-912],"id":"1fea8b47-431a-4f88-a61d-a57b54c49a18","name":"client2"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields4').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields4').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields4').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"phone_number","value":"={{ $('Edit Fields4').first().json.rahul_number }}"},{"name":"templateVariable-name-2","value":"={{ $('Webhook').item.json.body.payload.cancellationReason }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-736],"id":"a239a699-04e6-4fd6-ae88-9dd6114b2040","name":"Rahul2"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields4').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields4').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields4').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"phone_number","value":"={{ $('Edit Fields4').first().json.mosmi_number }}"},{"name":"templateVariable-name-2","value":"={{ $('Webhook').item.json.body.payload.cancellationReason }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-1072],"id":"e061c53e-6489-4e04-9a3f-14e791f64ff0","name":"mosmi2","disabled":true},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields4').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields4').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields4').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[xZKQgfgOKr-I2EW]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"phone_number","value":"={{ $('Edit Fields4').first().json.lakshit_number }}"},{"name":"templateVariable-name-2","value":"={{ $('Webhook').item.json.body.payload.cancellationReason }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-576],"id":"4eccb4b1-7482-43ae-954c-ca6d0513b50e","name":"Lakshit2","disabled":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/15 9-23 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1952,1088],"id":"878de64d-939d-4b9c-840d-0e9080f811fa","name":"Run every 15min from 9am to 11pm"},{"parameters":{"url":"https://crm.lakshitukani.com/rest/leads","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"60"},{"name":"depth","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImQ3MWFiNmU5LTVjYjQtNDJiOS04MjE5LWU5ODcxMTgyZmYyOSJ9.eyJzdWIiOiIxNjk3NjlkOC05YmQ3LTRmMWQtODA5Yi1lMDEwYjRhMDNhMzkiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiMTY5NzY5ZDgtOWJkNy00ZjFkLTgwOWItZTAxMGI0YTAzYTM5IiwiaWF0IjoxNzg0NjIwNzY5LCJleHAiOjQ5MzgyMjA3NjcsImp0aSI6IjA2YzMwNjVhLThjMTgtNDlmMS04Y2E5LTE5YzFmMDdlNjQxNSJ9.nntvNJHJW4biJetiQau-CvWCKK9ExQlC3OmNtmRWtqtPmISBboJWmBxP4ABVpWSRvJ2811IXZ0fXGXe1IlY9KQ"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,1616],"id":"530fdbe0-b709-4b70-b1e7-d516f3c23e4d","name":"HTTP Request1"},{"parameters":{"jsCode":"// n8n Code node — \"Summarize Leads by Phone Number\"\n// Expects input: the Twenty CRM /rest/leads (or GraphQL) response\n// Handles both raw array-of-leads and the {data:{leads:[...]}} wrapper shape\n\nconst items = $input.all();\n\n// Grab the leads array regardless of how it's wrapped\nlet leads = [];\nfor (const item of items) {\n  const json = item.json;\n  if (Array.isArray(json)) {\n    if (json[0]?.data?.leads) {\n      leads = json[0].data.leads;\n    } else {\n      leads = json;\n    }\n  } else if (json?.data?.leads) {\n    leads = json.data.leads;\n  } else if (json?.leads) {\n    leads = json.leads;\n  }\n}\n\n// Helper: strip newlines/extra whitespace and truncate to 700 chars\nfunction cleanAndTruncate(text, maxLen = 700) {\n  if (!text) return '';\n  const cleaned = text\n    .replace(/\\r?\\n|\\r/g, ' ')   // remove newlines\n    .replace(/\\s+/g, ' ')        // collapse multiple spaces\n    .trim();\n  return cleaned.length > maxLen\n    ? cleaned.slice(0, maxLen).trim() + '…'\n    : cleaned;\n}\n\nconst output = leads.map(lead => {\n  const phone = lead.whatsappNumber\n    || lead.phone?.primaryPhoneNumber\n    || '';\n\n  const fullPhone = lead.phone?.primaryPhoneCallingCode\n    ? `${lead.phone.primaryPhoneCallingCode}${lead.phone.primaryPhoneNumber}`\n    : phone;\n\n  const rawLastActivity = lead.activities?.length\n    ? lead.activities[lead.activities.length - 1].summary?.markdown || ''\n    : '';\n\n  return {\n    json: {\n      name: lead.name || '',\n      phoneNumber: fullPhone,\n      whatsappNumber: lead.whatsappNumber || '',\n      companyName: lead.companyName || '',\n      stage: lead.stage || '',\n      source: lead.source || '',\n      nextFollowUpDate: lead.nextFollowUpDate || null,\n      nextAction: lead.nextAction || '',\n      notesSummary: lead.notes?.markdown || '',\n      lastActivitySummary: cleanAndTruncate(rawLastActivity, 700),\n      activityCount: lead.activities?.length || 0,\n      leadId: lead.id\n    }\n  };\n});\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,1616],"id":"b6dfd4d9-ab50-4e06-8797-99c909fd9cf3","name":"Code in JavaScript2"},{"parameters":{"jsCode":"// n8n Code node — \"Match Reminder to Lead by WhatsApp Number\"\n\n// 👉 Replace with your actual node names\nconst leadsItems = $('Summarize Leads by Phone Number').all();\nconst reminderItems = $('Upcoming Cal Meeting').all();\n\n// Normalize: strip everything except digits, compare last 10 digits\nfunction normalizePhone(num) {\n  if (!num) return '';\n  return String(num).replace(/\\D/g, '').slice(-10);\n}\n\nconst leads = leadsItems.map(i => i.json);\n\nconst output = [];\n\nfor (const reminderItem of reminderItems) {\n  const reminder = reminderItem.json;\n  const reminderPhoneNorm = normalizePhone(reminder.customerPhone);\n\n  const matchedLead = leads.find(lead =>\n    normalizePhone(lead.whatsappNumber) === reminderPhoneNorm\n  );\n\n  if (matchedLead) {\n    output.push({\n      json: {\n        ...reminder,\n        matchedLead\n      }\n    });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,1616],"id":"842ed6ff-b8cf-4815-bb0f-2e4f6854c809","name":"Code in JavaScript3"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"={{ $('Edit Fields1').first().json.api_token }}"},{"name":"phone_number_id","value":"={{ $('Edit Fields1').first().json.phone_number_id }}"},{"name":"template_id","value":"={{ $('Edit Fields1').first().json.template_id }}"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $('Edit Fields1').item.json.rahul_name }}"},{"name":"templateVariable-time-2","value":"={{ $json.startsInFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDateIndia }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $('Edit Fields1').first().json.rahul_number }}"},{"name":"templateVariable-title-5","value":"={{ $('Time window Filter').item.json.title }}"},{"name":"templateVariable-agenda-6","value":"={{ $('Time window Filter').item.json.agenda }}"},{"name":"templateVariable-code-7","value":"={{ $('Time window Filter').item.json.bookingUid }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[768,1616],"id":"2d7138a1-a962-427d-b3cd-8c9a40303149","name":"Reminder to Rahul1"},{"parameters":{"url":"https://crm.lakshitukani.com/rest/leads","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter","value":"email.primaryEmail[eq]:\"sy.ahmedadam@gmail.com\""},{"name":"depth","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImQ3MWFiNmU5LTVjYjQtNDJiOS04MjE5LWU5ODcxMTgyZmYyOSJ9.eyJzdWIiOiIxNjk3NjlkOC05YmQ3LTRmMWQtODA5Yi1lMDEwYjRhMDNhMzkiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiMTY5NzY5ZDgtOWJkNy00ZjFkLTgwOWItZTAxMGI0YTAzYTM5IiwiaWF0IjoxNzg0NjIwNzY5LCJleHAiOjQ5MzgyMjA3NjcsImp0aSI6IjA2YzMwNjVhLThjMTgtNDlmMS04Y2E5LTE5YzFmMDdlNjQxNSJ9.nntvNJHJW4biJetiQau-CvWCKK9ExQlC3OmNtmRWtqtPmISBboJWmBxP4ABVpWSRvJ2811IXZ0fXGXe1IlY9KQ"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-144,1488],"id":"7c42dcfd-df39-43d9-849e-5f383c5019ee","name":"HTTP Request2"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"refine data ":{"main":[[{"node":"allow booking ids","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Upcoming Cal Meeting":{"main":[[{"node":"Proper Format","type":"main","index":0}]]},"Proper Format":{"main":[[{"node":"Time window Filter","type":"main","index":0}]]},"Time window Filter":{"main":[[{"node":"Reminder to client","type":"main","index":0},{"node":"Reminder to Rahul","type":"main","index":0},{"node":"Reminder to Mosmi","type":"main","index":0},{"node":"Reminder to Lakshit","type":"main","index":0}]]},"Reminder to Lakshit":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get row(s)1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Get row(s)2":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)3":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Get row(s)1","type":"main","index":0}]]},"Reminder to Rahul":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Reminder to Mosmi":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Upcoming Cal Meeting","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"refine data ","type":"main","index":0}]]},"mosmi1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Rahul1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"client":{"main":[[{"node":"NO show sequence removal","type":"main","index":0}]]},"Lakshit1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Reminder to client":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"If":{"main":[[{"node":"mosmi1","type":"main","index":0},{"node":"Rahul1","type":"main","index":0},{"node":"client","type":"main","index":0},{"node":"Lakshit1","type":"main","index":0}],[{"node":"Booking Cancel","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"If","type":"main","index":0}]]},"allow booking ids":{"main":[[{"node":"mosmi1","type":"main","index":0},{"node":"Rahul1","type":"main","index":0},{"node":"client","type":"main","index":0},{"node":"Lakshit1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Get row(s)2","type":"main","index":0}]]},"Execution Data1":{"main":[[{"node":"Get row(s)3","type":"main","index":0}]]},"NO show sequence removal":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Execution Data3","type":"main","index":0}],[{"node":"Execution Data2","type":"main","index":0}],[{"node":"Execution Data","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"Get row(s)4":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Get row(s)5":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Get row(s)4","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"refine data 1","type":"main","index":0}]]},"Execution Data2":{"main":[[{"node":"Get row(s)5","type":"main","index":0}]]},"refine data 1":{"main":[[{"node":"client1","type":"main","index":0},{"node":"mosmi","type":"main","index":0},{"node":"Rahul","type":"main","index":0},{"node":"Lakshit","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Limit3","type":"main","index":0}]]},"Get row(s)6":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Get row(s)7":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Get row(s)6","type":"main","index":0}]]},"Limit3":{"main":[[{"node":"refine data 2","type":"main","index":0}]]},"Execution Data3":{"main":[[{"node":"Get row(s)7","type":"main","index":0}]]},"refine data 2":{"main":[[{"node":"Lakshit2","type":"main","index":0},{"node":"Rahul2","type":"main","index":0},{"node":"client2","type":"main","index":0},{"node":"mosmi2","type":"main","index":0}]]},"Booking Cancel":{"main":[[]]},"Run every 15min from 9am to 11pm":{"main":[[{"node":"Execution Data1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Reminder to Rahul1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Lakshit Ukani","name":"Version 41bbcb1d","description":"","autosaved":true},"tags":[]}