Backup_2026-07-14/My workflow 40.json
{"updatedAt":"2026-07-14T08:33:05.514Z","createdAt":"2026-07-14T07:59:34.827Z","id":"IsLeOnzmUZ9BMygE","name":"My workflow 40","active":true,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"bsuid-path","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,128],"id":"4a686b13-f8cd-41ad-8f30-d9ad125f5565","name":"Whatsapp Bot Webhook","webhookId":"2b7f85b2-f581-46d9-8d22-172f7a9933c0"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[560,-64],"id":"43edebc2-296a-4d55-8355-0d43172f2dc1","name":"Verify Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51696ba9-54b9-4f8c-bd0c-4e11fcb50d45","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4b041959-0ee0-4db3-8465-d08554bdec80","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[336,-64],"id":"b9c98a61-4de7-43f6-8119-7f8ef9d99056","name":"Check webhook configure parameter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0b6102e9-a86f-4207-a537-31d38af6c10d","leftValue":"={{ $json.event_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}},{"id":"0b1215f2-9cd4-4747-a078-98fa7edaec0b","leftValue":"={{ $json.event_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fbcd21d6-ee94-4f91-b01b-bc90030933af","leftValue":"={{ $json.event_type }}","rightValue":"interactive","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[560,224],"id":"98b63293-c120-4d42-b801-2e24d9b00adb","name":"Filter"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.event_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"39cc5e84-bc47-4000-a4ef-46efa74c764e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8b420286-6602-40af-b41f-674486be17aa","leftValue":"={{ $json.event_type }}","rightValue":"in","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Interactive"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[768,224],"id":"c0347756-8287-4480-9e8e-b28ee8f40751","name":"Switch"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('User Variables').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"recipient\": \"{{ $('User Variables').first().json.bsuid }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"request_contact_info\",\n    \"body\": {\n      \"text\": \"Phone number please??\"\n    },\n    \"action\": {\n      \"name\": \"request_contact_info\"\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1088,144],"id":"53af15f1-2915-4f1c-8fe2-eb58f5560fb8","name":"Initial Btn Msg","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"jsCode":"const value = $json.body.entry[0].changes[0].value;\nconst contact = value.contacts?.[0] || {};\nconst message = value.messages?.[0] || {};\n\nreturn [{\n  json: {\n    bsuid: contact.user_id || message.from_user_id || null,\n    phone: contact.wa_id || message.from || null,\n    display_name: contact.profile?.name || null,\n    username: contact.profile?.username || null,   // will be null in India right now\n    phone_number_id: value.metadata.phone_number_id,\n    message_text: message.text?.body || null,\n    message_id: message.id || null,\n    event_type: message.type || null\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,224],"id":"4f635f9d-cacd-4faf-8cc2-012079884684","name":"User Variables"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('User Variables').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('User Variables').first().json.phone }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"Hey there\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"speaking_english\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1216,288],"id":"267b87bd-dfe4-4533-a9f7-02ee51eed86d","name":"Initial Btn Msg1","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}}],"connections":{"Whatsapp Bot Webhook":{"main":[[{"node":"Check webhook configure parameter","type":"main","index":0}],[{"node":"User Variables","type":"main","index":0}]]},"Check webhook configure parameter":{"main":[[{"node":"Verify Webhook","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Initial Btn Msg","type":"main","index":0}]]},"User Variables":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Whatsapp Bot Webhook":[{"json":{"headers":{"host":"n8n.srv894857.hstgr.cloud","user-agent":"facebookexternalua","content-length":"550","accept":"*/*","accept-encoding":"deflate, gzip","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv894857.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2e77aa5d919","x-hub-signature":"sha1=aefa6cceb78108bc55f01f22cf605eb7161b6250","x-hub-signature-256":"sha256=359977aa2c05df021025e8a8985de0d1e51064da3fca7504e44f7128854e2111","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"object":"whatsapp_business_account","entry":[{"id":"1513036893303968","changes":[{"value":{"messaging_product":"whatsapp","metadata":{"display_phone_number":"918169228947","phone_number_id":"924412964080974"},"contacts":[{"profile":{"name":"Chatsyncs"},"wa_id":"919326268231","user_id":"IN.27207252235559593"}],"messages":[{"from":"919326268231","from_user_id":"IN.27207252235559593","id":"wamid.HBgMOTE5MzI2MjY4MjMxFQIAEhgUMkFCRDJBMjk5QzkzMzBCNkIyOUQA","timestamp":"1784017387","text":{"body":"Heyy buddy"},"type":"text"}]},"field":"messages"}]}]},"webhookUrl":"https://n8n.srv894857.hstgr.cloud/webhook/bsuid-path","executionMode":"production"},"pairedItem":{"item":0,"input":1}}]},"versionId":"4ec338b3-e517-4632-88a0-87c560af76d8","activeVersionId":"4ec338b3-e517-4632-88a0-87c560af76d8","triggerCount":1,"shared":[{"updatedAt":"2026-07-14T07:59:34.836Z","createdAt":"2026-07-14T07:59:34.836Z","role":"workflow:owner","workflowId":"IsLeOnzmUZ9BMygE","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-07-14T08:33:24.000Z","createdAt":"2026-07-14T08:33:05.515Z","versionId":"4ec338b3-e517-4632-88a0-87c560af76d8","workflowId":"IsLeOnzmUZ9BMygE","nodes":[{"parameters":{"multipleMethods":true,"path":"bsuid-path","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,128],"id":"4a686b13-f8cd-41ad-8f30-d9ad125f5565","name":"Whatsapp Bot Webhook","webhookId":"2b7f85b2-f581-46d9-8d22-172f7a9933c0"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[560,-64],"id":"43edebc2-296a-4d55-8355-0d43172f2dc1","name":"Verify Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51696ba9-54b9-4f8c-bd0c-4e11fcb50d45","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4b041959-0ee0-4db3-8465-d08554bdec80","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[336,-64],"id":"b9c98a61-4de7-43f6-8119-7f8ef9d99056","name":"Check webhook configure parameter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0b6102e9-a86f-4207-a537-31d38af6c10d","leftValue":"={{ $json.event_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}},{"id":"0b1215f2-9cd4-4747-a078-98fa7edaec0b","leftValue":"={{ $json.event_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fbcd21d6-ee94-4f91-b01b-bc90030933af","leftValue":"={{ $json.event_type }}","rightValue":"interactive","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[560,224],"id":"98b63293-c120-4d42-b801-2e24d9b00adb","name":"Filter"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.event_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"39cc5e84-bc47-4000-a4ef-46efa74c764e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8b420286-6602-40af-b41f-674486be17aa","leftValue":"={{ $json.event_type }}","rightValue":"in","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Interactive"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[768,224],"id":"c0347756-8287-4480-9e8e-b28ee8f40751","name":"Switch"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('User Variables').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"recipient\": \"{{ $('User Variables').first().json.bsuid }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"request_contact_info\",\n    \"body\": {\n      \"text\": \"Phone number please??\"\n    },\n    \"action\": {\n      \"name\": \"request_contact_info\"\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1088,144],"id":"53af15f1-2915-4f1c-8fe2-eb58f5560fb8","name":"Initial Btn Msg","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"jsCode":"const value = $json.body.entry[0].changes[0].value;\nconst contact = value.contacts?.[0] || {};\nconst message = value.messages?.[0] || {};\n\nreturn [{\n  json: {\n    bsuid: contact.user_id || message.from_user_id || null,\n    phone: contact.wa_id || message.from || null,\n    display_name: contact.profile?.name || null,\n    username: contact.profile?.username || null,   // will be null in India right now\n    phone_number_id: value.metadata.phone_number_id,\n    message_text: message.text?.body || null,\n    message_id: message.id || null,\n    event_type: message.type || null\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,224],"id":"4f635f9d-cacd-4faf-8cc2-012079884684","name":"User Variables"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('User Variables').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('User Variables').first().json.phone }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"Hey there\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"speaking_english\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1216,288],"id":"267b87bd-dfe4-4533-a9f7-02ee51eed86d","name":"Initial Btn Msg1","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}}],"connections":{"Whatsapp Bot Webhook":{"main":[[{"node":"Check webhook configure parameter","type":"main","index":0}],[{"node":"User Variables","type":"main","index":0}]]},"Check webhook configure parameter":{"main":[[{"node":"Verify Webhook","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Initial Btn Msg","type":"main","index":0}]]},"User Variables":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Lakshit Ukani","name":"Version 4ec338b3","description":"","autosaved":true},"tags":[]}