Backup_2025-12-05/Finance Manager.json
{
  "updatedAt": "2025-09-15T21:08:04.000Z",
  "createdAt": "2025-09-15T20:47:44.396Z",
  "id": "L5LCNcBnPlHCriSs",
  "name": "Finance Manager",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        0
      ],
      "id": "3a4c24d6-cde4-4f21-8bb6-8416ebd6470b",
      "name": "When chat message received",
      "webhookId": "8c83d6fa-650c-4181-b2a2-04a57b92ff40"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JkMYgAFqQ1NyLnyC8JvxTVKCjamXCh45a2LA7ZlUQEU",
          "mode": "list",
          "cachedResultName": "Finance Manager demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JkMYgAFqQ1NyLnyC8JvxTVKCjamXCh45a2LA7ZlUQEU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "demo 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JkMYgAFqQ1NyLnyC8JvxTVKCjamXCh45a2LA7ZlUQEU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Credit/Debit": "={{ $json.choices[0].message.content.CreditDebit }}",
            "Amount": "={{ $json.choices[0].message.content.Amount }}",
            "Category": "={{ $json.choices[0].message.content.Category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Credit/Debit",
              "displayName": "Credit/Debit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        0
      ],
      "id": "e1da75bb-1760-4e88-9d33-0d65fed30fa2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZc9FZPSLRtIq9IL",
          "name": "Lakshit77 Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are finance expert \n\nI need your help in identifying and managing my expence\n\nThis is the input I am sending - {{ $json.chatInput }}\n\nFrom this input give me \n- Credit /  Debit\n- Category\n- Amount \n\nThe output json format should have below keys\n- transaction_type\n- category\n- amount\n"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        96,
        0
      ],
      "id": "497a6397-ee2b-4ead-8c9f-781127520d38",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "L3P9Ae81haTD2rYm",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "10ea1712-baec-4280-bcf1-b2a146e533ba",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-15T20:47:44.400Z",
      "createdAt": "2025-09-15T20:47:44.400Z",
      "role": "workflow:owner",
      "workflowId": "L5LCNcBnPlHCriSs",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": null,
  "tags": []
}