Backup_2025-12-05/Workflow Backup.json
{
  "updatedAt": "2025-11-12T11:46:45.000Z",
  "createdAt": "2025-09-01T10:00:09.982Z",
  "id": "WQGuItF8GUgh1R66",
  "name": "Workflow Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {}
          ]
        }
      },
      "id": "c0849618-17b6-48fa-b4cf-78fb2d595378",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1152,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "51d795b8-7355-4a96-b625-cb472a463ebb",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "89319d09-d891-4ac9-8040-586ca5e8b3d0",
      "name": "Split Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -416,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "da23da6f-598c-458d-89c3-fd0f673a7004",
      "name": "Prepare File Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        160
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "lakshit77",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/lakshit77/n8n-backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "id": "9d2bd10d-27be-410b-8718-297e9bb07192",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        352,
        240
      ],
      "webhookId": "20f36eee-6bfe-4264-9490-d76d5c1ef46d",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "githubApi": {
          "id": "z4bTvsI2pravRKl9",
          "name": "Lakshit GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=lakshit77",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/lakshit77/n8n-backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup - {{ $('Set Variables').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "=Add README for backup folder"
      },
      "id": "d1d0a408-f130-43d9-8582-d8cea2030d15",
      "name": "Create README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -96,
        -96
      ],
      "webhookId": "5f0a2d4b-f990-480e-8bf7-1aea62f5fc7c",
      "credentials": {
        "githubApi": {
          "id": "z4bTvsI2pravRKl9",
          "name": "Lakshit GitHub account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        128,
        160
      ],
      "id": "a0955834-081f-42e0-bb01-89d35c970fa8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gqmegitfHNqya-lEUdaQ16hBVD8okXi2oeGr8V4nWFM",
          "mode": "list",
          "cachedResultName": "Daily backup n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gqmegitfHNqya-lEUdaQ16hBVD8okXi2oeGr8V4nWFM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gqmegitfHNqya-lEUdaQ16hBVD8okXi2oeGr8V4nWFM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File Name": "={{ $('Prepare File Content').item.json.fileName }}",
            "Error Message": "={{ $json.error }}",
            "DateTime": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}",
            "Folder Name": "={{ $('Set Variables').item.json.folderName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        576,
        256
      ],
      "id": "a4691712-bb86-483f-8c29-0ba6163acb12",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZc9FZPSLRtIq9IL",
          "name": "Lakshit77 Account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -720,
        160
      ],
      "id": "a04baee0-92aa-4d52-8f0f-03e5e633cc50",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "z38UGfyhYW1FuBfC",
          "name": "Hostinger n8n account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows": {
      "main": [
        [
          {
            "node": "Create README",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a3860c24-49b9-4685-96d3-1fce98a024b7",
  "activeVersionId": "a3860c24-49b9-4685-96d3-1fce98a024b7",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-01T10:00:09.991Z",
      "createdAt": "2025-09-01T10:00:09.991Z",
      "role": "workflow:owner",
      "workflowId": "WQGuItF8GUgh1R66",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-27T19:11:12.017Z",
    "createdAt": "2025-11-27T19:11:12.017Z",
    "versionId": "a3860c24-49b9-4685-96d3-1fce98a024b7",
    "workflowId": "WQGuItF8GUgh1R66",
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {}
            ]
          }
        },
        "id": "c0849618-17b6-48fa-b4cf-78fb2d595378",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          -1152,
          160
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
                "name": "folderName",
                "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "51d795b8-7355-4a96-b625-cb472a463ebb",
        "name": "Set Variables",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -928,
          160
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "89319d09-d891-4ac9-8040-586ca5e8b3d0",
        "name": "Split Workflows",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -416,
          160
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "workflow-content",
                "name": "nodes",
                "value": "={{ JSON.stringify($json, null, 2) }}",
                "type": "string"
              },
              {
                "id": "workflow-filename",
                "name": "fileName",
                "value": "={{ $json.name }}.json",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "da23da6f-598c-458d-89c3-fd0f673a7004",
        "name": "Prepare File Content",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -96,
          160
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "lakshit77",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backup",
            "mode": "list",
            "cachedResultName": "n8n-backup",
            "cachedResultUrl": "https://github.com/lakshit77/n8n-backup"
          },
          "filePath": "={{ $('Set Variables').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
          "binaryData": true,
          "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
        },
        "id": "9d2bd10d-27be-410b-8718-297e9bb07192",
        "name": "Upload to GitHub",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          352,
          240
        ],
        "webhookId": "20f36eee-6bfe-4264-9490-d76d5c1ef46d",
        "alwaysOutputData": false,
        "notesInFlow": true,
        "credentials": {
          "githubApi": {
            "id": "z4bTvsI2pravRKl9",
            "name": "Lakshit GitHub account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "=lakshit77",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backup",
            "mode": "list",
            "cachedResultName": "n8n-backup",
            "cachedResultUrl": "https://github.com/lakshit77/n8n-backup"
          },
          "filePath": "={{ $('Set Variables').item.json.folderName }}/README.md",
          "fileContent": "=# N8N Workflow Backup - {{ $('Set Variables').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*",
          "commitMessage": "=Add README for backup folder"
        },
        "id": "d1d0a408-f130-43d9-8582-d8cea2030d15",
        "name": "Create README",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          -96,
          -96
        ],
        "webhookId": "5f0a2d4b-f990-480e-8bf7-1aea62f5fc7c",
        "credentials": {
          "githubApi": {
            "id": "z4bTvsI2pravRKl9",
            "name": "Lakshit GitHub account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "operation": "toText",
          "sourceProperty": "nodes",
          "options": {
            "fileName": "={{ $json.fileName }}"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          128,
          160
        ],
        "id": "a0955834-081f-42e0-bb01-89d35c970fa8",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1gqmegitfHNqya-lEUdaQ16hBVD8okXi2oeGr8V4nWFM",
            "mode": "list",
            "cachedResultName": "Daily backup n8n",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gqmegitfHNqya-lEUdaQ16hBVD8okXi2oeGr8V4nWFM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gqmegitfHNqya-lEUdaQ16hBVD8okXi2oeGr8V4nWFM/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "File Name": "={{ $('Prepare File Content').item.json.fileName }}",
              "Error Message": "={{ $json.error }}",
              "DateTime": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}",
              "Folder Name": "={{ $('Set Variables').item.json.folderName }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "DateTime",
                "displayName": "DateTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Folder Name",
                "displayName": "Folder Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "File Name",
                "displayName": "File Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Error Message",
                "displayName": "Error Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          576,
          256
        ],
        "id": "a4691712-bb86-483f-8c29-0ba6163acb12",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "cZc9FZPSLRtIq9IL",
            "name": "Lakshit77 Account"
          }
        }
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -720,
          160
        ],
        "id": "a04baee0-92aa-4d52-8f0f-03e5e633cc50",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "z38UGfyhYW1FuBfC",
            "name": "Hostinger n8n account"
          }
        }
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Set Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Variables": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Workflows": {
        "main": [
          [
            {
              "node": "Create README",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare File Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare File Content": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to GitHub": {
        "main": [
          [
            {
              "node": "Split Workflows",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Upload to GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Split Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Split Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "tags": []
}