Backup_2026-05-31/68 Instagram Prod Access.json
{"updatedAt":"2025-12-03T17:59:02.000Z","createdAt":"2025-12-01T11:17:41.981Z","id":"Gtb7zuIYaii9co60","name":"68 Instagram Prod Access","active":false,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"ig-template","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,80],"id":"8b369561-9e25-4ec9-9374-fe0b828711b2","name":"Webhook","webhookId":"267b007d-eae1-4696-9fcc-5607b9b01607"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d1b4f5f-ec21-41b4-b820-c1882115ab65","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals"}},{"id":"4c7e8b61-35ae-46a7-a848-4f9323d85e3e","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[32,-16],"id":"da09568c-3fcb-416c-a170-352be9ea1474","name":"confirm webhook"},{"parameters":{"respondWith":"text","responseBody":"={{ $('Webhook').item.json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[240,-16],"id":"827891b5-7834-4b5e-8f19-9b6d3d6cbcac","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get row(s)1').item.json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"recipient\":{\n       \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n   },\n   \"message\":{\n      \"text\": \"{{ $json.output }}\"\n   }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,176],"id":"2fee1bfb-1f35-4983-bccf-8f7e133e2e24","name":"Send Text Response"},{"parameters":{"url":"https://graph.instagram.com/refresh_access_token","sendQuery":true,"queryParameters":{"parameters":[{"name":"grant_type","value":"ig_refresh_token  "},{"name":"access_token","value":"={{ $json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[80,-288],"id":"bb66e9b8-709a-4822-92b8-033c884b7c82","name":"HTTP Request1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"S05Q25GKcoPKCH0l","mode":"list","cachedResultName":"Platform Access Token","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/S05Q25GKcoPKCH0l"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"platform","keyValue":"instagram"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-144,-288],"id":"1ad3134b-7320-42f5-bf44-003a4c12f47d","name":"Get row(s)"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"S05Q25GKcoPKCH0l","mode":"list","cachedResultName":"Platform Access Token","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/S05Q25GKcoPKCH0l"},"matchType":"allConditions","filters":{"conditions":[{"keyValue":"={{ $('Get row(s)').item.json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"access_token":"={{ $json.access_token }}"},"matchingColumns":[],"schema":[{"id":"platform","displayName":"platform","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"access_token","displayName":"access_token","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[272,-288],"id":"b6acdc74-399a-4add-85bd-1e0a0559e599","name":"Update row(s)"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"S05Q25GKcoPKCH0l","mode":"list","cachedResultName":"Platform Access Token","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/S05Q25GKcoPKCH0l"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"platform","keyValue":"instagram"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[32,176],"id":"3bc3d296-91fb-4fe1-91f5-3cd3778c374b","name":"Get row(s)1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f89c5f4-41db-4d0e-804c-0b0d53beeb35","leftValue":"={{ $json.body.entry[0].messaging[0].message }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-160,176],"id":"41c68683-3c86-4ecc-9a8e-bb5176af2cd0","name":"Filter"},{"parameters":{"rule":{"interval":[{"daysInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-368,-288],"id":"92b3e8d2-1e49-4401-9333-5ce9b8f18e47","name":"Schedule Trigger"},{"parameters":{"content":"## Keep Your Long-Lived Token Alive Forever (Auto-Refresh Token)","height":336,"width":1024,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-496,-400],"id":"e1869191-6957-476d-9ee8-cd33b3de8847","name":"Sticky Note"},{"parameters":{"content":"## Configure Webhook and Send message","height":560,"width":1312},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-496,-32],"id":"1cb7eb2d-7ce7-44a9-8ea1-1785d5510b7e","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"={{ $('Filter').item.json.body.entry[0].messaging[0].message.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[240,176],"id":"0a479e08-6191-44aa-9b44-a00436389c63","name":"AI Agent"},{"parameters":{"model":"openai/gpt-5-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[192,384],"id":"c8376044-0a81-4714-86a6-c32df23cff72","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"TLy9RuRkIKncoUiy","name":"OpenRouter Freelance account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Filter').item.json.body.entry[0].messaging[0].sender.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[336,384],"id":"2d74bed6-f64c-4185-b07e-be621f6edb03","name":"Simple Memory"}],"connections":{"Webhook":{"main":[[{"node":"confirm webhook","type":"main","index":0}],[{"node":"Filter","type":"main","index":0}]]},"confirm webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Update row(s)","type":"main","index":0}]]},"Get row(s)1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Get row(s)1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send Text Response","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3e8333f0-5bef-487f-bac3-9142290d6eea","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T11:17:41.993Z","createdAt":"2025-12-01T11:17:41.993Z","role":"workflow:owner","workflowId":"Gtb7zuIYaii9co60","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}