Backup_2026-04-18/cal.com Webhook.json
{"updatedAt":"2026-04-09T08:39:26.189Z","createdAt":"2026-04-06T06:20:52.591Z","id":"n63y_q2jxOTljdjF-ZeQI","name":"cal.com Webhook","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"cal-automation","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,-128],"id":"bafd3c73-4a98-4a66-a18c-373f376380c0","name":"Webhook","webhookId":"63442c1e-7dd3-45ad-bb18-51de6111461c"},{"parameters":{"assignments":{"assignments":[{"id":"e8faa874-823b-4f8a-9fb7-e6f4a34397b1","name":"wa_phone_number_id","value":"924412964080974","type":"string"},{"id":"c7aa1416-4ade-4283-8832-56595b30093c","name":"wa_number_send","value":"919987749950","type":"string"},{"id":"509fb725-ce82-428d-a746-1ccfe8cb9ad5","name":"tag","value":"new_lead_from_cal","type":"string"},{"id":"38cbcd75-2ea7-4295-bd7e-c6306264de45","name":"source","value":"cal.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-128],"id":"efb215a1-7421-416e-938e-6e6401a0be04","name":"Edit Fields"},{"parameters":{"content":"Slack Message - Done\nWhatsapp Msg about community\nStore in Sheet - Done\nUpdate lead in ChatSyncs - Done\nEmbed in Website - Done","height":112,"width":352},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,-688],"id":"b4a6ca43-bc55-42ed-bf66-2ba9147e2d3d","name":"Sticky Note"},{"parameters":{"dataToSave":{"values":[{"key":"trigger_type","value":"={{ $json.body.triggerEvent }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-144,-128],"id":"117049f9-7c94-4047-8eb7-6383a0bd29af","name":"Execution Data1"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('Edit Fields').item.json.wa_phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Edit Fields').item.json.wa_number_send }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $('Code in JavaScript').item.json.message.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"wa_automation\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[736,-128],"id":"78ed997b-1626-47cd-b6f4-e3a1395061bc","name":"msg to Lakshit","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI","mode":"list","cachedResultName":"cal.com wa leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":345405336,"mode":"list","cachedResultName":"High Ticket Lead conversion","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI/edit#gid=345405336"},"columns":{"mappingMode":"defineBelow","value":{"event_type":"={{ $('data mapping').item.json.event_type }}","name":"={{ $('data mapping').item.json.name }}","number":"={{ $('data mapping').item.json.whatsapp_number }}","email":"={{ $('data mapping').item.json.email }}","Business Description":"={{ $('data mapping').item.json.business_description }}","Leads Per Month":"={{ $('data mapping').item.json.leads_per_month }}","Business Website":"={{ $('data mapping').item.json.website }}","Biggest Problem":"={{ $('data mapping').item.json.biggest_problem }}","When to Start":"={{ $('data mapping').item.json.when_to_start }}","Lead Source":"={{ $('data mapping').item.json.lead_sources }}","Read to Invest":"={{ $('data mapping').item.json.ready_to_invest }}","Meeting Time":"={{ $('data mapping').item.json.meeting_time }}","Reschedule Reason":"={{ $('data mapping').item.json.reschedule_reason }}","Cancellation Reason":"={{ $('data mapping').item.json.cancellation_reason }}"},"matchingColumns":[],"schema":[{"id":"event_type","displayName":"event_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Description","displayName":"Business Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Website","displayName":"Business Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Leads Per Month","displayName":"Leads Per Month","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Biggest Problem","displayName":"Biggest Problem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead Source","displayName":"Lead Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"When to Start","displayName":"When to Start","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Read to Invest","displayName":"Read to Invest","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meeting Time","displayName":"Meeting Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reschedule Reason","displayName":"Reschedule Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cancellation Reason","displayName":"Cancellation Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1200,-224],"id":"6c36e399-1ff0-4523-a1f9-d411bf8af165","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}},{"parameters":{"method":"POST","url":"https://app.chatsyncs.com/api/v2/webhook/flows/69d61f584001b47b6704e9a3","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source\": \"{{ $('Edit Fields').item.json.source }}\",\n  \"phone_number\": \"{{ $('data mapping').item.json.whatsapp_number }}\",\n  \"name\": \"{{ $('data mapping').item.json.name}}\",\n  \"email\": \"{{ $('data mapping').item.json.email}}\",\n  \"tag_type\": \"{{ $('data mapping').item.json.lead_tag }}\",\n  \"remark\": \"{{ $('data mapping').item.json.cancellation_reason }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1616,-128],"id":"aa8a4585-4a7d-4300-a51d-c0d6b1d2fe47","name":"Add Contact"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c36071cc-34ca-4e04-a793-fc1b799eadf0","leftValue":"={{ $('data mapping').item.json.event_type }}","rightValue":"BOOKING_CREATED","operator":{"type":"string","operation":"equals"}},{"id":"97178c47-1124-45fc-9560-e3407a59bdde","leftValue":"={{ $('data mapping').item.json.event_type }}","rightValue":"BOOKING_CANCELLED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[1392,-128],"id":"4ea9dcc0-6f87-4d7b-8b73-625c2bbdbf87","name":"Filter"},{"parameters":{"jsCode":"const data = $('data mapping').first().json;\n\nconst name = data.name;\nconst phone = data.whatsapp_number;\nconst meetingTime = data.meeting_time;\nconst eventType = data.event_type;\nconst eventTitle = data.event_title;\n\nconst header = eventType === \"BOOKING_RESCHEDULED\"\n  ? \"🔄 Booking Rescheduled!\"\n  : eventType === \"BOOKING_CANCELLED\"\n    ? \"❌ Booking Cancelled!\"\n    : \"🔔 New Booking!\";\n\nlet message = `${header}\n\n📋 Meeting: ${eventTitle}\n👤 Name: ${name}\n📱 WhatsApp: ${phone}\n📅 Time: ${meetingTime}\n`;\n\nif (eventType === \"BOOKING_RESCHEDULED\" && data.reschedule_reason) {\n  message += `\\n📝 Reason: ${data.reschedule_reason}`;\n}\n\nreturn [{ json: { message } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-128],"id":"0158ecaf-bdab-4482-b98d-2c93f9b892f7","name":"Code in JavaScript"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0A1BTD6867","mode":"list","cachedResultName":"work-notification"},"messageType":"block","blocksUi":"={\n\"blocks\": [\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"📧 New Meeting Scheduled\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"You have received a new email. Here are the details:\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*From:*\\n{{ $json.attendees[0].email }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Received At:*\\n{{ $json.attendees[0].phoneNumber }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Subject:*\\n{{ $json.attendees[0].name }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Meeting Time:*\\n{{ DateTime.fromISO($json.startTime).setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a') }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*Reason For Meeting Schedule:*\\n{{ $json.responses['Reason-for-Scheduling-the-meet'].value.replace(/\\n/g, \"\\\\n\") }}\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"context\",\n    \"elements\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"📬 Cal Trigger | Processed by n8n automation\"\n      }\n    ]\n  }\n]\n}","text":"📧 New Meeting Scheduled","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-368,96],"id":"0fa889b3-c5c7-4740-8222-b7b55ae8ae0d","name":"Send a message1","webhookId":"2f855d1e-c00f-485a-a8f7-dc5bb9fc0dd5","credentials":{"slackOAuth2Api":{"id":"ZC8Jm1dyTNehWjKR","name":"Techsunami Slack account"}}},{"parameters":{"jsCode":"const data = $input.first().json;\n\nconst body = data.body;\nconst payload = body.payload;\nconst attendee = payload.attendees[0];\nconst responses = payload.responses;\n\nconst calType = payload.type;\nconst eventType = body.triggerEvent;\n\n// --- Common fields ---\nconst output = {\n  event_type: body.triggerEvent,\n  cal_type: calType,\n  event_title: payload.eventTitle,\n  name: attendee.name,\n  email: attendee.email,\n  whatsapp_number: responses.smsReminderNumber.value,\n  meeting_time: new Date(payload.startTime).toLocaleString(\"en-IN\", {\n    timeZone: \"Asia/Calcutta\",\n    day: \"2-digit\",\n    month: \"short\",\n    year: \"numeric\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    hour12: true\n  }),\n  meeting_link: payload.metadata?.videoCallUrl || \"\",\n  booking_id: payload.bookingId,\n  when_to_start: responses.strength?.value || \"\",\n  reschedule_reason: responses.rescheduleReason?.value || null,\n  cancellation_reason: payload.cancellationReason || null,\n  created_at: body.createdAt\n};\n\n// --- Cal-type specific fields ---\nif (calType === \"fix-your-lead-conversion-system\") {\n  output.business_description = responses.understanding?.value || \"\";\n  output.leads_per_month = responses.accesstype?.value || \"\";\n  output.biggest_problem = Array.isArray(responses.problem?.value)\n    ? responses.problem.value.join(\", \")\n    : responses.problem?.value || \"\";\n  output.lead_sources = Array.isArray(responses.leads_source?.value)\n    ? responses.leads_source.value.join(\", \")\n    : responses.leads_source?.value || \"\";\n  output.website = responses.website?.value || \"\";\n  output.ready_to_invest = responses.invest?.value || \"\";\n} else if (calType === \"whatsapp-automation\") {\n  output.build_goal = responses.understanding?.value || \"\";\n}\n\n// --- Lead tag ---\noutput.lead_tag = calType === \"whatsapp-automation\" ? \"low-ticket\" : \"high-ticket\";\n\noutput.lead_tag = eventType === \"BOOKING_CANCELLED\" ? \"meet-cancel\" : output.lead_tag;\n\n\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,-128],"id":"84081713-2d41-491c-9d04-4c9f8fa7ceff","name":"data mapping"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('data mapping').item.json.cal_type }}","rightValue":"fix-your-lead-conversion-system","operator":{"type":"string","operation":"equals"},"id":"3f16274a-084a-4df1-aabf-e41ca007bcfd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ac967d14-412a-4c16-92a8-591795f48bc8","leftValue":"={{ $('data mapping').item.json.cal_type }}","rightValue":"whatsapp-automation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Platform"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[944,-128],"id":"76a3ddb4-e694-40d7-b987-1ed61a86c076","name":"Switch"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI","mode":"list","cachedResultName":"cal.com wa leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Platform Access","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"event_type":"={{ $('data mapping').item.json.event_type }}","name":"={{ $('data mapping').item.json.name }}","number":"={{ $('data mapping').item.json.whatsapp_number }}","email":"={{ $('data mapping').item.json.email }}","when_to_start":"={{ $('data mapping').item.json.when_to_start }}","meeting_time":"={{ $('data mapping').item.json.meeting_time }}","reschedule_reason":"={{ $('data mapping').item.json.reschedule_reason }}","automation_goal":"={{ $('data mapping').item.json.build_goal }}","Cancellation Reason":"={{ $('data mapping').item.json.cancellation_reason }}"},"matchingColumns":[],"schema":[{"id":"event_type","displayName":"event_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"when_to_start","displayName":"when_to_start","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"meeting_time","displayName":"meeting_time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"automation_goal","displayName":"automation_goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"reschedule_reason","displayName":"reschedule_reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cancellation Reason","displayName":"Cancellation Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1200,-32],"id":"b2e2311c-f4e5-49c9-9fdc-3b804f2116fa","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}}],"connections":{"Webhook":{"main":[[{"node":"Execution Data1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Execution Data1":{"main":[[{"node":"data mapping","type":"main","index":0}]]},"msg to Lakshit":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Add Contact":{"main":[[]]},"Filter":{"main":[[{"node":"Add Contact","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"msg to Lakshit","type":"main","index":0}]]},"data mapping":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Append row in sheet1","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv894857.hstgr.cloud","user-agent":"node","content-length":"5501","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-cal-signature-256":"no-secret-provided","x-cal-webhook-version":"2021-10-20","x-forwarded-for":"5.60.65.64","x-forwarded-host":"n8n.srv894857.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f5ddd63a4643","x-real-ip":"5.60.65.64"},"params":{},"query":{},"body":{"triggerEvent":"BOOKING_CANCELLED","createdAt":"2026-04-09T08:33:00.379Z","payload":{"bookerUrl":"https://cal.com","title":"WhatsApp Automation between lakshit ukani and lakshit ukani","startTime":"2026-04-09T17:00:00.000Z","endTime":"2026-04-09T17:30:00.000Z","additionalNotes":"","type":"whatsapp-automation","description":"This call is for those who want to use ChatSyncs to build their own WhatsApp automation systems.\n\n****On this call, we will:****<br>• Show you how the platform works<br>• Walk you through key features and use cases<br>• Help you understand how to build your own automation workflows<br>\n\nChatSync platform access is ****₹2,999/month.****<br>\n\nThis is NOT a strategy or consulting call.<br>\n\n****This call is only for people who:****<br>• Prefer to build systems themselves<br>• Are comfortable using tools/platforms<br>• Are ready to get started immediately<br>\n\nIf you're looking for a done-for-you solution, please book a strategy call instead.<br>\n\nIf you're ready to explore the platform and get started, book your demo below.","eventTypeId":5263250,"hideCalendarNotes":false,"hideCalendarEventDetails":false,"hideOrganizerEmail":false,"schedulingType":null,"seatsPerTimeSlot":null,"seatsShowAttendees":true,"seatsShowAvailabilityCount":true,"customReplyToEmail":null,"disableRescheduling":false,"disableReschedulingScope":"HOST_AND_ATTENDEE","disableCancelling":false,"disableCancellingScope":"HOST_AND_ATTENDEE","organizer":{"id":1968728,"name":"lakshit ukani","email":"lakshit@lakshitukani.com","username":"lakshit-ukani-77","timeZone":"Asia/Calcutta","language":{"locale":"en"},"timeFormat":"h:mma","utcOffset":330},"attendees":[{"name":"lakshit ukani","email":"lakshitukani77@gmail.com","timeZone":"Asia/Calcutta","language":{"locale":"en"},"phoneNumber":null,"bookingSeat":null,"utcOffset":330,"firstName":"lakshit","lastName":"ukani"}],"customInputs":{},"responses":{"name":{"label":"your_name","value":"lakshit ukani","isHidden":false},"email":{"label":"email_address","value":"lakshitukani77@gmail.com","isHidden":false},"attendeePhoneNumber":{"label":"WhatsApp Number","isHidden":true},"location":{"label":"location","value":{"value":"integrations:google:meet","optionValue":""},"isHidden":false},"smsReminderNumber":{"label":"WhatsApp Number","value":"+918898798989","isHidden":false},"title":{"label":"what_is_this_meeting_about","isHidden":true},"notes":{"label":"additional_notes","isHidden":true},"understanding":{"label":"What do you want to build using ChatSyncs?","value":"Lead follow up","isHidden":false},"strength":{"label":"When do you want to start?","value":"Immediately","isHidden":false},"accesstype":{"label":"Which option are you interested in?","isHidden":true},"confirmation":{"label":"I understand that ChatSyncs platform access is ₹2,999/month, and I’m ready to get started if it fits my needs.","value":true,"isHidden":false},"rescheduleReason":{"label":"reason_for_reschedule","isHidden":false},"guests":{"label":"additional_guests","value":[],"isHidden":false}},"userFieldsResponses":{"understanding":{"label":"What do you want to build using ChatSyncs?","value":"Lead follow up","isHidden":false},"strength":{"label":"When do you want to start?","value":"Immediately","isHidden":false},"accesstype":{"label":"Which option are you interested in?","isHidden":true},"confirmation":{"label":"I understand that ChatSyncs platform access is ₹2,999/month, and I’m ready to get started if it fits my needs.","value":true,"isHidden":false}},"location":"integrations:google:meet","iCalUID":"gy6yqkgJwZxKzJt3VUFdbV@Cal.com","iCalSequence":1,"requiresConfirmation":false,"oneTimePassword":null,"platformClientId":"","platformRescheduleUrl":"","platformCancelUrl":"","platformBookingUrl":"","uid":"gy6yqkgJwZxKzJt3VUFdbV","organizationId":null,"hashedLink":null,"hideBranding":false,"videoCallData":{"type":"google_meet_video","id":"","password":"","url":"https://meet.google.com/ias-abqq-pov"},"appsStatus":[{"appName":"Google Calendar","type":"google_calendar","success":1,"failures":0,"errors":[]},{"appName":"google-meet_video","type":"google_meet_video","success":1,"failures":0,"errors":[]}],"destinationCalendar":[{"id":997197,"integration":"google_calendar","externalId":"lakshit@lakshitukani.com","primaryEmail":"lakshit@lakshitukani.com","userId":1968728,"credentialId":1584335}],"bookingId":18100490,"status":"CANCELLED","eventTitle":"WhatsApp Automation","eventDescription":"This call is for those who want to use ChatSyncs to build their own WhatsApp automation systems.\n\n****On this call, we will:****<br>• Show you how the platform works<br>• Walk you through key features and use cases<br>• Help you understand how to build your own automation workflows<br>\n\nChatSync platform access is ****₹2,999/month.****<br>\n\nThis is NOT a strategy or consulting call.<br>\n\n****This call is only for people who:****<br>• Prefer to build systems themselves<br>• Are comfortable using tools/platforms<br>• Are ready to get started immediately<br>\n\nIf you're looking for a done-for-you solution, please book a strategy call instead.<br>\n\nIf you're ready to explore the platform and get started, book your demo below.","price":0,"currency":"usd","length":30,"smsReminderNumber":"+918898798989","assignmentReason":[],"cancelledBy":"lakshit@lakshitukani.com","cancellationReason":"Not worth it","requestReschedule":false,"metadata":{"videoCallUrl":"https://meet.google.com/ias-abqq-pov"}}},"webhookUrl":"https://n8n.srv894857.hstgr.cloud/webhook/cal-automation","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"8b84eaba-d8de-4a2f-9857-70d6646639a4","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-06T06:20:52.601Z","createdAt":"2026-04-06T06:20:52.601Z","role":"workflow:owner","workflowId":"n63y_q2jxOTljdjF-ZeQI","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}