Backup_2026-04-21/57 batch processing of messages.json
{"updatedAt":"2025-10-30T15:22:35.000Z","createdAt":"2025-10-28T18:02:57.480Z","id":"nrzPXL9ywVCsanII","name":"57 batch processing of messages","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"To","value":"={{$node[\"Receive Whatsapp Message\"].json[\"body\"][\"From\"]}}"},{"name":"From","value":"={{$node[\"Receive Whatsapp Message\"].json[\"body\"][\"To\"]}}"},{"name":"Body","value":"={{ $json.message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,-32],"id":"0cac38e3-7b5e-498d-a93c-9a66e769c519","name":"Send Message","credentials":{"httpBasicAuth":{"id":"WsQzmrY4u3R3NvDi","name":"Twillio cred 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.merged_message }}","options":{"systemMessage":"=Name: Kady\nRole: You are an expert receptionist for Toothsi Clinic. Your job is to communicate with your user, serve them properly, and solve their task. \n\n\nNote:\nOutput your response as a JSON object with between one and three messages, where possible, default to fewer messages.\n\nSince you are an SMS assistant, your output usually spans multiple ‘texts’. Feel free to use emojis in messages, and if it makes sense, some messages can be emojis only.\n\nExample:\n\n{\n  \"message_1\": \"Hi there!\",\n  \"message_2\": \"😊\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1488,-80],"id":"60e0afd5-36a9-4620-9e3b-a309c2f457b3","name":"AI Agent"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1456,128],"id":"a331d22d-1c38-498f-9a3a-3925de65e5d3","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"TLy9RuRkIKncoUiy","name":"OpenRouter Freelance account"}}},{"parameters":{"httpMethod":"POST","path":"c2a37ab5-9316-4d86-9685-c8a91cf3ea48","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,16],"id":"2881cf15-a940-45af-a246-d76e8e9584e0","name":"Receive Whatsapp Message","webhookId":"c2a37ab5-9316-4d86-9685-c8a91cf3ea48"},{"parameters":{"assignments":{"assignments":[{"id":"ef6c2837-9317-4ef6-afae-fdfa885c71c6","name":"message","value":"={{ $json.body.Body }}","type":"string"},{"id":"625cec94-67c9-458b-8d58-b7851f8bcec5","name":"number","value":"={{ $json.body.To.replace('whatsapp:', '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,16],"id":"ab230b44-2892-4235-a03f-5897e7cc445d","name":"Variable mapping"},{"parameters":{"dataTableId":{"__rl":true,"value":"aNkqPGZsrwVsVTiZ","mode":"list","cachedResultName":"Msg Batch Processing","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/aNkqPGZsrwVsVTiZ"},"columns":{"mappingMode":"defineBelow","value":{"message":"={{ $json.message }}","message_status":"in_queue","number":"={{ $json.number }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"message_status","displayName":"message_status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[128,16],"id":"1e9d1250-9993-4657-8f9a-30265ac71cf1","name":"Insert row"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[304,16],"id":"130b93d8-8b73-45d3-9908-373ca8157b31","name":"Wait","webhookId":"b7fbb284-0a1d-4bd9-a6b2-bf507939b737"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[736,16],"id":"7f925b9b-f84a-44f9-9c7b-17e81d454220","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1072,-80],"id":"5e3fa451-de71-4857-b40d-233411af3e82","name":"Done Processing"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"aNkqPGZsrwVsVTiZ","mode":"list","cachedResultName":"Msg Batch Processing","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/aNkqPGZsrwVsVTiZ"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"number","keyValue":"={{ $('Variable mapping').item.json.number }}"},{"keyName":"message_status","keyValue":"in_queue"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[496,16],"id":"6621fade-9d58-4046-a925-a74d7bc582f8","name":"Get row(s)"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"aNkqPGZsrwVsVTiZ","mode":"list","cachedResultName":"Msg Batch Processing","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/aNkqPGZsrwVsVTiZ"},"matchType":"allConditions","filters":{"conditions":[{"keyValue":"={{ $json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"message_status":"processed"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"message_status","displayName":"message_status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[944,112],"id":"ec48b08c-d4d9-432a-bab5-8187341a7ada","name":"Update row(s)"},{"parameters":{"jsCode":"// Combine all \"message\" values into a single comma-separated string\n// and include the \"number\" field from any one of the input items (e.g., the first one)\n\nconst messages = items\n  .map(item => item.json.message)\n  .filter(Boolean)\n  .join(', ');\n\nconst number = items[0]?.json?.number || null;\n\nreturn [\n  {\n    json: {\n      number: number,\n      merged_message: messages\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,-80],"id":"ed6705a2-9db8-4925-a5b7-01e7013e44c1","name":"Code in JavaScript"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code in JavaScript').item.json.number }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1584,128],"id":"40ab5b89-6736-4b1e-8e0e-01e785935f9c","name":"Simple Memory"},{"parameters":{"jsCode":"// Parse JSON string from the \"output\" field and convert messages into an array of objects\n\nconst rawOutput = items[0].json.output; // get the string\nconst parsed = JSON.parse(rawOutput);   // parse the JSON string\n\n// Convert key-value pairs into list of objects\nconst messageList = Object.entries(parsed).map(([key, value]) => ({\n  key,\n  message: value\n}));\n\nreturn messageList.map(msg => ({ json: msg }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,-80],"id":"b0b8be27-d493-46ec-91db-4e28316af93f","name":"Code in JavaScript1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2048,-80],"id":"3098d421-bb39-4f2a-9457-0bb4ab60a818","name":"Loop Over Items1"}],"connections":{"AI Agent":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Receive Whatsapp Message":{"main":[[{"node":"Variable mapping","type":"main","index":0}]]},"Variable mapping":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Done Processing","type":"main","index":0}],[{"node":"Update row(s)","type":"main","index":0}]]},"Done Processing":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row(s)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Send Message","type":"main","index":0}]]},"Send Message":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e0d2029d-8855-4905-b084-1d0dc13da423","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-28T18:02:57.485Z","createdAt":"2025-10-28T18:02:57.485Z","role":"workflow:owner","workflowId":"nrzPXL9ywVCsanII","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}