Backup_2026-07-20/ChatSyncs AI agent demo.json
{"updatedAt":"2026-05-04T11:06:51.559Z","createdAt":"2026-05-04T10:26:21.485Z","id":"fOuBsgoJdtWjQrFXYQpTQ","name":"ChatSyncs AI agent demo","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"aamir-test","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-208,0],"id":"d59181ae-4f4b-4733-b12c-3914c5974399","name":"Webhook","webhookId":"513d61aa-ec2e-43d4-827a-cb43c97cc24a"},{"parameters":{"promptType":"define","text":"={{ $json.body.data.content.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[208,0],"id":"a7fc15b9-9717-4a61-8c86-ec3eab8e3233","name":"AI Agent"},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[176,208],"id":"cbcbf218-1360-4a23-9cb7-cdcf2f74a8f0","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"TLy9RuRkIKncoUiy","name":"OpenRouter Freelance account"}}},{"parameters":{"method":"POST","url":"https://app.chatsyncs.com/api/v2/whatsapp-business/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 7abc70990b6813b6c08bde9197d6dec39d8dfdb46ce225a0e6ba6ab40554820f"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Webhook').item.json.body.data.senderPhoneNumber }}"},{"name":"phoneNoId","value":"={{ $('Webhook').item.json.body.data.recipientPhoneNumberId }}"},{"name":"type","value":"text"},{"name":"text","value":"={{ $json.output }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[592,0],"id":"763573d4-19e1-4bca-8d60-0fb5d83e97a9","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv894857.hstgr.cloud","user-agent":"axios/1.7.9","content-length":"399","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"13.202.95.229","x-forwarded-host":"n8n.srv894857.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f5ddd63a4643","x-real-ip":"13.202.95.229"},"params":{},"query":{},"body":{"event":"status","data":{"messageId":"wamid.HBgMOTE5MzI2MjY4MjMxFQIAERgSOTM2MzM5REMyMEEwNEIwMjMzAA==","recipientPhoneNumber":"919326268231","status":"delivered","timestamp":"1777890758","bizOpaqueCallbackData":{"type":"API"},"conversation":{"id":"127ca788a7e9e4df7d1b6a88e63a7110","origin":"service","expirationTimestamp":""},"pricing":{"pricingModel":"PMP","billable":false,"category":"service"}}},"webhookUrl":"https://n8n.srv894857.hstgr.cloud/webhook/aamir-test","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"e3a3e848-30cd-4aac-9413-c7bbe70d2e3f","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-05-04T10:26:21.496Z","createdAt":"2026-05-04T10:26:21.496Z","role":"workflow:owner","workflowId":"fOuBsgoJdtWjQrFXYQpTQ","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}