Backup_2026-07-20/My workflow 41.json
{"updatedAt":"2026-07-18T18:06:21.296Z","createdAt":"2026-07-18T17:13:39.876Z","id":"zCg2miETN1UY2Wnz","name":"My workflow 41","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rahul","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-112],"id":"c3cb076c-c746-4153-8b25-0f3b5baf9d1b","name":"Webhook","webhookId":"5502c92b-fad9-45e0-a461-fd6c52008ac0"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nconst message = (body.user_message || \"\").trim().toLowerCase();\n\nlet intent = \"ai\";\n\nif ([\"hi\", \"hello\", \"hey\", \"good morning\", \"good evening\"].includes(message)) {\n  intent = \"greeting\";\n}\nelse if (\n  message.includes(\"payment\") ||\n  message.includes(\"invoice\") ||\n  message.includes(\"paid\") ||\n  message.includes(\"bill\")\n) {\n  intent = \"payment\";\n}\nelse if (\n  message.includes(\"book\") ||\n  message.includes(\"meeting\") ||\n  message.includes(\"schedule\")\n) {\n  intent = \"booking\";\n}\nelse if (\n  message.includes(\"agent\") ||\n  message.includes(\"human\") ||\n  message.includes(\"support\")\n) {\n  intent = \"human\";\n}\n\nreturn [\n  {\n    json: {\n      intent,\n      subscriber_id: body.subscriber_id,\n      phone: body.chat_id,\n      name: body.first_name,\n      message: body.user_message,\n      email: body.custom_fields?.Email || \"\",\n      employee_id: body.custom_fields?.[\"employee id\"] || \"\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-112],"id":"db0532d3-379c-47aa-a21b-7cfbf6f63759","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"e3983fef-0522-4899-bedf-8581d758766d","name":"subscriber_id","value":"={{ $json.subscriber_id }}","type":"string"},{"id":"c3b2ff3f-cd13-482a-b83b-7e30539f76a2","name":"phone","value":"={{ $json.phone }}","type":"number"},{"id":"d0d67ec1-ef8a-48b3-b082-2da2eb1da5da","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,-112],"id":"ab33c4c8-1bb8-49b4-aa56-4ee0c2e86034","name":"Edit Fields"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[112,96],"id":"415f272c-3646-4591-a36c-797c5b073fb8","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"jlD8P6HlEgQPQS5o","name":"DeepSeek account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code in JavaScript').item.json.message }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[256,112],"id":"87b662c8-b66e-49a5-8aad-59483436bab9","name":"Simple Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ff8d75fa-4f53-461b-8299-90e5aafa939d","leftValue":"={{ $('Code in JavaScript').item.json.phone }}","rightValue":"=919959623255","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[320,-64],"id":"e752677c-9fde-41d2-9bc7-630a1da8657d","name":"Filter"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[]]},"Simple Memory":{"ai_memory":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e263ee64-3447-411c-899e-5c3e1c054232","activeVersionId":"dbb55db0-0afb-41cb-bf6c-28334f8ad4d4","triggerCount":1,"shared":[{"updatedAt":"2026-07-18T17:13:39.881Z","createdAt":"2026-07-18T17:13:39.881Z","role":"workflow:owner","workflowId":"zCg2miETN1UY2Wnz","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-07-18T17:18:26.000Z","createdAt":"2026-07-18T17:18:25.171Z","versionId":"dbb55db0-0afb-41cb-bf6c-28334f8ad4d4","workflowId":"zCg2miETN1UY2Wnz","nodes":[{"parameters":{"httpMethod":"POST","path":"rahul","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-128,-80],"id":"c3cb076c-c746-4153-8b25-0f3b5baf9d1b","name":"Webhook","webhookId":"5502c92b-fad9-45e0-a461-fd6c52008ac0"}],"connections":{"Webhook":{"main":[[]]}},"nodeGroups":[],"authors":"Lakshit Ukani","name":"Version dbb55db0","description":"","autosaved":false},"tags":[]}