Backup_2026-06-30/51 Sora 2 Video Generation.json
{"updatedAt":"2025-10-04T19:40:40.000Z","createdAt":"2025-10-04T10:55:51.490Z","id":"2rztD0y3TrpeldoB","name":"51 Sora 2 Video Generation","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-32,208],"id":"8fe3872a-fa1e-4a56-9ceb-37794dea42cc","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y","mode":"list","cachedResultName":"Video Generation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"pending"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,208],"id":"ffdf1820-d228-42be-bd12-5e71d7ae444c","name":"Get Entry","credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,304],"id":"db07a2ef-df98-4372-812b-91e6d69867cd","name":"Wait","webhookId":"070665bc-15b5-487d-ab0a-dc6c31361781"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.state }}","rightValue":"success","operator":{"type":"string","operation":"equals"},"id":"290d0ca0-5cee-4a46-912f-929affc9f36f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Success"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01661ed5-02ce-4be0-af2d-3c433d780bfe","leftValue":"={{ $json.data.state }}","rightValue":"fail","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Fail"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35ea73f8-a9de-412b-abcd-12b1710cb0b0","leftValue":"={{ $json.data.state }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Waiting"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[880,96],"id":"3aac99b6-331a-4051-a1df-55c6e7619862","name":"Switch"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y","mode":"list","cachedResultName":"Video Generation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get Entry').item.json.row_number }}","Status":"fail"},"matchingColumns":["row_number"],"schema":[{"id":"Video Prompt","displayName":"Video Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Aspect Ratio","displayName":"Aspect Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Quality","displayName":"Quality","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Link","displayName":"Video Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1104,112],"id":"6709ef0c-3908-4152-a266-f8f7db0cc7e5","name":"Mark Status as Fail","credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y","mode":"list","cachedResultName":"Video Generation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get Entry').item.json.row_number }}","Status":"completed","Video Link":"={{ JSON.parse($json.data.resultJson).resultUrls[0] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Video Prompt","displayName":"Video Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Aspect Ratio","displayName":"Aspect Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Quality","displayName":"Quality","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Link","displayName":"Video Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1104,-80],"id":"a174e83b-9094-4024-a848-3350a64704fe","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}},{"parameters":{"content":"# SORA 2 Text -> Video","height":752,"width":1456},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,-144],"id":"13eb3dfe-1d5f-4dce-8d5d-a72930e0f52f","name":"Sticky Note"},{"parameters":{"documentId":{"__rl":true,"value":"1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y","mode":"list","cachedResultName":"Video Generation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"pending"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,1088],"id":"e489d40c-7a10-43c6-87ec-ee057bc9feee","name":"Get Entry1","credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,1184],"id":"8b0000dd-94e6-4d56-a488-0632916bf5f5","name":"Wait1","webhookId":"070665bc-15b5-487d-ab0a-dc6c31361781"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.state }}","rightValue":"success","operator":{"type":"string","operation":"equals"},"id":"290d0ca0-5cee-4a46-912f-929affc9f36f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Success"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01661ed5-02ce-4be0-af2d-3c433d780bfe","leftValue":"={{ $json.data.state }}","rightValue":"fail","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Fail"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35ea73f8-a9de-412b-abcd-12b1710cb0b0","leftValue":"={{ $json.data.state }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Waiting"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[896,976],"id":"3aeb888a-c98e-496e-9efb-2ae7740ac4c5","name":"Switch1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y","mode":"list","cachedResultName":"Video Generation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get Entry1').item.json.row_number }}","Status":"fail","Remark":"={{ $json.data.failMsg }}"},"matchingColumns":["row_number"],"schema":[{"id":"Video Prompt","displayName":"Video Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image URL","displayName":"Image URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Aspect Ratio","displayName":"Aspect Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Quality","displayName":"Quality","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Link","displayName":"Video Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Remark","displayName":"Remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,992],"id":"ac7bdbb7-b88a-4e13-9585-b553e94d6edb","name":"Mark Status as Fail1","credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y","mode":"list","cachedResultName":"Video Generation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HuB47wdJj_550hHhDsnAqlw40H0UEXO0Pd6SLWxTx9Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get Entry1').item.json.row_number }}","Status":"completed","Video Link":"={{ JSON.parse($json.data.resultJson).resultUrls[0] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Video Prompt","displayName":"Video Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Aspect Ratio","displayName":"Aspect Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Quality","displayName":"Quality","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Link","displayName":"Video Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,800],"id":"705ea5f0-4f42-4803-b21d-ef6a2518df96","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}},{"parameters":{"content":"# SORA 2 Image -> Video","height":752,"width":1472,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,736],"id":"4273e7e9-4738-466d-bcad-0e0884f29421","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sora-2-image-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $json['Video Prompt'] }}\",\n    \"image_urls\": [\n        \"{{ $json['Image URL'] }}\"\n    ],\n    \"aspect_ratio\": \"{{ $json['Aspect Ratio'] }}\",\n    \"quality\": \"{{ $json.Quality }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,1088],"id":"000603b1-a5dd-4e97-a743-3917821b3cad","name":"Create Image to Video Task","credentials":{"httpHeaderAuth":{"id":"nvqlPqWbXBin9fgC","name":"Lakshit Kie API"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sora-2-text-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $json['Video Prompt'] }}\",\n    \"aspect_ratio\": \"{{ $json['Aspect Ratio'] }}\",\n    \"quality\": \"{{ $json.Quality }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,208],"id":"2ad7c921-9b3f-481d-864f-6ae55fd06972","name":"Create Text to Video Task","credentials":{"httpHeaderAuth":{"id":"nvqlPqWbXBin9fgC","name":"Lakshit Kie API"}}},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_API_KEY"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,208],"id":"567051d7-30d9-418c-90f0-5dd63e9d7866","name":"Query Text to video Task","credentials":{"httpHeaderAuth":{"id":"nvqlPqWbXBin9fgC","name":"Lakshit Kie API"}}},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_API_KEY"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,1088],"id":"140854d6-f772-45d2-878e-29abf2f54086","name":"Query Img to Video Task","credentials":{"httpHeaderAuth":{"id":"nvqlPqWbXBin9fgC","name":"Lakshit Kie API"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Entry","type":"main","index":0}]]},"Get Entry":{"main":[[{"node":"Create Text to Video Task","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Query Text to video Task","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"Mark Status as Fail","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Get Entry1":{"main":[[{"node":"Create Image to Video Task","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Query Img to Video Task","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}],[{"node":"Mark Status as Fail1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Create Image to Video Task":{"main":[[{"node":"Query Img to Video Task","type":"main","index":0}]]},"Create Text to Video Task":{"main":[[{"node":"Query Text to video Task","type":"main","index":0}]]},"Query Text to video Task":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Query Img to Video Task":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"0edf9f44-3bf6-4736-9783-7d53f7299626","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-04T10:55:51.493Z","createdAt":"2025-10-04T10:55:51.493Z","role":"workflow:owner","workflowId":"2rztD0y3TrpeldoB","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}