Backup_2025-12-04/AI News Research Agent → Google Sheets.json
{
  "updatedAt": "2025-09-18T15:30:50.000Z",
  "createdAt": "2025-09-18T15:22:37.926Z",
  "id": "8OFU9V6arn1MSyIs",
  "name": "AI News Research Agent → Google Sheets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly AI News Research",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        632
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "id": "ai-topics-sheet",
      "name": "AI Topics to Research",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -896,
        632
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "process-topics",
      "name": "Process Each Topic",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -672,
        632
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "topic",
              "name": "topic",
              "value": "={{ $json.Topic }}",
              "type": "string"
            },
            {
              "id": "research_depth",
              "name": "research_depth",
              "value": "detailed",
              "type": "string"
            },
            {
              "id": "time_window",
              "name": "time_window",
              "value": "last 7 days",
              "type": "string"
            },
            {
              "id": "focus_areas",
              "name": "focus_areas",
              "value": "={{ $json.Focus_Areas || 'general AI news, breakthroughs, industry developments' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "research-settings",
      "name": "Research Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        508
      ]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "research-leader-llm",
      "name": "Research Leader LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -152,
        732
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "You are the Research Leader for AI news intelligence. Your role is to:\n\n1. Analyze the given AI topic: {{ $json.topic }}\n2. Focus on: {{ $json.focus_areas }}\n3. Time period: {{ $json.time_window }}\n\nCreate a comprehensive research strategy to gather the most important and recent AI news for this topic. Consider:\n- Breaking news and developments\n- Industry announcements\n- Research breakthroughs\n- Regulatory changes\n- Market impacts\n- Key companies and players\n\nProvide your analysis and research direction for the Project Planner to break down into specific tasks.",
        "options": {
          "systemMessage": "You are an expert AI industry analyst and research strategist."
        }
      },
      "id": "research-leader",
      "name": "Research Leader 🔬",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -224,
        508
      ]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "project-planner-llm",
      "name": "Project Planner LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        416,
        732
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "You are the Project Planner. Based on the Research Leader's strategy, break down the AI news research into 3-5 specific, actionable research tasks.\n\nFor the topic: {{ $json.topic }}\nTime period: {{ $json.time_window }}\n\nCreate tasks that will comprehensively cover:\n1. Latest developments and news\n2. Key company announcements\n3. Technical breakthroughs\n4. Industry impacts\n5. Expert opinions and analysis\n\nReturn your response as a JSON array of research tasks, each with:\n- task_title: Brief description\n- search_query: Specific search query for Perplexity\n- priority: high/medium/low\n- expected_findings: What type of information to look for\n\nFormat: {\"research_tasks\": [{\"task_title\": \"...\", \"search_query\": \"...\", \"priority\": \"...\", \"expected_findings\": \"...\"}]}",
        "options": {}
      },
      "id": "project-planner",
      "name": "Project Planner 📊",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        240,
        508
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "autoFix": true
      },
      "id": "structured-parser",
      "name": "Parse Research Tasks",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        128,
        732
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "research_tasks",
        "options": {}
      },
      "id": "split-tasks",
      "name": "Split Research Tasks",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        508
      ]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "research-assistant-llm",
      "name": "Research Assistant LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        856,
        608
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "You are a Research Assistant specializing in AI news intelligence. \n\nCurrent task: {{ $json.task_title }}\nSearch query: {{ $json.search_query }}\nExpected findings: {{ $json.expected_findings }}\nTopic: {{ $('Research Settings').item.json.topic }}\n\nUse the Perplexity tool to research this specific aspect of AI news. Focus on:\n1. Recent developments (last 7 days priority)\n2. Credible sources and citations\n3. Key facts, figures, and quotes\n4. Impact and implications\n5. Notable companies, people, or technologies involved\n\nProvide a comprehensive research report with:\n- Executive summary (2-3 sentences)\n- Key findings (bullet points)\n- Important quotes or statistics\n- Source citations\n- Relevance score (1-10) for AI industry impact",
        "options": {
          "systemMessage": "You are an expert AI industry researcher with access to real-time information."
        }
      },
      "id": "research-assistant",
      "name": "Research Assistant 🕵️",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        848,
        384
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowId": "hhrPJBK6pawieDvs"
      },
      "id": "perplexity-tool",
      "name": "Perplexity Research Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        984,
        608
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "combine-research",
      "name": "Combine All Research",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1200,
        508
      ]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "editor-llm",
      "name": "Editor LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1496,
        732
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "You are the Editor for AI news intelligence reports. Review all research findings and create a structured summary.\n\nTopic: {{ $('Research Settings').item.json.topic }}\n\nAnalyze all research findings and create a structured output with:\n\n1. **Executive Summary** (50 words max)\n2. **Key Developments** (3-5 bullet points)\n3. **Impact Assessment** (High/Medium/Low + explanation)\n4. **Notable Companies/Technologies** (comma-separated list)\n5. **Top Sources** (3 most credible sources with URLs)\n6. **Sentiment** (Positive/Neutral/Negative + brief reason)\n7. **Category** (Breakthrough/Industry News/Regulation/Market/Research/Other)\n\nFormat your response as JSON:\n{\n  \"topic\": \"...\",\n  \"date_researched\": \"{{ $now.format('YYYY-MM-DD') }}\",\n  \"executive_summary\": \"...\",\n  \"key_developments\": [\"...\", \"...\"],\n  \"impact_assessment\": \"...\",\n  \"notable_entities\": \"...\",\n  \"top_sources\": [\"...\", \"...\"],\n  \"sentiment\": \"...\",\n  \"category\": \"...\",\n  \"relevance_score\": 8\n}",
        "options": {}
      },
      "id": "editor",
      "name": "Editor ✍️",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1424,
        508
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process the editor's output and prepare for Google Sheets\nconst editorOutput = $input.first().json;\n\n// Try to parse the JSON response from the editor\nlet newsData;\ntry {\n  // If the editor returned a JSON string, parse it\n  if (typeof editorOutput.text === 'string') {\n    newsData = JSON.parse(editorOutput.text);\n  } else {\n    newsData = editorOutput;\n  }\n} catch (error) {\n  // Fallback if JSON parsing fails\n  newsData = {\n    topic: $('Research Settings').item.json.topic,\n    date_researched: new Date().toISOString().split('T')[0],\n    executive_summary: 'Research completed - see raw data',\n    key_developments: ['Processing error - check raw data'],\n    impact_assessment: 'Unknown',\n    notable_entities: 'N/A',\n    top_sources: ['N/A'],\n    sentiment: 'Neutral',\n    category: 'Other',\n    relevance_score: 5\n  };\n}\n\n// Format for Google Sheets\nconst sheetsData = {\n  Topic: newsData.topic || $('Research Settings').item.json.topic,\n  Date_Researched: newsData.date_researched || new Date().toISOString().split('T')[0],\n  Executive_Summary: newsData.executive_summary || 'N/A',\n  Key_Developments: Array.isArray(newsData.key_developments) ? \n    newsData.key_developments.join('; ') : \n    String(newsData.key_developments || 'N/A'),\n  Impact_Assessment: newsData.impact_assessment || 'N/A',\n  Notable_Entities: newsData.notable_entities || 'N/A',\n  Top_Sources: Array.isArray(newsData.top_sources) ? \n    newsData.top_sources.join('; ') : \n    String(newsData.top_sources || 'N/A'),\n  Sentiment: newsData.sentiment || 'Neutral',\n  Category: newsData.category || 'Other',\n  Relevance_Score: newsData.relevance_score || 5,\n  Status: 'Completed',\n  Raw_Research_Data: JSON.stringify(editorOutput, null, 2)\n};\n\nreturn [sheetsData];"
      },
      "id": "format-for-sheets",
      "name": "Format for Google Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1776,
        508
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_OUTPUT_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "AI_News_Results",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "save-to-sheets",
      "name": "Save AI News to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2000,
        632
      ]
    }
  ],
  "connections": {
    "Weekly AI News Research": {
      "main": [
        [
          {
            "node": "AI Topics to Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Topics to Research": {
      "main": [
        [
          {
            "node": "Process Each Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Topic": {
      "main": [
        [],
        [
          {
            "node": "Research Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Settings": {
      "main": [
        [
          {
            "node": "Research Leader 🔬",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Leader 🔬": {
      "main": [
        [
          {
            "node": "Project Planner 📊",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Planner 📊": {
      "main": [
        [
          {
            "node": "Split Research Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Research Tasks": {
      "main": [
        [
          {
            "node": "Research Assistant 🕵️",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine All Research",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Research Assistant 🕵️": {
      "main": [
        [
          {
            "node": "Combine All Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Research": {
      "main": [
        [
          {
            "node": "Editor ✍️",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor ✍️": {
      "main": [
        [
          {
            "node": "Format for Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Google Sheets": {
      "main": [
        [
          {
            "node": "Save AI News to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI News to Google Sheets": {
      "main": [
        [
          {
            "node": "Process Each Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Leader LLM": {
      "main": [
        []
      ],
      "ai_languageModel": [
        [
          {
            "node": "Research Leader 🔬",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Project Planner LLM": {
      "main": [
        []
      ],
      "ai_languageModel": [
        [
          {
            "node": "Project Planner 📊",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Research Tasks": {
      "main": [
        []
      ],
      "ai_outputParser": [
        [
          {
            "node": "Project Planner 📊",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Research Assistant LLM": {
      "main": [
        []
      ],
      "ai_languageModel": [
        [
          {
            "node": "Research Assistant 🕵️",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research Tool": {
      "main": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "Research Assistant 🕵️",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Editor LLM": {
      "main": [
        []
      ],
      "ai_languageModel": [
        [
          {
            "node": "Editor ✍️",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9bfcbe6c-fa72-4d57-8473-fcf698425c11",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-18T15:22:37.928Z",
      "createdAt": "2025-09-18T15:22:37.928Z",
      "role": "workflow:owner",
      "workflowId": "8OFU9V6arn1MSyIs",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": null,
  "tags": []
}