Backup_2025-12-04/Deep AI News Research & Annotation for Slack.json
{
  "updatedAt": "2025-09-17T18:46:18.000Z",
  "createdAt": "2025-09-17T18:43:50.603Z",
  "id": "mRIqGIqtwyGaASVM",
  "name": "Deep AI News Research & Annotation for Slack",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily AI News Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        128,
        428
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "readRows",
        "documentId": "YOUR_GOOGLE_SHEET_ID"
      },
      "id": "news-topics",
      "name": "AI News Topics to Monitor",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        352,
        428
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "workflow-settings",
      "name": "Research Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        576,
        428
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "You are the Research Leader for AI news analysis. Your role:\\n\\n1. Analyze the given AI news topic: {{ $json.topic }}\\n2. Break down the topic into 3-4 specific research areas\\n3. Identify key questions that need answering\\n4. Determine what types of sources would be most valuable\\n5. Create a research outline for the team\\n\\nFocus on:\\n- Recent developments (last {{ $('Research Settings').item.json.time_window }})\\n- Technical breakthroughs\\n- Industry impact\\n- Key players and companies\\n- Future implications\\n\\nProvide a structured research plan.",
        "options": {}
      },
      "id": "research-leader",
      "name": "🔬 Research Leader",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        800,
        428
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "You are the Project Planner. Based on the Research Leader's analysis:\\n\\n{{ $('🔬 Research Leader').item.json.output }}\\n\\nCreate specific research tasks:\\n1. Break the research into 3-4 focused subtopics\\n2. For each subtopic, specify:\\n   - Key search terms for Perplexity\\n   - Expected findings\\n   - Priority level\\n   - Research depth needed\\n\\nReturn as JSON array: [{\\\"subtopic\\\": \\\"\\\", \\\"search_terms\\\": \\\"\\\", \\\"priority\\\": \\\"\\\", \\\"depth\\\": \\\"\\\"}]",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "project-planner",
      "name": "📋 Project Planner",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1152,
        428
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split-tasks",
      "name": "Delegate Research Tasks",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1504,
        428
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "You are a Research Assistant specializing in: {{ $json.subtopic }}\\n\\nUsing the Perplexity tool, research:\\n- {{ $json.search_terms }}\\n- Focus on developments from the last {{ $('Research Settings').item.json.time_window }}\\n- Find {{ $('Research Settings').item.json.max_sources }} high-quality sources\\n- Include citations and links\\n\\nFor each finding, provide:\\n1. Summary of the development\\n2. Why it's significant\\n3. Source citation with URL\\n4. Key quotes or data points\\n5. Potential impact\\n\\nMake it comprehensive yet concise.",
        "options": {}
      },
      "id": "research-assistant",
      "name": "👥 Research Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1728,
        304
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-research",
      "name": "Compile Research",
      "type": "n8n-nodes-base.merge",
      "position": [
        2080,
        428
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "You are the Final Editor. Compile the research into a comprehensive AI news report.\\n\\nResearch data: {{ $json }}\\n\\nCreate a professional report with:\\n\\n# 📰 AI News Digest - {{ $now.format('YYYY-MM-DD') }}\\n\\n## 🎯 Executive Summary\\n[2-3 key takeaways]\\n\\n## 🔍 Deep Analysis\\n[For each research area, provide detailed analysis with citations]\\n\\n## 📊 Key Developments\\n[Bullet points of major news with sources]\\n\\n## 💡 Industry Impact\\n[Analysis of implications]\\n\\n## 🔗 Sources & Citations\\n[All sources with clickable links]\\n\\n## 📈 What to Watch\\n[Future trends and upcoming events]\\n\\nUse Slack markdown formatting. Make it engaging and professional.",
        "options": {}
      },
      "id": "final-editor",
      "name": "✍️ Final Editor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2304,
        428
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "text": "{{ $('✍️ Final Editor').item.json.output }}",
        "otherOptions": {}
      },
      "id": "slack-notification",
      "name": "📤 Send to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        2656,
        428
      ],
      "typeVersion": 2.3,
      "webhookId": "1f8cb958-85f2-4647-9a5a-69a34ae48744"
    },
    {
      "parameters": {
        "workflowId": "LPNdLWkdHow3Wvmw"
      },
      "id": "perplexity-tool-leader",
      "name": "Perplexity Research Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        936,
        652
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "workflowId": "LPNdLWkdHow3Wvmw"
      },
      "id": "perplexity-tool-assistant",
      "name": "Perplexity Research Tool Assistant",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1864,
        528
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.3
        }
      },
      "id": "openai-leader",
      "name": "OpenAI Chat Model Leader",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        808,
        652
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {
          "maxTokens": 1500,
          "temperature": 0.2
        }
      },
      "id": "openai-planner",
      "name": "OpenAI Chat Model Planner",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1160,
        652
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {
          "maxTokens": 3000,
          "temperature": 0.4
        }
      },
      "id": "openai-assistant",
      "name": "OpenAI Chat Model Assistant",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1736,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {
          "maxTokens": 4000,
          "temperature": 0.1
        }
      },
      "id": "openai-editor",
      "name": "OpenAI Chat Model Editor",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2376,
        652
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchema": "{\\n  \\\"type\\\": \\\"array\\\",\\n  \\\"items\\\": {\\n    \\\"type\\\": \\\"object\\\",\\n    \\\"properties\\\": {\\n      \\\"subtopic\\\": {\\\"type\\\": \\\"string\\\"},\\n      \\\"search_terms\\\": {\\\"type\\\": \\\"string\\\"},\\n      \\\"priority\\\": {\\\"type\\\": \\\"string\\\"},\\n      \\\"depth\\\": {\\\"type\\\": \\\"string\\\"}\\n    }\\n  }\\n}"
      },
      "id": "structured-parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1288,
        652
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Daily AI News Schedule": {
      "main": [
        [
          {
            "node": "AI News Topics to Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News Topics to Monitor": {
      "main": [
        [
          {
            "node": "Research Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Settings": {
      "main": [
        [
          {
            "node": "🔬 Research Leader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔬 Research Leader": {
      "main": [
        [
          {
            "node": "📋 Project Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Project Planner": {
      "main": [
        [
          {
            "node": "Delegate Research Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delegate Research Tasks": {
      "main": [
        [
          {
            "node": "👥 Research Assistant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compile Research",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "👥 Research Assistant": {
      "main": [
        [
          {
            "node": "Compile Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Research": {
      "main": [
        [
          {
            "node": "✍️ Final Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Final Editor": {
      "main": [
        [
          {
            "node": "📤 Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research Tool": {
      "main": [],
      "ai_tool": [
        [
          {
            "node": "🔬 Research Leader",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research Tool Assistant": {
      "main": [],
      "ai_tool": [
        [
          {
            "node": "👥 Research Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Leader": {
      "main": [],
      "ai_languageModel": [
        [
          {
            "node": "🔬 Research Leader",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Planner": {
      "main": [],
      "ai_languageModel": [
        [
          {
            "node": "📋 Project Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Assistant": {
      "main": [],
      "ai_languageModel": [
        [
          {
            "node": "👥 Research Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Editor": {
      "main": [],
      "ai_languageModel": [
        [
          {
            "node": "✍️ Final Editor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "main": [],
      "ai_outputParser": [
        [
          {
            "node": "📋 Project Planner",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "18b495a8-23d9-453d-9a7a-68520d766429",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-17T18:43:50.605Z",
      "createdAt": "2025-09-17T18:43:50.605Z",
      "role": "workflow:owner",
      "workflowId": "mRIqGIqtwyGaASVM",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": null,
  "tags": []
}