Backup_2025-12-04/My workflow 25.json
{
  "updatedAt": "2025-12-04T11:14:34.000Z",
  "createdAt": "2025-12-04T11:10:33.950Z",
  "id": "DWpYaB3cE0qNfk3A",
  "name": "My workflow 25",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        -48
      ],
      "id": "a1e4c9e7-6fd5-482d-8ea7-60621613db1a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "PVBYRWE8EuuYgdi8",
          "mode": "list",
          "cachedResultName": "Name",
          "cachedResultUrl": "/projects/iOyc3VpWKvgHH9fv/datatables/PVBYRWE8EuuYgdi8"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "Raju"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        176,
        -144
      ],
      "id": "dd1eeecb-115c-4f1a-a2a9-7e5de0e9cc35",
      "name": "If row exists"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "PVBYRWE8EuuYgdi8",
          "mode": "list",
          "cachedResultName": "Name",
          "cachedResultUrl": "/projects/iOyc3VpWKvgHH9fv/datatables/PVBYRWE8EuuYgdi8"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "Raju"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        160,
        160
      ],
      "id": "94353bdc-b961-46bb-bc8d-141636cffe04",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PVBYRWE8EuuYgdi8",
          "mode": "list",
          "cachedResultName": "Name",
          "cachedResultUrl": "/projects/iOyc3VpWKvgHH9fv/datatables/PVBYRWE8EuuYgdi8"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "Raju"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        144,
        0
      ],
      "id": "7df3ce29-9952-4b27-872b-ae4d7eeaadb4",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b9cc265-b1a0-48a0-995d-e802737b0919",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        0
      ],
      "id": "956cefdc-3677-48a7-816b-4418c61c06c1",
      "name": "If"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "523dcfa0-c4fe-4104-ba07-931ccc1bbff2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-04T11:10:33.954Z",
      "createdAt": "2025-12-04T11:10:33.954Z",
      "role": "workflow:owner",
      "workflowId": "DWpYaB3cE0qNfk3A",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": null,
  "tags": []
}