Backup_2025-12-03/69 Facebook Prod Access.json
{
  "updatedAt": "2025-12-02T12:58:12.000Z",
  "createdAt": "2025-12-02T12:25:10.506Z",
  "id": "lKTvJVy2S3GTKyxq",
  "name": "69 Facebook Prod Access",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "fb-prod",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        384
      ],
      "id": "252210b3-6068-4990-b4fa-63a8ed616a8f",
      "name": "Webhook",
      "webhookId": "267b007d-eae1-4696-9fcc-5607b9b01607"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3d1b4f5f-ec21-41b4-b820-c1882115ab65",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "4c7e8b61-35ae-46a7-a848-4f9323d85e3e",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "lakshit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        288,
        288
      ],
      "id": "0375f57a-7097-4582-afcf-7036c4d4a50d",
      "name": "confirm webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook').item.json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        288
      ],
      "id": "36ca89a7-8e98-40bb-bda0-c273cba0bcad",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f89c5f4-41db-4d0e-804c-0b0d53beeb35",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        96,
        480
      ],
      "id": "07351015-4e1f-4d65-9fab-30b9f982c370",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "## Configure Webhook and Send message",
        "height": 608,
        "width": 1312
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        224
      ],
      "id": "cc4dfcca-2aed-43ae-a656-692c4281e354",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Filter').item.json.body.entry[0].messaging[0].message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        352,
        480
      ],
      "id": "9c831441-612c-4843-ac6f-532c7b3c38d4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        336,
        688
      ],
      "id": "fabc20d7-bf14-4c40-9cfc-b17d2717d2b0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filter').item.json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        688
      ],
      "id": "b12fbb7c-7d00-4fc1-9b14-a864867ab9e1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAWCLluK0GMBQKkzsDZBcluee2ZBeE0fqRgZBSIEwpvaszu3SXi8EAT6dT4jSp3vYJsv2XAgzCv7IDtcMQODZAq2uSRAOr1YQEYZC1ZBqCPgDnJdVEqPZCMtKtslVaIgMCeEYZBPulzqJZBHGV1NiWVRDAOGzvhOoB5AUatv6Qh5OWU17XENnI10ZCdsQhy0AVZCzCYKU3BaOp7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $json.output }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        480
      ],
      "id": "5735b745-362d-4d8c-be0e-a2e9188474d8",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "confirm webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "confirm webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1331cc96-9509-46ce-9130-c1e7b43da83c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-02T12:25:10.512Z",
      "createdAt": "2025-12-02T12:25:10.512Z",
      "role": "workflow:owner",
      "workflowId": "lKTvJVy2S3GTKyxq",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "tags": []
}