Backup_2026-03-12/My workflow 22.json
{
  "updatedAt": "2025-11-12T11:49:38.000Z",
  "createdAt": "2025-11-04T12:14:40.530Z",
  "id": "TU47qNpLcNIJqEia",
  "name": "My workflow 22",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -128
      ],
      "id": "67e30e4f-2ff4-4c48-95ee-4bad8047ed96",
      "name": "WhatsApp Trigger",
      "webhookId": "98f342cc-be97-4f0d-b392-84a090fa0c54",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "nQbla4DtMJIZMbEt",
          "name": "n8n-test-2 account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "902774616244718",
        "recipientPhoneNumber": "+918655991300",
        "textBody": "success",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -48,
        -384
      ],
      "id": "9ad22dac-ba79-43cf-b818-21d4c8680e69",
      "name": "Send message",
      "webhookId": "9b0d0ed7-0bc0-4573-b721-4c7b6d26882f",
      "credentials": {
        "whatsAppApi": {
          "id": "zAQmVpCrZLBDEXhy",
          "name": "n8n-test-2 Temporary Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "902774616244718",
        "recipientPhoneNumber": "+918655991300",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        320,
        -128
      ],
      "id": "2ab99bee-8df6-4a42-8fc2-feaa74f5b405",
      "name": "Send message Permanent",
      "webhookId": "4b4e3ec7-11cf-4787-a365-9534fced36ba",
      "credentials": {
        "whatsAppApi": {
          "id": "thvpZi3FhCLOv0FX",
          "name": "n8n-test-2 Permanent Token"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are a helpful assistant that helps us provide a warm and welcoming message that we get from a WhatsApp. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -144,
        -128
      ],
      "id": "121f6437-ca5e-445d-aff5-7bb58900781f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -288,
        80
      ],
      "id": "71c058fd-813d-49d1-b30d-b6ecc7e98bb7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message Permanent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6e195662-6898-42ed-b29d-13bb68a559c3",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-04T12:14:40.535Z",
      "createdAt": "2025-11-04T12:14:40.535Z",
      "role": "workflow:owner",
      "workflowId": "TU47qNpLcNIJqEia",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": null,
  "tags": []
}