Backup_2026-07-10/Meeting Workflow.json
{"updatedAt":"2026-07-10T11:24:40.593Z","createdAt":"2026-07-09T13:02:58.620Z","id":"R6QbsvOZSejrRWUp","name":"Meeting Workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatsyncs-meeting","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-64],"id":"09d6bf1e-f527-4772-ad5e-decad23ca3b3","name":"Webhook","webhookId":"c5abcbf8-d5f8-4496-943b-aae1bd1f1264"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"20643|6LrLpky5HyrPVvCN50zKEAQQ0gNEqoBA76VP5f9Pfb369128"},{"name":"phone_number_id","value":"1063767660153351"},{"name":"template_id","value":"405729"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"templateVariable-time-2","value":"={{ $json.durationFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDate }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $json.customerPhone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[528,384],"id":"f26b20e6-2b54-4024-945a-c40e28999c4e","name":"Reminder"},{"parameters":{"content":"## ChatSyncs Meeting Confirmed\nTODO -  Send confirmation to rahul, mosmi and lakshit","height":80,"width":736},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,-256],"id":"7b5d82ab-b039-44e4-b219-f9685fd2df66","name":"Sticky Note"},{"parameters":{"content":"## ChatSyncs Reminder\n- Completely with n8n Schdeule\n- Partial n8n + whatsapp sequence\n\nTODO -  Send reminder to rahul, mosmi and lakshit","height":128,"width":1056},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-368,208],"id":"237acbeb-8396-44ee-8936-b7888f5a438c","name":"Sticky Note1"},{"parameters":{"content":"## No Show reminder","height":80,"width":1056},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,608],"id":"efb3e5a5-f62d-4872-b2f5-308125a8d837","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"20643|6LrLpky5HyrPVvCN50zKEAQQ0gNEqoBA76VP5f9Pfb369128"},{"name":"phone_number_id","value":"1063767660153351"},{"name":"template_id","value":"405725"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDate }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTime }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $json.customerPhone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[64,-64],"id":"b466a0bc-b3d2-4b1a-abd8-35a438f47595","name":"meeting confirm template call"},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  // Webhook data can arrive nested under `body` or flat\n  const payload = item.json.body?.payload ?? item.json.payload;\n\n  const attendee = payload.attendees?.[0] ?? {};\n  const tz = attendee.timeZone || payload.organizer?.timeZone || 'Asia/Kolkata';\n\n  const start = new Date(payload.startTime);\n\n  // Format in the attendee's own timezone\n  const meetingDate = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start); // → \"10 July 2026\"\n\n  const meetingTime = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start); // → \"3:00 pm\"\n\n  const meetingLink =\n    payload.videoCallData?.url ||\n    payload.metadata?.videoCallUrl ||\n    payload.location ||\n    '';\n\n  // WhatsApp API wants digits only, no \"+\"\n  const rawPhone = attendee.phoneNumber || payload.responses?.attendeePhoneNumber?.value || '';\n  const phone = rawPhone.replace(/\\D/g, '');\n\n  results.push({\n    json: {\n      triggerEvent: item.json.body?.triggerEvent ?? item.json.triggerEvent,\n      bookingId: payload.bookingId,\n      bookingUid: payload.uid,\n      status: payload.status,\n\n      customerName: attendee.firstName || attendee.name || 'there',\n      customerEmail: attendee.email || '',\n      customerPhone: phone,\n\n      meetingTitle: payload.eventTypeTitle || payload.title,\n      meetingDate,\n      meetingTime,\n      meetingLink,\n      timeZone: tz,\n\n      startTimeISO: payload.startTime,\n      endTimeISO: payload.endTime,\n      durationMinutes: payload.length,\n      agenda: payload.userFieldsResponses?.['Call-Agenda']?.value || '',\n    },\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-64],"id":"71fa2348-dbb9-45dc-9816-c33e22876e25","name":"refine data "},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"admin@chatsyncs.com","mode":"list","cachedResultName":"admin@chatsyncs.com"},"returnAll":true,"timeMax":"={{ $now.plus({ hour: 2 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[928,224],"id":"7a4d6a77-4b65-47d8-9ce0-63144e2adcd8","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"M9kY3aUfgV3DQhS7","name":"ChatSyncs Google Calendar"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/15 9-21 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-320,384],"id":"878de64d-939d-4b9c-840d-0e9080f811fa","name":"Run every 15min from 9am to 10pm"},{"parameters":{"jsCode":"// --- Config ---\nconst WINDOWS = [\n  { label: '15_min', fromMin: 0,  toMin: 15 },\n  { label: '60_min', fromMin: 58, toMin: 73 },\n];\n\nconst SKIP_DECLINED = true;\nconst DEFAULT_TZ = 'Asia/Kolkata';   // fallback if event omits timeZone\n\nconst PHONE_RE = /\\+\\d[\\d\\s\\-().]{6,}\\d/;\nconst EMAIL_RE = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst PLACEHOLDER_RE = /^(guest|organizer|attendee)$/i;\n\nfunction parsePeopleByEmail(description) {\n  const map = {};\n  if (!description) return map;\n\n  const lines = description.split('\\n').map(l => l.trim());\n  let pending = null;\n\n  for (const line of lines) {\n    if (!line) continue;\n\n    if (EMAIL_RE.test(line)) {\n      const key = line.toLowerCase();\n      if (pending) {\n        const prev = map[key];\n        map[key] = {\n          name:  pending.name  || prev?.name  || null,\n          phone: pending.phone || prev?.phone || null,\n        };\n      } else if (!map[key]) {\n        map[key] = { name: null, phone: null };\n      }\n      pending = null;\n      continue;\n    }\n\n    const m = line.match(PHONE_RE);\n    const phone = m ? m[0].replace(/[\\s\\-().]/g, '') : null;\n\n    let name = (m ? line.slice(0, m.index) : line)\n      .replace(/[-–—:]\\s*$/, '')\n      .replace(/\\s*[-–—]\\s*Organizer$/i, '')\n      .trim();\n\n    if (!name || PLACEHOLDER_RE.test(name)) name = null;\n\n    pending = { name, phone };\n  }\n\n  return map;\n}\n\n// --- Date/time helpers (all timezone-aware) ---\nconst fmt = (date, tz, opts) =>\n  new Intl.DateTimeFormat('en-IN', { timeZone: tz, ...opts }).format(date);\n\n// \"1:00 pm\"\nconst timeStr = (d, tz) =>\n  fmt(d, tz, { hour: 'numeric', minute: '2-digit', hour12: true })\n    .replace(/\\s?(AM|PM)/i, s => ' ' + s.trim().toLowerCase());\n\n// \"10 July 2026\"\nconst dateStr = (d, tz) =>\n  fmt(d, tz, { day: 'numeric', month: 'long', year: 'numeric' });\n\n// \"Friday\"\nconst dayStr = (d, tz) => fmt(d, tz, { weekday: 'long' });\n\n// \"2026-07-10\" — for grouping / DB keys\nconst isoDate = (d, tz) => fmt(d, tz, { year: 'numeric', month: '2-digit', day: '2-digit' })\n  .split('/').reverse().join('-');\n\n// 75 -> \"1 hour 15 minutes\"\nfunction humanDuration(totalMin) {\n  const mins = Math.max(0, Math.round(totalMin));\n  const h = Math.floor(mins / 60);\n  const m = mins % 60;\n  const parts = [];\n  if (h) parts.push(`${h} hour${h > 1 ? 's' : ''}`);\n  if (m) parts.push(`${m} minute${m > 1 ? 's' : ''}`);\n  return parts.join(' ') || '0 minutes';\n}\n\nconst now = Date.now();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const ev = item.json;\n\n  if (ev.status && ev.status !== 'confirmed') continue;\n\n  const startRaw = ev.start?.dateTime;\n  if (!startRaw) continue;\n\n  const startMs = new Date(startRaw).getTime();\n  if (Number.isNaN(startMs)) continue;\n  if (startMs <= now) continue;\n\n  if (SKIP_DECLINED) {\n    const self = (ev.attendees || []).find(a => a.self);\n    if (self && self.responseStatus === 'declined') continue;\n  }\n\n  const minutesUntil = (startMs - now) / 60000;\n  const win = WINDOWS.find(w => minutesUntil >= w.fromMin && minutesUntil < w.toMin);\n  if (!win) continue;\n\n  const tz = ev.start?.timeZone || DEFAULT_TZ;\n  const startDate = new Date(startMs);\n  const endRaw = ev.end?.dateTime || null;\n  const endDate = endRaw ? new Date(endRaw) : null;\n\n  const durationMin = endDate ? (endDate - startDate) / 60000 : null;\n  const minsLeft = Math.round(minutesUntil);\n\n  // \"Today\" / \"Tomorrow\" / \"Friday\" — relative to the event's own timezone\n  const todayKey = isoDate(new Date(now), tz);\n  const eventKey = isoDate(startDate, tz);\n  const tomorrowKey = isoDate(new Date(now + 86400000), tz);\n  const relativeDay =\n    eventKey === todayKey ? 'Today'\n    : eventKey === tomorrowKey ? 'Tomorrow'\n    : dayStr(startDate, tz);\n\n  const people = parsePeopleByEmail(ev.description);\n\n  const guests = (ev.attendees || [])\n    .filter(a => !a.self)\n    .map(a => {\n      const info = people[a.email?.toLowerCase()] || {};\n      return {\n        name: info.name || null,\n        email: a.email,\n        phone: info.phone || null,\n        responseStatus: a.responseStatus || null,\n      };\n    });\n\n  const primary =\n    guests.find(g => g.phone) || guests.find(g => g.name) || guests[0] || null;\n\n  out.push({\n    json: {\n      reminderType: win.label,\n      eventId: ev.id,\n      title: ev.summary,\n\n      // --- Person ---\n      inviteeName: primary?.name || null,\n      inviteeEmail: primary?.email || null,\n      inviteePhone: primary?.phone || null,\n      hasPhone: Boolean(primary?.phone),\n\n      // --- Formatted for messaging ---\n      startTimeFormatted: timeStr(startDate, tz),          // \"1:00 pm\"\n      endTimeFormatted: endDate ? timeStr(endDate, tz) : null,\n      dateFormatted: dateStr(startDate, tz),               // \"10 July 2026\"\n      dayOfWeek: dayStr(startDate, tz),                    // \"Friday\"\n      relativeDay,                                         // \"Today\"\n      durationFormatted: durationMin ? humanDuration(durationMin) : null,\n      startsInFormatted: humanDuration(minsLeft),          // \"1 hour 13 minutes\"\n\n      // --- Raw, for logic downstream ---\n      minutesUntil: minsLeft,\n      durationMinutes: durationMin,\n      startTime: startRaw,\n      endTime: endRaw,\n      eventDate: eventKey,                                 // \"2026-07-10\"\n      timeZone: tz,\n\n      meetLink: ev.hangoutLink || ev.location || null,\n      description: ev.description || '',\n      attendees: guests,\n      htmlLink: ev.htmlLink,\n    },\n  });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,224],"id":"4209e1b9-b46a-4424-bc13-31fd4b732ba5","name":"Code in JavaScript"},{"parameters":{"url":"https://api.cal.com/v2/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"50"},{"name":"status","value":"upcoming"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"cal_live_c2d6c9d19240980867342eb7bf07c558"},{"name":"cal-api-version","value":"2026-05-01"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-96,384],"id":"41549028-c49b-48d5-a79f-f97a4072c4e5","name":"Upcoming Cal Meeting"},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  // Handles: {status, data: [...]}, {data: [...]}, or a bare booking object\n  const bookings = item.json.data ?? (Array.isArray(item.json) ? item.json : [item.json]);\n\n  for (const b of bookings) {\n    // Guests get pushed into attendees[] with empty names and no phone.\n    // The real booker is the one with a phoneNumber, or failing that, a name.\n    const attendee =\n      b.attendees?.find((a) => a.phoneNumber) ||\n      b.attendees?.find((a) => a.name) ||\n      b.attendees?.[0] ||\n      {};\n\n    const fields = b.bookingFieldsResponses ?? {};\n    const host = b.hosts?.[0] ?? {};\n    const tz = attendee.timeZone || host.timeZone || 'Asia/Kolkata';\n\n    const start = new Date(b.start);\n\n    const meetingDate = new Intl.DateTimeFormat('en-IN', {\n      timeZone: tz,\n      day: 'numeric',\n      month: 'long',\n      year: 'numeric',\n    }).format(start);\n\n    const meetingTime = new Intl.DateTimeFormat('en-IN', {\n      timeZone: tz,\n      hour: 'numeric',\n      minute: '2-digit',\n      hour12: true,\n    }).format(start);\n\n    const rawPhone = attendee.phoneNumber || fields.attendeePhoneNumber || '';\n    const phone = rawPhone.replace(/\\D/g, '');\n\n    // Agenda field name varies per event type\n    const agenda =\n      fields['Call-Agenda'] ||\n      fields['What-you-expect-out-of-call'] ||\n      fields.notes ||\n      b.description ||\n      '';\n\n    results.push({\n      json: {\n        bookingId: b.id,\n        bookingUid: b.uid,\n        status: b.status,\n\n        customerName: attendee.name || fields.name || 'there',\n        customerEmail: attendee.email || fields.email || '',\n        customerPhone: phone,\n\n        meetingTitle: b.title,\n        eventTypeSlug: b.eventType?.slug || '',\n        meetingDate,\n        meetingTime,\n        meetingLink: b.meetingUrl || b.location || '',\n        timeZone: tz,\n\n        startTimeISO: b.start,\n        endTimeISO: b.end,\n        durationMinutes: b.duration,\n        agenda,\n\n        hostName: host.name || '',\n        hostEmail: host.email || '',\n        guests: b.guests ?? [],\n      },\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,384],"id":"e485271f-0f71-4f74-a8c8-1e24c29eba9b","name":"Proper Format"},{"parameters":{"jsCode":"// --- Config ---\nconst WINDOWS = [\n  { label: '15_min', fromMin: 0,  toMin: 15 },\n  { label: '60_min', fromMin: 58, toMin: 70 },\n];\n\nconst VALID_STATUSES = ['accepted'];   // Cal.com: accepted | pending | cancelled | rejected\nconst DEFAULT_TZ = 'Asia/Kolkata';\n\n// --- Helpers ---\nconst fmt = (d, tz, opts) => new Intl.DateTimeFormat('en-IN', { timeZone: tz, ...opts }).format(d);\n\nconst dayStr  = (d, tz) => fmt(d, tz, { weekday: 'long' });\nconst isoDate = (d, tz) =>\n  fmt(d, tz, { year: 'numeric', month: '2-digit', day: '2-digit' }).split('/').reverse().join('-');\n\nfunction humanDuration(totalMin) {\n  const mins = Math.max(0, Math.round(totalMin));\n  const h = Math.floor(mins / 60);\n  const m = mins % 60;\n  const parts = [];\n  if (h) parts.push(`${h} hour${h > 1 ? 's' : ''}`);\n  if (m) parts.push(`${m} minute${m > 1 ? 's' : ''}`);\n  return parts.join(' ') || '0 minutes';\n}\n\nconst now = Date.now();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const b = item.json;\n\n  if (!VALID_STATUSES.includes(b.status)) continue;\n\n  if (!b.startTimeISO) continue;\n  const startMs = new Date(b.startTimeISO).getTime();\n  if (Number.isNaN(startMs) || startMs <= now) continue;\n\n  const minutesUntil = (startMs - now) / 60000;\n  const win = WINDOWS.find(w => minutesUntil >= w.fromMin && minutesUntil < w.toMin);\n  if (!win) continue;\n\n  const tz = b.timeZone || DEFAULT_TZ;\n  const startDate = new Date(startMs);\n  const minsLeft = Math.round(minutesUntil);\n\n  const todayKey    = isoDate(new Date(now), tz);\n  const tomorrowKey = isoDate(new Date(now + 86400000), tz);\n  const eventKey    = isoDate(startDate, tz);\n  const relativeDay =\n    eventKey === todayKey ? 'Today'\n    : eventKey === tomorrowKey ? 'Tomorrow'\n    : dayStr(startDate, tz);\n\n  // Guests list repeats the customer's own email — drop it.\n  const otherGuests = (b.guests || []).filter(\n    g => g.toLowerCase() !== (b.customerEmail || '').toLowerCase()\n  );\n\n  out.push({\n    json: {\n      reminderType: win.label,\n      bookingId: b.bookingId,\n      bookingUid: b.bookingUid,\n      eventTypeSlug: b.eventTypeSlug,\n      title: b.meetingTitle,\n\n      // --- Person ---\n      customerName: b.customerName || null,\n      customerEmail: b.customerEmail || null,\n      customerPhone: b.customerPhone || null,\n      hasPhone: Boolean(b.customerPhone),\n\n      // --- Formatted for messaging ---\n      meetingDate: b.meetingDate,                       // \"10 July 2026\"\n      meetingTime: b.meetingTime,                       // \"2:30 pm\"\n      dayOfWeek: dayStr(startDate, tz),                 // \"Friday\"\n      relativeDay,                                      // \"Today\"\n      durationFormatted: humanDuration(b.durationMinutes),\n      startsInFormatted: humanDuration(minsLeft),       // \"1 hour 2 minutes\"\n\n      // --- Raw, for logic downstream ---\n      minutesUntil: minsLeft,\n      durationMinutes: b.durationMinutes,\n      startTimeISO: b.startTimeISO,\n      endTimeISO: b.endTimeISO,\n      eventDate: eventKey,                              // \"2026-07-10\"\n      timeZone: tz,\n\n      meetingLink: b.meetingLink || null,\n      agenda: b.agenda || '',\n      hostName: b.hostName,\n      hostEmail: b.hostEmail,\n      guests: otherGuests,\n\n      dedupeKey: `${b.bookingUid}:${win.label}`,\n    },\n  });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,384],"id":"6219b1d7-4bff-4046-b02f-60ab1c168735","name":"Time window Filter"}],"connections":{"Webhook":{"main":[[{"node":"refine data ","type":"main","index":0}]]},"meeting confirm template call":{"main":[[]]},"refine data ":{"main":[[{"node":"meeting confirm template call","type":"main","index":0}]]},"Run every 15min from 9am to 10pm":{"main":[[{"node":"Upcoming Cal Meeting","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Upcoming Cal Meeting":{"main":[[{"node":"Proper Format","type":"main","index":0}]]},"Proper Format":{"main":[[{"node":"Time window Filter","type":"main","index":0}]]},"Time window Filter":{"main":[[{"node":"Reminder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Run every 15min from 9am to 10pm":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv894857.hstgr.cloud","user-agent":"node","content-length":"3232","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","x-cal-signature-256":"no-secret-provided","x-cal-webhook-version":"2021-10-20","x-forwarded-for":"5.60.65.64","x-forwarded-host":"n8n.srv894857.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2e77aa5d919","x-real-ip":"5.60.65.64"},"params":{},"query":{},"body":{"triggerEvent":"BOOKING_CREATED","createdAt":"2026-07-09T13:10:27.083Z","payload":{"bookerUrl":"https://cal.com","title":"Support Call 60 Minutes between ChatSyncs Team and Lakshit","startTime":"2026-07-10T09:30:00.000Z","endTime":"2026-07-10T10:30:00.000Z","additionalNotes":"","type":"support-call-60-min","eventTypeTitle":"Support Call 60 Minutes","description":"","eventTypeId":6260020,"hideCalendarNotes":false,"hideCalendarEventDetails":false,"privateNoteEnabled":false,"privateNoteMode":null,"privateNoteTemplate":null,"hideOrganizerEmail":false,"schedulingType":null,"seatsPerTimeSlot":null,"seatsShowAttendees":true,"seatsShowAvailabilityCount":true,"customReplyToEmail":null,"disableRescheduling":false,"disableReschedulingScope":"HOST_AND_ATTENDEE","disableCancelling":false,"disableCancellingScope":"HOST_AND_ATTENDEE","organizer":{"id":2952413,"name":"ChatSyncs Team","email":"admin@chatsyncs.com","username":"chatsyncs","timeZone":"Asia/Calcutta","language":{"locale":"en"},"timeFormat":"h:mma","utcOffset":330},"attendees":[{"name":"Lakshit","email":"lakshitukani77@gmail.com","timeZone":"Asia/Calcutta","language":{"locale":"en"},"phoneNumber":"+919987749950","bookingSeat":null,"utcOffset":330,"firstName":"Lakshit","lastName":""}],"customInputs":{},"responses":{"name":{"label":"your_name","value":"Lakshit","isHidden":false},"email":{"label":"email_address","value":"lakshitukani77@gmail.com","isHidden":false},"attendeePhoneNumber":{"label":"phone_number","value":"+919987749950","isHidden":false},"location":{"label":"location","value":{"value":"integrations:google:meet","optionValue":""},"isHidden":false},"Call-Agenda":{"label":"Call Agenda","value":"Agenda:\n1. Understand how chatsyncs work","isHidden":false},"title":{"label":"what_is_this_meeting_about","isHidden":true},"notes":{"label":"additional_notes","isHidden":true},"guests":{"label":"additional_guests","value":[],"isHidden":false},"rescheduleReason":{"label":"reason_for_reschedule","isHidden":false}},"userFieldsResponses":{"Call-Agenda":{"label":"Call Agenda","value":"Agenda:\n1. Understand how chatsyncs work","isHidden":false}},"location":"integrations:google:meet","iCalUID":"cgVredcS8XsU1hww7fEwTb@Cal.com","iCalSequence":0,"requiresConfirmation":false,"oneTimePassword":null,"platformClientId":"","platformRescheduleUrl":"","platformCancelUrl":"","platformBookingUrl":"","uid":"cgVredcS8XsU1hww7fEwTb","organizationId":null,"hashedLink":null,"cancellationReason":null,"rejectionReason":null,"hideBranding":false,"videoCallData":{"type":"google_meet_video","id":"","password":"","url":"https://meet.google.com/tqm-bubr-szy"},"appsStatus":[{"appName":"Google Calendar","type":"google_calendar","success":1,"failures":0,"errors":[]},{"appName":"Google Meet","type":"google_meet_video","success":1,"failures":0,"errors":[]}],"destinationCalendar":[{"id":1425054,"integration":"google_calendar","externalId":"admin@chatsyncs.com","primaryEmail":"admin@chatsyncs.com","userId":2952413,"credentialId":2303461}],"bookingId":22257386,"status":"ACCEPTED","eventTitle":"Support Call 60 Minutes","eventDescription":"","price":0,"currency":"usd","length":60,"assignmentReason":[],"metadata":{"videoCallUrl":"https://meet.google.com/tqm-bubr-szy"}}},"webhookUrl":"https://n8n.srv894857.hstgr.cloud/webhook/chatsyncs-meeting","executionMode":"production"},"pairedItem":{"item":0}}],"Code in JavaScript":[{"json":{"reminderType":"60_min","eventId":"_csp4el2nahb7iganeks5irbgc5s5egri75h40gr1dgn66rrd","title":"Support Call 15 Minutes between ChatSyncs Team and Lakshit","inviteeName":"Lakshit","inviteeEmail":"lakshitukani77@gmail.com","inviteePhone":"+919987749950","hasPhone":true,"startTimeFormatted":"1:00 pm","endTimeFormatted":"1:15 pm","dateFormatted":"10 July 2026","dayOfWeek":"Friday","relativeDay":"Today","durationFormatted":"15 minutes","startsInFormatted":"1 hour 3 minutes","minutesUntil":63,"durationMinutes":15,"startTime":"2026-07-10T13:00:00+05:30","endTime":"2026-07-10T13:15:00+05:30","eventDate":"2026-07-10","timeZone":"Asia/Kolkata","meetLink":"https://meet.google.com/brf-gkwm-rbh","description":"What:\nSupport Call 15 Minutes between ChatSyncs Team and Lakshit\n\nInvitee timezone:\nAsia/Calcutta\n\nWho:\nChatSyncs Team - Organizer\nadmin@chatsyncs.com\nLakshit - +919987749950\nlakshitukani77@gmail.com\n\nWhere:\nhttps://meet.google.com/brf-gkwm-rbh\n\nCall Agenda:\nSome agenda\n  \n\nNeed to reschedule or cancel? https://cal.com/booking/g2GTWTVyAWu8YmpaxWCr9b?changes=true","attendees":[{"name":"Lakshit","email":"lakshitukani77@gmail.com","phone":"+919987749950","responseStatus":"needsAction"}],"htmlLink":"https://www.google.com/calendar/event?eid=X2NzcDRlbDJuYWhiN2lnYW5la3M1aXJiZ2M1czVlZ3JpNzVoNDBncjFkZ242NnJyZCBhZG1pbkBjaGF0c3luY3MuY29t"}}]},"versionId":"e2957f10-5f3b-435e-84ba-3a323181b8d2","activeVersionId":"e2957f10-5f3b-435e-84ba-3a323181b8d2","triggerCount":2,"shared":[{"updatedAt":"2026-07-09T13:02:58.632Z","createdAt":"2026-07-09T13:02:58.632Z","role":"workflow:owner","workflowId":"R6QbsvOZSejrRWUp","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-07-10T11:24:45.000Z","createdAt":"2026-07-10T11:24:40.595Z","versionId":"e2957f10-5f3b-435e-84ba-3a323181b8d2","workflowId":"R6QbsvOZSejrRWUp","nodes":[{"parameters":{"httpMethod":"POST","path":"chatsyncs-meeting","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-64],"id":"09d6bf1e-f527-4772-ad5e-decad23ca3b3","name":"Webhook","webhookId":"c5abcbf8-d5f8-4496-943b-aae1bd1f1264"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"20643|6LrLpky5HyrPVvCN50zKEAQQ0gNEqoBA76VP5f9Pfb369128"},{"name":"phone_number_id","value":"1063767660153351"},{"name":"template_id","value":"405729"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"templateVariable-time-2","value":"={{ $json.durationFormatted }}"},{"name":"templateVariable-date-3","value":"={{ $json.meetingDate }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $json.customerPhone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[528,384],"id":"f26b20e6-2b54-4024-945a-c40e28999c4e","name":"Reminder"},{"parameters":{"content":"## ChatSyncs Meeting Confirmed\nTODO -  Send confirmation to rahul, mosmi and lakshit","height":80,"width":736},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,-256],"id":"7b5d82ab-b039-44e4-b219-f9685fd2df66","name":"Sticky Note"},{"parameters":{"content":"## ChatSyncs Reminder\n- Completely with n8n Schdeule\n- Partial n8n + whatsapp sequence\n\nTODO -  Send reminder to rahul, mosmi and lakshit","height":128,"width":1056},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-368,208],"id":"237acbeb-8396-44ee-8936-b7888f5a438c","name":"Sticky Note1"},{"parameters":{"content":"## No Show reminder","height":80,"width":1056},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,608],"id":"efb3e5a5-f62d-4872-b2f5-308125a8d837","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send/template","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"20643|6LrLpky5HyrPVvCN50zKEAQQ0gNEqoBA76VP5f9Pfb369128"},{"name":"phone_number_id","value":"1063767660153351"},{"name":"template_id","value":"405725"},{"name":"template_quick_reply_button_values","value":"[KA7k19h6Bkuldyf]"},{"name":"templateVariable-name-1","value":"={{ $json.customerName }}"},{"name":"templateVariable-date-2","value":"={{ $json.meetingDate }}"},{"name":"templateVariable-time-3","value":"={{ $json.meetingTime }}"},{"name":"templateVariable-link-4","value":"={{ $json.meetingLink }}"},{"name":"phone_number","value":"={{ $json.customerPhone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[64,-64],"id":"b466a0bc-b3d2-4b1a-abd8-35a438f47595","name":"meeting confirm template call"},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  // Webhook data can arrive nested under `body` or flat\n  const payload = item.json.body?.payload ?? item.json.payload;\n\n  const attendee = payload.attendees?.[0] ?? {};\n  const tz = attendee.timeZone || payload.organizer?.timeZone || 'Asia/Kolkata';\n\n  const start = new Date(payload.startTime);\n\n  // Format in the attendee's own timezone\n  const meetingDate = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n  }).format(start); // → \"10 July 2026\"\n\n  const meetingTime = new Intl.DateTimeFormat('en-IN', {\n    timeZone: tz,\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: true,\n  }).format(start); // → \"3:00 pm\"\n\n  const meetingLink =\n    payload.videoCallData?.url ||\n    payload.metadata?.videoCallUrl ||\n    payload.location ||\n    '';\n\n  // WhatsApp API wants digits only, no \"+\"\n  const rawPhone = attendee.phoneNumber || payload.responses?.attendeePhoneNumber?.value || '';\n  const phone = rawPhone.replace(/\\D/g, '');\n\n  results.push({\n    json: {\n      triggerEvent: item.json.body?.triggerEvent ?? item.json.triggerEvent,\n      bookingId: payload.bookingId,\n      bookingUid: payload.uid,\n      status: payload.status,\n\n      customerName: attendee.firstName || attendee.name || 'there',\n      customerEmail: attendee.email || '',\n      customerPhone: phone,\n\n      meetingTitle: payload.eventTypeTitle || payload.title,\n      meetingDate,\n      meetingTime,\n      meetingLink,\n      timeZone: tz,\n\n      startTimeISO: payload.startTime,\n      endTimeISO: payload.endTime,\n      durationMinutes: payload.length,\n      agenda: payload.userFieldsResponses?.['Call-Agenda']?.value || '',\n    },\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-64],"id":"71fa2348-dbb9-45dc-9816-c33e22876e25","name":"refine data "},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"admin@chatsyncs.com","mode":"list","cachedResultName":"admin@chatsyncs.com"},"returnAll":true,"timeMax":"={{ $now.plus({ hour: 2 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[928,224],"id":"7a4d6a77-4b65-47d8-9ce0-63144e2adcd8","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"M9kY3aUfgV3DQhS7","name":"ChatSyncs Google Calendar"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/15 9-21 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-320,384],"id":"878de64d-939d-4b9c-840d-0e9080f811fa","name":"Run every 15min from 9am to 10pm"},{"parameters":{"jsCode":"// --- Config ---\nconst WINDOWS = [\n  { label: '15_min', fromMin: 0,  toMin: 15 },\n  { label: '60_min', fromMin: 58, toMin: 73 },\n];\n\nconst SKIP_DECLINED = true;\nconst DEFAULT_TZ = 'Asia/Kolkata';   // fallback if event omits timeZone\n\nconst PHONE_RE = /\\+\\d[\\d\\s\\-().]{6,}\\d/;\nconst EMAIL_RE = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst PLACEHOLDER_RE = /^(guest|organizer|attendee)$/i;\n\nfunction parsePeopleByEmail(description) {\n  const map = {};\n  if (!description) return map;\n\n  const lines = description.split('\\n').map(l => l.trim());\n  let pending = null;\n\n  for (const line of lines) {\n    if (!line) continue;\n\n    if (EMAIL_RE.test(line)) {\n      const key = line.toLowerCase();\n      if (pending) {\n        const prev = map[key];\n        map[key] = {\n          name:  pending.name  || prev?.name  || null,\n          phone: pending.phone || prev?.phone || null,\n        };\n      } else if (!map[key]) {\n        map[key] = { name: null, phone: null };\n      }\n      pending = null;\n      continue;\n    }\n\n    const m = line.match(PHONE_RE);\n    const phone = m ? m[0].replace(/[\\s\\-().]/g, '') : null;\n\n    let name = (m ? line.slice(0, m.index) : line)\n      .replace(/[-–—:]\\s*$/, '')\n      .replace(/\\s*[-–—]\\s*Organizer$/i, '')\n      .trim();\n\n    if (!name || PLACEHOLDER_RE.test(name)) name = null;\n\n    pending = { name, phone };\n  }\n\n  return map;\n}\n\n// --- Date/time helpers (all timezone-aware) ---\nconst fmt = (date, tz, opts) =>\n  new Intl.DateTimeFormat('en-IN', { timeZone: tz, ...opts }).format(date);\n\n// \"1:00 pm\"\nconst timeStr = (d, tz) =>\n  fmt(d, tz, { hour: 'numeric', minute: '2-digit', hour12: true })\n    .replace(/\\s?(AM|PM)/i, s => ' ' + s.trim().toLowerCase());\n\n// \"10 July 2026\"\nconst dateStr = (d, tz) =>\n  fmt(d, tz, { day: 'numeric', month: 'long', year: 'numeric' });\n\n// \"Friday\"\nconst dayStr = (d, tz) => fmt(d, tz, { weekday: 'long' });\n\n// \"2026-07-10\" — for grouping / DB keys\nconst isoDate = (d, tz) => fmt(d, tz, { year: 'numeric', month: '2-digit', day: '2-digit' })\n  .split('/').reverse().join('-');\n\n// 75 -> \"1 hour 15 minutes\"\nfunction humanDuration(totalMin) {\n  const mins = Math.max(0, Math.round(totalMin));\n  const h = Math.floor(mins / 60);\n  const m = mins % 60;\n  const parts = [];\n  if (h) parts.push(`${h} hour${h > 1 ? 's' : ''}`);\n  if (m) parts.push(`${m} minute${m > 1 ? 's' : ''}`);\n  return parts.join(' ') || '0 minutes';\n}\n\nconst now = Date.now();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const ev = item.json;\n\n  if (ev.status && ev.status !== 'confirmed') continue;\n\n  const startRaw = ev.start?.dateTime;\n  if (!startRaw) continue;\n\n  const startMs = new Date(startRaw).getTime();\n  if (Number.isNaN(startMs)) continue;\n  if (startMs <= now) continue;\n\n  if (SKIP_DECLINED) {\n    const self = (ev.attendees || []).find(a => a.self);\n    if (self && self.responseStatus === 'declined') continue;\n  }\n\n  const minutesUntil = (startMs - now) / 60000;\n  const win = WINDOWS.find(w => minutesUntil >= w.fromMin && minutesUntil < w.toMin);\n  if (!win) continue;\n\n  const tz = ev.start?.timeZone || DEFAULT_TZ;\n  const startDate = new Date(startMs);\n  const endRaw = ev.end?.dateTime || null;\n  const endDate = endRaw ? new Date(endRaw) : null;\n\n  const durationMin = endDate ? (endDate - startDate) / 60000 : null;\n  const minsLeft = Math.round(minutesUntil);\n\n  // \"Today\" / \"Tomorrow\" / \"Friday\" — relative to the event's own timezone\n  const todayKey = isoDate(new Date(now), tz);\n  const eventKey = isoDate(startDate, tz);\n  const tomorrowKey = isoDate(new Date(now + 86400000), tz);\n  const relativeDay =\n    eventKey === todayKey ? 'Today'\n    : eventKey === tomorrowKey ? 'Tomorrow'\n    : dayStr(startDate, tz);\n\n  const people = parsePeopleByEmail(ev.description);\n\n  const guests = (ev.attendees || [])\n    .filter(a => !a.self)\n    .map(a => {\n      const info = people[a.email?.toLowerCase()] || {};\n      return {\n        name: info.name || null,\n        email: a.email,\n        phone: info.phone || null,\n        responseStatus: a.responseStatus || null,\n      };\n    });\n\n  const primary =\n    guests.find(g => g.phone) || guests.find(g => g.name) || guests[0] || null;\n\n  out.push({\n    json: {\n      reminderType: win.label,\n      eventId: ev.id,\n      title: ev.summary,\n\n      // --- Person ---\n      inviteeName: primary?.name || null,\n      inviteeEmail: primary?.email || null,\n      inviteePhone: primary?.phone || null,\n      hasPhone: Boolean(primary?.phone),\n\n      // --- Formatted for messaging ---\n      startTimeFormatted: timeStr(startDate, tz),          // \"1:00 pm\"\n      endTimeFormatted: endDate ? timeStr(endDate, tz) : null,\n      dateFormatted: dateStr(startDate, tz),               // \"10 July 2026\"\n      dayOfWeek: dayStr(startDate, tz),                    // \"Friday\"\n      relativeDay,                                         // \"Today\"\n      durationFormatted: durationMin ? humanDuration(durationMin) : null,\n      startsInFormatted: humanDuration(minsLeft),          // \"1 hour 13 minutes\"\n\n      // --- Raw, for logic downstream ---\n      minutesUntil: minsLeft,\n      durationMinutes: durationMin,\n      startTime: startRaw,\n      endTime: endRaw,\n      eventDate: eventKey,                                 // \"2026-07-10\"\n      timeZone: tz,\n\n      meetLink: ev.hangoutLink || ev.location || null,\n      description: ev.description || '',\n      attendees: guests,\n      htmlLink: ev.htmlLink,\n    },\n  });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,224],"id":"4209e1b9-b46a-4424-bc13-31fd4b732ba5","name":"Code in JavaScript"},{"parameters":{"url":"https://api.cal.com/v2/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"50"},{"name":"status","value":"upcoming"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"cal_live_c2d6c9d19240980867342eb7bf07c558"},{"name":"cal-api-version","value":"2026-05-01"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-96,384],"id":"41549028-c49b-48d5-a79f-f97a4072c4e5","name":"Upcoming Cal Meeting"},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  // Handles: {status, data: [...]}, {data: [...]}, or a bare booking object\n  const bookings = item.json.data ?? (Array.isArray(item.json) ? item.json : [item.json]);\n\n  for (const b of bookings) {\n    // Guests get pushed into attendees[] with empty names and no phone.\n    // The real booker is the one with a phoneNumber, or failing that, a name.\n    const attendee =\n      b.attendees?.find((a) => a.phoneNumber) ||\n      b.attendees?.find((a) => a.name) ||\n      b.attendees?.[0] ||\n      {};\n\n    const fields = b.bookingFieldsResponses ?? {};\n    const host = b.hosts?.[0] ?? {};\n    const tz = attendee.timeZone || host.timeZone || 'Asia/Kolkata';\n\n    const start = new Date(b.start);\n\n    const meetingDate = new Intl.DateTimeFormat('en-IN', {\n      timeZone: tz,\n      day: 'numeric',\n      month: 'long',\n      year: 'numeric',\n    }).format(start);\n\n    const meetingTime = new Intl.DateTimeFormat('en-IN', {\n      timeZone: tz,\n      hour: 'numeric',\n      minute: '2-digit',\n      hour12: true,\n    }).format(start);\n\n    const rawPhone = attendee.phoneNumber || fields.attendeePhoneNumber || '';\n    const phone = rawPhone.replace(/\\D/g, '');\n\n    // Agenda field name varies per event type\n    const agenda =\n      fields['Call-Agenda'] ||\n      fields['What-you-expect-out-of-call'] ||\n      fields.notes ||\n      b.description ||\n      '';\n\n    results.push({\n      json: {\n        bookingId: b.id,\n        bookingUid: b.uid,\n        status: b.status,\n\n        customerName: attendee.name || fields.name || 'there',\n        customerEmail: attendee.email || fields.email || '',\n        customerPhone: phone,\n\n        meetingTitle: b.title,\n        eventTypeSlug: b.eventType?.slug || '',\n        meetingDate,\n        meetingTime,\n        meetingLink: b.meetingUrl || b.location || '',\n        timeZone: tz,\n\n        startTimeISO: b.start,\n        endTimeISO: b.end,\n        durationMinutes: b.duration,\n        agenda,\n\n        hostName: host.name || '',\n        hostEmail: host.email || '',\n        guests: b.guests ?? [],\n      },\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,384],"id":"e485271f-0f71-4f74-a8c8-1e24c29eba9b","name":"Proper Format"},{"parameters":{"jsCode":"// --- Config ---\nconst WINDOWS = [\n  { label: '15_min', fromMin: 0,  toMin: 15 },\n  { label: '60_min', fromMin: 58, toMin: 70 },\n];\n\nconst VALID_STATUSES = ['accepted'];   // Cal.com: accepted | pending | cancelled | rejected\nconst DEFAULT_TZ = 'Asia/Kolkata';\n\n// --- Helpers ---\nconst fmt = (d, tz, opts) => new Intl.DateTimeFormat('en-IN', { timeZone: tz, ...opts }).format(d);\n\nconst dayStr  = (d, tz) => fmt(d, tz, { weekday: 'long' });\nconst isoDate = (d, tz) =>\n  fmt(d, tz, { year: 'numeric', month: '2-digit', day: '2-digit' }).split('/').reverse().join('-');\n\nfunction humanDuration(totalMin) {\n  const mins = Math.max(0, Math.round(totalMin));\n  const h = Math.floor(mins / 60);\n  const m = mins % 60;\n  const parts = [];\n  if (h) parts.push(`${h} hour${h > 1 ? 's' : ''}`);\n  if (m) parts.push(`${m} minute${m > 1 ? 's' : ''}`);\n  return parts.join(' ') || '0 minutes';\n}\n\nconst now = Date.now();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const b = item.json;\n\n  if (!VALID_STATUSES.includes(b.status)) continue;\n\n  if (!b.startTimeISO) continue;\n  const startMs = new Date(b.startTimeISO).getTime();\n  if (Number.isNaN(startMs) || startMs <= now) continue;\n\n  const minutesUntil = (startMs - now) / 60000;\n  const win = WINDOWS.find(w => minutesUntil >= w.fromMin && minutesUntil < w.toMin);\n  if (!win) continue;\n\n  const tz = b.timeZone || DEFAULT_TZ;\n  const startDate = new Date(startMs);\n  const minsLeft = Math.round(minutesUntil);\n\n  const todayKey    = isoDate(new Date(now), tz);\n  const tomorrowKey = isoDate(new Date(now + 86400000), tz);\n  const eventKey    = isoDate(startDate, tz);\n  const relativeDay =\n    eventKey === todayKey ? 'Today'\n    : eventKey === tomorrowKey ? 'Tomorrow'\n    : dayStr(startDate, tz);\n\n  // Guests list repeats the customer's own email — drop it.\n  const otherGuests = (b.guests || []).filter(\n    g => g.toLowerCase() !== (b.customerEmail || '').toLowerCase()\n  );\n\n  out.push({\n    json: {\n      reminderType: win.label,\n      bookingId: b.bookingId,\n      bookingUid: b.bookingUid,\n      eventTypeSlug: b.eventTypeSlug,\n      title: b.meetingTitle,\n\n      // --- Person ---\n      customerName: b.customerName || null,\n      customerEmail: b.customerEmail || null,\n      customerPhone: b.customerPhone || null,\n      hasPhone: Boolean(b.customerPhone),\n\n      // --- Formatted for messaging ---\n      meetingDate: b.meetingDate,                       // \"10 July 2026\"\n      meetingTime: b.meetingTime,                       // \"2:30 pm\"\n      dayOfWeek: dayStr(startDate, tz),                 // \"Friday\"\n      relativeDay,                                      // \"Today\"\n      durationFormatted: humanDuration(b.durationMinutes),\n      startsInFormatted: humanDuration(minsLeft),       // \"1 hour 2 minutes\"\n\n      // --- Raw, for logic downstream ---\n      minutesUntil: minsLeft,\n      durationMinutes: b.durationMinutes,\n      startTimeISO: b.startTimeISO,\n      endTimeISO: b.endTimeISO,\n      eventDate: eventKey,                              // \"2026-07-10\"\n      timeZone: tz,\n\n      meetingLink: b.meetingLink || null,\n      agenda: b.agenda || '',\n      hostName: b.hostName,\n      hostEmail: b.hostEmail,\n      guests: otherGuests,\n\n      dedupeKey: `${b.bookingUid}:${win.label}`,\n    },\n  });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,384],"id":"6219b1d7-4bff-4046-b02f-60ab1c168735","name":"Time window Filter"}],"connections":{"Webhook":{"main":[[{"node":"refine data ","type":"main","index":0}]]},"meeting confirm template call":{"main":[[]]},"refine data ":{"main":[[{"node":"meeting confirm template call","type":"main","index":0}]]},"Run every 15min from 9am to 10pm":{"main":[[{"node":"Upcoming Cal Meeting","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Upcoming Cal Meeting":{"main":[[{"node":"Proper Format","type":"main","index":0}]]},"Proper Format":{"main":[[{"node":"Time window Filter","type":"main","index":0}]]},"Time window Filter":{"main":[[{"node":"Reminder","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Lakshit Ukani","name":"Version e2957f10","description":"","autosaved":true},"tags":[]}