Backup_2026-04-14/My workflow 21.json
{"updatedAt":"2025-11-12T11:49:45.000Z","createdAt":"2025-11-02T17:01:22.114Z","id":"FDQe3YCFv7MO9z6v","name":"My workflow 21","active":false,"isArchived":true,"nodes":[{"parameters":{"formTitle":"UGC video","formFields":{"values":[{"fieldLabel":"Description","requiredField":true},{"fieldLabel":"reference_img","fieldType":"file","multipleFiles":false,"requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-128,-80],"id":"31e26835-46b8-4814-ac9a-6a42139f210d","name":"On form submission","webhookId":"0912960e-70c0-4e0b-8eb4-2aba6578c089"},{"parameters":{"operation":"resize","dataPropertyName":"reference_img","width":720,"height":1280,"resizeOption":"ignoreAspectRatio","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[80,-80],"id":"a83b4b0e-e672-422d-89d9-16e0a470021d","name":"Edit Image"},{"parameters":{"resource":"video","modelId":{"__rl":true,"value":"sora-2","mode":"list","cachedResultName":"SORA-2"},"prompt":"={{ $('On form submission').item.json.Description }}","seconds":8,"size":"720x1280","options":{"binaryPropertyNameReference":"reference_img"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[288,-80],"id":"2d390f28-9730-44aa-896c-c6b2b6e0d119","name":"Generate a video","credentials":{"openAiApi":{"id":"48jg0IN7QfVXoF59","name":"OpenAi Freelance"}}}],"connections":{"On form submission":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Generate a video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"48ee90b5-bd6e-4dda-ab0a-2bb543289c46","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-02T17:01:22.130Z","createdAt":"2025-11-02T17:01:22.130Z","role":"workflow:owner","workflowId":"FDQe3YCFv7MO9z6v","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}