Backup_2026-04-23/60 n8n Contextual reply.json
{"updatedAt":"2026-01-08T18:25:49.000Z","createdAt":"2026-01-08T18:25:35.719Z","id":"FfeIKPeuW1C9xfsf","name":"60 n8n Contextual reply","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-1392,48],"id":"9ee6cd47-a7db-402b-9d22-9610261f320e","name":"WhatsApp Trigger","webhookId":"e57e8925-ccd3-4cfa-8a84-60bff5909af1","credentials":{"whatsAppTriggerApi":{"id":"nQbla4DtMJIZMbEt","name":"n8n-test-2 account"}}},{"parameters":{"promptType":"define","text":"={{ $('Map result').item.json.combined_message }}","options":{"systemMessage":"=Name: Kady\nRole: You are an expert receptionist for Toothsi Clinic. Your job is to communicate with your user, serve them properly, and solve their task. \n\n\nNote:\n1. User message has multiple message seperated by '|' and for each message there is ID:\n2. Output your response as a List JSON object with between one and three messages, where possible, default to fewer messages.\n3. With that message I want message id which user has passed\n4. This will help me to tag that particular message and reply to it \n\nSince you are an SMS assistant, your output usually spans multiple ‘texts’. Feel free to use emojis in messages, and if it makes sense, some messages can be emojis only.\n\nExample:\n\n[\n  {\n    \"message\": \"Hi there!\",\n    \"message_id\": \"wamid:kvneknknv\"\n  }\n]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[848,-144],"id":"ff5f4ccb-6bf9-4362-87a1-5530e38ea424","name":"AI Agent"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[864,80],"id":"32a6a6c2-0ac1-46dc-b1db-6157afb595bd","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"TLy9RuRkIKncoUiy","name":"OpenRouter Freelance account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ef6c2837-9317-4ef6-afae-fdfa885c71c6","name":"message","value":"={{ $json.messages[0].text.body }}","type":"string"},{"id":"625cec94-67c9-458b-8d58-b7851f8bcec5","name":"number","value":"={{ $json.messages[0].from }}","type":"string"},{"id":"e8745982-aacb-422c-b003-fb7eb4c23303","name":"message_id","value":"={{ $json.messages[0].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1168,48],"id":"11f0556d-6f5d-49a9-b431-08426a96065a","name":"Variable mapping"},{"parameters":{"dataTableId":{"__rl":true,"value":"aNkqPGZsrwVsVTiZ","mode":"list","cachedResultName":"Msg Batch Processing","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/aNkqPGZsrwVsVTiZ"},"columns":{"mappingMode":"defineBelow","value":{"message":"={{ $json.message }}","message_status":"in_queue","number":"={{ $json.number }}","message_id":"={{ $json.message_id }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"message_status","displayName":"message_status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-720,48],"id":"8524b509-ffc3-4f6d-af1f-2c6d35afb569","name":"Insert row"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-496,48],"id":"164ec2da-4af3-4f6a-a6f6-aafc20cc1dfc","name":"Wait","webhookId":"b7fbb284-0a1d-4bd9-a6b2-bf507939b737"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-48,48],"id":"537802c2-c840-4dc4-a883-54392386097e","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[176,-144],"id":"d7f58bba-f454-44e8-b9a3-a60518cd6fa0","name":"Done Processing"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"aNkqPGZsrwVsVTiZ","mode":"list","cachedResultName":"Msg Batch Processing","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/aNkqPGZsrwVsVTiZ"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"number","keyValue":"={{ $('Variable mapping').item.json.number }}"},{"keyName":"message_status","keyValue":"in_queue"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-272,48],"id":"5422d74f-4e88-40d4-8945-e474f0f61878","name":"Get row(s)"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Map result').item.json.number }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[992,80],"id":"8cfd12e7-c98e-4934-a92d-4b0eece27b31","name":"Simple Memory"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1424,-144],"id":"fe343d68-297a-4296-af87-7127c30e4e04","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8170b840-eff6-4baf-b107-7a6222b57ee4","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-944,48],"id":"fbd8be86-5b33-4018-b34c-1a708ae04ab5","name":"Filter"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/902774616244718/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $json.message_id }}\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,48],"id":"af06669e-326b-47fe-900a-f5a355bf91e0","name":"Read message","credentials":{"httpHeaderAuth":{"id":"iR5q4Pc809XWa04V","name":"whatsapp wa-agent-alister app Lakshit"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/902774616244718/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $node['update entry'].json.message_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[624,-144],"id":"afa496bc-be11-4a20-b5ad-85f0cf9d5765","name":"Typing Indicator","credentials":{"httpHeaderAuth":{"id":"iR5q4Pc809XWa04V","name":"whatsapp wa-agent-alister app Lakshit"}}},{"parameters":{"jsCode":"const combinedMessage = items\n  .map(msg => `${msg.json.message} (ID: ${msg.json.message_id})`)\n  .join(' | '); // use '\\n' for line breaks or ' | ' for single line\n\nconst number = items[0].json.number\n\nreturn [\n  {\n    json: {\n      number: number,\n      combined_message: combinedMessage,\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-144],"id":"646c839b-b295-4cad-9768-23a390124ecd","name":"Map result"},{"parameters":{"jsCode":"// Parse JSON string from the \"output\" field and convert messages into an array of objects\n\nconst rawOutput = items[0].json.output; // get the string\nconst parsed = JSON.parse(rawOutput);   // parse the JSON string\n\n// Convert key-value pairs into list of objects\n// const messageList = Object.entries(parsed).map(([key, value]) => ({\n//   key,\n//   message: value\n// }));\n\n// return messageList.map(msg => ({ json: msg }));\nreturn parsed\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,-144],"id":"bcf89a1e-ba88-411b-9694-26a28eb87fb1","name":"Parse Data"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/902774616244718/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"918655991300\",\n  \"type\": \"text\",\n  \"context\": {\n    \"message_id\": \"{{ $json.message_id }}\"\n  },\n  \"text\": {\n    \"body\": \"{{ $json.message }}\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1648,-144],"id":"76733960-90df-4f89-ba64-0b50e091976e","name":"Send msg","credentials":{"httpHeaderAuth":{"id":"iR5q4Pc809XWa04V","name":"whatsapp wa-agent-alister app Lakshit"}}},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"aNkqPGZsrwVsVTiZ","mode":"list","cachedResultName":"Msg Batch Processing","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/aNkqPGZsrwVsVTiZ"},"matchType":"allConditions","filters":{"conditions":[{"keyValue":"={{ $('Loop Over Items').item.json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"message_status":"processed"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"message_status","displayName":"message_status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[400,112],"id":"14edb87b-81c4-4036-b6fd-b8d4f5deff84","name":"update entry"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Variable mapping","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Parse Data","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Variable mapping":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Done Processing","type":"main","index":0}],[{"node":"Read message","type":"main","index":0}]]},"Done Processing":{"main":[[{"node":"Map result","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Send msg","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Read message":{"main":[[{"node":"update entry","type":"main","index":0}]]},"Typing Indicator":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Map result":{"main":[[{"node":"Typing Indicator","type":"main","index":0}]]},"Parse Data":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Send msg":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"update entry":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2e79721c-821a-43de-bd59-6f10a212236b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-08T18:25:35.733Z","createdAt":"2026-01-08T18:25:35.733Z","role":"workflow:owner","workflowId":"FfeIKPeuW1C9xfsf","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}