Backup_2026-04-23/ChatSyncs - Fetch All Users.json
{"updatedAt":"2026-04-17T14:05:37.957Z","createdAt":"2026-04-01T15:27:01.986Z","id":"XylkSdy5TM-kg3tY4mazG","name":"ChatSyncs - Fetch All Users","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Sheet Upload","formFields":{"values":[{"fieldLabel":"Sheet","fieldType":"file"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-176,-160],"id":"5a24ad09-a445-448d-86c9-2e1bdd9837d8","name":"On form submission","webhookId":"832cbb5a-87be-468a-967b-7d0753df726a"},{"parameters":{"binaryPropertyName":"Sheet","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[32,-160],"id":"625adb8a-9374-4ea9-9e8b-6cf07531ceca","name":"Extract from File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[832,0],"id":"b8ef7b11-3c79-4345-bbba-84fed3518607","name":"Loop Over Items"},{"parameters":{"jsCode":"const today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  const startDate = new Date(data[\"Subscription Start Date\"]);\n  const endDate = new Date(data[\"Subscription End Date\"]);\n  startDate.setHours(0, 0, 0, 0);\n  endDate.setHours(0, 0, 0, 0);\n\n  const diffDays = Math.round((endDate - today) / (1000 * 60 * 60 * 24));\n\n  let category = null;\n\n  if (startDate.getTime() === today.getTime()) {\n    category = \"welcome\";\n  } else if (endDate.getTime() === today.getTime()) {\n    category = \"expiring_today\";\n  } else if (diffDays === 3) {\n    category = \"expiring_in_3_days\";\n  } else if (diffDays === -1) {\n    category = \"expired\";\n  } else if (diffDays === -2) {\n    category = \"expired_2_days\";\n  }\n\n  if (category) {\n    results.push({\n      json: {\n        ...data,\n        category\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,96],"id":"3ba21c47-a28e-434b-8a2e-6a514dc57051","name":"Code in JavaScript","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"welcome","operator":{"type":"string","operation":"equals"},"id":"76a023a0-4d05-4e41-8dc8-c3a36e7ec21e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Welcome"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6a9d7780-2fe1-40df-914a-4a792b71ac60","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expiring_in_3_days","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expiring 3 Days"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f588e740-fc6b-4efa-8aa9-3de221505803","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expiring_today","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expiring Today"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0d7fe8fe-c1fb-4013-80f0-ab1366d116d7","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"89728791-989a-4539-a3e1-9217dd4e7332","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expired_2_days","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expired 2 Days"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"afb01962-db15-4937-a9b4-2e08ed212c32","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Next Item"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1648,48],"id":"ccf39977-2c2b-4673-8bd1-6ce81affed39","name":"Category Route","alwaysOutputData":false},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1216,96],"id":"11774014-5b4b-4373-8e7a-850fc54dc670","name":"1 sec wait","webhookId":"ec9a3953-bb1d-4f30-9456-2633b06eb1ea"},{"parameters":{"assignments":{"assignments":[{"id":"a63be580-6f1c-44c3-9364-7ebfbf7946e8","name":"from_mail","value":"Lakshit Ukani <account@chatsyncs.com>","type":"string"},{"id":"77ae7f99-f862-471f-abfa-6d31578995d0","name":"subject_welcome","value":"🎉 You're in! Let's get your first WhatsApp automation running","type":"string"},{"id":"adccd4cf-a264-44fb-a5d1-bd43e0c2edcb","name":"subject_today_expiry","value":"⏰ Your ChatSyncs plan expires midnight tonight — don't lose your automations","type":"string"},{"id":"f091ad71-39d3-4877-86c8-52437a24d006","name":"subject_expired","value":"😔 Your ChatSyncs plan expired yesterday — but it's not too late","type":"string"},{"id":"99c468b0-aaea-4a86-8842-34bb6349b3d8","name":"subject_2_day_post_expiry","value":"🚨 2 days without ChatSyncs — your leads aren't getting responses","type":"string"},{"id":"55aa4cae-34d0-4f61-b104-bd3abc8da515","name":"subject_3_day_before_expiry","value":"3 days left on your ChatSyncs plan — here's what happens next","type":"string"},{"id":"512a558b-c201-4b13-a886-c6315354140a","name":"year","value":"={{ $now.format('yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,96],"id":"b4f8799a-e356-4a6e-81f0-4ca3214466d7","name":"Common Variables"},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_welcome }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"8583b74d-b44f-4ce2-8310-74bc9c23c66e","mode":"list","cachedResultName":"Welcome Email (8583b74d-b44f-4ce2-8310-74bc9c23c66e)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[2160,-240],"id":"ec63cc28-be93-4ba4-82bb-e59ac98e80bd","name":"Send Welcome Template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_3_day_before_expiry }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"b70fb9b0-6f7e-49f1-a03b-afe5b6695892","mode":"list","cachedResultName":"3 Day before expiry (b70fb9b0-6f7e-49f1-a03b-afe5b6695892)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"},{"key":{"__rl":true,"value":"expiry_date","mode":"list","cachedResultName":"expiry_date (string)"},"value":"={{ $('Code in JavaScript').item.json['Subscription End Date'] }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[2160,-80],"id":"24a51dc9-1598-4042-8586-29d4d4f3039f","name":"Send 3 day before expiry template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_today_expiry }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"0f4756eb-a64a-425f-b458-cdf7081eecb5","mode":"list","cachedResultName":"Plan Expiration Reminder (0f4756eb-a64a-425f-b458-cdf7081eecb5)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[2160,112],"id":"f17a54c3-ae4b-4a34-8d2b-f58e26a485e5","name":"Send expiring today template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_expired }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"b30e108b-607e-4611-b401-2b196b32b138","mode":"list","cachedResultName":"Plan Expired (b30e108b-607e-4611-b401-2b196b32b138)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"},{"key":{"__rl":true,"value":"expiry_date","mode":"list","cachedResultName":"expiry_date (string)"},"value":"={{ $('Code in JavaScript').item.json['Subscription End Date'] }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[2160,288],"id":"8b5b1f58-5c0b-4b83-964c-8ae174df3bcf","name":"Send Expired Template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_2_day_post_expiry }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"2fa9648f-144c-43f5-b697-e8b233d108cd","mode":"id"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[2160,480],"id":"96e248e1-ffcf-47c2-96a9-43eb00243bca","name":"Send Expired Post 2 days","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1040,-96],"id":"b9594725-d217-49e1-970b-de583f66ca8c","name":"Limit"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0AQQ5VJSNM","mode":"list","cachedResultName":"chatsyncs-notification"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"📧 ChatSyncs Email Campaign Summary\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"<@U08MP7Z8215> Users have been notified regarding their subscription status\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": {{ $json.message.toJsonString() }}\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": {{ (\"🕑 *Generated At:* \" + $now.setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a')).toJsonString() }}\n        }\n      ]\n    }\n  ]\n}","text":"=💳 ChatSyncs Subscription Status API Result","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1520,-160],"id":"7dfd940c-c15b-4227-87f2-5de202b8003a","name":"Send message","webhookId":"ff9d57f0-1e02-4a2b-ab35-5c7568f5c2f7","credentials":{"slackOAuth2Api":{"id":"ZC8Jm1dyTNehWjKR","name":"Techsunami Slack account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Initialize static store on first run\nif (!$getWorkflowStaticData('global').emailLog) {\n  $getWorkflowStaticData('global').emailLog = [];\n}\n\nconst log = $getWorkflowStaticData('global').emailLog;\n\n// Push current item into log\nlog.push({\n  name: $('Code in JavaScript').item.json.Name,\n  email: $('Code in JavaScript').item.json.Email,\n  category: $('Code in JavaScript').item.json.category\n});\n\n$getWorkflowStaticData('global').emailLog = log;\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,528],"id":"72c6543c-5b00-4d12-8167-f2fd5bee4687","name":"Accumulate Email Ids"},{"parameters":{"jsCode":"const log = $getWorkflowStaticData('global').emailLog || [];\n\n// Group by category\nconst grouped = {};\nfor (const entry of log) {\n  if (!grouped[entry.category]) grouped[entry.category] = [];\n  grouped[entry.category].push(entry);\n}\n\n// Category display names\nconst labels = {\n  welcome:              \"🎉 Welcome\",\n  expiring_in_3_days:   \"📅 Expiring in 3 Days\",\n  expiring_today:       \"⏰ Expiring Today\",\n  expired:              \"😔 Expired (1 day)\",\n  expired_2_days:       \"🚨 Expired (2 days)\"\n};\n\n// Build message lines\nlet lines = [];\nlines.push(`*Total Emails Sent: ${log.length}*\\n`);\n\nfor (const [category, entries] of Object.entries(grouped)) {\n  const label = labels[category] || category;\n  lines.push(`${label} — ${entries.length} email(s)`);\n  for (const e of entries) {\n    lines.push(`  • ${e.name} | ${e.email}`);\n  }\n  lines.push('');\n}\n\n// Clear log after summary\n$getWorkflowStaticData('global').emailLog = [];\n\nreturn [{ json: { message: lines.join('\\n') } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,-144],"id":"44db7549-3c5b-49ee-85d8-75722b2284bd","name":"Generate Slack message"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1104,160],"id":"9ab36c40-c64a-4515-a0f5-e4c828c6d1fd","name":"Schedule Trigger"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Fsnhz7trbQXEKG5c","mode":"list","cachedResultName":"chatsyncs-session-id","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Fsnhz7trbQXEKG5c"},"filters":{"conditions":[{"keyName":"platform_name","keyValue":"reseller"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-896,160],"id":"632c7e2e-2fcf-4243-b68d-0607f11a78f6","name":"Get Session Token"},{"parameters":{"assignments":{"assignments":[{"id":"a1b2c3d4-0001","name":"page","value":1,"type":"number"},{"id":"a1b2c3d4-0002","name":"allUsers","value":"={{ [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,160],"id":"91a75816-d0ff-488e-8808-d2d4057bf4e1","name":"Init"},{"parameters":{"url":"https://reseller.backendassist.com/api/v2/reseller/users","sendQuery":true,"queryParameters":{"parameters":[{"name":"page","value":"={{ $json.page }}"},{"name":"limit","value":"=10"},{"name":"subscriptionStatus","value":"active"},{"name":"status","value":"both"},{"name":"role","value":"all"},{"name":"reseller","value":"both"},{"name":"sortBy","value":"createdAt"},{"name":"sortOrder","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"accept-language","value":"en-US,en;q=0.9,la;q=0.8"},{"name":"priority","value":"u=1, i"},{"name":"referer","value":"https://reseller.backendassist.com/v2/resellers/users"},{"name":"sec-ch-ua","value":"\"Google Chrome\";v=\"147\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"macOS\""},{"name":"sec-fetch-dest","value":"empty"},{"name":"sec-fetch-mode","value":"cors"},{"name":"sec-fetch-site","value":"same-origin"},{"name":"user-agent","value":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36"},{"name":"cookie","value":"=session-token={{ $('Get Session Token').item.json.session_id }};"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-432,160],"id":"9833228b-8027-4489-a96d-4c57042f79ed","name":"HTTP Request - Fetch Users"},{"parameters":{"jsCode":"const httpResult = $input.first().json;\nconst pageData = Array.isArray(httpResult) ? httpResult[0] : httpResult;\n\n// Read the page number that was actually used in this HTTP call\n// by checking what Init vs Increment Page last set\nconst initPage = $('Init').first().json.page || 1;\nconst incrementExecuted = (() => {\n  try { $('Increment Page').first(); return true; } catch(e) { return false; }\n})();\n\nconst triggerPage = incrementExecuted \n  ? $('Increment Page').first().json.page \n  : initPage;\n\nconst prevUsers = incrementExecuted \n  ? ($('Increment Page').first().json.allUsers || [])\n  : ($('Init').first().json.allUsers || []);\n\nconst newPageUsers = pageData.data || [];\nconst allUsers = prevUsers.concat(newPageUsers);\n\nconst totalPages = pageData.pagination?.totalPages || 1;\nconst hasMore = triggerPage < totalPages;\n\nreturn [{\n  json: {\n    page: triggerPage,\n    totalPages,\n    hasMore,\n    allUsers\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,160],"id":"cc8adf02-e974-4ba1-8158-ac52be17ee09","name":"Process Page"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-0001","leftValue":"={{ $json.hasMore }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,160],"id":"b2673440-bb95-4229-9fb9-5c8b175567e6","name":"More Pages?"},{"parameters":{"assignments":{"assignments":[{"id":"a1b2c3d4-0003","name":"page","value":"={{ $json.page + 1 }}","type":"number"},{"id":"a1b2c3d4-0004","name":"allUsers","value":"={{ $json.allUsers }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,480],"id":"130c00dd-a187-4901-af1e-fea75777b9ea","name":"Increment Page"},{"parameters":{"jsCode":"const allUsers = $input.first().json.allUsers || [];\n\nfunction formatDate(dateVal) {\n  if (!dateVal) return 'N/A';\n  const raw = dateVal?.$date || dateVal;\n  if (!raw) return 'N/A';\n  try {\n    return new Date(raw).toISOString().replace('T', ' ').slice(0, 19);\n  } catch (e) {\n    return 'N/A';\n  }\n}\n\nconst result = allUsers.map(user => ({\n  'Name': user.name || 'N/A',\n  'Email': user.email || 'N/A',\n  'Phone': user.phoneNo || 'N/A',\n  'Org No': user.orgNo || 'N/A',\n  'Role': user.role || 'N/A',\n  'Status': user.status || 'N/A',\n  'Domain': user.hostName || 'N/A',\n  'Plan Name': user.subscription?.planName || 'N/A',\n  'Subscription Start Date': formatDate(user.subscription?.currentPeriodStart),\n  'Subscription End Date': formatDate(user.subscription?.currentPeriodEnd),\n  'Created At': formatDate(user.createdAt)\n}));\n\nreturn result.map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,176],"id":"cae7cb5b-4ed3-4dac-b619-d022a78fb6d5","name":"Final Transform"},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[48,320],"id":"8348355b-f659-4339-8f65-81d332f20198","name":"Wait","webhookId":"100b1fbd-eb8b-4c27-82b0-5c74ebd2492b"}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"1 sec wait","type":"main","index":0}]]},"1 sec wait":{"main":[[{"node":"Common Variables","type":"main","index":0}]]},"Category Route":{"main":[[{"node":"Send Welcome Template","type":"main","index":0}],[{"node":"Send 3 day before expiry template","type":"main","index":0}],[{"node":"Send expiring today template","type":"main","index":0}],[{"node":"Send Expired Template","type":"main","index":0}],[{"node":"Send Expired Post 2 days","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Common Variables":{"main":[[{"node":"Category Route","type":"main","index":0}]]},"Send Expired Post 2 days":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send Welcome Template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send 3 day before expiry template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send expiring today template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send Expired Template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Generate Slack message","type":"main","index":0}]]},"Accumulate Email Ids":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Generate Slack message":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Session Token","type":"main","index":0}]]},"Get Session Token":{"main":[[{"node":"Init","type":"main","index":0}]]},"Init":{"main":[[{"node":"HTTP Request - Fetch Users","type":"main","index":0}]]},"HTTP Request - Fetch Users":{"main":[[{"node":"Process Page","type":"main","index":0}]]},"Process Page":{"main":[[{"node":"More Pages?","type":"main","index":0}]]},"More Pages?":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Final Transform","type":"main","index":0}]]},"Increment Page":{"main":[[{"node":"HTTP Request - Fetch Users","type":"main","index":0}]]},"Final Transform":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Increment Page","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"44e25156-67be-4fdf-b075-d550a107e224","activeVersionId":"44e25156-67be-4fdf-b075-d550a107e224","triggerCount":2,"shared":[{"updatedAt":"2026-04-01T15:27:01.996Z","createdAt":"2026-04-01T15:27:01.996Z","role":"workflow:owner","workflowId":"XylkSdy5TM-kg3tY4mazG","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-04-17T14:05:44.000Z","createdAt":"2026-04-17T14:05:37.958Z","versionId":"44e25156-67be-4fdf-b075-d550a107e224","workflowId":"XylkSdy5TM-kg3tY4mazG","nodes":[{"parameters":{"formTitle":"Sheet Upload","formFields":{"values":[{"fieldLabel":"Sheet","fieldType":"file"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-176,-160],"id":"5a24ad09-a445-448d-86c9-2e1bdd9837d8","name":"On form submission","webhookId":"832cbb5a-87be-468a-967b-7d0753df726a"},{"parameters":{"binaryPropertyName":"Sheet","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[32,-160],"id":"625adb8a-9374-4ea9-9e8b-6cf07531ceca","name":"Extract from File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[832,0],"id":"b8ef7b11-3c79-4345-bbba-84fed3518607","name":"Loop Over Items"},{"parameters":{"jsCode":"const today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  const startDate = new Date(data[\"Subscription Start Date\"]);\n  const endDate = new Date(data[\"Subscription End Date\"]);\n  startDate.setHours(0, 0, 0, 0);\n  endDate.setHours(0, 0, 0, 0);\n\n  const diffDays = Math.round((endDate - today) / (1000 * 60 * 60 * 24));\n\n  let category = null;\n\n  if (startDate.getTime() === today.getTime()) {\n    category = \"welcome\";\n  } else if (endDate.getTime() === today.getTime()) {\n    category = \"expiring_today\";\n  } else if (diffDays === 3) {\n    category = \"expiring_in_3_days\";\n  } else if (diffDays === -1) {\n    category = \"expired\";\n  } else if (diffDays === -2) {\n    category = \"expired_2_days\";\n  }\n\n  if (category) {\n    results.push({\n      json: {\n        ...data,\n        category\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,96],"id":"3ba21c47-a28e-434b-8a2e-6a514dc57051","name":"Code in JavaScript","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"welcome","operator":{"type":"string","operation":"equals"},"id":"76a023a0-4d05-4e41-8dc8-c3a36e7ec21e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Welcome"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6a9d7780-2fe1-40df-914a-4a792b71ac60","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expiring_in_3_days","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expiring 3 Days"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f588e740-fc6b-4efa-8aa9-3de221505803","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expiring_today","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expiring Today"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0d7fe8fe-c1fb-4013-80f0-ab1366d116d7","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"89728791-989a-4539-a3e1-9217dd4e7332","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expired_2_days","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expired 2 Days"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"afb01962-db15-4937-a9b4-2e08ed212c32","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Next Item"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1648,48],"id":"ccf39977-2c2b-4673-8bd1-6ce81affed39","name":"Category Route","alwaysOutputData":false},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1216,96],"id":"11774014-5b4b-4373-8e7a-850fc54dc670","name":"1 sec wait","webhookId":"ec9a3953-bb1d-4f30-9456-2633b06eb1ea"},{"parameters":{"assignments":{"assignments":[{"id":"a63be580-6f1c-44c3-9364-7ebfbf7946e8","name":"from_mail","value":"Lakshit Ukani <account@chatsyncs.com>","type":"string"},{"id":"77ae7f99-f862-471f-abfa-6d31578995d0","name":"subject_welcome","value":"🎉 You're in! Let's get your first WhatsApp automation running","type":"string"},{"id":"adccd4cf-a264-44fb-a5d1-bd43e0c2edcb","name":"subject_today_expiry","value":"⏰ Your ChatSyncs plan expires midnight tonight — don't lose your automations","type":"string"},{"id":"f091ad71-39d3-4877-86c8-52437a24d006","name":"subject_expired","value":"😔 Your ChatSyncs plan expired yesterday — but it's not too late","type":"string"},{"id":"99c468b0-aaea-4a86-8842-34bb6349b3d8","name":"subject_2_day_post_expiry","value":"🚨 2 days without ChatSyncs — your leads aren't getting responses","type":"string"},{"id":"55aa4cae-34d0-4f61-b104-bd3abc8da515","name":"subject_3_day_before_expiry","value":"3 days left on your ChatSyncs plan — here's what happens next","type":"string"},{"id":"512a558b-c201-4b13-a886-c6315354140a","name":"year","value":"={{ $now.format('yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,96],"id":"b4f8799a-e356-4a6e-81f0-4ca3214466d7","name":"Common Variables"},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_welcome }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"8583b74d-b44f-4ce2-8310-74bc9c23c66e","mode":"list","cachedResultName":"Welcome Email (8583b74d-b44f-4ce2-8310-74bc9c23c66e)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[2160,-240],"id":"ec63cc28-be93-4ba4-82bb-e59ac98e80bd","name":"Send Welcome Template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_3_day_before_expiry }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"b70fb9b0-6f7e-49f1-a03b-afe5b6695892","mode":"list","cachedResultName":"3 Day before expiry (b70fb9b0-6f7e-49f1-a03b-afe5b6695892)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"},{"key":{"__rl":true,"value":"expiry_date","mode":"list","cachedResultName":"expiry_date (string)"},"value":"={{ $('Code in JavaScript').item.json['Subscription End Date'] }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[2160,-80],"id":"24a51dc9-1598-4042-8586-29d4d4f3039f","name":"Send 3 day before expiry template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_today_expiry }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"0f4756eb-a64a-425f-b458-cdf7081eecb5","mode":"list","cachedResultName":"Plan Expiration Reminder (0f4756eb-a64a-425f-b458-cdf7081eecb5)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[2160,112],"id":"f17a54c3-ae4b-4a34-8d2b-f58e26a485e5","name":"Send expiring today template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_expired }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"b30e108b-607e-4611-b401-2b196b32b138","mode":"list","cachedResultName":"Plan Expired (b30e108b-607e-4611-b401-2b196b32b138)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"},{"key":{"__rl":true,"value":"expiry_date","mode":"list","cachedResultName":"expiry_date (string)"},"value":"={{ $('Code in JavaScript').item.json['Subscription End Date'] }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[2160,288],"id":"8b5b1f58-5c0b-4b83-964c-8ae174df3bcf","name":"Send Expired Template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_2_day_post_expiry }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"2fa9648f-144c-43f5-b697-e8b233d108cd","mode":"id"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[2160,480],"id":"96e248e1-ffcf-47c2-96a9-43eb00243bca","name":"Send Expired Post 2 days","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1040,-96],"id":"b9594725-d217-49e1-970b-de583f66ca8c","name":"Limit"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0AQQ5VJSNM","mode":"list","cachedResultName":"chatsyncs-notification"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"📧 ChatSyncs Email Campaign Summary\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"<@U08MP7Z8215> Users have been notified regarding their subscription status\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": {{ $json.message.toJsonString() }}\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": {{ (\"🕑 *Generated At:* \" + $now.setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a')).toJsonString() }}\n        }\n      ]\n    }\n  ]\n}","text":"=💳 ChatSyncs Subscription Status API Result","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1520,-160],"id":"7dfd940c-c15b-4227-87f2-5de202b8003a","name":"Send message","webhookId":"ff9d57f0-1e02-4a2b-ab35-5c7568f5c2f7","credentials":{"slackOAuth2Api":{"id":"ZC8Jm1dyTNehWjKR","name":"Techsunami Slack account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Initialize static store on first run\nif (!$getWorkflowStaticData('global').emailLog) {\n  $getWorkflowStaticData('global').emailLog = [];\n}\n\nconst log = $getWorkflowStaticData('global').emailLog;\n\n// Push current item into log\nlog.push({\n  name: $('Code in JavaScript').item.json.Name,\n  email: $('Code in JavaScript').item.json.Email,\n  category: $('Code in JavaScript').item.json.category\n});\n\n$getWorkflowStaticData('global').emailLog = log;\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,528],"id":"72c6543c-5b00-4d12-8167-f2fd5bee4687","name":"Accumulate Email Ids"},{"parameters":{"jsCode":"const log = $getWorkflowStaticData('global').emailLog || [];\n\n// Group by category\nconst grouped = {};\nfor (const entry of log) {\n  if (!grouped[entry.category]) grouped[entry.category] = [];\n  grouped[entry.category].push(entry);\n}\n\n// Category display names\nconst labels = {\n  welcome:              \"🎉 Welcome\",\n  expiring_in_3_days:   \"📅 Expiring in 3 Days\",\n  expiring_today:       \"⏰ Expiring Today\",\n  expired:              \"😔 Expired (1 day)\",\n  expired_2_days:       \"🚨 Expired (2 days)\"\n};\n\n// Build message lines\nlet lines = [];\nlines.push(`*Total Emails Sent: ${log.length}*\\n`);\n\nfor (const [category, entries] of Object.entries(grouped)) {\n  const label = labels[category] || category;\n  lines.push(`${label} — ${entries.length} email(s)`);\n  for (const e of entries) {\n    lines.push(`  • ${e.name} | ${e.email}`);\n  }\n  lines.push('');\n}\n\n// Clear log after summary\n$getWorkflowStaticData('global').emailLog = [];\n\nreturn [{ json: { message: lines.join('\\n') } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,-144],"id":"44db7549-3c5b-49ee-85d8-75722b2284bd","name":"Generate Slack message"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1104,160],"id":"9ab36c40-c64a-4515-a0f5-e4c828c6d1fd","name":"Schedule Trigger"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Fsnhz7trbQXEKG5c","mode":"list","cachedResultName":"chatsyncs-session-id","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Fsnhz7trbQXEKG5c"},"filters":{"conditions":[{"keyName":"platform_name","keyValue":"reseller"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-896,160],"id":"632c7e2e-2fcf-4243-b68d-0607f11a78f6","name":"Get Session Token"},{"parameters":{"assignments":{"assignments":[{"id":"a1b2c3d4-0001","name":"page","value":1,"type":"number"},{"id":"a1b2c3d4-0002","name":"allUsers","value":"={{ [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,160],"id":"91a75816-d0ff-488e-8808-d2d4057bf4e1","name":"Init"},{"parameters":{"url":"https://reseller.backendassist.com/api/v2/reseller/users","sendQuery":true,"queryParameters":{"parameters":[{"name":"page","value":"={{ $json.page }}"},{"name":"limit","value":"=10"},{"name":"subscriptionStatus","value":"active"},{"name":"status","value":"both"},{"name":"role","value":"all"},{"name":"reseller","value":"both"},{"name":"sortBy","value":"createdAt"},{"name":"sortOrder","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"accept-language","value":"en-US,en;q=0.9,la;q=0.8"},{"name":"priority","value":"u=1, i"},{"name":"referer","value":"https://reseller.backendassist.com/v2/resellers/users"},{"name":"sec-ch-ua","value":"\"Google Chrome\";v=\"147\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"macOS\""},{"name":"sec-fetch-dest","value":"empty"},{"name":"sec-fetch-mode","value":"cors"},{"name":"sec-fetch-site","value":"same-origin"},{"name":"user-agent","value":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36"},{"name":"cookie","value":"=session-token={{ $('Get Session Token').item.json.session_id }};"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-432,160],"id":"9833228b-8027-4489-a96d-4c57042f79ed","name":"HTTP Request - Fetch Users"},{"parameters":{"jsCode":"const httpResult = $input.first().json;\nconst pageData = Array.isArray(httpResult) ? httpResult[0] : httpResult;\n\n// Read the page number that was actually used in this HTTP call\n// by checking what Init vs Increment Page last set\nconst initPage = $('Init').first().json.page || 1;\nconst incrementExecuted = (() => {\n  try { $('Increment Page').first(); return true; } catch(e) { return false; }\n})();\n\nconst triggerPage = incrementExecuted \n  ? $('Increment Page').first().json.page \n  : initPage;\n\nconst prevUsers = incrementExecuted \n  ? ($('Increment Page').first().json.allUsers || [])\n  : ($('Init').first().json.allUsers || []);\n\nconst newPageUsers = pageData.data || [];\nconst allUsers = prevUsers.concat(newPageUsers);\n\nconst totalPages = pageData.pagination?.totalPages || 1;\nconst hasMore = triggerPage < totalPages;\n\nreturn [{\n  json: {\n    page: triggerPage,\n    totalPages,\n    hasMore,\n    allUsers\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,160],"id":"cc8adf02-e974-4ba1-8158-ac52be17ee09","name":"Process Page"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-0001","leftValue":"={{ $json.hasMore }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,160],"id":"b2673440-bb95-4229-9fb9-5c8b175567e6","name":"More Pages?"},{"parameters":{"assignments":{"assignments":[{"id":"a1b2c3d4-0003","name":"page","value":"={{ $json.page + 1 }}","type":"number"},{"id":"a1b2c3d4-0004","name":"allUsers","value":"={{ $json.allUsers }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,480],"id":"130c00dd-a187-4901-af1e-fea75777b9ea","name":"Increment Page"},{"parameters":{"jsCode":"const allUsers = $input.first().json.allUsers || [];\n\nfunction formatDate(dateVal) {\n  if (!dateVal) return 'N/A';\n  const raw = dateVal?.$date || dateVal;\n  if (!raw) return 'N/A';\n  try {\n    return new Date(raw).toISOString().replace('T', ' ').slice(0, 19);\n  } catch (e) {\n    return 'N/A';\n  }\n}\n\nconst result = allUsers.map(user => ({\n  'Name': user.name || 'N/A',\n  'Email': user.email || 'N/A',\n  'Phone': user.phoneNo || 'N/A',\n  'Org No': user.orgNo || 'N/A',\n  'Role': user.role || 'N/A',\n  'Status': user.status || 'N/A',\n  'Domain': user.hostName || 'N/A',\n  'Plan Name': user.subscription?.planName || 'N/A',\n  'Subscription Start Date': formatDate(user.subscription?.currentPeriodStart),\n  'Subscription End Date': formatDate(user.subscription?.currentPeriodEnd),\n  'Created At': formatDate(user.createdAt)\n}));\n\nreturn result.map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,176],"id":"cae7cb5b-4ed3-4dac-b619-d022a78fb6d5","name":"Final Transform"},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[48,320],"id":"8348355b-f659-4339-8f65-81d332f20198","name":"Wait","webhookId":"100b1fbd-eb8b-4c27-82b0-5c74ebd2492b"}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"1 sec wait","type":"main","index":0}]]},"1 sec wait":{"main":[[{"node":"Common Variables","type":"main","index":0}]]},"Category Route":{"main":[[{"node":"Send Welcome Template","type":"main","index":0}],[{"node":"Send 3 day before expiry template","type":"main","index":0}],[{"node":"Send expiring today template","type":"main","index":0}],[{"node":"Send Expired Template","type":"main","index":0}],[{"node":"Send Expired Post 2 days","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Common Variables":{"main":[[{"node":"Category Route","type":"main","index":0}]]},"Send Expired Post 2 days":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send Welcome Template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send 3 day before expiry template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send expiring today template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send Expired Template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Generate Slack message","type":"main","index":0}]]},"Accumulate Email Ids":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Generate Slack message":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Session Token","type":"main","index":0}]]},"Get Session Token":{"main":[[{"node":"Init","type":"main","index":0}]]},"Init":{"main":[[{"node":"HTTP Request - Fetch Users","type":"main","index":0}]]},"HTTP Request - Fetch Users":{"main":[[{"node":"Process Page","type":"main","index":0}]]},"Process Page":{"main":[[{"node":"More Pages?","type":"main","index":0}]]},"More Pages?":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Final Transform","type":"main","index":0}]]},"Increment Page":{"main":[[{"node":"HTTP Request - Fetch Users","type":"main","index":0}]]},"Final Transform":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Increment Page","type":"main","index":0}]]}},"authors":"Lakshit Ukani","name":"Version 44e25156","description":"","autosaved":true},"tags":[]}