Backup_2026-04-22/My workflow 30.json
{"updatedAt":"2026-03-03T09:57:17.810Z","createdAt":"2026-03-03T09:54:02.904Z","id":"vydhWwnOaGJbPGAioPEop","name":"My workflow 30","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"d9eb63b2-4809-486a-a3d6-5054a5de7dd0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-144],"id":"ee8eaf64-c1ee-4745-b85e-a62c1c225013","name":"Webhook","webhookId":"d9eb63b2-4809-486a-a3d6-5054a5de7dd0"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[16,-144],"id":"7e4026c4-cbb3-4321-9bd4-c74d1bebaa34","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[0,64],"id":"13c5c047-3abf-401b-846e-5c7a683efae4","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"TLy9RuRkIKncoUiy","name":"OpenRouter Freelance account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a06bc850-29b7-4ad4-8ea9-a7c6f56c37ea","name":"data","value":"how are you?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,-144],"id":"dd854e7b-71c2-447b-bdc3-ad6af27a897e","name":"Data Structure"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8367fe24-8562-4a0f-b666-0d219441a526","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[368,-144],"id":"33ea0280-0540-405a-a8a2-c467e74ed3a8","name":"Routing"}],"connections":{"Webhook":{"main":[[{"node":"Data Structure","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Routing","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Data Structure":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"68b5fbb9-210b-450b-b4f7-21250227abe3","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T09:54:02.917Z","createdAt":"2026-03-03T09:54:02.917Z","role":"workflow:owner","workflowId":"vydhWwnOaGJbPGAioPEop","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}