Backup_2026-04-22/ResaLab Session Token Refresh.json
{"updatedAt":"2026-04-17T13:39:18.916Z","createdAt":"2026-04-17T13:24:32.291Z","id":"YfiJvot_PztrIFDYacV6Y","name":"ResaLab Session Token Refresh","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"daysInterval":25,"triggerAtHour":10}]}},"id":"e325ada2-a850-436b-9654-3157015ba010","name":"Every 25 Days","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2272,224]},{"parameters":{"method":"POST","url":"https://reseller.backendassist.com/login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"text/x-component"},{"name":"content-type","value":"text/plain;charset=UTF-8"},{"name":"next-action","value":"={{ $json[\"next-action\"] }}"},{"name":"next-router-state-tree","value":"%5B%22%22%2C%7B%22children%22%3A%5B%22login%22%2C%7B%22children%22%3A%5B%22__PAGE__%22%2C%7B%7D%2C%22%2Flogin%22%2C%22refresh%22%5D%7D%5D%7D%2Cnull%2Cnull%2Ctrue%5D"},{"name":"origin","value":"https://reseller.backendassist.com"},{"name":"referer","value":"https://reseller.backendassist.com/login"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/plain","body":"=[{\"email\":\"{{ $json.email_id }}\",\"password\":\"{{ $json.password }}\"}]","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"72e3c99f-b6da-4518-a4c1-3dcd09fbf8d7","name":"Login to ResaLab","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1840,224]},{"parameters":{"jsCode":"const headers = $input.first().json.headers;\nconst setCookie = headers['set-cookie'];\n\nif (!setCookie) {\n  return [{ json: { success: false, error: 'Login failed - no set-cookie header. The next-action hash may have changed.', sessionToken: null } }];\n}\n\nconst cookies = Array.isArray(setCookie) ? setCookie : [setCookie];\nconst sessionCookie = cookies.find(c => c.includes('session-token='));\n\nif (!sessionCookie) {\n  return [{ json: { success: false, error: 'Login response missing session-token cookie.', sessionToken: null } }];\n}\n\nconst token = sessionCookie.split('session-token=')[1].split(';')[0];\nreturn [{ json: { success: true, error: null, sessionToken: token } }];"},"id":"80e7b301-4203-4ae1-b473-0ed4a7daf0c3","name":"Extract Session Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1632,224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"login-check","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"60e4bf01-64b7-44fe-881c-97f80b936af9","name":"Login OK?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1408,224]},{"parameters":{"url":"https://reseller.backendassist.com/api/auth/session","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"=session-token={{ $('Extract Session Token').item.json.sessionToken }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"897dee0a-7cdf-472a-ad40-b3e454f6b28a","name":"Verify Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1184,128]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst statusCode = response.statusCode;\nconst sessionToken = $('Extract Session Token').first().json.sessionToken;\n\nif (statusCode >= 200 && statusCode < 300) {\n  return [{ json: { verified: true, sessionToken: sessionToken, error: null } }];\n} else {\n  return [{ json: { verified: false, sessionToken: null, error: `Session verification failed with status ${statusCode}` } }];\n}"},"id":"c092f552-ef14-4ce6-a223-84e5c0834006","name":"Check Verification","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"verify-check","leftValue":"={{ $json.verified }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1ac25923-faa8-47ce-8c52-a2f4614917e4","name":"Session Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-752,128]},{"parameters":{"assignments":{"assignments":[{"id":"16b5e0a2-0619-4dd4-8a7b-a4f3b0835185","name":"email_id","value":"lakshitukani77@gmail.com","type":"string"},{"id":"7199299c-ba08-4188-9ffb-84cc101a54e5","name":"password","value":"L@k$hit77","type":"string"},{"id":"fd6222a6-c378-47ee-a02c-8d83ce4a2f5b","name":"next-action","value":"3eab77b5b442b5d943e10cb4c065dcbd05fe275e","type":"string"},{"id":"e0b4dc98-bfcc-4d13-b287-cd2738e0f23e","name":"wa_phone_number_id","value":"924412964080974","type":"string"},{"id":"0e3669a1-23fe-4149-877f-2f524918a27c","name":"wa_number_send","value":"919987749950","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2064,224],"id":"f5248d0b-52dd-4533-83e4-b021f8ad4bfd","name":"Edit Fields"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Fsnhz7trbQXEKG5c","mode":"list","cachedResultName":"chatsyncs-session-id","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Fsnhz7trbQXEKG5c"},"filters":{"conditions":[{"keyName":"platform_name","keyValue":"reseller"}]},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $json.sessionToken }}"},"matchingColumns":[],"schema":[{"id":"platform_name","displayName":"platform_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-528,32],"id":"c5fadd90-ee65-49a4-91c9-008ec1b43613","name":"Update row(s)"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('Edit Fields').item.json.wa_phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Edit Fields').item.json.wa_number_send }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $json.message.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"session_invalid\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,288],"id":"11cfdb87-34ba-4e42-a012-550bf90dc804","name":"msg to Lakshit","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"alert-session","name":"message","value":"=🚨 ChatSyncs Reseller Session Token Updated\n\nSuccess: ✅ Session Token Updated \n","type":"string"}]},"options":{}},"id":"f435f71c-9363-4b92-a3be-662ca0d0272c","name":"Session Update","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,32]},{"parameters":{"assignments":{"assignments":[{"id":"alert-session","name":"message","value":"=🚨 ChatSyncs Reseller Session Verification FAILED\n\nError: {{ $('Check Verification').item.json.error }}\n\nLogin succeeded but the session token is invalid. This could mean the auth system has changed.","type":"string"}]},"options":{}},"id":"ab17003b-3e44-4dff-a822-f55431e95081","name":"Session Invalid Alert","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,224]},{"parameters":{"assignments":{"assignments":[{"id":"alert-login","name":"message","value":"=🚨 ChatSyncs Reseller Login FAILED\n\nError: {{ $('Extract Session Token').item.json.error }}\n\nAction needed: Check if the next-action hash has changed. Open browser DevTools > Network tab > submit login > copy the new next-action header value and update the 'Login to ResaLab' node.","type":"string"}]},"options":{}},"id":"af026eac-7a67-4205-8cfe-fac16e5ff982","name":"Login Failed Alert","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,432]}],"connections":{"Every 25 Days":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Login to ResaLab":{"main":[[{"node":"Extract Session Token","type":"main","index":0}]]},"Extract Session Token":{"main":[[{"node":"Login OK?","type":"main","index":0}]]},"Login OK?":{"main":[[{"node":"Verify Session","type":"main","index":0}],[{"node":"Login Failed Alert","type":"main","index":0}]]},"Verify Session":{"main":[[{"node":"Check Verification","type":"main","index":0}]]},"Check Verification":{"main":[[{"node":"Session Valid?","type":"main","index":0}]]},"Session Valid?":{"main":[[{"node":"Update row(s)","type":"main","index":0}],[{"node":"Session Invalid Alert","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Login to ResaLab","type":"main","index":0}]]},"Update row(s)":{"main":[[{"node":"Session Update","type":"main","index":0}]]},"Session Invalid Alert":{"main":[[{"node":"msg to Lakshit","type":"main","index":0}]]},"Login Failed Alert":{"main":[[{"node":"msg to Lakshit","type":"main","index":0}]]},"Session Update":{"main":[[{"node":"msg to Lakshit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"b10d660b-acb4-4b09-844c-59e1e01d05f7","activeVersionId":"b10d660b-acb4-4b09-844c-59e1e01d05f7","triggerCount":1,"shared":[{"updatedAt":"2026-04-17T13:24:32.295Z","createdAt":"2026-04-17T13:24:32.295Z","role":"workflow:owner","workflowId":"YfiJvot_PztrIFDYacV6Y","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-04-17T13:37:20.000Z","createdAt":"2026-04-17T13:36:52.135Z","versionId":"b10d660b-acb4-4b09-844c-59e1e01d05f7","workflowId":"YfiJvot_PztrIFDYacV6Y","nodes":[{"parameters":{"rule":{"interval":[{"daysInterval":25,"triggerAtHour":10}]}},"id":"e325ada2-a850-436b-9654-3157015ba010","name":"Every 25 Days","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2272,224]},{"parameters":{"method":"POST","url":"https://reseller.backendassist.com/login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"text/x-component"},{"name":"content-type","value":"text/plain;charset=UTF-8"},{"name":"next-action","value":"={{ $json[\"next-action\"] }}"},{"name":"next-router-state-tree","value":"%5B%22%22%2C%7B%22children%22%3A%5B%22login%22%2C%7B%22children%22%3A%5B%22__PAGE__%22%2C%7B%7D%2C%22%2Flogin%22%2C%22refresh%22%5D%7D%5D%7D%2Cnull%2Cnull%2Ctrue%5D"},{"name":"origin","value":"https://reseller.backendassist.com"},{"name":"referer","value":"https://reseller.backendassist.com/login"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/plain","body":"=[{\"email\":\"{{ $json.email_id }}\",\"password\":\"{{ $json.password }}\"}]","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"72e3c99f-b6da-4518-a4c1-3dcd09fbf8d7","name":"Login to ResaLab","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1840,224]},{"parameters":{"jsCode":"const headers = $input.first().json.headers;\nconst setCookie = headers['set-cookie'];\n\nif (!setCookie) {\n  return [{ json: { success: false, error: 'Login failed - no set-cookie header. The next-action hash may have changed.', sessionToken: null } }];\n}\n\nconst cookies = Array.isArray(setCookie) ? setCookie : [setCookie];\nconst sessionCookie = cookies.find(c => c.includes('session-token='));\n\nif (!sessionCookie) {\n  return [{ json: { success: false, error: 'Login response missing session-token cookie.', sessionToken: null } }];\n}\n\nconst token = sessionCookie.split('session-token=')[1].split(';')[0];\nreturn [{ json: { success: true, error: null, sessionToken: token } }];"},"id":"80e7b301-4203-4ae1-b473-0ed4a7daf0c3","name":"Extract Session Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1632,224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"login-check","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"60e4bf01-64b7-44fe-881c-97f80b936af9","name":"Login OK?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1408,224]},{"parameters":{"url":"https://reseller.backendassist.com/api/auth/session","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"=session-token={{ $('Extract Session Token').item.json.sessionToken }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"897dee0a-7cdf-472a-ad40-b3e454f6b28a","name":"Verify Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1184,128]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst statusCode = response.statusCode;\nconst sessionToken = $('Extract Session Token').first().json.sessionToken;\n\nif (statusCode >= 200 && statusCode < 300) {\n  return [{ json: { verified: true, sessionToken: sessionToken, error: null } }];\n} else {\n  return [{ json: { verified: false, sessionToken: null, error: `Session verification failed with status ${statusCode}` } }];\n}"},"id":"c092f552-ef14-4ce6-a223-84e5c0834006","name":"Check Verification","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"verify-check","leftValue":"={{ $json.verified }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1ac25923-faa8-47ce-8c52-a2f4614917e4","name":"Session Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-752,128]},{"parameters":{"assignments":{"assignments":[{"id":"16b5e0a2-0619-4dd4-8a7b-a4f3b0835185","name":"email_id","value":"lakshitukani77@gmail.com","type":"string"},{"id":"7199299c-ba08-4188-9ffb-84cc101a54e5","name":"password","value":"L@k$hit77","type":"string"},{"id":"fd6222a6-c378-47ee-a02c-8d83ce4a2f5b","name":"next-action","value":"3eab77b5b442b5d943e10cb4c065dcbd05fe275e","type":"string"},{"id":"e0b4dc98-bfcc-4d13-b287-cd2738e0f23e","name":"wa_phone_number_id","value":"924412964080974","type":"string"},{"id":"0e3669a1-23fe-4149-877f-2f524918a27c","name":"wa_number_send","value":"919987749950","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2064,224],"id":"f5248d0b-52dd-4533-83e4-b021f8ad4bfd","name":"Edit Fields"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Fsnhz7trbQXEKG5c","mode":"list","cachedResultName":"chatsyncs-session-id","cachedResultUrl":"/projects/iOyc3VpWKvgHH9fv/datatables/Fsnhz7trbQXEKG5c"},"filters":{"conditions":[{"keyName":"platform_name","keyValue":"reseller"}]},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $json.sessionToken }}"},"matchingColumns":[],"schema":[{"id":"platform_name","displayName":"platform_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-528,32],"id":"c5fadd90-ee65-49a4-91c9-008ec1b43613","name":"Update row(s)"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('Edit Fields').item.json.wa_phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Edit Fields').item.json.wa_number_send }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $json.message.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"session_invalid\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[16,288],"id":"11cfdb87-34ba-4e42-a012-550bf90dc804","name":"msg to Lakshit","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"alert-session","name":"message","value":"=🚨 ChatSyncs Reseller Session Token Updated\n\nSuccess: ✅ Session Token Updated \n","type":"string"}]},"options":{}},"id":"f435f71c-9363-4b92-a3be-662ca0d0272c","name":"Session Update","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,32]},{"parameters":{"assignments":{"assignments":[{"id":"alert-session","name":"message","value":"=🚨 ChatSyncs Reseller Session Verification FAILED\n\nError: {{ $('Check Verification').item.json.error }}\n\nLogin succeeded but the session token is invalid. This could mean the auth system has changed.","type":"string"}]},"options":{}},"id":"ab17003b-3e44-4dff-a822-f55431e95081","name":"Session Invalid Alert","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,224]},{"parameters":{"assignments":{"assignments":[{"id":"alert-login","name":"message","value":"=🚨 ChatSyncs Reseller Login FAILED\n\nError: {{ $('Extract Session Token').item.json.error }}\n\nAction needed: Check if the next-action hash has changed. Open browser DevTools > Network tab > submit login > copy the new next-action header value and update the 'Login to ResaLab' node.","type":"string"}]},"options":{}},"id":"af026eac-7a67-4205-8cfe-fac16e5ff982","name":"Login Failed Alert","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,432]}],"connections":{"Every 25 Days":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Login to ResaLab":{"main":[[{"node":"Extract Session Token","type":"main","index":0}]]},"Extract Session Token":{"main":[[{"node":"Login OK?","type":"main","index":0}]]},"Login OK?":{"main":[[{"node":"Verify Session","type":"main","index":0}],[{"node":"Login Failed Alert","type":"main","index":0}]]},"Verify Session":{"main":[[{"node":"Check Verification","type":"main","index":0}]]},"Check Verification":{"main":[[{"node":"Session Valid?","type":"main","index":0}]]},"Session Valid?":{"main":[[{"node":"Update row(s)","type":"main","index":0}],[{"node":"Session Invalid Alert","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Login to ResaLab","type":"main","index":0}]]},"Update row(s)":{"main":[[{"node":"Session Update","type":"main","index":0}]]},"Session Invalid Alert":{"main":[[{"node":"msg to Lakshit","type":"main","index":0}]]},"Login Failed Alert":{"main":[[{"node":"msg to Lakshit","type":"main","index":0}]]},"Session Update":{"main":[[{"node":"msg to Lakshit","type":"main","index":0}]]}},"authors":"Lakshit Ukani","name":"Version b10d660b","description":"","autosaved":true},"tags":[]}