Backup_2026-06-16/ChatSyncs Website Form Submission - Not Used.json
{"updatedAt":"2026-04-08T06:13:21.000Z","createdAt":"2026-04-02T09:43:30.778Z","id":"ZYcxlVqkqoGLt7v6yamcT","name":"ChatSyncs Website Form Submission - Not Used","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatsyncs-form","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-64],"id":"5a7d0305-72db-47d3-b549-73909608b2ed","name":"Webhook","webhookId":"0d4ce5ba-f319-4dd1-b57e-2aa6a9152529"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0AQQ5VJSNM","mode":"list","cachedResultName":"chatsyncs-notification"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🔥 New ChatSyncs Lead\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"<@U08MP7Z8215> New lead from the pricing page!\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Name:*  {{ $json.body.fullName }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*  {{ $json.body.companyName }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*WhatsApp:*  {{ $json.body.whatsappE164 }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Email:*  {{ $json.body.emailId || 'Not provided' }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Industry:*  {{ $json.body.industry.label }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Daily conversations:*  {{ $json.body.dailyConversations.label }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Wants to automate:*  {{ $json.body.automationGoals.map(g => g.label).join(', ') }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Lead sources:*  {{ $json.body.leadSources.map(s => s.label).join(', ') }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Current tool:*  {{ $json.body.whatsappTool.label }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Timeline:*  {{ $json.body.startTimeline.label }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Notes:*  {{ ($json.body.notes || 'None').replace(/[\\\\r\\\\n]+/g, ' ').trim() }}\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Submitted:*  {{ DateTime.fromISO($json.body.submittedAt).setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a') }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Page:*  {{ $json.body.pagePath }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"ChatSyncs Lead Form | n8n automation\"\n        }\n      ]\n    }\n  ]\n}","text":"📧 ChatSyncs New Email Received","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[192,-64],"id":"b6d4ded2-f114-43a2-b4a6-a9dc2443264a","name":"Send a message","webhookId":"2f855d1e-c00f-485a-a8f7-dc5bb9fc0dd5","credentials":{"slackOAuth2Api":{"id":"ZC8Jm1dyTNehWjKR","name":"Techsunami Slack account"}}},{"parameters":{"method":"POST","url":"https://app.chatsyncs.com/api/v2/webhook/flows/69d0dc66c5c46d156d173616/sync","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source\": \"chatsyncs website\",\n  \"phone_number\": \"{{ $('Webhook').item.json.body.whatsappNumber}}\",\n  \"name\": \"{{ $('Webhook').item.json.body.fullName }}\",\n  \"email\": \"{{ $('Webhook').item.json.body.emailId }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-80,-64],"id":"0415eda0-7b5b-4d7e-9385-c952852cff3f","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv894857.hstgr.cloud","user-agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 26_3_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/146.0.7680.151 Mobile/15E148 Safari/604.1","content-length":"991","accept":"*/*","accept-encoding":"gzip, deflate, br","accept-language":"en-US,en;q=0.9","content-type":"application/json","origin":"https://www.chatsyncs.com","priority":"u=3, i","referer":"https://www.chatsyncs.com/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"36.255.89.241","x-forwarded-host":"n8n.srv894857.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f5ddd63a4643","x-real-ip":"36.255.89.241"},"params":{},"query":{},"body":{"source":"pricing-contact-form","submittedAt":"2026-04-02T11:48:37.516Z","pagePath":"/pricing","fullName":"Lakshit","whatsappNumber":"+919984446620","whatsappExtension":"+91","whatsappNationalNumber":"9984446620","whatsappE164":"+919984446620","whatsappCountryCode":"IN","whatsappCountryName":"India","emailId":"lakshitukani77@gmail.com","companyName":"Lakshit Ukani","industry":{"value":"manufacturer-exporter","label":"Manufacturer / exporter"},"dailyConversations":{"value":"10-50","label":"10 - 50"},"automationGoals":[{"id":"lead-follow-up","label":"Lead follow-up"},{"id":"customer-support","label":"Customer support"}],"leadSources":[{"id":"indiamart","label":"IndiaMart"},{"id":"facebook-instagram-ads","label":"Facebook / Instagram ads"},{"id":"whatsapp-directly","label":"WhatsApp directly"}],"whatsappTool":{"value":"yes-custom-inhouse","label":"Yes, using a custom / in-house solution"},"startTimeline":{"value":"within-2-weeks","label":"Within 2 weeks"},"notes":"No nothing\n"},"webhookUrl":"https://n8n.srv894857.hstgr.cloud/webhook/chatsyncs-form","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"b408a648-916a-4396-97a6-c90d4612d57e","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-02T09:43:30.791Z","createdAt":"2026-04-02T09:43:30.791Z","role":"workflow:owner","workflowId":"ZYcxlVqkqoGLt7v6yamcT","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}