Backup_2026-04-25/Handle Support Email.json
{"updatedAt":"2026-04-06T12:32:57.521Z","createdAt":"2026-04-01T17:59:22.128Z","id":"NcdhBS1gku_MqSXHnio7v","name":"Handle Support Email","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"q":"to:support@chatsyncs.com"}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[0,0],"id":"1c348491-5450-4fe3-9bce-ace5d645e7bd","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"Fu5g3isExTvyoGQe","name":"ChatSyncs Mail"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0AQ9DNA86A","mode":"list","cachedResultName":"chatsyncs-support-mail"},"messageType":"block","blocksUi":"={\n\"blocks\": [\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"📧 New Email Received\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"<@U08MP7Z8215> You have received a new email. Here are the details:\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*From:*\\n{{ $json.From }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Received At:*\\n{{ $now.setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a') }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*Subject:*\\n{{ $json.Subject }}\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*Email Body:*\\n{{ $json.snippet }}\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"context\",\n    \"elements\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"📬 Gmail Trigger | Processed by n8n automation\"\n      }\n    ]\n  }\n]\n}","text":"📧 ChatSyncs New Email Received","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[240,0],"id":"bd1c31f2-e7ab-45a6-961c-f6f4d30b3161","name":"Send a message","webhookId":"2f855d1e-c00f-485a-a8f7-dc5bb9fc0dd5","credentials":{"slackOAuth2Api":{"id":"ZC8Jm1dyTNehWjKR","name":"Techsunami Slack account"}}},{"parameters":{"content":"##### Claude link for slack question - https://claude.ai/chat/5f99315c-5eb8-4025-bad0-6c437d10dfb3","height":80,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,-160],"id":"0c7957fc-5de4-4a03-b337-5f0f55494c95","name":"Sticky Note"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('Edit Fields').item.json.wa_phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Edit Fields').item.json.wa_number_send }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $('Edit Fields').item.json.wa_msg.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"wa_automation\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[688,0],"id":"9c073e71-cb21-4af3-b0d5-c1a022971ee6","name":"msg to Lakshit","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"a5fe6b30-df32-46e6-b79c-952a803f898a","name":"wa_phone_number_id","value":"924412964080974","type":"string"},{"id":"5437de65-7ce8-473b-ad3c-7779e024b76a","name":"wa_number_send","value":"919987749950","type":"string"},{"id":"8ddb3860-7d4d-44c7-ac0d-ce15f2af0c76","name":"wa_msg","value":"=📧 New Support Mail in ChatSyncs\n\nYou have received a new email. Here are the details: \n\n*From:*\n{{ $('Gmail Trigger').item.json.From }}\n\n*Subject:*\n{{ $('Gmail Trigger').item.json.Subject }}\n\n*Text:*\n{{ $('Gmail Trigger').item.json.snippet }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,0],"id":"5f90669e-7489-408d-a864-bce64236b5ee","name":"Edit Fields"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"msg to Lakshit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a6552fc9-b83a-47f5-a852-f2d75dd9b9f4","activeVersionId":"a6552fc9-b83a-47f5-a852-f2d75dd9b9f4","triggerCount":1,"shared":[{"updatedAt":"2026-04-01T17:59:22.161Z","createdAt":"2026-04-01T17:59:22.161Z","role":"workflow:owner","workflowId":"NcdhBS1gku_MqSXHnio7v","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-04-06T12:32:59.000Z","createdAt":"2026-04-06T12:32:57.527Z","versionId":"a6552fc9-b83a-47f5-a852-f2d75dd9b9f4","workflowId":"NcdhBS1gku_MqSXHnio7v","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"q":"to:support@chatsyncs.com"}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[0,0],"id":"1c348491-5450-4fe3-9bce-ace5d645e7bd","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"Fu5g3isExTvyoGQe","name":"ChatSyncs Mail"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0AQ9DNA86A","mode":"list","cachedResultName":"chatsyncs-support-mail"},"messageType":"block","blocksUi":"={\n\"blocks\": [\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"📧 New Email Received\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"<@U08MP7Z8215> You have received a new email. Here are the details:\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*From:*\\n{{ $json.From }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Received At:*\\n{{ $now.setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a') }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*Subject:*\\n{{ $json.Subject }}\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*Email Body:*\\n{{ $json.snippet }}\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"context\",\n    \"elements\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"📬 Gmail Trigger | Processed by n8n automation\"\n      }\n    ]\n  }\n]\n}","text":"📧 ChatSyncs New Email Received","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[240,0],"id":"bd1c31f2-e7ab-45a6-961c-f6f4d30b3161","name":"Send a message","webhookId":"2f855d1e-c00f-485a-a8f7-dc5bb9fc0dd5","credentials":{"slackOAuth2Api":{"id":"ZC8Jm1dyTNehWjKR","name":"Techsunami Slack account"}}},{"parameters":{"content":"##### Claude link for slack question - https://claude.ai/chat/5f99315c-5eb8-4025-bad0-6c437d10dfb3","height":80,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,-160],"id":"0c7957fc-5de4-4a03-b337-5f0f55494c95","name":"Sticky Note"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('Edit Fields').item.json.wa_phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Edit Fields').item.json.wa_number_send }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $('Edit Fields').item.json.wa_msg.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"wa_automation\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[688,0],"id":"9c073e71-cb21-4af3-b0d5-c1a022971ee6","name":"msg to Lakshit","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"a5fe6b30-df32-46e6-b79c-952a803f898a","name":"wa_phone_number_id","value":"924412964080974","type":"string"},{"id":"5437de65-7ce8-473b-ad3c-7779e024b76a","name":"wa_number_send","value":"919987749950","type":"string"},{"id":"8ddb3860-7d4d-44c7-ac0d-ce15f2af0c76","name":"wa_msg","value":"=📧 New Support Mail in ChatSyncs\n\nYou have received a new email. Here are the details: \n\n*From:*\n{{ $('Gmail Trigger').item.json.From }}\n\n*Subject:*\n{{ $('Gmail Trigger').item.json.Subject }}\n\n*Text:*\n{{ $('Gmail Trigger').item.json.snippet }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,0],"id":"5f90669e-7489-408d-a864-bce64236b5ee","name":"Edit Fields"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"msg to Lakshit","type":"main","index":0}]]}},"authors":"Lakshit Ukani","name":"Version a6552fc9","description":"","autosaved":true},"tags":[]}