Backup_2026-04-25/Meta Ads.json
{"updatedAt":"2026-04-18T17:36:40.379Z","createdAt":"2026-04-16T15:00:41.415Z","id":"Wqx8OAsiBxissAYFfFeNJ","name":"Meta Ads","active":true,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"meta-ads","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-96,-192],"id":"2492845e-04c5-4ed1-95d8-8f6bf25e4338","name":"Webhook","webhookId":"e0001cca-1abe-4bdc-aa96-f4c16e7ef68e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb84fa11-ec27-4877-83ea-3a11a195fc92","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals"}},{"id":"cc0f2c01-431e-4fc0-9386-3c31b52fec46","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[128,-288],"id":"74660162-48cf-485f-8832-34522f7547f4","name":"Filter"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[352,-288],"id":"234a919b-abe7-45dc-b8be-56de91f2c22f","name":"Respond to Webhook"},{"parameters":{"url":"=https://graph.facebook.com/v19.0/{{ $json.body.entry[0].changes[0].value.leadgen_id }}?fields=field_data","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-96],"id":"ebbe25ef-e42d-4b3d-a8ff-d6362a7b9aa5","name":"HTTP Request","credentials":{"httpQueryAuth":{"id":"FDtFFLSMvJtuqzku","name":"n8n Chatsyncs App Access token"}}},{"parameters":{"method":"POST","url":"https://n8n.srv894857.hstgr.cloud/webhook/meta-capi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event_name\": \"Lead\",\n  \"email\": \"{{$json.field_data.find(f => f.name === 'email')?.values[0]}}\",\n  \"phone\": \"{{$json.field_data.find(f => f.name === 'phone_number')?.values[0]}}\",\n  \"first_name\": \"{{$json.field_data.find(f => f.name === 'full_name')?.values[0].split(' ')[0]}}\",\n  \"last_name\": \"{{$json.field_data.find(f => f.name === 'full_name')?.values[0].split(' ').slice(1).join(' ')}}\",\n  \"source_url\": \"https://chatsyncs.com\",\n  \"fbc\": null\n}\n","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[352,-96],"id":"e4196822-c802-449e-979a-5ee00fe7b81c","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://app.chatsyncs.com/api/v2/whatsapp-business/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"to\": \"{{$json.field_data.find(f => f.name === 'phone_number')?.values[0].split(\"+\")[1]}}\",\n  \"phoneNoId\": \"1063767660153351\",\n  \"type\": \"template\",\n  \"name\": \"lead_acknowledgement_whatsapp\",\n  \"language\": \"en\",\n  \"bodyParams\": [\n    \"Lakshit\", \"https://www.youtube.com/watch?v=d6p5RbBqLKU\", \"https://cal.com/lakshit-ukani-77/60minfree\"\n  ]\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[608,-96],"id":"8f40fae2-28bf-4164-a601-c7545c84ee0f","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"vJEFziOaekwCphHM","name":"ChatSyncs Authorization"}}}],"connections":{"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv894857.hstgr.cloud","user-agent":"Webhooks/1.0 (https://fb.me/webhooks)","content-length":"246","accept":"*/*","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv894857.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f5ddd63a4643","x-hub-signature":"sha1=0313a930c7a675f0303f961b49e41cabd892f5c1","x-hub-signature-256":"sha256=82ad63e082d34d67f7e787bd604314967d3e3328903d8d7c3e35d9970483b326","x-real-ip":"172.18.0.1","accept-encoding":"gzip"},"params":{},"query":{},"body":{"entry":[{"id":"1107007332491752","time":1776413575,"changes":[{"value":{"created_time":1776413573,"leadgen_id":"782690524718494","page_id":"1107007332491752","form_id":"1682785079572377"},"field":"leadgen"}]}],"object":"page"},"webhookUrl":"https://n8n.srv894857.hstgr.cloud/webhook/meta-ads","executionMode":"production"},"pairedItem":{"item":0,"input":1}}]},"versionId":"77446fc1-42e6-4fec-a79a-2ae65b3a23c5","activeVersionId":"77446fc1-42e6-4fec-a79a-2ae65b3a23c5","triggerCount":1,"shared":[{"updatedAt":"2026-04-16T15:00:41.424Z","createdAt":"2026-04-16T15:00:41.424Z","role":"workflow:owner","workflowId":"Wqx8OAsiBxissAYFfFeNJ","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-04-18T17:36:57.000Z","createdAt":"2026-04-18T17:36:40.379Z","versionId":"77446fc1-42e6-4fec-a79a-2ae65b3a23c5","workflowId":"Wqx8OAsiBxissAYFfFeNJ","nodes":[{"parameters":{"multipleMethods":true,"path":"meta-ads","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-96,-192],"id":"2492845e-04c5-4ed1-95d8-8f6bf25e4338","name":"Webhook","webhookId":"e0001cca-1abe-4bdc-aa96-f4c16e7ef68e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb84fa11-ec27-4877-83ea-3a11a195fc92","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals"}},{"id":"cc0f2c01-431e-4fc0-9386-3c31b52fec46","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[128,-288],"id":"74660162-48cf-485f-8832-34522f7547f4","name":"Filter"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[352,-288],"id":"234a919b-abe7-45dc-b8be-56de91f2c22f","name":"Respond to Webhook"},{"parameters":{"url":"=https://graph.facebook.com/v19.0/{{ $json.body.entry[0].changes[0].value.leadgen_id }}?fields=field_data","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[112,-96],"id":"ebbe25ef-e42d-4b3d-a8ff-d6362a7b9aa5","name":"HTTP Request","credentials":{"httpQueryAuth":{"id":"FDtFFLSMvJtuqzku","name":"n8n Chatsyncs App Access token"}}},{"parameters":{"method":"POST","url":"https://n8n.srv894857.hstgr.cloud/webhook/meta-capi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"event_name\": \"Lead\",\n  \"email\": \"{{$json.field_data.find(f => f.name === 'email')?.values[0]}}\",\n  \"phone\": \"{{$json.field_data.find(f => f.name === 'phone_number')?.values[0]}}\",\n  \"first_name\": \"{{$json.field_data.find(f => f.name === 'full_name')?.values[0].split(' ')[0]}}\",\n  \"last_name\": \"{{$json.field_data.find(f => f.name === 'full_name')?.values[0].split(' ').slice(1).join(' ')}}\",\n  \"source_url\": \"https://chatsyncs.com\",\n  \"fbc\": null\n}\n","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[352,-96],"id":"e4196822-c802-449e-979a-5ee00fe7b81c","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://app.chatsyncs.com/api/v2/whatsapp-business/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"to\": \"{{$json.field_data.find(f => f.name === 'phone_number')?.values[0].split(\"+\")[1]}}\",\n  \"phoneNoId\": \"1063767660153351\",\n  \"type\": \"template\",\n  \"name\": \"lead_acknowledgement_whatsapp\",\n  \"language\": \"en\",\n  \"bodyParams\": [\n    \"Lakshit\", \"https://www.youtube.com/watch?v=d6p5RbBqLKU\", \"https://cal.com/lakshit-ukani-77/60minfree\"\n  ]\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[608,-96],"id":"8f40fae2-28bf-4164-a601-c7545c84ee0f","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"vJEFziOaekwCphHM","name":"ChatSyncs Authorization"}}}],"connections":{"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"authors":"Lakshit Ukani","name":"Version 77446fc1","description":"","autosaved":true},"tags":[]}