Backup_2026-07-19/My workflow 35.json
{"updatedAt":"2026-04-17T08:00:50.437Z","createdAt":"2026-04-17T07:58:26.125Z","id":"mTftwqnl8FelvqnSY6XYD","name":"My workflow 35","active":false,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"5ffac08e-cf1d-478a-bce2-c6e080b85d86","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-112,0],"id":"7403878b-4df2-4842-9076-1a29708c8d54","name":"Webhook","webhookId":"5ffac08e-cf1d-478a-bce2-c6e080b85d86"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb84fa11-ec27-4877-83ea-3a11a195fc92","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals"}},{"id":"cc0f2c01-431e-4fc0-9386-3c31b52fec46","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[160,-48],"id":"4630738e-e977-4051-b4ba-1aaec225fbf6","name":"Filter"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[384,-48],"id":"30eb9221-314e-4d7e-a795-aabb10e91b33","name":"Respond to Webhook"}],"connections":{"Filter":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"0b976305-87bc-41ab-8fdf-8d54bc92f81c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-17T07:58:26.127Z","createdAt":"2026-04-17T07:58:26.127Z","role":"workflow:owner","workflowId":"mTftwqnl8FelvqnSY6XYD","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}