Backup_2026-05-04/Fallback wellington Access Token.json
{"updatedAt":"2026-05-01T15:51:44.141Z","createdAt":"2026-05-01T15:46:08.176Z","id":"XZvAddWGjac2WkLQkMh7d","name":"Fallback wellington Access Token","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"welligton-login","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"2d3649cf-06b8-4a49-9f25-3bb40587b34e","name":"Webhook","webhookId":"f6db3c9d-ad17-47cb-9838-3c62ba90ef67"},{"parameters":{"method":"POST","url":"https://sglapi.wellingtoninternational.com/auth/login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Origin","value":"https://www.wellingtoninternational.com"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"ckear0004@gmail.com"},{"name":"password","value":"5614$$$AshlandFarms"},{"name":"remember_me","value":"yes"},{"name":"company_id","value":"15"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"ab2e5abd-477a-4464-86ad-2013e985954c","name":"HTTP Request"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"access_token\": \"{{ $json.access_token }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,0],"id":"bc7a322a-51c8-48e3-864a-492b5e785d45","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"40ad8f7a-700f-42a4-a3c6-d8443daedbab","activeVersionId":"40ad8f7a-700f-42a4-a3c6-d8443daedbab","triggerCount":1,"shared":[{"updatedAt":"2026-05-01T15:46:08.182Z","createdAt":"2026-05-01T15:46:08.182Z","role":"workflow:owner","workflowId":"XZvAddWGjac2WkLQkMh7d","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-05-01T15:47:16.000Z","createdAt":"2026-05-01T15:47:14.111Z","versionId":"40ad8f7a-700f-42a4-a3c6-d8443daedbab","workflowId":"XZvAddWGjac2WkLQkMh7d","nodes":[{"parameters":{"path":"welligton-login","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"2d3649cf-06b8-4a49-9f25-3bb40587b34e","name":"Webhook","webhookId":"f6db3c9d-ad17-47cb-9838-3c62ba90ef67"},{"parameters":{"method":"POST","url":"https://sglapi.wellingtoninternational.com/auth/login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Origin","value":"https://www.wellingtoninternational.com"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"ckear0004@gmail.com"},{"name":"password","value":"5614$$$AshlandFarms"},{"name":"remember_me","value":"yes"},{"name":"company_id","value":"15"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"ab2e5abd-477a-4464-86ad-2013e985954c","name":"HTTP Request"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"access_token\": \"{{ $json.access_token }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,0],"id":"bc7a322a-51c8-48e3-864a-492b5e785d45","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Lakshit Ukani","name":"Version 40ad8f7a","description":"","autosaved":true},"tags":[]}