Backup_2026-06-23/Daily AI News to Google Sheets.json
{"updatedAt":"2025-09-17T19:25:17.000Z","createdAt":"2025-09-17T19:05:47.170Z","id":"CYMoJKkW76oN4MDa","name":"Daily AI News to Google Sheets","active":false,"isArchived":true,"nodes":[{"id":"schedule-trigger","name":"Daily Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}}},{"id":"rss-read-1","name":"AI News RSS Feed","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[460,300],"parameters":{"url":"https://feeds.feedburner.com/oreilly/radar"}},{"id":"rss-read-2","name":"TechCrunch AI RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[460,180],"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/"}},{"id":"rss-read-3","name":"VentureBeat AI RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[460,420],"parameters":{"url":"https://venturebeat.com/ai/feed/"}},{"id":"merge-data","name":"Merge All News","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[680,300],"parameters":{"mode":"combine","combineBy":"combineAll"}},{"id":"filter-ai","name":"Filter AI Content","type":"n8n-nodes-base.if","typeVersion":1,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.title }}","rightValue":"AI|artificial intelligence|machine learning|ML|deep learning|neural network|GPT|ChatGPT|OpenAI|Google AI|Microsoft AI","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}}},{"id":"format-data","name":"Format Data for Sheets","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1120,300],"parameters":{"assignments":{"assignments":[{"id":"assignment1","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"assignment2","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"assignment3","name":"link","value":"={{ $json.link }}","type":"string"},{"id":"assignment4","name":"published_date","value":"={{ $json.pubDate }}","type":"string"},{"id":"assignment5","name":"source","value":"={{ $json.guid || $json.link }}","type":"string"},{"id":"assignment6","name":"date_added","value":"={{ new Date().toISOString() }}","type":"string"}]}}},{"id":"google-sheets","name":"Save to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1340,300],"parameters":{"operation":"append","documentId":{"__rl":true,"value":"","mode":"id"},"sheetName":{"__rl":true,"value":"AI News","mode":"list"},"range":"A:F","columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","description":"={{ $json.description }}","link":"={{ $json.link }}","published_date":"={{ $json.published_date }}","source":"={{ $json.source }}","date_added":"={{ $json.date_added }}"}}}}],"connections":{"Daily Schedule":{"main":[[{"node":"AI News RSS Feed","type":"main","index":0},{"node":"TechCrunch AI RSS","type":"main","index":0},{"node":"VentureBeat AI RSS","type":"main","index":0}]]},"AI News RSS Feed":{"main":[[{"node":"Merge All News","type":"main","index":0}]]},"TechCrunch AI RSS":{"main":[[{"node":"Merge All News","type":"main","index":0}]]},"VentureBeat AI RSS":{"main":[[{"node":"Merge All News","type":"main","index":0}]]},"Merge All News":{"main":[[{"node":"Filter AI Content","type":"main","index":0}]]},"Filter AI Content":{"main":[[{"node":"Format Data for Sheets","type":"main","index":0}]]},"Format Data for Sheets":{"main":[[{"node":"Save to Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"c9c17f48-c75b-4b3b-8e0b-c12a07168c8d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-17T19:05:47.175Z","createdAt":"2025-09-17T19:05:47.175Z","role":"workflow:owner","workflowId":"CYMoJKkW76oN4MDa","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}