Backup_2026-04-06/42_video_generation_banana.json
{
  "updatedAt": "2025-08-31T18:52:02.000Z",
  "createdAt": "2025-08-31T16:15:43.793Z",
  "id": "TeTu4J1bRF2wMl0T",
  "name": "42_video_generation_banana",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Banana Model Description",
        "formDescription": "Banana Model",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image 1",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "Image 2",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "Action",
              "placeholder": "Describe what action to perform",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -208,
        -16
      ],
      "id": "28a6297f-5fa3-4870-b879-a52595bb0fa7",
      "name": "On form submission",
      "webhookId": "24c05501-1a83-4f69-bb68-d013be7cf15d"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -736,
        576
      ],
      "id": "bbc37e70-ba32-4439-aebd-1b00e41149a1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "Image_1",
        "name": "={{ $json[\"Image 1\"].filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dYPDTvzz7zgOJO1muIjgsLNVWMrmZYUC",
          "mode": "list",
          "cachedResultName": "n8n testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dYPDTvzz7zgOJO1muIjgsLNVWMrmZYUC"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        -112
      ],
      "id": "d90e171a-8ff4-4bf0-b078-4b0e301a6559",
      "name": "Upload Image 1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P7hJ2H1cveh3Bajc",
          "name": "Lakshit Google Drive"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "Image_2",
        "name": "=",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dYPDTvzz7zgOJO1muIjgsLNVWMrmZYUC",
          "mode": "list",
          "cachedResultName": "n8n testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dYPDTvzz7zgOJO1muIjgsLNVWMrmZYUC"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        80
      ],
      "id": "03aa32c4-b5f2-4c1f-b1a9-3e51c8ef2130",
      "name": "Upload Image 2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P7hJ2H1cveh3Bajc",
          "name": "Lakshit Google Drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -16
      ],
      "id": "8b465acf-b0bb-4e7a-a592-5fe8f14ac835",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4542cdb0-06f8-42e8-b662-a4043951151c",
              "name": "image_url_2",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        80
      ],
      "id": "b1e59ed4-2188-4698-a726-85e9a2593da5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4542cdb0-06f8-42e8-b662-a4043951151c",
              "name": "image_url_1",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -112
      ],
      "id": "0a0fd4ef-cb35-4e16-8a25-47a40aab89a5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -160,
        352
      ],
      "id": "3c041b2b-c8f4-4ce3-adf8-0e0a10c83069",
      "name": "Wait",
      "webhookId": "cc14c7a9-a632-4b26-b4fd-982f39810ea7"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        272,
        560
      ],
      "id": "afebd3d1-0737-4de3-b8f1-a8d13157966a",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        352
      ],
      "id": "6716b1ce-2454-4832-9b56-8e07fb58c482",
      "name": "Wait1",
      "webhookId": "162cff1b-c37b-4eef-bd62-b4d81ed541b4"
    },
    {
      "parameters": {
        "content": "## Image Generation\n",
        "height": 592,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        240
      ],
      "id": "a5124503-581d-49e5-9e11-95e948bf4d9e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Video Generation",
        "height": 592,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "0ce7b77a-e6f1-4a15-a5d6-1b267b26ebab",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output }}\",\n  \"image_urls\": [\n    \"{{ $('Merge').item.json.image_url_1 }}\",\n    \"{{ $('Merge').item.json.image_url_2 }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        352
      ],
      "id": "9a9e18f1-41bd-4988-a731-6dc140313100",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OAZrEcldKeV1euTX",
          "name": "Fal AI Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Prompt - {{ $('On form submission').item.json.Action }}",
        "options": {
          "systemMessage": "=You are a prompt-generation assistant for an image model.\n\nThe user will describe an action involving two images:\n\nA superhero (Marvel or DC).\n\nAn animal.\n\nYour job is to take the user’s request and transform it into a detailed, well-structured image prompt for the image generation model.\n\nGuidelines for generated prompts:\n\nAlways instruct the model to merge the superhero and the animal into a single image.\n\nThe animal must wear or be covered in the superhero’s armor/costume, adapted naturally to its body.\n\nPreserve the animal’s natural form and appearance while blending superhero elements and keep it generic don't use name of any specific breed unless specified by user prompt.\n\nEmphasize seamless integration, realism, and recognizability of both the animal and superhero style.\n\nOutput only the final prompt text for the image generation model — nothing else.\n\nExample:\nIf the user says “merge a lion with Iron Man”, you generate:\n\"A majestic lion wearing Iron Man’s red and gold armored suit, seamlessly adapted to its body. The armor fits naturally over the lion’s form, keeping the mane visible while showcasing glowing arc reactor details. Realistic and cinematic style, highly detailed, seamless blending"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -736,
        352
      ],
      "id": "0ca10e07-ea6e-4144-8fa4-330566be67a2",
      "name": "Image Prompt"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        352
      ],
      "id": "4bb9d1c1-15f6-445b-a9a8-b6ca35103f12",
      "name": "Get Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OAZrEcldKeV1euTX",
          "name": "Fal AI Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Image Prompt').item.json.output }}",
        "options": {
          "systemMessage": "=You are a video generation model. The input is a still image of an animal merged with a superhero’s armor/costume. Your job is to generate a cinematic motion video that brings this image to life.\n\nCore Instructions\n\nThe animal remains the main subject throughout the video.\n\nApply smooth, natural movements: subtle breathing, blinking, slow walking, or turning.\n\nThe armor must move realistically with the animal’s body: joints flex, metallic pieces shift, glowing elements stay stable.\n\nUse cinematic camera motion: slow pan, zoom, orbit, or perspective shifts.\n\nLighting and shadows should update naturally as the subject or camera moves.\n\nMaintain consistency with the original image: no identity changes, no extra characters, no costume redesign.\n\nOutput should feel like a short movie shot: dramatic, polished, and seamless.\n\nOptional Style Variations\n\nEpic Cinematic: Add dramatic lighting, lens flares, slow-motion effect.\n\nAnimated/Cartoon: Smooth, stylized animation with exaggerated motions.\n\nFuturistic Cyberpunk: Neon glows, holographic HUD overlays, city background motion.\n\nFantasy/Mystical: Ethereal lighting, glowing particles, magical atmosphere.\n\nGood Examples\n\n✅ A lion in superhero armor slowly turns its head as the camera circles around, armor plates reflecting light, arc reactor glowing steadily.\n✅ A wolf in superhero armor walks forward in slow motion with cinematic lighting, camera zooms in gradually on glowing chest armor.\n✅ An eagle in superhero armor spreads its wings; metallic plates move naturally, and the camera pans smoothly from below.\n\nBad Examples\n\n❌ The animal is replaced with a different species (e.g., tiger becomes a dog).\n❌ Superhero armor is changed into another character’s costume.\n❌ Camera movements are shaky, unnatural, or too fast.\n❌ The scene introduces extra characters, random backgrounds, or irrelevant elements.\n❌ The video looks like a slideshow of still frames instead of smooth animation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        352
      ],
      "id": "4abc6deb-f254-4b3f-bdc3-f953acf9e072",
      "name": "Video Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3/fast/image-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n  \"image_url\": \"{{ $('Get Image').item.json.images[0].url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        352
      ],
      "id": "7a33b57f-5c3b-4021-b229-cfea7d98d06e",
      "name": "Create Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OAZrEcldKeV1euTX",
          "name": "Fal AI Account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        352
      ],
      "id": "05073ca9-588a-4c60-a386-158f9b5b0124",
      "name": "Get Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OAZrEcldKeV1euTX",
          "name": "Fal AI Account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload Image 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Image 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Video Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Prompt": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1c9a2d0d-9d43-4e90-a9b5-868c876843bc",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-08-31T16:15:43.798Z",
      "createdAt": "2025-08-31T16:15:43.798Z",
      "role": "workflow:owner",
      "workflowId": "TeTu4J1bRF2wMl0T",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": null,
  "tags": []
}