Backup_2026-07-02/Calendar - events in next 1 hour (all calendars).json
{"updatedAt":"2026-06-27T12:48:21.903Z","createdAt":"2026-01-26T11:54:26.202Z","id":"valIIsDkV8EQbtoM","name":"Calendar - events in next 1 hour (all calendars)","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('Loop Over Items').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Loop Over Items').first().json.number }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $json.message.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"speaking_english\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[928,48],"id":"e0aa093d-af74-4706-8a81-ef70308f100a","name":"Initial Btn Msg","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[256,48],"id":"a9b6549b-4513-4b1c-8e1d-ce197496b25e","name":"Loop Over Items"},{"parameters":{"multipleMethods":true,"path":"reminder","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,272],"id":"99ec00f3-d6fb-4dde-ab09-e6483da50562","name":"Whatsapp Bot Webhook","webhookId":"2b7f85b2-f581-46d9-8d22-172f7a9933c0","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-192,272],"id":"28da0b60-6b28-4ac6-b6d4-d532334cd55e","name":"Verify Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51696ba9-54b9-4f8c-bd0c-4e11fcb50d45","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4b041959-0ee0-4db3-8465-d08554bdec80","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-416,272],"id":"0f555868-82f7-4267-9c40-b4da99c7f43c","name":"Check webhook configure parameter"},{"parameters":{"authentication":"oAuth2","operation":"getAll","team":"90161509643","space":"90166454992","folderless":true,"list":"={{ $('Loop Over Items').item.json.list_id }}","filters":{"assignees":"={{ [$('Loop Over Items').item.json.assignee_id] }}","dueDateLt":"={{ DateTime.now().plus({ days: (7 - DateTime.now().weekday) % 7 || 7 }).toFormat('yyyy-MM-dd') + 'T00:00:00' }}","subtasks":true}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[480,-128],"id":"87469abd-985f-4f35-a94a-1247e46806bd","name":"Get many tasks","alwaysOutputData":true,"credentials":{"clickUpOAuth2Api":{"id":"nO8Ga77U6a9RNcu6","name":"ClickUp account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[32,48],"id":"4f32073d-f69d-4e4a-a64a-e90d6a7637b7","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"3314d386-66a4-4abc-a425-e2178f9d4fc3","name":"data","value":"=[   \n  {\n    \"user_name\": \"Lakshit\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 919987749950,       \n    \"assignee_id\": 88904698, \n    \"list_name\": \"Lakshit Personal List\",\n    \"list_id\": 901613780278   \n  },\n  {\n    \"user_name\": \"Lakshit\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 919987749950,       \n    \"assignee_id\": 88904698,\n    \"list_name\": \"Lakmi List\",\n    \"list_id\": 901613829435   \n  },  \n  {     \n    \"user_name\": \"Mosmi\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 918898798259,       \n    \"assignee_id\": 100993403,  \n    \"list_name\": \"Lakmi List\",\n    \"list_id\": 901613829435   \n  } \n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,48],"id":"c86a1b7c-c017-4f2d-9692-b4a4f5ca3eec","name":"variable"},{"parameters":{"jsCode":"const tasks = $input.all().map(item => item.json);\n\nconst IST_OFFSET = 5.5 * 60 * 60 * 1000;\nconst nowUTC = Date.now();\nconst nowIST = nowUTC + IST_OFFSET;\nconst nowISTDate = new Date(nowIST);\n\nconst dateStr = nowISTDate.toLocaleDateString(\"en-IN\", {\n  weekday: \"short\", day: \"numeric\", month: \"short\",\n  timeZone: \"Asia/Kolkata\"\n});\n\nconst listName = $('Loop Over Items').item.json.list_name || \"Tasks\";\n\n// Handle empty response\nif (!tasks || tasks.length === 0 || !tasks[0].id) {\n  return [{ json: { message: `📋 *${listName} — ${dateStr}*\\n\\nNo tasks for this week. ✅` } }];\n}\n\nconst todayStart = Date.UTC(\n  nowISTDate.getUTCFullYear(),\n  nowISTDate.getUTCMonth(),\n  nowISTDate.getUTCDate()\n) - IST_OFFSET;\n\nconst todayEnd = todayStart + 86400000;\n\nconst overdue = [];\nconst today = [];\nconst week = [];\n\nfor (const task of tasks) {\n  const due = parseInt(task.due_date);\n\n  if (due < todayStart) {\n    overdue.push(task.name);\n  } else if (due < todayEnd) {\n    today.push(task.name);\n  } else {\n    week.push(task.name);\n  }\n}\n\nconst formatList = (arr) =>\n  arr.map((line, i) => `${i + 1}. ${line}`).join(\"\\n\");\n\nlet msg = `📋 *${listName} — ${dateStr}*\\n`;\n\nif (overdue.length > 0) {\n  msg += `\\n🔴 *Overdue (${overdue.length})*\\n`;\n  msg += formatList(overdue);\n}\n\nif (today.length > 0) {\n  msg += `\\n\\n📅 *Today (${today.length})*\\n`;\n  msg += formatList(today);\n}\n\nif (week.length > 0) {\n  msg += `\\n\\n📆 *This Week (${week.length})*\\n`;\n  msg += formatList(week);\n}\n\nif (overdue.length === 0 && today.length === 0 && week.length === 0) {\n  msg += \"\\n\\nNo tasks for this week. ✅\";\n}\n\nmsg += `\\n\\n_${overdue.length + today.length + week.length} tasks total_`;\n\nreturn [{ json: { message: msg } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-128],"id":"06ba271b-939b-43f6-801a-a3e4b13d3566","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9-23/2 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-640,48],"id":"dafe549c-8882-44f1-b0e8-c4d0b4316aea","name":"Every 2 hr from 9am to 11pm"},{"parameters":{"httpMethod":"POST","path":"siri","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,-464],"id":"edc40266-a782-4938-8a30-60e3c8c7b313","name":"Webhook","webhookId":"327ec3ce-d0e1-4483-86a0-af51a510c227","credentials":{"httpHeaderAuth":{"id":"68OyFuAIQOUvFn1W","name":"Iphone API Call"}}},{"parameters":{"authentication":"oAuth2","team":"90161509643","space":"90166454992","folderless":true,"list":"={{ $('Extract Task Data').item.json.output[0].content[0].text.list_id }}","name":"={{ $('Extract Task Data').item.json.output[0].content[0].text.task_name }}","additionalFields":{"assignees":"={{ [$('Extract Task Data').item.json.output[0].content[0].text.assignee_id] }}","content":"={{ $('Extract Task Data').item.json.output[0].content[0].text.task_description }}","dueDate":"={{ $('Extract Task Data').item.json.output[0].content[0].text.due_date }}","priority":"={{ $('Extract Task Data').item.json.output[0].content[0].text.priority }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[608,-464],"id":"cb120ecd-41f4-41c1-bb99-841a0a1734ce","name":"Create a task","credentials":{"clickUpOAuth2Api":{"id":"nO8Ga77U6a9RNcu6","name":"ClickUp account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"responses":{"values":[{"content":"={{ $('Webhook').item.json.body.task }}"},{"role":"system","content":"=# ClickUp Task Parser – System Prompt\n\nYou are a task parser that converts natural language commands into structured JSON for ClickUp task creation.\n\nStrictly output valid JSON only.\nDo NOT output explanations, text, markdown formatting, or comments.\n\n---\n\n## ASSIGNEE RULES\n\nAvailable assignees:\n\n* Mosmi → 100993403\n* Lakshit → 88904698\n\nRules:\n\n1. Detect names case-insensitively.\n2. Allow minor spelling variations (fuzzy matching).\n3. If both names appear → assign to the first mentioned.\n4. If no valid name found → default to Lakshit (88904698).\n5. Never invent or modify assignee IDs.\n\n---\n\n## LIST ROUTING RULES\n\nLists:\n\n* Lakmi List → 901613829435 (Default)\n* Lakshit Personal List → 901613780278\n\nRules:\n\nIf command contains phrase similar to “Lakshit work” (case-insensitive, minor variations allowed) → use 901613780278.\n\nOtherwise → use 901613829435.\n\nRemove the trigger phrase from the task name.\n\n---\n\n## PRIORITY RULES\n\nConvert words to numeric priority:\n\n* \"urgent\", \"asap\", \"immediately\" → 1\n* \"high\", \"important\" → 2\n* \"low\", \"later\", \"minor\" → 3\n* If not mentioned → default = 2\n\nReturn only numeric values: 1, 2, or 3.\n\n---\n\n## DUE DATE RULES\n\nTimezone: Asia/Kolkata (IST)\n\nInput will include:\n\nCURRENT_DATE: {{ $('Set Variable').item.json.CURRENT_DATE }}\n\nRules:\n\n1. Convert natural language dates (today, tomorrow, next Monday, specific dates, etc.).\n2. If no due date is mentioned → set due date to the coming Sunday from CURRENT_DATE.\n3. If CURRENT_DATE is Sunday → use next Sunday (7 days later).\n4. Output format must be exactly:\n\nYYYY-MM-DDT00:00:00\n\nNo other date format is allowed.\n\n---\n\n## TASK NAME RULES\n\n1. Remove only assignee names (Lakshit, Mosmi). Keep all other person names in the task name.\n2. Remove date references.\n3. Remove priority words.\n4. Convert into a short actionable phrase.\n5. No trailing punctuation.\n6. Keep it concise and professional.\n7. Remove trigger phrases.\n\n## TASK DESCRIPTION RULES\n\n1. Preserve all names, companies, and context removed from the task name.\n2. One sentence explaining who/what/why.\n3. End with: Original: \"<full original input>\"\n4. Never repeat the task name. Max 2 sentences + original line.\n\n---\n"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_schema","verbosity":"low","name":"clickup_task_parser","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"task_name\": {\n      \"type\": \"string\",\n      \"description\": \"Short actionable task title without names, dates, or priority words\"\n    },\n    \"task_description\": {\n      \"type\": \"string\",\n      \"description\": \"1-2 sentences preserving names and context stripped from task name, ending with Original: quote. Must not repeat task name\"\n    },\n    \"assignee_id\": {\n      \"type\": \"integer\",\n      \"enum\": [100993403, 88904698],\n      \"description\": \"Must be one of the predefined assignee IDs\"\n    },\n    \"priority\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 2, 3],\n      \"description\": \"1 = urgent, 2 = high/default, 3 = low\"\n    },\n    \"due_date\": {\n      \"type\": \"string\",\n      \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}T00:00:00$\",\n      \"description\": \"ISO format date in YYYY-MM-DDT00:00:00 format (IST timezone)\"\n    },\n    \"list_id\": {\n      \"type\": \"integer\",\n      \"enum\": [901613829435, 901613780278],\n      \"description\": \"ClickUp List ID based on routing rules\"\n    }\n  },\n  \"required\": [\"task_name\", \"task_description\", \"assignee_id\", \"priority\", \"due_date\", \"list_id\"],\n  \"additionalProperties\": false\n}","description":"Structured ClickUp task object parsed from natural language command.","strict":true}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[256,-464],"id":"130d7424-d860-43ce-ab01-f91e750a408f","name":"Extract Task Data","credentials":{"openAiApi":{"id":"48jg0IN7QfVXoF59","name":"OpenAi Freelance"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"440d0603-c6ab-4a25-8223-c333ffa93cf0","leftValue":"={{ $json.body.task }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-192,-464],"id":"6fd541b6-2b56-4f79-92b6-b5877bf5374e","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"47a3d3ce-0876-440b-978e-132096e20ac7","name":"CURRENT_DATE","value":"={{ $now.setZone(\"Asia/Kolkata\").toISODate() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,-464],"id":"ad4574df-0f10-4bc6-a6ae-602b573e7659","name":"Set Variable"},{"parameters":{"content":"# Task Automation\n","height":80,"width":1552},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,-608],"id":"ddf4c29c-664f-4fb3-a975-f0923bbef2f2","name":"Sticky Note"},{"parameters":{"content":"# WhatsApp Task Reminder\n","height":80,"width":1552},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,-240],"id":"854c723c-f3a6-44eb-9608-e546822a5b07","name":"Sticky Note1"},{"parameters":{"dataToSave":{"values":[{"key":"workflow_name","value":"task_automation"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-416,-464],"id":"521e341b-93b5-4069-9c34-e4df21de9dc7","name":"Execution Data"},{"parameters":{"dataToSave":{"values":[{"key":"workflow_name","value":"task_reminder"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-416,48],"id":"081d3704-e6ba-47ca-b60c-4782d59630d0","name":"Execution Data1"},{"parameters":{"content":"# WhatsApp Calender Meeting Reminder\n","height":80,"width":1552},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-672,608],"id":"4fee6c55-54f9-4f06-b1bc-319973bc32aa","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('Calendar IDs').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Calendar IDs').first().json.number }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $json.message.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"speaking_english\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[688,768],"id":"9794c24f-699e-494a-a6fb-a76852e91f81","name":"Initial Btn Msg1","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"b1111111-1111-4111-8111-111111111111","name":"calendarIds","value":"={{ [\n  \"lakshitukani77@gmail.com\",\n  \"lakshit@lakshitukani.com\",\n  \"admin@tezdm.com\",\n  \"mosmipatel15@gmail.com\",\n  \"lakshit.u@turing.com\",\n  \"techsunami77@gmail.com\",\n  \"admin@chatsyncs.com\",\n  \"team.neuriqai@gmail.com\",\n  \"1431ec52653fd31a57f0d31add192c16655c79f35d12e9a510693de9797c3f4c@group.calendar.google.com\",\n  \"34b5e6cbef79d97b2f712300ee81ee30e48b772d527a14085cb010a785e3eb3a@group.calendar.google.com\"\n] }}","type":"array"},{"id":"b2222222-2222-4222-8222-222222222222","name":"ignoreEventIds","value":"={{ [\n  \"m0bootqje4soor32cuinkmhh13\",\n  \"5ckvlnl8on2acila36n4m01vv5\"\n] }}","type":"array"},{"id":"2ea9bccb-90b3-4345-b097-2a0e7d77d496","name":"phone_number_id","value":"924412964080974","type":"string"},{"id":"807f5151-7d8b-45e4-bd64-4a540bbdcbaf","name":"number","value":"919987749950","type":"string"}]},"options":{}},"id":"6970a9bc-b2f6-415e-844c-0502643531cd","name":"Calendar IDs","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,768]},{"parameters":{"fieldToSplitOut":"calendarIds","options":{"destinationFieldName":"calendarId"}},"id":"7a36533f-1248-4411-b84e-ad123ba0f55b","name":"Split Out Calendar IDs","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[16,768]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"={{ $json.calendarId }}","mode":"id"},"returnAll":true,"timeMin":"={{ $now.toISO() }}","timeMax":"={{ $now.plus({ hours: 1 }).toISO() }}","options":{"orderBy":"startTime"}},"id":"da9852c0-2e77-4e16-be27-78061ccf2484","name":"Get events (next 1h)","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[240,768],"credentials":{"googleCalendarOAuth2Api":{"id":"d6M4PVTouNnERS2M","name":"Lakshit Google Calendar account"}}},{"parameters":{"jsCode":"// Dedupe events that appear on multiple calendars + build a WhatsApp message.\n// Dedup key: iCalUID (same meeting across calendars shares this) -> id -> summary|start.\n// Skips any event whose meeting id is in `ignoreEventIds` (no notification).\n//   For recurring meetings, list the base id (recurringEventId, e.g.\n//   \"m0bootqje4soor32cuinkmhh13\") to mute the whole series forever.\n//   For a one-off, list its event id. The per-occurrence id\n//   (base_20260627T123000Z) and the iCalUID are also matched.\n// Outputs nothing if there are no events left in the next hour.\n\nconst TZ = 'Asia/Kolkata';\nconst now = new Date();\nconst windowEnd = new Date(now.getTime() + 60 * 60 * 1000);\n\n// Ignore list comes from the 'Calendar IDs' Set node variable.\nconst ignore = new Set(\n  ($('Calendar IDs').first().json.ignoreEventIds || []).map((s) =>\n    String(s).toLowerCase()\n  )\n);\n\n// An event is ignored if ANY of its identifiers is in the ignore list:\n//   - recurringEventId (base id, constant across the whole series)\n//   - id (per-occurrence: base_<timestamp>)\n//   - iCalUID (constant across all instances)\n// An event is ignored if ANY of its identifiers MATCHES or STARTS WITH an\n// ignore entry. We strip the per-occurrence \"_<timestamp>\" suffix and the\n// \"@google.com\" from iCalUID, then prefix-match — so a base id like\n// \"5ckvlnl8on2acila36n4m01vv5\" catches \"5ckvlnl8on2acila36n4m01vv5_R20260511T133000\".\nconst isIgnored = (e) => {\n  const ids = [e.recurringEventId, e.id, e.iCalUID]\n    .filter(Boolean)\n    .map((s) => String(s).toLowerCase().replace(/@google\\.com$/, ''));\n  for (const id of ids) {\n    for (const ig of ignore) {\n      if (id === ig || id.startsWith(ig)) return true;\n    }\n  }\n  return false;\n};\n\n\n// Resolve which calendar (email/id) an event was fetched from, via item\n// pairing back to the 'Split Out Calendar IDs' node (each item carried\n// `calendarId`). Falls back to organizer email if pairing is unavailable.\nconst sourceCalOf = (item, e) => {\n  try {\n    const idx = item.pairedItem?.item ?? item.pairedItem;\n    const src = $('Split Out Calendar IDs').itemMatching(idx);\n    if (src?.json?.calendarId) return src.json.calendarId;\n  } catch (err) {\n    // ignore and fall through\n  }\n  return e?.organizer?.email || '';\n};\n\nconst getStart = (e) => e?.start?.dateTime || e?.start?.date || '';\nconst getEnd = (e) => e?.end?.dateTime || e?.end?.date || '';\nconst dedupKey = (e) => e.iCalUID || e.id || `${e.summary}|${getStart(e)}`;\n\nconst seen = new Map();\nfor (const item of items) {\n  const e = item.json;\n  if (!e || !e.summary) continue;\n  if (e.status === 'cancelled') continue;\n\n  // skip muted meetings (by recurring base id / event id / iCalUID)\n  if (isIgnored(e)) continue;\n\n  const startStr = getStart(e);\n  if (!startStr) continue;\n  const startDate = new Date(startStr);\n  // keep only events that start within now -> +1h\n  if (isNaN(startDate) || startDate < now || startDate > windowEnd) continue;\n\n  // tag the event with the calendar it came from\n  e._sourceCalendar = sourceCalOf(item, e);\n\n  const key = dedupKey(e);\n  // prefer the copy where Lakshit is flagged self / most recently updated\n  if (!seen.has(key)) {\n    seen.set(key, e);\n  } else {\n    const prev = seen.get(key);\n    const prevUpd = new Date(prev.updated || 0);\n    const curUpd = new Date(e.updated || 0);\n    if (curUpd > prevUpd) seen.set(key, e);\n  }\n}\n\nconst events = Array.from(seen.values()).sort(\n  (a, b) => new Date(getStart(a)) - new Date(getStart(b))\n);\n\n// no events -> emit nothing (nothing gets sent over WhatsApp)\nif (events.length === 0) {\n  return [];\n}\n\nconst fmtTime = (iso) =>\n  new Date(iso).toLocaleTimeString('en-IN', {\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: true,\n    timeZone: TZ,\n  });\n\nconst lines = events.map((e) => {\n  const time = `${fmtTime(getStart(e))} - ${fmtTime(getEnd(e))}`;\n  const title = e.summary || '(no title)';\n  const cal = e._sourceCalendar || '';\n  const link = e.hangoutLink || e.location || '';\n  let line = `\\u2022 *${time}*  ${title}`;\n  if (cal) line += `\\n   \\uD83D\\uDCC7 ${cal}`;\n  if (link) line += `\\n   \\u21B3 ${link}`;\n  return line;\n});\n\nconst header =\n  events.length === 1\n    ? '\\uD83D\\uDCC5 *Upcoming in the next hour*'\n    : `\\uD83D\\uDCC5 *Upcoming in the next hour (${events.length})*`;\n\nconst message = `${header}\\n\\n${lines.join('\\n\\n')}`;\n\nreturn [\n  {\n    json: {\n      count: events.length,\n      message,\n      events,\n    },\n  },\n];\n"},"id":"b38e544b-d512-45ad-8b94-b861d2028853","name":"Dedupe + build WhatsApp message","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,768]},{"parameters":{"dataToSave":{"values":[{"key":"workflow_name","value":"calendar_reminder"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-432,768],"id":"9963e558-91d8-4abf-a7e3-b2b95849f2ab","name":"Execution Data2"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/15 0,7-23 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-656,768],"id":"3b05f0d0-eddf-496f-952b-d1cbe6f8ea52","name":"Every 15 min from 7:00 AM through 12:00 AM (midnight)"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Get many tasks","type":"main","index":0}]]},"Initial Btn Msg":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Whatsapp Bot Webhook":{"main":[[{"node":"Check webhook configure parameter","type":"main","index":0}]]},"Check webhook configure parameter":{"main":[[{"node":"Verify Webhook","type":"main","index":0}]]},"Get many tasks":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"variable":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Initial Btn Msg","type":"main","index":0}]]},"Every 2 hr from 9am to 11pm":{"main":[[{"node":"Execution Data1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Extract Task Data":{"main":[[{"node":"Create a task","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Set Variable","type":"main","index":0}]]},"Set Variable":{"main":[[{"node":"Extract Task Data","type":"main","index":0}]]},"Create a task":{"main":[[]]},"Calendar IDs":{"main":[[{"node":"Split Out Calendar IDs","type":"main","index":0}]]},"Split Out Calendar IDs":{"main":[[{"node":"Get events (next 1h)","type":"main","index":0}]]},"Get events (next 1h)":{"main":[[{"node":"Dedupe + build WhatsApp message","type":"main","index":0}]]},"Dedupe + build WhatsApp message":{"main":[[{"node":"Initial Btn Msg1","type":"main","index":0}]]},"Initial Btn Msg1":{"main":[[]]},"Execution Data1":{"main":[[{"node":"variable","type":"main","index":0}]]},"Execution Data2":{"main":[[{"node":"Calendar IDs","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Every 15 min from 7:00 AM through 12:00 AM (midnight)":{"main":[[{"node":"Execution Data2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Every 2 hr from 9am to 11pm":{"recurrenceRules":[]},"node:Every 15 min from 7:00 AM through 12:00 AM (midnight)":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aa12f9ab-c235-4480-b441-95fda287f4a0","activeVersionId":"aa12f9ab-c235-4480-b441-95fda287f4a0","triggerCount":3,"shared":[{"updatedAt":"2026-01-26T11:54:26.210Z","createdAt":"2026-01-26T11:54:26.210Z","role":"workflow:owner","workflowId":"valIIsDkV8EQbtoM","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-06-27T12:48:31.000Z","createdAt":"2026-06-27T12:48:21.904Z","versionId":"aa12f9ab-c235-4480-b441-95fda287f4a0","workflowId":"valIIsDkV8EQbtoM","nodes":[{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('Loop Over Items').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Loop Over Items').first().json.number }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $json.message.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"speaking_english\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[928,48],"id":"e0aa093d-af74-4706-8a81-ef70308f100a","name":"Initial Btn Msg","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[256,48],"id":"a9b6549b-4513-4b1c-8e1d-ce197496b25e","name":"Loop Over Items"},{"parameters":{"multipleMethods":true,"path":"reminder","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,272],"id":"99ec00f3-d6fb-4dde-ab09-e6483da50562","name":"Whatsapp Bot Webhook","webhookId":"2b7f85b2-f581-46d9-8d22-172f7a9933c0","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-192,272],"id":"28da0b60-6b28-4ac6-b6d4-d532334cd55e","name":"Verify Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51696ba9-54b9-4f8c-bd0c-4e11fcb50d45","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4b041959-0ee0-4db3-8465-d08554bdec80","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-416,272],"id":"0f555868-82f7-4267-9c40-b4da99c7f43c","name":"Check webhook configure parameter"},{"parameters":{"authentication":"oAuth2","operation":"getAll","team":"90161509643","space":"90166454992","folderless":true,"list":"={{ $('Loop Over Items').item.json.list_id }}","filters":{"assignees":"={{ [$('Loop Over Items').item.json.assignee_id] }}","dueDateLt":"={{ DateTime.now().plus({ days: (7 - DateTime.now().weekday) % 7 || 7 }).toFormat('yyyy-MM-dd') + 'T00:00:00' }}","subtasks":true}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[480,-128],"id":"87469abd-985f-4f35-a94a-1247e46806bd","name":"Get many tasks","alwaysOutputData":true,"credentials":{"clickUpOAuth2Api":{"id":"nO8Ga77U6a9RNcu6","name":"ClickUp account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[32,48],"id":"4f32073d-f69d-4e4a-a64a-e90d6a7637b7","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"3314d386-66a4-4abc-a425-e2178f9d4fc3","name":"data","value":"=[   \n  {\n    \"user_name\": \"Lakshit\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 919987749950,       \n    \"assignee_id\": 88904698, \n    \"list_name\": \"Lakshit Personal List\",\n    \"list_id\": 901613780278   \n  },\n  {\n    \"user_name\": \"Lakshit\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 919987749950,       \n    \"assignee_id\": 88904698,\n    \"list_name\": \"Lakmi List\",\n    \"list_id\": 901613829435   \n  },  \n  {     \n    \"user_name\": \"Mosmi\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 918898798259,       \n    \"assignee_id\": 100993403,  \n    \"list_name\": \"Lakmi List\",\n    \"list_id\": 901613829435   \n  } \n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,48],"id":"c86a1b7c-c017-4f2d-9692-b4a4f5ca3eec","name":"variable"},{"parameters":{"jsCode":"const tasks = $input.all().map(item => item.json);\n\nconst IST_OFFSET = 5.5 * 60 * 60 * 1000;\nconst nowUTC = Date.now();\nconst nowIST = nowUTC + IST_OFFSET;\nconst nowISTDate = new Date(nowIST);\n\nconst dateStr = nowISTDate.toLocaleDateString(\"en-IN\", {\n  weekday: \"short\", day: \"numeric\", month: \"short\",\n  timeZone: \"Asia/Kolkata\"\n});\n\nconst listName = $('Loop Over Items').item.json.list_name || \"Tasks\";\n\n// Handle empty response\nif (!tasks || tasks.length === 0 || !tasks[0].id) {\n  return [{ json: { message: `📋 *${listName} — ${dateStr}*\\n\\nNo tasks for this week. ✅` } }];\n}\n\nconst todayStart = Date.UTC(\n  nowISTDate.getUTCFullYear(),\n  nowISTDate.getUTCMonth(),\n  nowISTDate.getUTCDate()\n) - IST_OFFSET;\n\nconst todayEnd = todayStart + 86400000;\n\nconst overdue = [];\nconst today = [];\nconst week = [];\n\nfor (const task of tasks) {\n  const due = parseInt(task.due_date);\n\n  if (due < todayStart) {\n    overdue.push(task.name);\n  } else if (due < todayEnd) {\n    today.push(task.name);\n  } else {\n    week.push(task.name);\n  }\n}\n\nconst formatList = (arr) =>\n  arr.map((line, i) => `${i + 1}. ${line}`).join(\"\\n\");\n\nlet msg = `📋 *${listName} — ${dateStr}*\\n`;\n\nif (overdue.length > 0) {\n  msg += `\\n🔴 *Overdue (${overdue.length})*\\n`;\n  msg += formatList(overdue);\n}\n\nif (today.length > 0) {\n  msg += `\\n\\n📅 *Today (${today.length})*\\n`;\n  msg += formatList(today);\n}\n\nif (week.length > 0) {\n  msg += `\\n\\n📆 *This Week (${week.length})*\\n`;\n  msg += formatList(week);\n}\n\nif (overdue.length === 0 && today.length === 0 && week.length === 0) {\n  msg += \"\\n\\nNo tasks for this week. ✅\";\n}\n\nmsg += `\\n\\n_${overdue.length + today.length + week.length} tasks total_`;\n\nreturn [{ json: { message: msg } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-128],"id":"06ba271b-939b-43f6-801a-a3e4b13d3566","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9-23/2 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-640,48],"id":"dafe549c-8882-44f1-b0e8-c4d0b4316aea","name":"Every 2 hr from 9am to 11pm"},{"parameters":{"httpMethod":"POST","path":"siri","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,-464],"id":"edc40266-a782-4938-8a30-60e3c8c7b313","name":"Webhook","webhookId":"327ec3ce-d0e1-4483-86a0-af51a510c227","credentials":{"httpHeaderAuth":{"id":"68OyFuAIQOUvFn1W","name":"Iphone API Call"}}},{"parameters":{"authentication":"oAuth2","team":"90161509643","space":"90166454992","folderless":true,"list":"={{ $('Extract Task Data').item.json.output[0].content[0].text.list_id }}","name":"={{ $('Extract Task Data').item.json.output[0].content[0].text.task_name }}","additionalFields":{"assignees":"={{ [$('Extract Task Data').item.json.output[0].content[0].text.assignee_id] }}","content":"={{ $('Extract Task Data').item.json.output[0].content[0].text.task_description }}","dueDate":"={{ $('Extract Task Data').item.json.output[0].content[0].text.due_date }}","priority":"={{ $('Extract Task Data').item.json.output[0].content[0].text.priority }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[608,-464],"id":"cb120ecd-41f4-41c1-bb99-841a0a1734ce","name":"Create a task","credentials":{"clickUpOAuth2Api":{"id":"nO8Ga77U6a9RNcu6","name":"ClickUp account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"responses":{"values":[{"content":"={{ $('Webhook').item.json.body.task }}"},{"role":"system","content":"=# ClickUp Task Parser – System Prompt\n\nYou are a task parser that converts natural language commands into structured JSON for ClickUp task creation.\n\nStrictly output valid JSON only.\nDo NOT output explanations, text, markdown formatting, or comments.\n\n---\n\n## ASSIGNEE RULES\n\nAvailable assignees:\n\n* Mosmi → 100993403\n* Lakshit → 88904698\n\nRules:\n\n1. Detect names case-insensitively.\n2. Allow minor spelling variations (fuzzy matching).\n3. If both names appear → assign to the first mentioned.\n4. If no valid name found → default to Lakshit (88904698).\n5. Never invent or modify assignee IDs.\n\n---\n\n## LIST ROUTING RULES\n\nLists:\n\n* Lakmi List → 901613829435 (Default)\n* Lakshit Personal List → 901613780278\n\nRules:\n\nIf command contains phrase similar to “Lakshit work” (case-insensitive, minor variations allowed) → use 901613780278.\n\nOtherwise → use 901613829435.\n\nRemove the trigger phrase from the task name.\n\n---\n\n## PRIORITY RULES\n\nConvert words to numeric priority:\n\n* \"urgent\", \"asap\", \"immediately\" → 1\n* \"high\", \"important\" → 2\n* \"low\", \"later\", \"minor\" → 3\n* If not mentioned → default = 2\n\nReturn only numeric values: 1, 2, or 3.\n\n---\n\n## DUE DATE RULES\n\nTimezone: Asia/Kolkata (IST)\n\nInput will include:\n\nCURRENT_DATE: {{ $('Set Variable').item.json.CURRENT_DATE }}\n\nRules:\n\n1. Convert natural language dates (today, tomorrow, next Monday, specific dates, etc.).\n2. If no due date is mentioned → set due date to the coming Sunday from CURRENT_DATE.\n3. If CURRENT_DATE is Sunday → use next Sunday (7 days later).\n4. Output format must be exactly:\n\nYYYY-MM-DDT00:00:00\n\nNo other date format is allowed.\n\n---\n\n## TASK NAME RULES\n\n1. Remove only assignee names (Lakshit, Mosmi). Keep all other person names in the task name.\n2. Remove date references.\n3. Remove priority words.\n4. Convert into a short actionable phrase.\n5. No trailing punctuation.\n6. Keep it concise and professional.\n7. Remove trigger phrases.\n\n## TASK DESCRIPTION RULES\n\n1. Preserve all names, companies, and context removed from the task name.\n2. One sentence explaining who/what/why.\n3. End with: Original: \"<full original input>\"\n4. Never repeat the task name. Max 2 sentences + original line.\n\n---\n"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_schema","verbosity":"low","name":"clickup_task_parser","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"task_name\": {\n      \"type\": \"string\",\n      \"description\": \"Short actionable task title without names, dates, or priority words\"\n    },\n    \"task_description\": {\n      \"type\": \"string\",\n      \"description\": \"1-2 sentences preserving names and context stripped from task name, ending with Original: quote. Must not repeat task name\"\n    },\n    \"assignee_id\": {\n      \"type\": \"integer\",\n      \"enum\": [100993403, 88904698],\n      \"description\": \"Must be one of the predefined assignee IDs\"\n    },\n    \"priority\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 2, 3],\n      \"description\": \"1 = urgent, 2 = high/default, 3 = low\"\n    },\n    \"due_date\": {\n      \"type\": \"string\",\n      \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}T00:00:00$\",\n      \"description\": \"ISO format date in YYYY-MM-DDT00:00:00 format (IST timezone)\"\n    },\n    \"list_id\": {\n      \"type\": \"integer\",\n      \"enum\": [901613829435, 901613780278],\n      \"description\": \"ClickUp List ID based on routing rules\"\n    }\n  },\n  \"required\": [\"task_name\", \"task_description\", \"assignee_id\", \"priority\", \"due_date\", \"list_id\"],\n  \"additionalProperties\": false\n}","description":"Structured ClickUp task object parsed from natural language command.","strict":true}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[256,-464],"id":"130d7424-d860-43ce-ab01-f91e750a408f","name":"Extract Task Data","credentials":{"openAiApi":{"id":"48jg0IN7QfVXoF59","name":"OpenAi Freelance"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"440d0603-c6ab-4a25-8223-c333ffa93cf0","leftValue":"={{ $json.body.task }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-192,-464],"id":"6fd541b6-2b56-4f79-92b6-b5877bf5374e","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"47a3d3ce-0876-440b-978e-132096e20ac7","name":"CURRENT_DATE","value":"={{ $now.setZone(\"Asia/Kolkata\").toISODate() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,-464],"id":"ad4574df-0f10-4bc6-a6ae-602b573e7659","name":"Set Variable"},{"parameters":{"content":"# Task Automation\n","height":80,"width":1552},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,-608],"id":"ddf4c29c-664f-4fb3-a975-f0923bbef2f2","name":"Sticky Note"},{"parameters":{"content":"# WhatsApp Task Reminder\n","height":80,"width":1552},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,-240],"id":"854c723c-f3a6-44eb-9608-e546822a5b07","name":"Sticky Note1"},{"parameters":{"dataToSave":{"values":[{"key":"workflow_name","value":"task_automation"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-416,-464],"id":"521e341b-93b5-4069-9c34-e4df21de9dc7","name":"Execution Data"},{"parameters":{"dataToSave":{"values":[{"key":"workflow_name","value":"task_reminder"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-416,48],"id":"081d3704-e6ba-47ca-b60c-4782d59630d0","name":"Execution Data1"},{"parameters":{"content":"# WhatsApp Calender Meeting Reminder\n","height":80,"width":1552},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-672,608],"id":"4fee6c55-54f9-4f06-b1bc-319973bc32aa","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('Calendar IDs').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Calendar IDs').first().json.number }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $json.message.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"speaking_english\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[688,768],"id":"9794c24f-699e-494a-a6fb-a76852e91f81","name":"Initial Btn Msg1","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"b1111111-1111-4111-8111-111111111111","name":"calendarIds","value":"={{ [\n  \"lakshitukani77@gmail.com\",\n  \"lakshit@lakshitukani.com\",\n  \"admin@tezdm.com\",\n  \"mosmipatel15@gmail.com\",\n  \"lakshit.u@turing.com\",\n  \"techsunami77@gmail.com\",\n  \"admin@chatsyncs.com\",\n  \"team.neuriqai@gmail.com\",\n  \"1431ec52653fd31a57f0d31add192c16655c79f35d12e9a510693de9797c3f4c@group.calendar.google.com\",\n  \"34b5e6cbef79d97b2f712300ee81ee30e48b772d527a14085cb010a785e3eb3a@group.calendar.google.com\"\n] }}","type":"array"},{"id":"b2222222-2222-4222-8222-222222222222","name":"ignoreEventIds","value":"={{ [\n  \"m0bootqje4soor32cuinkmhh13\",\n  \"5ckvlnl8on2acila36n4m01vv5\"\n] }}","type":"array"},{"id":"2ea9bccb-90b3-4345-b097-2a0e7d77d496","name":"phone_number_id","value":"924412964080974","type":"string"},{"id":"807f5151-7d8b-45e4-bd64-4a540bbdcbaf","name":"number","value":"919987749950","type":"string"}]},"options":{}},"id":"6970a9bc-b2f6-415e-844c-0502643531cd","name":"Calendar IDs","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,768]},{"parameters":{"fieldToSplitOut":"calendarIds","options":{"destinationFieldName":"calendarId"}},"id":"7a36533f-1248-4411-b84e-ad123ba0f55b","name":"Split Out Calendar IDs","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[16,768]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"={{ $json.calendarId }}","mode":"id"},"returnAll":true,"timeMin":"={{ $now.toISO() }}","timeMax":"={{ $now.plus({ hours: 1 }).toISO() }}","options":{"orderBy":"startTime"}},"id":"da9852c0-2e77-4e16-be27-78061ccf2484","name":"Get events (next 1h)","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[240,768],"credentials":{"googleCalendarOAuth2Api":{"id":"d6M4PVTouNnERS2M","name":"Lakshit Google Calendar account"}}},{"parameters":{"jsCode":"// Dedupe events that appear on multiple calendars + build a WhatsApp message.\n// Dedup key: iCalUID (same meeting across calendars shares this) -> id -> summary|start.\n// Skips any event whose meeting id is in `ignoreEventIds` (no notification).\n//   For recurring meetings, list the base id (recurringEventId, e.g.\n//   \"m0bootqje4soor32cuinkmhh13\") to mute the whole series forever.\n//   For a one-off, list its event id. The per-occurrence id\n//   (base_20260627T123000Z) and the iCalUID are also matched.\n// Outputs nothing if there are no events left in the next hour.\n\nconst TZ = 'Asia/Kolkata';\nconst now = new Date();\nconst windowEnd = new Date(now.getTime() + 60 * 60 * 1000);\n\n// Ignore list comes from the 'Calendar IDs' Set node variable.\nconst ignore = new Set(\n  ($('Calendar IDs').first().json.ignoreEventIds || []).map((s) =>\n    String(s).toLowerCase()\n  )\n);\n\n// An event is ignored if ANY of its identifiers is in the ignore list:\n//   - recurringEventId (base id, constant across the whole series)\n//   - id (per-occurrence: base_<timestamp>)\n//   - iCalUID (constant across all instances)\n// An event is ignored if ANY of its identifiers MATCHES or STARTS WITH an\n// ignore entry. We strip the per-occurrence \"_<timestamp>\" suffix and the\n// \"@google.com\" from iCalUID, then prefix-match — so a base id like\n// \"5ckvlnl8on2acila36n4m01vv5\" catches \"5ckvlnl8on2acila36n4m01vv5_R20260511T133000\".\nconst isIgnored = (e) => {\n  const ids = [e.recurringEventId, e.id, e.iCalUID]\n    .filter(Boolean)\n    .map((s) => String(s).toLowerCase().replace(/@google\\.com$/, ''));\n  for (const id of ids) {\n    for (const ig of ignore) {\n      if (id === ig || id.startsWith(ig)) return true;\n    }\n  }\n  return false;\n};\n\n\n// Resolve which calendar (email/id) an event was fetched from, via item\n// pairing back to the 'Split Out Calendar IDs' node (each item carried\n// `calendarId`). Falls back to organizer email if pairing is unavailable.\nconst sourceCalOf = (item, e) => {\n  try {\n    const idx = item.pairedItem?.item ?? item.pairedItem;\n    const src = $('Split Out Calendar IDs').itemMatching(idx);\n    if (src?.json?.calendarId) return src.json.calendarId;\n  } catch (err) {\n    // ignore and fall through\n  }\n  return e?.organizer?.email || '';\n};\n\nconst getStart = (e) => e?.start?.dateTime || e?.start?.date || '';\nconst getEnd = (e) => e?.end?.dateTime || e?.end?.date || '';\nconst dedupKey = (e) => e.iCalUID || e.id || `${e.summary}|${getStart(e)}`;\n\nconst seen = new Map();\nfor (const item of items) {\n  const e = item.json;\n  if (!e || !e.summary) continue;\n  if (e.status === 'cancelled') continue;\n\n  // skip muted meetings (by recurring base id / event id / iCalUID)\n  if (isIgnored(e)) continue;\n\n  const startStr = getStart(e);\n  if (!startStr) continue;\n  const startDate = new Date(startStr);\n  // keep only events that start within now -> +1h\n  if (isNaN(startDate) || startDate < now || startDate > windowEnd) continue;\n\n  // tag the event with the calendar it came from\n  e._sourceCalendar = sourceCalOf(item, e);\n\n  const key = dedupKey(e);\n  // prefer the copy where Lakshit is flagged self / most recently updated\n  if (!seen.has(key)) {\n    seen.set(key, e);\n  } else {\n    const prev = seen.get(key);\n    const prevUpd = new Date(prev.updated || 0);\n    const curUpd = new Date(e.updated || 0);\n    if (curUpd > prevUpd) seen.set(key, e);\n  }\n}\n\nconst events = Array.from(seen.values()).sort(\n  (a, b) => new Date(getStart(a)) - new Date(getStart(b))\n);\n\n// no events -> emit nothing (nothing gets sent over WhatsApp)\nif (events.length === 0) {\n  return [];\n}\n\nconst fmtTime = (iso) =>\n  new Date(iso).toLocaleTimeString('en-IN', {\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: true,\n    timeZone: TZ,\n  });\n\nconst lines = events.map((e) => {\n  const time = `${fmtTime(getStart(e))} - ${fmtTime(getEnd(e))}`;\n  const title = e.summary || '(no title)';\n  const cal = e._sourceCalendar || '';\n  const link = e.hangoutLink || e.location || '';\n  let line = `\\u2022 *${time}*  ${title}`;\n  if (cal) line += `\\n   \\uD83D\\uDCC7 ${cal}`;\n  if (link) line += `\\n   \\u21B3 ${link}`;\n  return line;\n});\n\nconst header =\n  events.length === 1\n    ? '\\uD83D\\uDCC5 *Upcoming in the next hour*'\n    : `\\uD83D\\uDCC5 *Upcoming in the next hour (${events.length})*`;\n\nconst message = `${header}\\n\\n${lines.join('\\n\\n')}`;\n\nreturn [\n  {\n    json: {\n      count: events.length,\n      message,\n      events,\n    },\n  },\n];\n"},"id":"b38e544b-d512-45ad-8b94-b861d2028853","name":"Dedupe + build WhatsApp message","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,768]},{"parameters":{"dataToSave":{"values":[{"key":"workflow_name","value":"calendar_reminder"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-432,768],"id":"9963e558-91d8-4abf-a7e3-b2b95849f2ab","name":"Execution Data2"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/15 0,7-23 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-656,768],"id":"3b05f0d0-eddf-496f-952b-d1cbe6f8ea52","name":"Every 15 min from 7:00 AM through 12:00 AM (midnight)"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Get many tasks","type":"main","index":0}]]},"Initial Btn Msg":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Whatsapp Bot Webhook":{"main":[[{"node":"Check webhook configure parameter","type":"main","index":0}]]},"Check webhook configure parameter":{"main":[[{"node":"Verify Webhook","type":"main","index":0}]]},"Get many tasks":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"variable":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Initial Btn Msg","type":"main","index":0}]]},"Every 2 hr from 9am to 11pm":{"main":[[{"node":"Execution Data1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"Extract Task Data":{"main":[[{"node":"Create a task","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Set Variable","type":"main","index":0}]]},"Set Variable":{"main":[[{"node":"Extract Task Data","type":"main","index":0}]]},"Create a task":{"main":[[]]},"Calendar IDs":{"main":[[{"node":"Split Out Calendar IDs","type":"main","index":0}]]},"Split Out Calendar IDs":{"main":[[{"node":"Get events (next 1h)","type":"main","index":0}]]},"Get events (next 1h)":{"main":[[{"node":"Dedupe + build WhatsApp message","type":"main","index":0}]]},"Dedupe + build WhatsApp message":{"main":[[{"node":"Initial Btn Msg1","type":"main","index":0}]]},"Initial Btn Msg1":{"main":[[]]},"Execution Data1":{"main":[[{"node":"variable","type":"main","index":0}]]},"Execution Data2":{"main":[[{"node":"Calendar IDs","type":"main","index":0}]]},"Execution Data":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Every 15 min from 7:00 AM through 12:00 AM (midnight)":{"main":[[{"node":"Execution Data2","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Lakshit Ukani","name":"Version aa12f9ab","description":"","autosaved":true},"tags":[]}