Backup_2026-07-22/My workflow 41.json
{"updatedAt":"2026-07-22T08:57:57.877Z","createdAt":"2026-07-18T17:13:39.876Z","id":"zCg2miETN1UY2Wnz","name":"My workflow 41","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nconst message = (body.user_message || \"\").trim().toLowerCase();\n\nlet intent = \"ai\";\n\nif ([\"hi\", \"hello\", \"hey\", \"good morning\", \"good evening\"].includes(message)) {\n  intent = \"greeting\";\n}\nelse if (\n  message.includes(\"payment\") ||\n  message.includes(\"invoice\") ||\n  message.includes(\"paid\") ||\n  message.includes(\"bill\")\n) {\n  intent = \"payment\";\n}\nelse if (\n  message.includes(\"book\") ||\n  message.includes(\"meeting\") ||\n  message.includes(\"schedule\")\n) {\n  intent = \"booking\";\n}\nelse if (\n  message.includes(\"agent\") ||\n  message.includes(\"human\") ||\n  message.includes(\"support\")\n) {\n  intent = \"human\";\n}\n\nreturn [\n  {\n    json: {\n      intent,\n      subscriber_id: body.subscriber_id,\n      phone: body.chat_id,\n      name: body.first_name,\n      message: body.user_message,\n      email: body.custom_fields?.Email || \"\",\n      employee_id: body.custom_fields?.[\"employee id\"] || \"\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,-128],"id":"db0532d3-379c-47aa-a21b-7cfbf6f63759","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"e3983fef-0522-4899-bedf-8581d758766d","name":"subscriber_id","value":"={{ $json.subscriber_id }}","type":"string"},{"id":"c3b2ff3f-cd13-482a-b83b-7e30539f76a2","name":"phone","value":"={{ $json.phone }}","type":"number"},{"id":"d0d67ec1-ef8a-48b3-b082-2da2eb1da5da","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-128],"id":"ab33c4c8-1bb8-49b4-aa56-4ee0c2e86034","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=\n{{ $('Webhook').item.json.body.chat_id }}\nYou are the ChatSyncs AI Support Assistant.\n{{ $('Webhook').item.json.body.user_message }}\nAnswer only questions related to ChatSyncs.\n\nRules:\n- Be friendly and professional.\n- Keep replies under 80 words.\n- Answer clearly and directly.\n- If the user greets you, greet them and ask how you can help.\n- If you don't know the answer, say:\n  \"I'm not sure about that. I'll connect you with our support team for further assistance.\"\n- Never make up information.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[192,-96],"id":"e22041be-4aa0-47dd-a713-59b31f85d0a2","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.headers['content-length'] }}","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[272,160],"id":"04de9c14-734b-4212-9aaf-911b601e8ea7","name":"Simple Memory1"},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[144,128],"id":"327f1b56-e5ab-47ea-ac1e-d5703a522821","name":"Groq Chat Model","credentials":{"groqApi":{"id":"RezLOP1XX699eXKT","name":"Groq account"}}},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"20269|o1HeBs2RxmSTaDOKE8wTHY3Y8nmFd4YLeZRnxjlC682eb925"},{"name":"phone_number_id","value":"1063767660153351"},{"name":"phone_number","value":"=91{{ $('Webhook').item.json.body.custom_fields.Phone }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[720,-80],"id":"a25647d9-4d4c-4f3d-80d0-26d690b2d09b","name":"HTTP Request"},{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,-128],"id":"9d67ec31-519e-42b4-ae9f-59179d67739b","name":"Webhook","webhookId":"73c2415e-7a85-4b4e-adec-13d001cf76b1","disabled":true},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[672,-288],"id":"6b9b817f-2849-4309-8c45-c515b59789c5","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"payment","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,304],"id":"1362e6c0-fcce-4311-b467-a1dd09cd33b6","name":"Webhook1","webhookId":"1ed45cf3-6b59-4c84-8319-32f98c4a9f32"},{"parameters":{"assignments":{"assignments":[{"id":"94b653f8-f7a3-476e-85cd-27c4b71b4dc0","name":"txn_id","value":"","type":"string"},{"id":"a7af39fd-d472-49a2-a4dd-67daadf8c943","name":"customer","value":"","type":"string"},{"id":"3a1608a5-f57e-4bc1-b484-beef9b92d41a","name":"mobile","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,304],"id":"5c9cae9d-e5d3-4d29-b481-ec05f9eae9d7","name":"Edit Fields1"},{"parameters":{"jsCode":"const validTransactions = {\n  \"TXN10001\": {\n    status: \"success\",\n    amount: \"999\",\n    course: \"AI Masterclass\",\n    payment_date: \"2026-07-22\"\n  },\n  \"TXN10002\": {\n    status: \"success\",\n    amount: \"1499\",\n    course: \"WhatsApp Automation\",\n    payment_date: \"2026-07-21\"\n  },\n  \"TXN10003\": {\n    status: \"success\",\n    amount: \"499\",\n    course: \"n8n Basics\",\n    payment_date: \"2026-07-20\"\n  },\n  \"TXN10004\": {\n    status: \"success\",\n    amount: \"799\",\n    course: \"ChatSyncs Pro\",\n    payment_date: \"2026-07-19\"\n  },\n  \"TXN10005\": {\n    status: \"success\",\n    amount: \"1299\",\n    course: \"AI Agent\",\n    payment_date: \"2026-07-18\"\n  },\n  \"TXN10006\": {\n    status: \"success\",\n    amount: \"999\",\n    course: \"Meta API\",\n    payment_date: \"2026-07-17\"\n  },\n  \"TXN10007\": {\n    status: \"success\",\n    amount: \"599\",\n    course: \"Google Sheets\",\n    payment_date: \"2026-07-16\"\n  },\n  \"TXN10008\": {\n    status: \"success\",\n    amount: \"899\",\n    course: \"Webhook Integration\",\n    payment_date: \"2026-07-15\"\n  },\n  \"TXN10009\": {\n    status: \"success\",\n    amount: \"1999\",\n    course: \"Advanced Automation\",\n    payment_date: \"2026-07-14\"\n  },\n  \"TXN10010\": {\n    status: \"success\",\n    amount: \"299\",\n    course: \"Chatbot Essentials\",\n    payment_date: \"2026-07-13\"\n  }\n};\n\nconst txn = $json.txn_id;\n\nif (validTransactions[txn]) {\n  return [{ json: validTransactions[txn] }];\n}\n\nreturn [{\n  json: {\n    status: \"failed\",\n    message: \"Transaction ID not found.\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,304],"id":"0434c1bf-8448-492c-8031-e29626729e72","name":"Code in JavaScript1"}],"connections":{"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv894857.hstgr.cloud","content-length":"546","accept":"application/json","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.srv894857.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2e77aa5d919","x-real-ip":"172.18.0.1","accept-encoding":"gzip"},"params":{},"query":{},"body":{"whatsapp_bot_name":"Lakshit ChatSyncs Support","whatsapp_bot_id":429068,"subscriber_id":"919959623255-429068","wa_message_id":"wamid.HBgMOTE5OTU5NjIzMjU1FQIAEhggQUMxRjhFQTRENUEzODdCM0RGMTUxRjQyMjQ5MUE3OTYA","label_names":"Interested - Courses,Pricing Inquiry","custom_fields":{"employee id":"EMP001","Name":"Rahul reddy","Email":"mcrahulr@gmail.com","Department":"IT","Designation":"Software Engineer","Phone":"9959623255"},"first_name":"rahulreddymr20","chat_id":"919959623255","user_message":"Gdfgj","whatsapp_bot_username":"+91 93262 58458"},"webhookUrl":"https://n8n.srv894857.hstgr.cloud/webhook-test/chat","executionMode":"test"},"pairedItem":{"item":0}}]},"versionId":"92632ffb-d3d5-45a3-89b7-d72d40b36326","activeVersionId":"92632ffb-d3d5-45a3-89b7-d72d40b36326","triggerCount":1,"shared":[{"updatedAt":"2026-07-18T17:13:39.881Z","createdAt":"2026-07-18T17:13:39.881Z","role":"workflow:owner","workflowId":"zCg2miETN1UY2Wnz","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-07-22T08:58:11.000Z","createdAt":"2026-07-22T08:57:57.878Z","versionId":"92632ffb-d3d5-45a3-89b7-d72d40b36326","workflowId":"zCg2miETN1UY2Wnz","nodes":[{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nconst message = (body.user_message || \"\").trim().toLowerCase();\n\nlet intent = \"ai\";\n\nif ([\"hi\", \"hello\", \"hey\", \"good morning\", \"good evening\"].includes(message)) {\n  intent = \"greeting\";\n}\nelse if (\n  message.includes(\"payment\") ||\n  message.includes(\"invoice\") ||\n  message.includes(\"paid\") ||\n  message.includes(\"bill\")\n) {\n  intent = \"payment\";\n}\nelse if (\n  message.includes(\"book\") ||\n  message.includes(\"meeting\") ||\n  message.includes(\"schedule\")\n) {\n  intent = \"booking\";\n}\nelse if (\n  message.includes(\"agent\") ||\n  message.includes(\"human\") ||\n  message.includes(\"support\")\n) {\n  intent = \"human\";\n}\n\nreturn [\n  {\n    json: {\n      intent,\n      subscriber_id: body.subscriber_id,\n      phone: body.chat_id,\n      name: body.first_name,\n      message: body.user_message,\n      email: body.custom_fields?.Email || \"\",\n      employee_id: body.custom_fields?.[\"employee id\"] || \"\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,-128],"id":"db0532d3-379c-47aa-a21b-7cfbf6f63759","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"e3983fef-0522-4899-bedf-8581d758766d","name":"subscriber_id","value":"={{ $json.subscriber_id }}","type":"string"},{"id":"c3b2ff3f-cd13-482a-b83b-7e30539f76a2","name":"phone","value":"={{ $json.phone }}","type":"number"},{"id":"d0d67ec1-ef8a-48b3-b082-2da2eb1da5da","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-128],"id":"ab33c4c8-1bb8-49b4-aa56-4ee0c2e86034","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=\n{{ $('Webhook').item.json.body.chat_id }}\nYou are the ChatSyncs AI Support Assistant.\n{{ $('Webhook').item.json.body.user_message }}\nAnswer only questions related to ChatSyncs.\n\nRules:\n- Be friendly and professional.\n- Keep replies under 80 words.\n- Answer clearly and directly.\n- If the user greets you, greet them and ask how you can help.\n- If you don't know the answer, say:\n  \"I'm not sure about that. I'll connect you with our support team for further assistance.\"\n- Never make up information.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[192,-96],"id":"e22041be-4aa0-47dd-a713-59b31f85d0a2","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.headers['content-length'] }}","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[272,160],"id":"04de9c14-734b-4212-9aaf-911b601e8ea7","name":"Simple Memory1"},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[144,128],"id":"327f1b56-e5ab-47ea-ac1e-d5703a522821","name":"Groq Chat Model","credentials":{"groqApi":{"id":"RezLOP1XX699eXKT","name":"Groq account"}}},{"parameters":{"method":"POST","url":"https://platform.chatsyncs.com/api/v1/whatsapp/send","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"apiToken","value":"20269|o1HeBs2RxmSTaDOKE8wTHY3Y8nmFd4YLeZRnxjlC682eb925"},{"name":"phone_number_id","value":"1063767660153351"},{"name":"phone_number","value":"=91{{ $('Webhook').item.json.body.custom_fields.Phone }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[720,-80],"id":"a25647d9-4d4c-4f3d-80d0-26d690b2d09b","name":"HTTP Request"},{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,-128],"id":"9d67ec31-519e-42b4-ae9f-59179d67739b","name":"Webhook","webhookId":"73c2415e-7a85-4b4e-adec-13d001cf76b1","disabled":true},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[672,-288],"id":"6b9b817f-2849-4309-8c45-c515b59789c5","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"payment","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,304],"id":"1362e6c0-fcce-4311-b467-a1dd09cd33b6","name":"Webhook1","webhookId":"1ed45cf3-6b59-4c84-8319-32f98c4a9f32"},{"parameters":{"assignments":{"assignments":[{"id":"94b653f8-f7a3-476e-85cd-27c4b71b4dc0","name":"txn_id","value":"","type":"string"},{"id":"a7af39fd-d472-49a2-a4dd-67daadf8c943","name":"customer","value":"","type":"string"},{"id":"3a1608a5-f57e-4bc1-b484-beef9b92d41a","name":"mobile","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,304],"id":"5c9cae9d-e5d3-4d29-b481-ec05f9eae9d7","name":"Edit Fields1"},{"parameters":{"jsCode":"const validTransactions = {\n  \"TXN10001\": {\n    status: \"success\",\n    amount: \"999\",\n    course: \"AI Masterclass\",\n    payment_date: \"2026-07-22\"\n  },\n  \"TXN10002\": {\n    status: \"success\",\n    amount: \"1499\",\n    course: \"WhatsApp Automation\",\n    payment_date: \"2026-07-21\"\n  },\n  \"TXN10003\": {\n    status: \"success\",\n    amount: \"499\",\n    course: \"n8n Basics\",\n    payment_date: \"2026-07-20\"\n  },\n  \"TXN10004\": {\n    status: \"success\",\n    amount: \"799\",\n    course: \"ChatSyncs Pro\",\n    payment_date: \"2026-07-19\"\n  },\n  \"TXN10005\": {\n    status: \"success\",\n    amount: \"1299\",\n    course: \"AI Agent\",\n    payment_date: \"2026-07-18\"\n  },\n  \"TXN10006\": {\n    status: \"success\",\n    amount: \"999\",\n    course: \"Meta API\",\n    payment_date: \"2026-07-17\"\n  },\n  \"TXN10007\": {\n    status: \"success\",\n    amount: \"599\",\n    course: \"Google Sheets\",\n    payment_date: \"2026-07-16\"\n  },\n  \"TXN10008\": {\n    status: \"success\",\n    amount: \"899\",\n    course: \"Webhook Integration\",\n    payment_date: \"2026-07-15\"\n  },\n  \"TXN10009\": {\n    status: \"success\",\n    amount: \"1999\",\n    course: \"Advanced Automation\",\n    payment_date: \"2026-07-14\"\n  },\n  \"TXN10010\": {\n    status: \"success\",\n    amount: \"299\",\n    course: \"Chatbot Essentials\",\n    payment_date: \"2026-07-13\"\n  }\n};\n\nconst txn = $json.txn_id;\n\nif (validTransactions[txn]) {\n  return [{ json: validTransactions[txn] }];\n}\n\nreturn [{\n  json: {\n    status: \"failed\",\n    message: \"Transaction ID not found.\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,304],"id":"0434c1bf-8448-492c-8031-e29626729e72","name":"Code in JavaScript1"}],"connections":{"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Lakshit Ukani","name":"Version 92632ffb","description":"","autosaved":true},"tags":[]}