Backup_2026-05-23/107. WhatsApp Voice Bot — Real Estate (Mumbai).json
{"updatedAt":"2026-05-23T06:09:34.542Z","createdAt":"2026-05-22T05:59:47.246Z","id":"XZ7IGOaJglSanOJS","name":"107. WhatsApp Voice Bot — Real Estate (Mumbai)","active":false,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"whatsapp-voice-bot","options":{}},"id":"2d567768-7ebb-4403-8f4b-71d46fe50a53","name":"WhatsApp Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,256],"webhookId":"a1128fae-6a2a-486a-9779-0a46f06b2917"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.entry[0].changes[0].value.messages }}","operator":{"type":"array","operation":"notEmpty"},"id":"78451e3b-3fd3-4d0c-b082-de4136cabeaf"}],"combinator":"and"},"options":{}},"id":"b1a2177d-2b70-48f6-adc3-3bbdf26e4910","name":"Filter Messages Only","type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[224,256]},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"phone_number_id","value":"={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}","type":"string"},{"id":"a2","name":"from","value":"={{ $json.body.entry[0].changes[0].value.contacts[0].wa_id }}","type":"string"},{"id":"a3","name":"message_type","value":"={{ $json.body.entry[0].changes[0].value.messages[0].type }}","type":"string"},{"id":"a4","name":"text_body","value":"={{ $json.body.entry[0].changes[0].value.messages[0].text?.body ?? \"\" }}","type":"string"},{"id":"a5","name":"media_id","value":"={{ $json.body.entry[0].changes[0].value.messages[0].audio?.id ?? \"\" }}","type":"string"}]},"options":{}},"id":"241f8a70-946b-4d7a-bfff-828295353c25","name":"Normalize Payload","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,256]},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1XjzyxxKncDYc9dKyzO-0Vk2pRuni2_CMKUP1yDONRDg","cachedResultName":"Property Listing"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultName":"Sheet1"},"options":{}},"id":"f6eb5eb1-40db-40be-86fb-5ce299911898","name":"Fetch Property Listings","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,256],"executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"listings","options":{}},"id":"bd2cf57a-965b-4c97-867e-99de26f01426","name":"Collapse Listings to Array","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[896,256]},{"parameters":{"assignments":{"assignments":[{"id":"b1","name":"phone_number_id","value":"={{ $(\"Normalize Payload\").item.json.phone_number_id }}","type":"string"},{"id":"b2","name":"from","value":"={{ $(\"Normalize Payload\").item.json.from }}","type":"string"},{"id":"b3","name":"message_type","value":"={{ $(\"Normalize Payload\").item.json.message_type }}","type":"string"},{"id":"b4","name":"text_body","value":"={{ $(\"Normalize Payload\").item.json.text_body }}","type":"string"},{"id":"b5","name":"media_id","value":"={{ $(\"Normalize Payload\").item.json.media_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"eb8e025f-ba9b-49de-96f6-c0fc836d2c2d","name":"Attach Message Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.message_type }}","operator":{"type":"string","operation":"equals"},"rightValue":"audio"}],"combinator":"and"},"options":{}},"id":"9e6acfb4-0bde-407b-ac1f-fa3dc9dccb7a","name":"Is Audio Message?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,256]},{"parameters":{"url":"={{ \"https://graph.facebook.com/v24.0/\" + $json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"8f6fcd92-9c9f-438b-9802-36f723cbf740","name":"Fetch Media URL","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1568,112],"credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"35d6a1d6-b1d2-4971-9acc-c3ea4404ad1f","name":"Download Audio File","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1856,112],"credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"hi"}},"id":"2363bc90-f050-43fb-b8b2-26947eeb9b26","name":"Whisper Transcribe","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.3,"position":[2144,112],"credentials":{"openAiApi":{"id":"L3P9Ae81haTD2rYm","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c1","name":"user_message","value":"={{ $json.text }}","type":"string"},{"id":"c2","name":"phone_number_id","value":"={{ $(\"Attach Message Context\").item.json.phone_number_id }}","type":"string"},{"id":"c3","name":"from","value":"={{ $(\"Attach Message Context\").item.json.from }}","type":"string"},{"id":"c4","name":"listings","value":"={{ $(\"Attach Message Context\").item.json.listings }}","type":"array"},{"id":"c5","name":"sessionId","value":"={{ $(\"Attach Message Context\").item.json.from }}","type":"string"}]},"options":{}},"id":"edfc13c8-ee39-45b6-b46a-f974ae8c7b56","name":"Prepare Audio Agent Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,112]},{"parameters":{"promptType":"define","text":"={{ $json.user_message }}","options":{"systemMessage":"=You are a friendly real estate assistant for a Mumbai property agency.\nA buyer just messaged you on WhatsApp.\n\nActive listings (each has a Property_ID field):\n{{ JSON.stringify($json.listings) }}\n\n--- PROPERTY MATCHING ---\n1. Extract BHK, locality, budget, timeline, ready vs under-construction.\n2. Match listings. Pick up to 3 that fit.\n3. Reply in the same language the buyer used (Hindi, English, or Hinglish).\n4. Keep under 100 words.\nAsk only ONE clarifying question if needed. Never invent listings or prices.\n\n--- SITE VISIT BOOKING ---\nWhen the buyer shows interest in a site visit:\n1. Ask for preferred date and time (9:00 AM to 6:00 PM IST).\n2. Ask for their email address.\n3. Call Check Calendar Availability (timeMin = start, timeMax = start + 1 hour, +05:30).\n4. If FREE: call Book Site Visit. Pass buyer_email. Confirm with date, time, property name.\n5. If BUSY: check 2-3 other slots on the same day. Tell buyer which are free.\nAlways use +05:30 offset for all datetimes.\n\n--- OUTPUT FORMAT ---\nYou MUST always respond with valid JSON in this exact format:\n{ \"reply\": \"<your WhatsApp message here>\", \"property_ids\": [] }\n\nRules for property_ids:\n- If you matched specific properties: fill with their Property_ID values e.g. [\"RE001\", \"RE002\"]\n- If NO properties were matched (greetings, clarifying questions, booking messages, general chat): use empty array []\n- NEVER omit property_ids from the response\n- NEVER use null for property_ids\n- ALWAYS use an array, even if empty"}},"id":"e2569e74-0729-40f5-a440-0e5bf4829ccd","name":"Real Estate Agent (Audio)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[2720,0]},{"parameters":{"model":{"__rl":true,"value":"gpt-5.4-mini","mode":"list","cachedResultName":"gpt-5.4-mini"},"responsesApiEnabled":false,"options":{"temperature":0.7}},"id":"f072e475-5586-4e70-863b-940a4c4aedba","name":"OpenAI Model (Audio)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2592,224],"credentials":{"openAiApi":{"id":"L3P9Ae81haTD2rYm","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":10},"id":"0b96f333-a66a-4728-99c0-e7ca75a493fb","name":"Audio Conversation Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[2720,224]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"mode":"list","value":"lakshitukani77@gmail.com","cachedResultName":"Lakshit Ukani"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('timeMin', 'Start of the 1-hour slot, ISO 8601 IST e.g. 2026-05-24T10:00:00+05:30') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('timeMax', 'End of the 1-hour slot, ISO 8601 IST e.g. 2026-05-24T11:00:00+05:30') }}","options":{"outputFormat":"availability"}},"id":"5c3624f2-f4b9-4c10-b261-f164126a624e","name":"Check Calendar Availability","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2352,880],"credentials":{"googleCalendarOAuth2Api":{"id":"d6M4PVTouNnERS2M","name":"Lakshit Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":"lakshitukani77@gmail.com","cachedResultName":"Lakshit Ukani"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start', 'Start time ISO 8601 IST') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end', 'End time ISO 8601 IST') }}","additionalFields":{"attendees":["lakshitukani77@gmail.com","={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('buyer_email', 'Buyer email address') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', 'Property details and buyer contact') }}","location":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('location', 'Property locality') }}","sendUpdates":"all","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('summary', 'Event title') }}"}},"id":"6fc7243b-1ee5-4c85-8dfa-edf87886a1b8","name":"Book Site Visit","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2496,880],"credentials":{"googleCalendarOAuth2Api":{"id":"d6M4PVTouNnERS2M","name":"Lakshit Google Calendar account"}}},{"parameters":{"jsCode":"const raw = $input.item.json.output || '';\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\ntry {\n  const parsed = JSON.parse(match[0]);\n  const ids = Array.isArray(parsed.property_ids) ? parsed.property_ids : [];\n  return [{ json: { reply: parsed.reply || raw, property_ids: JSON.stringify(ids) } }];\n} catch (e) {\n  return [{ json: { reply: raw, property_ids: '[]' } }];\n}"},"id":"f41c0160-0bcc-4284-a966-8ea8033d23dc","name":"Parse Agent Output (Audio)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3184,112]},{"parameters":{"resource":"audio","input":"={{ $json.reply }}","voice":"nova","options":{"response_format":"mp3","binaryPropertyOutput":"audioData"}},"id":"1ce75c76-63bd-4b34-8cd9-9e4c066386b7","name":"Convert Reply to Speech","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.3,"position":[3408,16],"credentials":{"openAiApi":{"id":"L3P9Ae81haTD2rYm","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"={{ \"https://graph.facebook.com/v24.0/\" + $(\"Attach Message Context\").item.json.phone_number_id + \"/media\" }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"type","value":"audio/mp3"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"audioData"}]},"options":{}},"id":"c532911a-b106-41d3-b9aa-4426a421a3ca","name":"Upload Audio to WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3760,16],"credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"method":"POST","url":"={{ \"https://graph.facebook.com/v24.0/\" + $(\"Attach Message Context\").item.json.phone_number_id + \"/messages\" }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Normalize Payload').item.json.from }}\", \"type\": \"audio\", \"audio\": { \"id\": \"{{ $json.id }}\" } }","options":{}},"id":"93b31286-75d8-4d8a-ae57-b3ef1c00d84d","name":"Send Voice Note","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3968,16],"credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"d1","name":"user_message","value":"={{ $json.text_body }}","type":"string"},{"id":"d2","name":"phone_number_id","value":"={{ $json.phone_number_id }}","type":"string"},{"id":"d3","name":"from","value":"={{ $json.from }}","type":"string"},{"id":"d4","name":"listings","value":"={{ $json.listings }}","type":"array"},{"id":"d5","name":"sessionId","value":"={{ $json.from }}","type":"string"}]},"options":{}},"id":"875b1cad-6eec-4800-9862-e87025f6aec8","name":"Prepare Text Agent Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,448]},{"parameters":{"promptType":"define","text":"={{ $json.user_message }}","options":{"systemMessage":"=You are a friendly real estate assistant for a Mumbai property agency.\nA buyer just messaged you on WhatsApp.\n\nActive listings (each has a Property_ID field):\n{{ JSON.stringify($json.listings) }}\n\n--- PROPERTY MATCHING ---\n1. Extract BHK, locality, budget, timeline, ready vs under-construction.\n2. Match listings. Pick up to 3 that fit.\n3. Reply in the same language the buyer used (Hindi, English, or Hinglish).\n4. Keep under 100 words.\nAsk only ONE clarifying question if needed. Never invent listings or prices.\n\n--- SITE VISIT BOOKING ---\nWhen the buyer shows interest in a site visit:\n1. Ask for preferred date and time (9:00 AM to 6:00 PM IST).\n2. Ask for their email address.\n3. Call Check Calendar Availability (timeMin = start, timeMax = start + 1 hour, +05:30).\n4. If FREE: call Book Site Visit. Pass buyer_email. Confirm with date, time, property name.\n5. If BUSY: check 2-3 other slots on the same day. Tell buyer which are free.\nAlways use +05:30 offset for all datetimes.\n\n--- OUTPUT FORMAT ---\nYou MUST always respond with valid JSON in this exact format:\n{ \"reply\": \"<your WhatsApp message here>\", \"property_ids\": [] }\n\nRules for property_ids:\n- If you matched specific properties: fill with their Property_ID values e.g. [\"RE001\", \"RE002\"]\n- If NO properties were matched (greetings, clarifying questions, booking messages, general chat): use empty array []\n- NEVER omit property_ids from the response\n- NEVER use null for property_ids\n- ALWAYS use an array, even if empty\n- Current Time and Date - {{ $now }}","maxIterations":10}},"id":"56d608a3-bd40-4159-af4c-5a8ac140b715","name":"Real Estate Agent (Text)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1792,448]},{"parameters":{"model":{"__rl":true,"value":"gpt-5.4-mini","mode":"list","cachedResultName":"gpt-5.4-mini"},"responsesApiEnabled":false,"options":{"temperature":0.7}},"id":"e3dca6bd-53e1-444d-914f-2c5d6d5c9e7f","name":"OpenAI Model (Text)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1808,672],"credentials":{"openAiApi":{"id":"L3P9Ae81haTD2rYm","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":10},"id":"b9b0bca1-c88b-4683-8cd5-11281244b76f","name":"Text Conversation Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[1936,672]},{"parameters":{"jsCode":"const raw = $input.item.json.output || '';\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\ntry {\n  const parsed = JSON.parse(match[0]);\n  const ids = Array.isArray(parsed.property_ids) ? parsed.property_ids : [];\n  return [{ json: { reply: parsed.reply || raw, property_ids: JSON.stringify(ids) } }];\n} catch (e) {\n  return [{ json: { reply: raw, property_ids: '[]' } }];\n}"},"id":"69e65914-0877-43ec-b54b-a183caa30724","name":"Parse Agent Output (Text)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,448]},{"parameters":{"method":"POST","url":"={{ \"https://graph.facebook.com/v24.0/\" + $(\"Attach Message Context\").item.json.phone_number_id + \"/messages\" }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Normalize Payload').item.json.from }}\", \"type\": \"text\", \"text\": { \"body\": \"{{ $json.reply.replace(/\\n/g, \"\\\\n\") }}\" } }","options":{}},"id":"c06df6c6-9758-4c06-860d-c26c9a1234e7","name":"Send Text Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2368,448],"credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1XjzyxxKncDYc9dKyzO-0Vk2pRuni2_CMKUP1yDONRDg","cachedResultName":"Property Listing"},"sheetName":{"__rl":true,"mode":"name","value":"Images"},"options":{}},"id":"1ba3894a-77ed-4867-908a-c40a4f1ee886","name":"Fetch Property Images (Text)","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2784,448],"credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}},{"parameters":{"jsCode":"// Get property_ids - handle both string and array\nconst raw = $('Parse Agent Output (Text)').first().json.property_ids;\nconst propertyIds = typeof raw === 'string' ? JSON.parse(raw) : raw;\n\n// If empty array or not present, stop execution\nif (!propertyIds || !Array.isArray(propertyIds) || propertyIds.length === 0) {\n  return [];\n}\n\n// Get ALL items from the Google Sheet node\nconst allSheetItems = $('Fetch Property Images (Text)').all();\n\n// Filter only the rows where Property_ID is in the array\nconst matchedItems = allSheetItems.filter(item => \n  propertyIds.includes(item.json.Property_ID)\n);\n\nreturn matchedItems;"},"id":"256323ef-5ad1-42b3-b0ef-eec69a955005","name":"Filter Matched Images (Text)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3184,448]},{"parameters":{"method":"POST","url":"={{ \"https://graph.facebook.com/v24.0/\" + $(\"Attach Message Context\").item.json.phone_number_id + \"/messages\" }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Normalize Payload').item.json.from }}\", \"type\": \"image\", \"image\": { \"link\": \"{{ $json.Image_URL }}\", \"caption\": \"{{ $json.Caption }}\" } }","options":{}},"id":"e34f8d3e-a339-433d-b9c3-6827e21b814b","name":"Send Property Image (Text)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3408,448],"credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1XjzyxxKncDYc9dKyzO-0Vk2pRuni2_CMKUP1yDONRDg","cachedResultName":"Property Listing"},"sheetName":{"__rl":true,"mode":"name","value":"Images"},"options":{}},"id":"2225e0b3-102b-480b-973d-a472170d12dc","name":"Fetch Property Images (Audio)","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3408,208],"credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}},{"parameters":{"jsCode":"// Get property_ids - handle both string and array\nconst raw = $('Parse Agent Output (Audio)').first().json.property_ids;\nconst propertyIds = typeof raw === 'string' ? JSON.parse(raw) : raw;\n\n// If empty array or not present, stop execution\nif (!propertyIds || !Array.isArray(propertyIds) || propertyIds.length === 0) {\n  return [];\n}\n\n// Get ALL items from the Google Sheet node\nconst allSheetItems = $('Fetch Property Images (Audio)').all();\n\n// Filter only the rows where Property_ID is in the array\nconst matchedItems = allSheetItems.filter(item => \n  propertyIds.includes(item.json.Property_ID)\n);\n\nreturn matchedItems;"},"id":"33cfac71-940c-4435-8053-236eb9b9cbcd","name":"Filter Matched Images (Audio)","type":"n8n-nodes-base.code","typeVersion":2,"position":[3632,208]},{"parameters":{"method":"POST","url":"={{ \"https://graph.facebook.com/v24.0/\" + $(\"Attach Message Context\").item.json.phone_number_id + \"/messages\" }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Normalize Payload').item.json.from }}\", \"type\": \"image\", \"image\": { \"link\": \"{{ $json.Image_URL }}\", \"caption\": \"{{ $json.Caption }}\" } }","options":{}},"id":"da8c71d4-5b0a-45d1-be47-6e00a08497b0","name":"Send Property Image (Audio)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3856,208],"credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"jsCode":"const inputItem = items[0];\ninputItem.binary.audioData.mimeType = `audio/mpeg`;\nreturn inputItem;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3568,16],"id":"cf4569ae-4f9b-442b-ac33-c1b72e320804","name":"Convert Audio Type"}],"connections":{"WhatsApp Webhook":{"main":[[],[{"node":"Filter Messages Only","type":"main","index":0}]]},"Filter Messages Only":{"main":[[{"node":"Normalize Payload","type":"main","index":0}]]},"Normalize Payload":{"main":[[{"node":"Fetch Property Listings","type":"main","index":0}]]},"Fetch Property Listings":{"main":[[{"node":"Collapse Listings to Array","type":"main","index":0}]]},"Collapse Listings to Array":{"main":[[{"node":"Attach Message Context","type":"main","index":0}]]},"Attach Message Context":{"main":[[{"node":"Is Audio Message?","type":"main","index":0}]]},"Is Audio Message?":{"main":[[{"node":"Fetch Media URL","type":"main","index":0}],[{"node":"Prepare Text Agent Input","type":"main","index":0}]]},"Fetch Media URL":{"main":[[{"node":"Download Audio File","type":"main","index":0}]]},"Download Audio File":{"main":[[{"node":"Whisper Transcribe","type":"main","index":0}]]},"Whisper Transcribe":{"main":[[{"node":"Prepare Audio Agent Input","type":"main","index":0}]]},"Prepare Audio Agent Input":{"main":[[{"node":"Real Estate Agent (Audio)","type":"main","index":0}]]},"Real Estate Agent (Audio)":{"main":[[{"node":"Parse Agent Output (Audio)","type":"main","index":0}]]},"OpenAI Model (Audio)":{"ai_languageModel":[[{"node":"Real Estate Agent (Audio)","type":"ai_languageModel","index":0}]]},"Audio Conversation Memory":{"ai_memory":[[{"node":"Real Estate Agent (Audio)","type":"ai_memory","index":0}]]},"Check Calendar Availability":{"ai_tool":[[{"node":"Real Estate Agent (Audio)","type":"ai_tool","index":0},{"node":"Real Estate Agent (Text)","type":"ai_tool","index":0}]]},"Book Site Visit":{"ai_tool":[[{"node":"Real Estate Agent (Audio)","type":"ai_tool","index":0},{"node":"Real Estate Agent (Text)","type":"ai_tool","index":0}]]},"Parse Agent Output (Audio)":{"main":[[{"node":"Convert Reply to Speech","type":"main","index":0},{"node":"Fetch Property Images (Audio)","type":"main","index":0}]]},"Convert Reply to Speech":{"main":[[{"node":"Convert Audio Type","type":"main","index":0}]]},"Upload Audio to WhatsApp":{"main":[[{"node":"Send Voice Note","type":"main","index":0}]]},"Prepare Text Agent Input":{"main":[[{"node":"Real Estate Agent (Text)","type":"main","index":0}]]},"Real Estate Agent (Text)":{"main":[[{"node":"Parse Agent Output (Text)","type":"main","index":0}]]},"OpenAI Model (Text)":{"ai_languageModel":[[{"node":"Real Estate Agent (Text)","type":"ai_languageModel","index":0}]]},"Text Conversation Memory":{"ai_memory":[[{"node":"Real Estate Agent (Text)","type":"ai_memory","index":0}]]},"Parse Agent Output (Text)":{"main":[[{"node":"Send Text Reply","type":"main","index":0}]]},"Send Text Reply":{"main":[[{"node":"Fetch Property Images (Text)","type":"main","index":0}]]},"Fetch Property Images (Text)":{"main":[[{"node":"Filter Matched Images (Text)","type":"main","index":0}]]},"Filter Matched Images (Text)":{"main":[[{"node":"Send Property Image (Text)","type":"main","index":0}]]},"Fetch Property Images (Audio)":{"main":[[{"node":"Filter Matched Images (Audio)","type":"main","index":0}]]},"Filter Matched Images (Audio)":{"main":[[{"node":"Send Property Image (Audio)","type":"main","index":0}]]},"Convert Audio Type":{"main":[[{"node":"Upload Audio to WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate","timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp","templateCredsSetupCompleted":true},"pinData":{},"versionId":"1e4d0412-8632-4493-b7a7-9cbba6a046d5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-22T05:59:47.273Z","createdAt":"2026-05-22T05:59:47.273Z","role":"workflow:owner","workflowId":"XZ7IGOaJglSanOJS","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}