Backup_2026-03-04/Siri Task Automation.json
{
  "updatedAt": "2026-03-03T14:20:13.065Z",
  "createdAt": "2026-03-03T12:25:20.636Z",
  "id": "U2REbuyiOawSjTidJjTYT",
  "name": "Siri Task Automation",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "siri",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        0
      ],
      "id": "2166004b-c318-4b70-a7aa-a488cc541d30",
      "name": "Webhook",
      "webhookId": "327ec3ce-d0e1-4483-86a0-af51a510c227",
      "credentials": {
        "httpHeaderAuth": {
          "id": "68OyFuAIQOUvFn1W",
          "name": "Iphone API Call"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "90161509643",
        "space": "90166454992",
        "folderless": true,
        "list": "={{ $('Extract Task Data').item.json.output[0].content[0].text.list_id }}",
        "name": "={{ $('Extract Task Data').item.json.output[0].content[0].text.task_name }}",
        "additionalFields": {
          "assignees": "={{ [$('Extract Task Data').item.json.output[0].content[0].text.assignee_id] }}",
          "dueDate": "={{ $('Extract Task Data').item.json.output[0].content[0].text.due_date }}",
          "priority": "={{ $('Extract Task Data').item.json.output[0].content[0].text.priority }}"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "b2e09ffa-ee74-4fc0-a95c-a3f7a126fc3d",
      "name": "Create a task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "nO8Ga77U6a9RNcu6",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $('Webhook').item.json.body.task }}"
            },
            {
              "role": "system",
              "content": "=# ClickUp Task Parser – System Prompt\n\nYou are a task parser that converts natural language commands into structured JSON for ClickUp task creation.\n\nStrictly output valid JSON only.\nDo NOT output explanations, text, markdown formatting, or comments.\n\n---\n\n## ASSIGNEE RULES\n\nAvailable assignees:\n\n* Mosmi → 100993403\n* Lakshit → 88904698\n\nRules:\n\n1. Detect names case-insensitively.\n2. Allow minor spelling variations (fuzzy matching).\n3. If both names appear → assign to the first mentioned.\n4. If no valid name found → default to Lakshit (88904698).\n5. Never invent or modify assignee IDs.\n\n---\n\n## LIST ROUTING RULES\n\nLists:\n\n* Lakmi List → 901613829435 (Default)\n* Lakshit Personal List → 901613780278\n\nRules:\n\nIf command contains phrase similar to “Lakshit work” (case-insensitive, minor variations allowed) → use 901613780278.\n\nOtherwise → use 901613829435.\n\nRemove the trigger phrase from the task name.\n\n---\n\n## PRIORITY RULES\n\nConvert words to numeric priority:\n\n* \"urgent\", \"asap\", \"immediately\" → 1\n* \"high\", \"important\" → 2\n* \"low\", \"later\", \"minor\" → 3\n* If not mentioned → default = 2\n\nReturn only numeric values: 1, 2, or 3.\n\n---\n\n## DUE DATE RULES\n\nTimezone: Asia/Kolkata (IST)\n\nInput will include:\n\nCURRENT_DATE: {{ $('Set Variable').item.json.CURRENT_DATE }}\n\nRules:\n\n1. Convert natural language dates (today, tomorrow, next Monday, specific dates, etc.).\n2. If no due date is mentioned → set due date to the coming Sunday from CURRENT_DATE.\n3. If CURRENT_DATE is Sunday → use next Sunday (7 days later).\n4. Output format must be exactly:\n\nYYYY-MM-DDT00:00:00\n\nNo other date format is allowed.\n\n---\n\n## TASK NAME RULES\n\n1. Remove person names.\n2. Remove date references.\n3. Remove priority words.\n4. Convert into a short actionable phrase.\n5. No trailing punctuation.\n6. Keep it concise and professional.\n7. Remove trigger phrases.\n\n---\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "verbosity": "low",
              "name": "clickup_task_parser",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"task_name\": {\n      \"type\": \"string\",\n      \"description\": \"Short actionable task title without names, dates, or priority words\"\n    },\n    \"assignee_id\": {\n      \"type\": \"integer\",\n      \"enum\": [100993403, 88904698],\n      \"description\": \"Must be one of the predefined assignee IDs\"\n    },\n    \"priority\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 2, 3],\n      \"description\": \"1 = urgent, 2 = high/default, 3 = low\"\n    },\n    \"due_date\": {\n      \"type\": \"string\",\n      \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}T00:00:00$\",\n      \"description\": \"ISO format date in YYYY-MM-DDT00:00:00 format (IST timezone)\"\n    },\n    \"list_id\": {\n      \"type\": \"integer\",\n      \"enum\": [901613829435, 901613780278],\n      \"description\": \"ClickUp List ID based on routing rules\"\n    }\n  },\n  \"required\": [\"task_name\", \"assignee_id\", \"priority\", \"due_date\", \"list_id\"],\n  \"additionalProperties\": false\n}",
              "description": "Structured ClickUp task object parsed from natural language command.",
              "strict": true
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "a0b41da8-ee59-4eb2-bf60-9435e414c9a6",
      "name": "Extract Task Data",
      "credentials": {
        "openAiApi": {
          "id": "48jg0IN7QfVXoF59",
          "name": "OpenAi Freelance"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "440d0603-c6ab-4a25-8223-c333ffa93cf0",
              "leftValue": "={{ $json.body.task }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -144,
        0
      ],
      "id": "99df8b21-c7bf-4be3-9db2-568a74652ea4",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47a3d3ce-0876-440b-978e-132096e20ac7",
              "name": "CURRENT_DATE",
              "value": "={{ $now.setZone(\"Asia/Kolkata\").toISODate() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        0
      ],
      "id": "4b439cc2-3471-43d0-bcf1-2f2b13b00386",
      "name": "Set Variable"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task Data": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Set Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variable": {
      "main": [
        [
          {
            "node": "Extract Task Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d8efa3ae-82e5-4306-af3c-008f1d07cbb2",
  "activeVersionId": "d8efa3ae-82e5-4306-af3c-008f1d07cbb2",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-03T12:25:20.640Z",
      "createdAt": "2026-03-03T12:25:20.640Z",
      "role": "workflow:owner",
      "workflowId": "U2REbuyiOawSjTidJjTYT",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-03T14:20:08.000Z",
    "createdAt": "2026-03-03T14:20:04.709Z",
    "versionId": "d8efa3ae-82e5-4306-af3c-008f1d07cbb2",
    "workflowId": "U2REbuyiOawSjTidJjTYT",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "siri",
          "authentication": "headerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -352,
          0
        ],
        "id": "2166004b-c318-4b70-a7aa-a488cc541d30",
        "name": "Webhook",
        "webhookId": "327ec3ce-d0e1-4483-86a0-af51a510c227",
        "credentials": {
          "httpHeaderAuth": {
            "id": "68OyFuAIQOUvFn1W",
            "name": "Iphone API Call"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "team": "90161509643",
          "space": "90166454992",
          "folderless": true,
          "list": "={{ $('Extract Task Data').item.json.output[0].content[0].text.list_id }}",
          "name": "={{ $('Extract Task Data').item.json.output[0].content[0].text.task_name }}",
          "additionalFields": {
            "assignees": "={{ [$('Extract Task Data').item.json.output[0].content[0].text.assignee_id] }}",
            "dueDate": "={{ $('Extract Task Data').item.json.output[0].content[0].text.due_date }}",
            "priority": "={{ $('Extract Task Data').item.json.output[0].content[0].text.priority }}"
          }
        },
        "type": "n8n-nodes-base.clickUp",
        "typeVersion": 1,
        "position": [
          544,
          0
        ],
        "id": "b2e09ffa-ee74-4fc0-a95c-a3f7a126fc3d",
        "name": "Create a task",
        "credentials": {
          "clickUpOAuth2Api": {
            "id": "nO8Ga77U6a9RNcu6",
            "name": "ClickUp account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5-nano",
            "mode": "list",
            "cachedResultName": "GPT-5-NANO"
          },
          "responses": {
            "values": [
              {
                "content": "={{ $('Webhook').item.json.body.task }}"
              },
              {
                "role": "system",
                "content": "=# ClickUp Task Parser – System Prompt\n\nYou are a task parser that converts natural language commands into structured JSON for ClickUp task creation.\n\nStrictly output valid JSON only.\nDo NOT output explanations, text, markdown formatting, or comments.\n\n---\n\n## ASSIGNEE RULES\n\nAvailable assignees:\n\n* Mosmi → 100993403\n* Lakshit → 88904698\n\nRules:\n\n1. Detect names case-insensitively.\n2. Allow minor spelling variations (fuzzy matching).\n3. If both names appear → assign to the first mentioned.\n4. If no valid name found → default to Lakshit (88904698).\n5. Never invent or modify assignee IDs.\n\n---\n\n## LIST ROUTING RULES\n\nLists:\n\n* Lakmi List → 901613829435 (Default)\n* Lakshit Personal List → 901613780278\n\nRules:\n\nIf command contains phrase similar to “Lakshit work” (case-insensitive, minor variations allowed) → use 901613780278.\n\nOtherwise → use 901613829435.\n\nRemove the trigger phrase from the task name.\n\n---\n\n## PRIORITY RULES\n\nConvert words to numeric priority:\n\n* \"urgent\", \"asap\", \"immediately\" → 1\n* \"high\", \"important\" → 2\n* \"low\", \"later\", \"minor\" → 3\n* If not mentioned → default = 2\n\nReturn only numeric values: 1, 2, or 3.\n\n---\n\n## DUE DATE RULES\n\nTimezone: Asia/Kolkata (IST)\n\nInput will include:\n\nCURRENT_DATE: {{ $('Set Variable').item.json.CURRENT_DATE }}\n\nRules:\n\n1. Convert natural language dates (today, tomorrow, next Monday, specific dates, etc.).\n2. If no due date is mentioned → set due date to the coming Sunday from CURRENT_DATE.\n3. If CURRENT_DATE is Sunday → use next Sunday (7 days later).\n4. Output format must be exactly:\n\nYYYY-MM-DDT00:00:00\n\nNo other date format is allowed.\n\n---\n\n## TASK NAME RULES\n\n1. Remove person names.\n2. Remove date references.\n3. Remove priority words.\n4. Convert into a short actionable phrase.\n5. No trailing punctuation.\n6. Keep it concise and professional.\n7. Remove trigger phrases.\n\n---\n"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_schema",
                "verbosity": "low",
                "name": "clickup_task_parser",
                "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"task_name\": {\n      \"type\": \"string\",\n      \"description\": \"Short actionable task title without names, dates, or priority words\"\n    },\n    \"assignee_id\": {\n      \"type\": \"integer\",\n      \"enum\": [100993403, 88904698],\n      \"description\": \"Must be one of the predefined assignee IDs\"\n    },\n    \"priority\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 2, 3],\n      \"description\": \"1 = urgent, 2 = high/default, 3 = low\"\n    },\n    \"due_date\": {\n      \"type\": \"string\",\n      \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}T00:00:00$\",\n      \"description\": \"ISO format date in YYYY-MM-DDT00:00:00 format (IST timezone)\"\n    },\n    \"list_id\": {\n      \"type\": \"integer\",\n      \"enum\": [901613829435, 901613780278],\n      \"description\": \"ClickUp List ID based on routing rules\"\n    }\n  },\n  \"required\": [\"task_name\", \"assignee_id\", \"priority\", \"due_date\", \"list_id\"],\n  \"additionalProperties\": false\n}",
                "description": "Structured ClickUp task object parsed from natural language command.",
                "strict": true
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          224,
          0
        ],
        "id": "a0b41da8-ee59-4eb2-bf60-9435e414c9a6",
        "name": "Extract Task Data",
        "credentials": {
          "openAiApi": {
            "id": "48jg0IN7QfVXoF59",
            "name": "OpenAi Freelance"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "440d0603-c6ab-4a25-8223-c333ffa93cf0",
                "leftValue": "={{ $json.body.task }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -144,
          0
        ],
        "id": "99df8b21-c7bf-4be3-9db2-568a74652ea4",
        "name": "Filter"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "47a3d3ce-0876-440b-978e-132096e20ac7",
                "name": "CURRENT_DATE",
                "value": "={{ $now.setZone(\"Asia/Kolkata\").toISODate() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          64,
          0
        ],
        "id": "4b439cc2-3471-43d0-bcf1-2f2b13b00386",
        "name": "Set Variable"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Task Data": {
        "main": [
          [
            {
              "node": "Create a task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Set Variable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Variable": {
        "main": [
          [
            {
              "node": "Extract Task Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lakshit Ukani",
    "name": "Version v3",
    "description": "",
    "autosaved": false
  },
  "tags": []
}