Backup_2026-04-07/cal.com Webhook.json
{
  "updatedAt": "2026-04-06T11:54:11.703Z",
  "createdAt": "2026-04-06T06:20:52.591Z",
  "id": "n63y_q2jxOTljdjF-ZeQI",
  "name": "cal.com Webhook",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cal-wa-automation",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -128
      ],
      "id": "bafd3c73-4a98-4a66-a18c-373f376380c0",
      "name": "Webhook",
      "webhookId": "63442c1e-7dd3-45ad-bb18-51de6111461c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffd05501-b820-4c25-8ae0-a178016f44e9",
              "name": "event_type",
              "value": "={{ $('Webhook').item.json.body.triggerEvent }}",
              "type": "string"
            },
            {
              "id": "6b29674a-dfe6-4d14-a74b-fb0d7c54695e",
              "name": "name",
              "value": "={{ $json.body.payload.responses.name.value }}",
              "type": "string"
            },
            {
              "id": "72055d81-c58c-4eac-8360-a1ae4c0d63d7",
              "name": "email",
              "value": "={{ $json.body.payload.responses.email.value }}",
              "type": "string"
            },
            {
              "id": "b001d599-bf16-48bf-bce8-9bd323180d4c",
              "name": "whatsapp_number",
              "value": "={{ $json.body.payload.responses.attendeePhoneNumber.value }}",
              "type": "string"
            },
            {
              "id": "4989924d-1c62-4586-aef0-9d4875d7295e",
              "name": "automation_goal",
              "value": "={{ $json.body.payload.responses.understanding.value }}",
              "type": "string"
            },
            {
              "id": "10573e46-a199-48e3-832a-9c0e41d1f087",
              "name": "when_to_start",
              "value": "={{ $json.body.payload.responses.strength.value }}",
              "type": "string"
            },
            {
              "id": "052e4c1b-5627-45eb-a97a-a8ffb56a2222",
              "name": "service_interest",
              "value": "={{ $json.body.payload.responses.accesstype.value }}",
              "type": "string"
            },
            {
              "id": "3ba6d612-f91b-4d4d-907f-60873e3240d1",
              "name": "meeting_time",
              "value": "={{ DateTime.fromISO($('Webhook').item.json.body.payload.startTime).setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a') }}",
              "type": "string"
            },
            {
              "id": "dc5618a4-98aa-40c6-a5a6-9f4ec610d4eb",
              "name": "reschedule_reason",
              "value": "={{ $json.body.payload.responses.rescheduleReason.value }}",
              "type": "string"
            },
            {
              "id": "e8faa874-823b-4f8a-9fb7-e6f4a34397b1",
              "name": "wa_phone_number_id",
              "value": "924412964080974",
              "type": "string"
            },
            {
              "id": "c7aa1416-4ade-4283-8832-56595b30093c",
              "name": "wa_number_send",
              "value": "919987749950",
              "type": "string"
            },
            {
              "id": "509fb725-ce82-428d-a746-1ccfe8cb9ad5",
              "name": "tag",
              "value": "new_lead_from_cal",
              "type": "string"
            },
            {
              "id": "38cbcd75-2ea7-4295-bd7e-c6306264de45",
              "name": "source",
              "value": "cal.com lead",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -128
      ],
      "id": "efb215a1-7421-416e-938e-6e6401a0be04",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.event_type }}",
                    "rightValue": "BOOKING_CREATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f13f1705-17c3-45ad-b7c0-abb6fd6b8f9f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ab22a134-58ec-438f-b733-01354a1ee38a",
                    "leftValue": "={{ $('Edit Fields').item.json.event_type }}",
                    "rightValue": "BOOKING_RESCHEDULED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rescheduled"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        304,
        -128
      ],
      "id": "a84d4592-4ffa-41d1-815a-abb869de85cf",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "Slack Message - Done\nWhatsapp Msg about community\nStore in Sheet - Done\nUpdate lead in ChatSyncs - Done\nEmbed in Website - Done",
        "height": 112,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -432
      ],
      "id": "b4a6ca43-bc55-42ed-bf66-2ba9147e2d3d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AQQ5VJSNM",
          "mode": "list",
          "cachedResultName": "chatsyncs-notification"
        },
        "messageType": "block",
        "blocksUi": "={{ $('common var').item.json.slack_msg }}",
        "text": "={{ $json.slack_subject_line }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        976,
        -128
      ],
      "id": "9de78f1b-7edf-4122-be64-62b5325e1ab9",
      "name": "Send a message",
      "webhookId": "743c8d51-5493-4ae3-ad82-2c013c1f637b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ZC8Jm1dyTNehWjKR",
          "name": "Techsunami Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e811493d-a09e-4b51-b44e-28e7e3217ed8",
              "name": "slack_msg",
              "value": "={\n\"blocks\": [\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"📧 New WA Automation Meeting Scheduled\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"You have received a new email. Here are the details:\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*From:*\\n{{ $('Edit Fields').item.json.name }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Whatsapp Number:*\\n{{ $('Edit Fields').item.json.whatsapp_number }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Service Interested:*\\n{{ $('Edit Fields').item.json.service_interest }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*When to Start:*\\n{{ $('Edit Fields').item.json.when_to_start }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Automation Goal:*\\n{{ $('Edit Fields').item.json.automation_goal.replace(/\\n/g, \"\\\\n\") }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Meeting Time:*\\n{{ $('Edit Fields').item.json.meeting_time }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"context\",\n    \"elements\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"📬 Cal Trigger | Processed by n8n automation\"\n      }\n    ]\n  }\n]\n}",
              "type": "object"
            },
            {
              "id": "f85d9be5-ecd9-453b-bd2e-e3bd6faeecaf",
              "name": "wa_msg",
              "value": "=📧 New WA Automation Meeting Scheduled!\n\nYou have received a new email. Here are the details: \n\n*From:*\n{{ $('Edit Fields').item.json.name }}\n\n*Email Address:*\n{{ $('Edit Fields').item.json.email }}\n\n*Service Interested:*\n{{ $('Edit Fields').item.json.service_interest }}\n\n*When to Start:*\n{{ $('Edit Fields').item.json.when_to_start }}\n\n*Meeting Time:*\n{{ $('Edit Fields').item.json.meeting_time }}\n\n*Automation Goal:*\n{{ $('Edit Fields').item.json.automation_goal }}",
              "type": "string"
            },
            {
              "id": "f4c7e462-ff34-44c6-b142-ac6b82a6eeb4",
              "name": "slack_subject",
              "value": "📧 New WA Automation Meeting Scheduled",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -224
      ],
      "id": "2b5cd465-8ca8-4a72-94d2-986bb9bee352",
      "name": "All Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e811493d-a09e-4b51-b44e-28e7e3217ed8",
              "name": "slack_msg",
              "value": "={\n\"blocks\": [\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"📧 Rescheduled WA Automation Meeting Scheduled\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"You have received a new email. Here are the details:\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*From:*\\n{{ $('Edit Fields').item.json.name }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Whatsapp Number:*\\n{{ $('Edit Fields').item.json.whatsapp_number }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Service Interested:*\\n{{ $('Edit Fields').item.json.service_interest }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*When to Start:*\\n{{ $('Edit Fields').item.json.when_to_start }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Automation Goal:*\\n{{ $('Edit Fields').item.json.automation_goal.replace(/\\n/g, \"\\\\n\") }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Meeting Time:*\\n{{ DateTime.fromISO($('Edit Fields').item.json.meeting_time).setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a') }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*Reason For Meeting Schedule:*\\n{{ $('Edit Fields').item.json.reschedule_reason.replace(/\\n/g, \"\\\\n\") }}\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"context\",\n    \"elements\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"📬 Cal Trigger | Processed by n8n automation\"\n      }\n    ]\n  }\n]\n}",
              "type": "object"
            },
            {
              "id": "f85d9be5-ecd9-453b-bd2e-e3bd6faeecaf",
              "name": "wa_msg",
              "value": "=📧 Rescheduled WA Automation Meeting Scheduled!\n\nYou have received a new email. Here are the details: \n\n*From:*\n{{ $('Edit Fields').item.json.name }}\n\n*Email Address:*\n{{ $('Edit Fields').item.json.email }}\n\n*Rescheduled Reason:*\n{{ $('Edit Fields').item.json.reschedule_reason }}\n\n*Service Interested:*\n{{ $('Edit Fields').item.json.service_interest }}\n\n*When to Start:*\n{{ $('Edit Fields').item.json.when_to_start }}\n\n*Meeting Time:*\n{{ DateTime.fromISO($('Edit Fields').item.json.meeting_time).setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a') }}\n\n*Automation Goal:*\n{{ $('Edit Fields').item.json.automation_goal }}",
              "type": "string"
            },
            {
              "id": "61337b51-6b7f-45cd-b14f-4b30ed8e7ba4",
              "name": "slack_subject",
              "value": "📧 Rescheduled WA Automation Meeting Scheduled",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -32
      ],
      "id": "3cbefb23-4a28-49db-9fb5-2e2e2837f9f5",
      "name": "All Message1"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "trigger_type",
              "value": "={{ $json.body.triggerEvent }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -144,
        -128
      ],
      "id": "117049f9-7c94-4047-8eb7-6383a0bd29af",
      "name": "Execution Data1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84df6e4d-a2b0-493c-99e2-38b14f373310",
              "name": "wa_msg",
              "value": "={{ $json.wa_msg }}",
              "type": "string"
            },
            {
              "id": "e3ebac25-9b43-40fd-9ec7-264d0bf172e7",
              "name": "slack_msg",
              "value": "={{ $json.slack_msg }}",
              "type": "object"
            },
            {
              "id": "9cd53ed0-0f96-471e-8afd-f07eadb79a16",
              "name": "slack_subject_line",
              "value": "={{ $json.slack_subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -128
      ],
      "id": "8a8c86b1-2392-48e6-810e-126d5e26e55d",
      "name": "common var"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Edit Fields').item.json.wa_phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Edit Fields').item.json.wa_number_send }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $('common var').item.json.wa_msg.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"wa_automation\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        -128
      ],
      "id": "78ed997b-1626-47cd-b6f4-e3a1395061bc",
      "name": "msg to Lakshit",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uIEOvcRO275eqD4K",
          "name": "wa prod agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI",
          "mode": "list",
          "cachedResultName": "cal.com wa leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Edit Fields').item.json.name }}",
            "email": "={{ $('Edit Fields').item.json.email }}",
            "number": "={{ $('Edit Fields').item.json.whatsapp_number }}",
            "event_type": "={{ $('Edit Fields').item.json.event_type }}",
            "service_interested": "={{ $('Edit Fields').item.json.service_interest }}",
            "when_to_start": "={{ $('Edit Fields').item.json.when_to_start }}",
            "meeting_time": "={{ $('Edit Fields').item.json.meeting_time }}",
            "automation_goal": "={{ $('Edit Fields').item.json.automation_goal }}",
            "reschedule_reason": "={{ $('Edit Fields').item.json.reschedule_reason }}",
            "tag": "={{ $('Edit Fields').item.json.tag }}",
            "source": "={{ $('Edit Fields').item.json.source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_interested",
              "displayName": "service_interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "when_to_start",
              "displayName": "when_to_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meeting_time",
              "displayName": "meeting_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "automation_goal",
              "displayName": "automation_goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reschedule_reason",
              "displayName": "reschedule_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tag",
              "displayName": "tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        -128
      ],
      "id": "6c36e399-1ff0-4523-a1f9-d411bf8af165",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZc9FZPSLRtIq9IL",
          "name": "Lakshit77 Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.chatsyncs.com/api/v2/webhook/flows/69d39b3405ba76f1c60b9acc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"{{ $('Edit Fields').item.json.source }}\",\n  \"phone_number\": \"+918898673711\",\n  \"name\": \"{{ $('Edit Fields').item.json.name}}\",\n  \"email\": \"{{ $('Edit Fields').item.json.email}}\",\n  \"tag_type\": \"{{ $('Edit Fields').item.json.tag }}\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1872,
        -128
      ],
      "id": "aa8a4585-4a7d-4300-a51d-c0d6b1d2fe47",
      "name": "Add Contact"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c36071cc-34ca-4e04-a793-fc1b799eadf0",
              "leftValue": "={{ $('Edit Fields').item.json.event_type }}",
              "rightValue": "BOOKING_CREATED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1648,
        -128
      ],
      "id": "4ea9dcc0-6f87-4d7b-8b73-625c2bbdbf87",
      "name": "Filter"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "All Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Message": {
      "main": [
        [
          {
            "node": "common var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "msg to Lakshit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Message1": {
      "main": [
        [
          {
            "node": "common var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "common var": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg to Lakshit": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Contact": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Add Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv894857.hstgr.cloud",
            "user-agent": "node",
            "content-length": "4890",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-cal-signature-256": "no-secret-provided",
            "x-cal-webhook-version": "2021-10-20",
            "x-forwarded-for": "5.60.65.64",
            "x-forwarded-host": "n8n.srv894857.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f5ddd63a4643",
            "x-real-ip": "5.60.65.64"
          },
          "params": {},
          "query": {},
          "body": {
            "triggerEvent": "BOOKING_CREATED",
            "createdAt": "2026-04-06T06:28:50.740Z",
            "payload": {
              "bookerUrl": "https://cal.com",
              "title": "WhatsApp Automation between lakshit ukani and lakshit ukani",
              "startTime": "2026-04-08T06:30:00.000Z",
              "endTime": "2026-04-08T07:00:00.000Z",
              "additionalNotes": "",
              "type": "whatsapp-automation",
              "description": "We offer two ways to get started:\n\n****🚀 Done-For-You (₹30,000/month)****\n\n*   You get a dedicated automation partner who builds and manages systems for your business — at a fraction of hiring an in-house team.\n\n****🛠 Platform Access (₹2,000/month)****\n\n*   Use our platform to build automations yourself.\n\n****Note:****<br>This is a focused call to understand serious use cases. Please book only if you’re genuinely looking to implement WhatsApp automation in your business.",
              "eventTypeId": 5263250,
              "hideCalendarNotes": false,
              "hideCalendarEventDetails": false,
              "hideOrganizerEmail": false,
              "schedulingType": null,
              "seatsPerTimeSlot": null,
              "seatsShowAttendees": true,
              "seatsShowAvailabilityCount": true,
              "customReplyToEmail": null,
              "disableRescheduling": false,
              "disableReschedulingScope": "HOST_AND_ATTENDEE",
              "disableCancelling": false,
              "disableCancellingScope": "HOST_AND_ATTENDEE",
              "organizer": {
                "id": 1968728,
                "name": "lakshit ukani",
                "email": "lakshit@lakshitukani.com",
                "username": "lakshit-ukani-77",
                "timeZone": "Asia/Calcutta",
                "language": {
                  "locale": "en"
                },
                "timeFormat": "h:mma",
                "utcOffset": 330
              },
              "attendees": [
                {
                  "name": "lakshit ukani",
                  "email": "lakshitukani77@gmail.com",
                  "timeZone": "Asia/Calcutta",
                  "language": {
                    "locale": "en"
                  },
                  "phoneNumber": "+919987749950",
                  "bookingSeat": null,
                  "utcOffset": 330,
                  "firstName": "lakshit",
                  "lastName": "ukani"
                }
              ],
              "customInputs": {},
              "responses": {
                "name": {
                  "label": "your_name",
                  "value": "lakshit ukani",
                  "isHidden": false
                },
                "email": {
                  "label": "email_address",
                  "value": "lakshitukani77@gmail.com",
                  "isHidden": false
                },
                "attendeePhoneNumber": {
                  "label": "WhatsApp Number",
                  "value": "+919987749950",
                  "isHidden": false
                },
                "location": {
                  "label": "location",
                  "value": {
                    "value": "integrations:google:meet",
                    "optionValue": ""
                  },
                  "isHidden": false
                },
                "title": {
                  "label": "what_is_this_meeting_about",
                  "isHidden": true
                },
                "notes": {
                  "label": "additional_notes",
                  "isHidden": true
                },
                "understanding": {
                  "label": "What do you want to automate?",
                  "value": "Lead Follow up",
                  "isHidden": false
                },
                "strength": {
                  "label": "When do you want to start?",
                  "value": "Immediately",
                  "isHidden": false
                },
                "accesstype": {
                  "label": "Which option are you interested in?",
                  "value": "Done-For-You Service (₹30,000/month)",
                  "isHidden": false
                },
                "confirmation": {
                  "label": "I confirm that I’m serious about implementing WhatsApp automation for my business and booking this call with genuine intent.",
                  "value": true,
                  "isHidden": false
                },
                "rescheduleReason": {
                  "label": "reason_for_reschedule",
                  "isHidden": false
                },
                "guests": {
                  "label": "additional_guests",
                  "value": [],
                  "isHidden": false
                }
              },
              "userFieldsResponses": {
                "understanding": {
                  "label": "What do you want to automate?",
                  "value": "Lead Follow up",
                  "isHidden": false
                },
                "strength": {
                  "label": "When do you want to start?",
                  "value": "Immediately",
                  "isHidden": false
                },
                "accesstype": {
                  "label": "Which option are you interested in?",
                  "value": "Done-For-You Service (₹30,000/month)",
                  "isHidden": false
                },
                "confirmation": {
                  "label": "I confirm that I’m serious about implementing WhatsApp automation for my business and booking this call with genuine intent.",
                  "value": true,
                  "isHidden": false
                }
              },
              "location": "integrations:google:meet",
              "iCalUID": "w2XcvdMCegPXbuiDsAFh9W@Cal.com",
              "iCalSequence": 0,
              "requiresConfirmation": false,
              "oneTimePassword": null,
              "platformClientId": "",
              "platformRescheduleUrl": "",
              "platformCancelUrl": "",
              "platformBookingUrl": "",
              "uid": "w2XcvdMCegPXbuiDsAFh9W",
              "organizationId": null,
              "hashedLink": null,
              "hideBranding": false,
              "videoCallData": {
                "type": "google_meet_video",
                "id": "",
                "password": "",
                "url": "https://meet.google.com/yuk-ivtb-gtu"
              },
              "appsStatus": [
                {
                  "appName": "Google Calendar",
                  "type": "google_calendar",
                  "success": 1,
                  "failures": 0,
                  "errors": []
                },
                {
                  "appName": "google-meet_video",
                  "type": "google_meet_video",
                  "success": 1,
                  "failures": 0,
                  "errors": []
                }
              ],
              "destinationCalendar": [
                {
                  "id": 997197,
                  "integration": "google_calendar",
                  "externalId": "lakshit@lakshitukani.com",
                  "primaryEmail": "lakshit@lakshitukani.com",
                  "userId": 1968728,
                  "credentialId": 1584335
                }
              ],
              "bookingId": 17948532,
              "status": "ACCEPTED",
              "eventTitle": "WhatsApp Automation",
              "eventDescription": "We offer two ways to get started:\n\n****🚀 Done-For-You (₹30,000/month)****\n\n*   You get a dedicated automation partner who builds and manages systems for your business — at a fraction of hiring an in-house team.\n\n****🛠 Platform Access (₹2,000/month)****\n\n*   Use our platform to build automations yourself.\n\n****Note:****<br>This is a focused call to understand serious use cases. Please book only if you’re genuinely looking to implement WhatsApp automation in your business.",
              "price": 0,
              "currency": "usd",
              "length": 30,
              "assignmentReason": [],
              "metadata": {
                "videoCallUrl": "https://meet.google.com/yuk-ivtb-gtu"
              }
            }
          },
          "webhookUrl": "https://n8n.srv894857.hstgr.cloud/webhook/cal-wa-automation",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "a0ea75ea-9d7d-487a-9da2-c0cab8210ea4",
  "activeVersionId": "a0ea75ea-9d7d-487a-9da2-c0cab8210ea4",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-06T06:20:52.601Z",
      "createdAt": "2026-04-06T06:20:52.601Z",
      "role": "workflow:owner",
      "workflowId": "n63y_q2jxOTljdjF-ZeQI",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-06T11:54:13.000Z",
    "createdAt": "2026-04-06T11:54:11.706Z",
    "versionId": "a0ea75ea-9d7d-487a-9da2-c0cab8210ea4",
    "workflowId": "n63y_q2jxOTljdjF-ZeQI",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "cal-wa-automation",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -368,
          -128
        ],
        "id": "bafd3c73-4a98-4a66-a18c-373f376380c0",
        "name": "Webhook",
        "webhookId": "63442c1e-7dd3-45ad-bb18-51de6111461c"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ffd05501-b820-4c25-8ae0-a178016f44e9",
                "name": "event_type",
                "value": "={{ $('Webhook').item.json.body.triggerEvent }}",
                "type": "string"
              },
              {
                "id": "6b29674a-dfe6-4d14-a74b-fb0d7c54695e",
                "name": "name",
                "value": "={{ $json.body.payload.responses.name.value }}",
                "type": "string"
              },
              {
                "id": "72055d81-c58c-4eac-8360-a1ae4c0d63d7",
                "name": "email",
                "value": "={{ $json.body.payload.responses.email.value }}",
                "type": "string"
              },
              {
                "id": "b001d599-bf16-48bf-bce8-9bd323180d4c",
                "name": "whatsapp_number",
                "value": "={{ $json.body.payload.responses.attendeePhoneNumber.value }}",
                "type": "string"
              },
              {
                "id": "4989924d-1c62-4586-aef0-9d4875d7295e",
                "name": "automation_goal",
                "value": "={{ $json.body.payload.responses.understanding.value }}",
                "type": "string"
              },
              {
                "id": "10573e46-a199-48e3-832a-9c0e41d1f087",
                "name": "when_to_start",
                "value": "={{ $json.body.payload.responses.strength.value }}",
                "type": "string"
              },
              {
                "id": "052e4c1b-5627-45eb-a97a-a8ffb56a2222",
                "name": "service_interest",
                "value": "={{ $json.body.payload.responses.accesstype.value }}",
                "type": "string"
              },
              {
                "id": "3ba6d612-f91b-4d4d-907f-60873e3240d1",
                "name": "meeting_time",
                "value": "={{ DateTime.fromISO($('Webhook').item.json.body.payload.startTime).setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a') }}",
                "type": "string"
              },
              {
                "id": "dc5618a4-98aa-40c6-a5a6-9f4ec610d4eb",
                "name": "reschedule_reason",
                "value": "={{ $json.body.payload.responses.rescheduleReason.value }}",
                "type": "string"
              },
              {
                "id": "e8faa874-823b-4f8a-9fb7-e6f4a34397b1",
                "name": "wa_phone_number_id",
                "value": "924412964080974",
                "type": "string"
              },
              {
                "id": "c7aa1416-4ade-4283-8832-56595b30093c",
                "name": "wa_number_send",
                "value": "919987749950",
                "type": "string"
              },
              {
                "id": "509fb725-ce82-428d-a746-1ccfe8cb9ad5",
                "name": "tag",
                "value": "new_lead_from_cal",
                "type": "string"
              },
              {
                "id": "38cbcd75-2ea7-4295-bd7e-c6306264de45",
                "name": "source",
                "value": "cal.com lead",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          80,
          -128
        ],
        "id": "efb215a1-7421-416e-938e-6e6401a0be04",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Edit Fields').item.json.event_type }}",
                      "rightValue": "BOOKING_CREATED",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "f13f1705-17c3-45ad-b7c0-abb6fd6b8f9f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Created"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ab22a134-58ec-438f-b733-01354a1ee38a",
                      "leftValue": "={{ $('Edit Fields').item.json.event_type }}",
                      "rightValue": "BOOKING_RESCHEDULED",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Rescheduled"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          304,
          -128
        ],
        "id": "a84d4592-4ffa-41d1-815a-abb869de85cf",
        "name": "Switch"
      },
      {
        "parameters": {
          "content": "Slack Message - Done\nWhatsapp Msg about community\nStore in Sheet - Done\nUpdate lead in ChatSyncs - Done\nEmbed in Website - Done",
          "height": 112,
          "width": 352
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          64,
          -432
        ],
        "id": "b4a6ca43-bc55-42ed-bf66-2ba9147e2d3d",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AQQ5VJSNM",
            "mode": "list",
            "cachedResultName": "chatsyncs-notification"
          },
          "messageType": "block",
          "blocksUi": "={{ $('common var').item.json.slack_msg }}",
          "text": "={{ $json.slack_subject_line }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          976,
          -128
        ],
        "id": "9de78f1b-7edf-4122-be64-62b5325e1ab9",
        "name": "Send a message",
        "webhookId": "743c8d51-5493-4ae3-ad82-2c013c1f637b",
        "credentials": {
          "slackOAuth2Api": {
            "id": "ZC8Jm1dyTNehWjKR",
            "name": "Techsunami Slack account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e811493d-a09e-4b51-b44e-28e7e3217ed8",
                "name": "slack_msg",
                "value": "={\n\"blocks\": [\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"📧 New WA Automation Meeting Scheduled\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"You have received a new email. Here are the details:\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*From:*\\n{{ $('Edit Fields').item.json.name }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Whatsapp Number:*\\n{{ $('Edit Fields').item.json.whatsapp_number }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Service Interested:*\\n{{ $('Edit Fields').item.json.service_interest }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*When to Start:*\\n{{ $('Edit Fields').item.json.when_to_start }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Automation Goal:*\\n{{ $('Edit Fields').item.json.automation_goal.replace(/\\n/g, \"\\\\n\") }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Meeting Time:*\\n{{ $('Edit Fields').item.json.meeting_time }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"context\",\n    \"elements\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"📬 Cal Trigger | Processed by n8n automation\"\n      }\n    ]\n  }\n]\n}",
                "type": "object"
              },
              {
                "id": "f85d9be5-ecd9-453b-bd2e-e3bd6faeecaf",
                "name": "wa_msg",
                "value": "=📧 New WA Automation Meeting Scheduled!\n\nYou have received a new email. Here are the details: \n\n*From:*\n{{ $('Edit Fields').item.json.name }}\n\n*Email Address:*\n{{ $('Edit Fields').item.json.email }}\n\n*Service Interested:*\n{{ $('Edit Fields').item.json.service_interest }}\n\n*When to Start:*\n{{ $('Edit Fields').item.json.when_to_start }}\n\n*Meeting Time:*\n{{ $('Edit Fields').item.json.meeting_time }}\n\n*Automation Goal:*\n{{ $('Edit Fields').item.json.automation_goal }}",
                "type": "string"
              },
              {
                "id": "f4c7e462-ff34-44c6-b142-ac6b82a6eeb4",
                "name": "slack_subject",
                "value": "📧 New WA Automation Meeting Scheduled",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          -224
        ],
        "id": "2b5cd465-8ca8-4a72-94d2-986bb9bee352",
        "name": "All Message"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e811493d-a09e-4b51-b44e-28e7e3217ed8",
                "name": "slack_msg",
                "value": "={\n\"blocks\": [\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"📧 Rescheduled WA Automation Meeting Scheduled\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"You have received a new email. Here are the details:\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*From:*\\n{{ $('Edit Fields').item.json.name }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Whatsapp Number:*\\n{{ $('Edit Fields').item.json.whatsapp_number }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Service Interested:*\\n{{ $('Edit Fields').item.json.service_interest }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*When to Start:*\\n{{ $('Edit Fields').item.json.when_to_start }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Automation Goal:*\\n{{ $('Edit Fields').item.json.automation_goal.replace(/\\n/g, \"\\\\n\") }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Meeting Time:*\\n{{ DateTime.fromISO($('Edit Fields').item.json.meeting_time).setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a') }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*Reason For Meeting Schedule:*\\n{{ $('Edit Fields').item.json.reschedule_reason.replace(/\\n/g, \"\\\\n\") }}\"\n    }\n  },\n  {\n    \"type\": \"divider\"\n  },\n  {\n    \"type\": \"context\",\n    \"elements\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"📬 Cal Trigger | Processed by n8n automation\"\n      }\n    ]\n  }\n]\n}",
                "type": "object"
              },
              {
                "id": "f85d9be5-ecd9-453b-bd2e-e3bd6faeecaf",
                "name": "wa_msg",
                "value": "=📧 Rescheduled WA Automation Meeting Scheduled!\n\nYou have received a new email. Here are the details: \n\n*From:*\n{{ $('Edit Fields').item.json.name }}\n\n*Email Address:*\n{{ $('Edit Fields').item.json.email }}\n\n*Rescheduled Reason:*\n{{ $('Edit Fields').item.json.reschedule_reason }}\n\n*Service Interested:*\n{{ $('Edit Fields').item.json.service_interest }}\n\n*When to Start:*\n{{ $('Edit Fields').item.json.when_to_start }}\n\n*Meeting Time:*\n{{ DateTime.fromISO($('Edit Fields').item.json.meeting_time).setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a') }}\n\n*Automation Goal:*\n{{ $('Edit Fields').item.json.automation_goal }}",
                "type": "string"
              },
              {
                "id": "61337b51-6b7f-45cd-b14f-4b30ed8e7ba4",
                "name": "slack_subject",
                "value": "📧 Rescheduled WA Automation Meeting Scheduled",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          -32
        ],
        "id": "3cbefb23-4a28-49db-9fb5-2e2e2837f9f5",
        "name": "All Message1"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "trigger_type",
                "value": "={{ $json.body.triggerEvent }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          -144,
          -128
        ],
        "id": "117049f9-7c94-4047-8eb7-6383a0bd29af",
        "name": "Execution Data1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "84df6e4d-a2b0-493c-99e2-38b14f373310",
                "name": "wa_msg",
                "value": "={{ $json.wa_msg }}",
                "type": "string"
              },
              {
                "id": "e3ebac25-9b43-40fd-9ec7-264d0bf172e7",
                "name": "slack_msg",
                "value": "={{ $json.slack_msg }}",
                "type": "object"
              },
              {
                "id": "9cd53ed0-0f96-471e-8afd-f07eadb79a16",
                "name": "slack_subject_line",
                "value": "={{ $json.slack_subject }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          752,
          -128
        ],
        "id": "8a8c86b1-2392-48e6-810e-126d5e26e55d",
        "name": "common var"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v24.0/{{ $('Edit Fields').item.json.wa_phone_number_id }}/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Edit Fields').item.json.wa_number_send }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $('common var').item.json.wa_msg.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"wa_automation\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1200,
          -128
        ],
        "id": "78ed997b-1626-47cd-b6f4-e3a1395061bc",
        "name": "msg to Lakshit",
        "credentials": {
          "httpHeaderAuth": {
            "id": "uIEOvcRO275eqD4K",
            "name": "wa prod agent"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI",
            "mode": "list",
            "cachedResultName": "cal.com wa leads",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "name": "={{ $('Edit Fields').item.json.name }}",
              "email": "={{ $('Edit Fields').item.json.email }}",
              "number": "={{ $('Edit Fields').item.json.whatsapp_number }}",
              "event_type": "={{ $('Edit Fields').item.json.event_type }}",
              "service_interested": "={{ $('Edit Fields').item.json.service_interest }}",
              "when_to_start": "={{ $('Edit Fields').item.json.when_to_start }}",
              "meeting_time": "={{ $('Edit Fields').item.json.meeting_time }}",
              "automation_goal": "={{ $('Edit Fields').item.json.automation_goal }}",
              "reschedule_reason": "={{ $('Edit Fields').item.json.reschedule_reason }}",
              "tag": "={{ $('Edit Fields').item.json.tag }}",
              "source": "={{ $('Edit Fields').item.json.source }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "name",
                "displayName": "name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "number",
                "displayName": "number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "event_type",
                "displayName": "event_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "service_interested",
                "displayName": "service_interested",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "when_to_start",
                "displayName": "when_to_start",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "meeting_time",
                "displayName": "meeting_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "automation_goal",
                "displayName": "automation_goal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "reschedule_reason",
                "displayName": "reschedule_reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "tag",
                "displayName": "tag",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1424,
          -128
        ],
        "id": "6c36e399-1ff0-4523-a1f9-d411bf8af165",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "cZc9FZPSLRtIq9IL",
            "name": "Lakshit77 Account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://app.chatsyncs.com/api/v2/webhook/flows/69d39b3405ba76f1c60b9acc",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"source\": \"{{ $('Edit Fields').item.json.source }}\",\n  \"phone_number\": \"+918898673711\",\n  \"name\": \"{{ $('Edit Fields').item.json.name}}\",\n  \"email\": \"{{ $('Edit Fields').item.json.email}}\",\n  \"tag_type\": \"{{ $('Edit Fields').item.json.tag }}\" \n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1872,
          -128
        ],
        "id": "aa8a4585-4a7d-4300-a51d-c0d6b1d2fe47",
        "name": "Add Contact"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c36071cc-34ca-4e04-a793-fc1b799eadf0",
                "leftValue": "={{ $('Edit Fields').item.json.event_type }}",
                "rightValue": "BOOKING_CREATED",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          1648,
          -128
        ],
        "id": "4ea9dcc0-6f87-4d7b-8b73-625c2bbdbf87",
        "name": "Filter"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Execution Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "All Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "All Message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "All Message": {
        "main": [
          [
            {
              "node": "common var",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "msg to Lakshit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "All Message1": {
        "main": [
          [
            {
              "node": "common var",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execution Data1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "common var": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "msg to Lakshit": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Contact": {
        "main": [
          []
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Add Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lakshit Ukani",
    "name": "Version a0ea75ea",
    "description": "",
    "autosaved": true
  },
  "tags": []
}