Backup_2025-10-23/My workflow 17.json
{
  "createdAt": "2025-10-18T18:51:48.654Z",
  "updatedAt": "2025-10-18T18:58:08.000Z",
  "id": "RhmoOZoVBgIqDJGx",
  "name": "My workflow 17",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -64
      ],
      "id": "feb65597-4a45-4a75-b364-f65e69ca1a79",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3.1/fast/first-last-frame-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"first_frame_url\": \"https://storage.googleapis.com/falserverless/example_inputs/veo31-flf2v-input-1.jpeg\",     \n\"last_frame_url\": \"https://storage.googleapis.com/falserverless/example_inputs/veo31-flf2v-input-2.jpeg\",     \n\"prompt\": \"A woman looks into the camera, breathes in, then exclaims energetically, have you guys checked out Veo3.1 First-Last-Frame-to-Video on Fal? It's incredible!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        -64
      ],
      "id": "e428991f-bf7c-41e9-aa63-a563dc3a43aa",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OAZrEcldKeV1euTX",
          "name": "Fal AI Account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3.1/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        -64
      ],
      "id": "8b144a4a-11fb-41b7-87a0-432ac0a45c5f",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OAZrEcldKeV1euTX",
          "name": "Fal AI Account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "92891b40-5970-4642-8ffb-614e193f59ce",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-18T18:51:48.658Z",
      "updatedAt": "2025-10-18T18:51:48.658Z",
      "role": "workflow:owner",
      "workflowId": "RhmoOZoVBgIqDJGx",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "tags": []
}