Backup_2026-04-24/Reminder automation - whatsapp.json
{"updatedAt":"2026-04-07T07:41:58.693Z","createdAt":"2026-01-26T11:54:26.202Z","id":"valIIsDkV8EQbtoM","name":"Reminder automation - whatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('Loop Over Items').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Loop Over Items').first().json.number }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $json.message.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"speaking_english\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[768,16],"id":"e0aa093d-af74-4706-8a81-ef70308f100a","name":"Initial Btn Msg","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[64,0],"id":"a9b6549b-4513-4b1c-8e1d-ce197496b25e","name":"Loop Over Items"},{"parameters":{"multipleMethods":true,"path":"reminder","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-624,368],"id":"99ec00f3-d6fb-4dde-ab09-e6483da50562","name":"Whatsapp Bot Webhook","webhookId":"2b7f85b2-f581-46d9-8d22-172f7a9933c0","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-64,256],"id":"28da0b60-6b28-4ac6-b6d4-d532334cd55e","name":"Verify Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51696ba9-54b9-4f8c-bd0c-4e11fcb50d45","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4b041959-0ee0-4db3-8465-d08554bdec80","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-304,256],"id":"0f555868-82f7-4267-9c40-b4da99c7f43c","name":"Check webhook configure parameter"},{"parameters":{"authentication":"oAuth2","operation":"getAll","team":"90161509643","space":"90166454992","folderless":true,"list":"={{ $('Loop Over Items').item.json.list_id }}","filters":{"assignees":"={{ [$('Loop Over Items').item.json.assignee_id] }}","dueDateLt":"={{ DateTime.now().plus({ days: (7 - DateTime.now().weekday) % 7 || 7 }).toFormat('yyyy-MM-dd') + 'T00:00:00' }}","subtasks":true}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[336,16],"id":"87469abd-985f-4f35-a94a-1247e46806bd","name":"Get many tasks","alwaysOutputData":true,"credentials":{"clickUpOAuth2Api":{"id":"nO8Ga77U6a9RNcu6","name":"ClickUp account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-192,0],"id":"4f32073d-f69d-4e4a-a64a-e90d6a7637b7","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"3314d386-66a4-4abc-a425-e2178f9d4fc3","name":"data","value":"=[   \n  {\n    \"user_name\": \"Lakshit\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 919987749950,       \n    \"assignee_id\": 88904698, \n    \"list_name\": \"Lakshit Personal List\",\n    \"list_id\": 901613780278   \n  },\n  {\n    \"user_name\": \"Lakshit\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 919987749950,       \n    \"assignee_id\": 88904698,\n    \"list_name\": \"Lakmi List\",\n    \"list_id\": 901613829435   \n  },  \n  {     \n    \"user_name\": \"Mosmi\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 918898798259,       \n    \"assignee_id\": 100993403,  \n    \"list_name\": \"Lakmi List\",\n    \"list_id\": 901613829435   \n  } \n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,0],"id":"c86a1b7c-c017-4f2d-9692-b4a4f5ca3eec","name":"variable"},{"parameters":{"jsCode":"const tasks = $input.all().map(item => item.json);\n\nconst IST_OFFSET = 5.5 * 60 * 60 * 1000;\nconst nowUTC = Date.now();\nconst nowIST = nowUTC + IST_OFFSET;\nconst nowISTDate = new Date(nowIST);\n\nconst dateStr = nowISTDate.toLocaleDateString(\"en-IN\", {\n  weekday: \"short\", day: \"numeric\", month: \"short\",\n  timeZone: \"Asia/Kolkata\"\n});\n\nconst listName = $('Loop Over Items').item.json.list_name || \"Tasks\";\n\n// Handle empty response\nif (!tasks || tasks.length === 0 || !tasks[0].id) {\n  return [{ json: { message: `📋 *${listName} — ${dateStr}*\\n\\nNo tasks for this week. ✅` } }];\n}\n\nconst todayStart = Date.UTC(\n  nowISTDate.getUTCFullYear(),\n  nowISTDate.getUTCMonth(),\n  nowISTDate.getUTCDate()\n) - IST_OFFSET;\n\nconst todayEnd = todayStart + 86400000;\n\nconst overdue = [];\nconst today = [];\nconst week = [];\n\nfor (const task of tasks) {\n  const due = parseInt(task.due_date);\n\n  if (due < todayStart) {\n    overdue.push(task.name);\n  } else if (due < todayEnd) {\n    today.push(task.name);\n  } else {\n    week.push(task.name);\n  }\n}\n\nconst formatList = (arr) =>\n  arr.map((line, i) => `${i + 1}. ${line}`).join(\"\\n\");\n\nlet msg = `📋 *${listName} — ${dateStr}*\\n`;\n\nif (overdue.length > 0) {\n  msg += `\\n🔴 *Overdue (${overdue.length})*\\n`;\n  msg += formatList(overdue);\n}\n\nif (today.length > 0) {\n  msg += `\\n\\n📅 *Today (${today.length})*\\n`;\n  msg += formatList(today);\n}\n\nif (week.length > 0) {\n  msg += `\\n\\n📆 *This Week (${week.length})*\\n`;\n  msg += formatList(week);\n}\n\nif (overdue.length === 0 && today.length === 0 && week.length === 0) {\n  msg += \"\\n\\nNo tasks for this week. ✅\";\n}\n\nmsg += `\\n\\n_${overdue.length + today.length + week.length} tasks total_`;\n\nreturn [{ json: { message: msg } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,16],"id":"06ba271b-939b-43f6-801a-a3e4b13d3566","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9-23/2 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-624,0],"id":"dafe549c-8882-44f1-b0e8-c4d0b4316aea","name":"Every 2 hr from 9am to 11pm"},{"parameters":{"httpMethod":"POST","path":"siri","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-624,-464],"id":"edc40266-a782-4938-8a30-60e3c8c7b313","name":"Webhook","webhookId":"327ec3ce-d0e1-4483-86a0-af51a510c227","credentials":{"httpHeaderAuth":{"id":"68OyFuAIQOUvFn1W","name":"Iphone API Call"}}},{"parameters":{"authentication":"oAuth2","team":"90161509643","space":"90166454992","folderless":true,"list":"={{ $('Extract Task Data').item.json.output[0].content[0].text.list_id }}","name":"={{ $('Extract Task Data').item.json.output[0].content[0].text.task_name }}","additionalFields":{"assignees":"={{ [$('Extract Task Data').item.json.output[0].content[0].text.assignee_id] }}","content":"={{ $('Extract Task Data').item.json.output[0].content[0].text.task_description }}","dueDate":"={{ $('Extract Task Data').item.json.output[0].content[0].text.due_date }}","priority":"={{ $('Extract Task Data').item.json.output[0].content[0].text.priority }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[272,-464],"id":"cb120ecd-41f4-41c1-bb99-841a0a1734ce","name":"Create a task","credentials":{"clickUpOAuth2Api":{"id":"nO8Ga77U6a9RNcu6","name":"ClickUp account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"responses":{"values":[{"content":"={{ $('Webhook').item.json.body.task }}"},{"role":"system","content":"=# ClickUp Task Parser – System Prompt\n\nYou are a task parser that converts natural language commands into structured JSON for ClickUp task creation.\n\nStrictly output valid JSON only.\nDo NOT output explanations, text, markdown formatting, or comments.\n\n---\n\n## ASSIGNEE RULES\n\nAvailable assignees:\n\n* Mosmi → 100993403\n* Lakshit → 88904698\n\nRules:\n\n1. Detect names case-insensitively.\n2. Allow minor spelling variations (fuzzy matching).\n3. If both names appear → assign to the first mentioned.\n4. If no valid name found → default to Lakshit (88904698).\n5. Never invent or modify assignee IDs.\n\n---\n\n## LIST ROUTING RULES\n\nLists:\n\n* Lakmi List → 901613829435 (Default)\n* Lakshit Personal List → 901613780278\n\nRules:\n\nIf command contains phrase similar to “Lakshit work” (case-insensitive, minor variations allowed) → use 901613780278.\n\nOtherwise → use 901613829435.\n\nRemove the trigger phrase from the task name.\n\n---\n\n## PRIORITY RULES\n\nConvert words to numeric priority:\n\n* \"urgent\", \"asap\", \"immediately\" → 1\n* \"high\", \"important\" → 2\n* \"low\", \"later\", \"minor\" → 3\n* If not mentioned → default = 2\n\nReturn only numeric values: 1, 2, or 3.\n\n---\n\n## DUE DATE RULES\n\nTimezone: Asia/Kolkata (IST)\n\nInput will include:\n\nCURRENT_DATE: {{ $('Set Variable').item.json.CURRENT_DATE }}\n\nRules:\n\n1. Convert natural language dates (today, tomorrow, next Monday, specific dates, etc.).\n2. If no due date is mentioned → set due date to the coming Sunday from CURRENT_DATE.\n3. If CURRENT_DATE is Sunday → use next Sunday (7 days later).\n4. Output format must be exactly:\n\nYYYY-MM-DDT00:00:00\n\nNo other date format is allowed.\n\n---\n\n## TASK NAME RULES\n\n1. Remove only assignee names (Lakshit, Mosmi). Keep all other person names in the task name.\n2. Remove date references.\n3. Remove priority words.\n4. Convert into a short actionable phrase.\n5. No trailing punctuation.\n6. Keep it concise and professional.\n7. Remove trigger phrases.\n\n## TASK DESCRIPTION RULES\n\n1. Preserve all names, companies, and context removed from the task name.\n2. One sentence explaining who/what/why.\n3. End with: Original: \"<full original input>\"\n4. Never repeat the task name. Max 2 sentences + original line.\n\n---\n"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_schema","verbosity":"low","name":"clickup_task_parser","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"task_name\": {\n      \"type\": \"string\",\n      \"description\": \"Short actionable task title without names, dates, or priority words\"\n    },\n    \"task_description\": {\n      \"type\": \"string\",\n      \"description\": \"1-2 sentences preserving names and context stripped from task name, ending with Original: quote. Must not repeat task name\"\n    },\n    \"assignee_id\": {\n      \"type\": \"integer\",\n      \"enum\": [100993403, 88904698],\n      \"description\": \"Must be one of the predefined assignee IDs\"\n    },\n    \"priority\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 2, 3],\n      \"description\": \"1 = urgent, 2 = high/default, 3 = low\"\n    },\n    \"due_date\": {\n      \"type\": \"string\",\n      \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}T00:00:00$\",\n      \"description\": \"ISO format date in YYYY-MM-DDT00:00:00 format (IST timezone)\"\n    },\n    \"list_id\": {\n      \"type\": \"integer\",\n      \"enum\": [901613829435, 901613780278],\n      \"description\": \"ClickUp List ID based on routing rules\"\n    }\n  },\n  \"required\": [\"task_name\", \"task_description\", \"assignee_id\", \"priority\", \"due_date\", \"list_id\"],\n  \"additionalProperties\": false\n}","description":"Structured ClickUp task object parsed from natural language command.","strict":true}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,-464],"id":"130d7424-d860-43ce-ab01-f91e750a408f","name":"Extract Task Data","credentials":{"openAiApi":{"id":"48jg0IN7QfVXoF59","name":"OpenAi Freelance"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"440d0603-c6ab-4a25-8223-c333ffa93cf0","leftValue":"={{ $json.body.task }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-416,-464],"id":"6fd541b6-2b56-4f79-92b6-b5877bf5374e","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"47a3d3ce-0876-440b-978e-132096e20ac7","name":"CURRENT_DATE","value":"={{ $now.setZone(\"Asia/Kolkata\").toISODate() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,-464],"id":"ad4574df-0f10-4bc6-a6ae-602b573e7659","name":"Set Variable"},{"parameters":{"content":"# Task Automation\n","height":80,"width":1552},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,-608],"id":"ddf4c29c-664f-4fb3-a975-f0923bbef2f2","name":"Sticky Note"},{"parameters":{"content":"# WhatsApp Reminder\n","height":80,"width":1552},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-240],"id":"854c723c-f3a6-44eb-9608-e546822a5b07","name":"Sticky Note1"},{"parameters":{"dataToSave":{"values":[{"key":"workflow_name","value":"task_automation"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[480,-464],"id":"521e341b-93b5-4069-9c34-e4df21de9dc7","name":"Execution Data"},{"parameters":{"dataToSave":{"values":[{"key":"workflow_name","value":"whatsapp_reminder"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[336,-144],"id":"081d3704-e6ba-47ca-b60c-4782d59630d0","name":"Execution Data1"}],"connections":{"Loop Over Items":{"main":[[{"node":"Execution Data1","type":"main","index":0}],[{"node":"Get many tasks","type":"main","index":0}]]},"Initial Btn Msg":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Whatsapp Bot Webhook":{"main":[[{"node":"Check webhook configure parameter","type":"main","index":0}]]},"Check webhook configure parameter":{"main":[[{"node":"Verify Webhook","type":"main","index":0}]]},"Get many tasks":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"variable":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Initial Btn Msg","type":"main","index":0}]]},"Every 2 hr from 9am to 11pm":{"main":[[{"node":"variable","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Extract Task Data":{"main":[[{"node":"Create a task","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Set Variable","type":"main","index":0}]]},"Set Variable":{"main":[[{"node":"Extract Task Data","type":"main","index":0}]]},"Create a task":{"main":[[{"node":"Execution Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Every 2 hr from 9am to 11pm":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3a19df8c-3a19-4b81-a6b8-7afb68302941","activeVersionId":"3a19df8c-3a19-4b81-a6b8-7afb68302941","triggerCount":2,"shared":[{"updatedAt":"2026-01-26T11:54:26.210Z","createdAt":"2026-01-26T11:54:26.210Z","role":"workflow:owner","workflowId":"valIIsDkV8EQbtoM","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-04-07T07:42:43.000Z","createdAt":"2026-04-07T07:41:58.694Z","versionId":"3a19df8c-3a19-4b81-a6b8-7afb68302941","workflowId":"valIIsDkV8EQbtoM","nodes":[{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $('Loop Over Items').first().json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Loop Over Items').first().json.number }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $json.message.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"speaking_english\",\n            \"title\": \"Got it\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[768,16],"id":"e0aa093d-af74-4706-8a81-ef70308f100a","name":"Initial Btn Msg","credentials":{"httpHeaderAuth":{"id":"uIEOvcRO275eqD4K","name":"wa prod agent"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[64,0],"id":"a9b6549b-4513-4b1c-8e1d-ce197496b25e","name":"Loop Over Items"},{"parameters":{"multipleMethods":true,"path":"reminder","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-624,368],"id":"99ec00f3-d6fb-4dde-ab09-e6483da50562","name":"Whatsapp Bot Webhook","webhookId":"2b7f85b2-f581-46d9-8d22-172f7a9933c0","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-64,256],"id":"28da0b60-6b28-4ac6-b6d4-d532334cd55e","name":"Verify Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51696ba9-54b9-4f8c-bd0c-4e11fcb50d45","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4b041959-0ee0-4db3-8465-d08554bdec80","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-304,256],"id":"0f555868-82f7-4267-9c40-b4da99c7f43c","name":"Check webhook configure parameter"},{"parameters":{"authentication":"oAuth2","operation":"getAll","team":"90161509643","space":"90166454992","folderless":true,"list":"={{ $('Loop Over Items').item.json.list_id }}","filters":{"assignees":"={{ [$('Loop Over Items').item.json.assignee_id] }}","dueDateLt":"={{ DateTime.now().plus({ days: (7 - DateTime.now().weekday) % 7 || 7 }).toFormat('yyyy-MM-dd') + 'T00:00:00' }}","subtasks":true}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[336,16],"id":"87469abd-985f-4f35-a94a-1247e46806bd","name":"Get many tasks","alwaysOutputData":true,"credentials":{"clickUpOAuth2Api":{"id":"nO8Ga77U6a9RNcu6","name":"ClickUp account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-192,0],"id":"4f32073d-f69d-4e4a-a64a-e90d6a7637b7","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"3314d386-66a4-4abc-a425-e2178f9d4fc3","name":"data","value":"=[   \n  {\n    \"user_name\": \"Lakshit\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 919987749950,       \n    \"assignee_id\": 88904698, \n    \"list_name\": \"Lakshit Personal List\",\n    \"list_id\": 901613780278   \n  },\n  {\n    \"user_name\": \"Lakshit\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 919987749950,       \n    \"assignee_id\": 88904698,\n    \"list_name\": \"Lakmi List\",\n    \"list_id\": 901613829435   \n  },  \n  {     \n    \"user_name\": \"Mosmi\",\n    \"phone_number_id\": 924412964080974,      \n    \"number\": 918898798259,       \n    \"assignee_id\": 100993403,  \n    \"list_name\": \"Lakmi List\",\n    \"list_id\": 901613829435   \n  } \n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,0],"id":"c86a1b7c-c017-4f2d-9692-b4a4f5ca3eec","name":"variable"},{"parameters":{"jsCode":"const tasks = $input.all().map(item => item.json);\n\nconst IST_OFFSET = 5.5 * 60 * 60 * 1000;\nconst nowUTC = Date.now();\nconst nowIST = nowUTC + IST_OFFSET;\nconst nowISTDate = new Date(nowIST);\n\nconst dateStr = nowISTDate.toLocaleDateString(\"en-IN\", {\n  weekday: \"short\", day: \"numeric\", month: \"short\",\n  timeZone: \"Asia/Kolkata\"\n});\n\nconst listName = $('Loop Over Items').item.json.list_name || \"Tasks\";\n\n// Handle empty response\nif (!tasks || tasks.length === 0 || !tasks[0].id) {\n  return [{ json: { message: `📋 *${listName} — ${dateStr}*\\n\\nNo tasks for this week. ✅` } }];\n}\n\nconst todayStart = Date.UTC(\n  nowISTDate.getUTCFullYear(),\n  nowISTDate.getUTCMonth(),\n  nowISTDate.getUTCDate()\n) - IST_OFFSET;\n\nconst todayEnd = todayStart + 86400000;\n\nconst overdue = [];\nconst today = [];\nconst week = [];\n\nfor (const task of tasks) {\n  const due = parseInt(task.due_date);\n\n  if (due < todayStart) {\n    overdue.push(task.name);\n  } else if (due < todayEnd) {\n    today.push(task.name);\n  } else {\n    week.push(task.name);\n  }\n}\n\nconst formatList = (arr) =>\n  arr.map((line, i) => `${i + 1}. ${line}`).join(\"\\n\");\n\nlet msg = `📋 *${listName} — ${dateStr}*\\n`;\n\nif (overdue.length > 0) {\n  msg += `\\n🔴 *Overdue (${overdue.length})*\\n`;\n  msg += formatList(overdue);\n}\n\nif (today.length > 0) {\n  msg += `\\n\\n📅 *Today (${today.length})*\\n`;\n  msg += formatList(today);\n}\n\nif (week.length > 0) {\n  msg += `\\n\\n📆 *This Week (${week.length})*\\n`;\n  msg += formatList(week);\n}\n\nif (overdue.length === 0 && today.length === 0 && week.length === 0) {\n  msg += \"\\n\\nNo tasks for this week. ✅\";\n}\n\nmsg += `\\n\\n_${overdue.length + today.length + week.length} tasks total_`;\n\nreturn [{ json: { message: msg } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,16],"id":"06ba271b-939b-43f6-801a-a3e4b13d3566","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9-23/2 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-624,0],"id":"dafe549c-8882-44f1-b0e8-c4d0b4316aea","name":"Every 2 hr from 9am to 11pm"},{"parameters":{"httpMethod":"POST","path":"siri","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-624,-464],"id":"edc40266-a782-4938-8a30-60e3c8c7b313","name":"Webhook","webhookId":"327ec3ce-d0e1-4483-86a0-af51a510c227","credentials":{"httpHeaderAuth":{"id":"68OyFuAIQOUvFn1W","name":"Iphone API Call"}}},{"parameters":{"authentication":"oAuth2","team":"90161509643","space":"90166454992","folderless":true,"list":"={{ $('Extract Task Data').item.json.output[0].content[0].text.list_id }}","name":"={{ $('Extract Task Data').item.json.output[0].content[0].text.task_name }}","additionalFields":{"assignees":"={{ [$('Extract Task Data').item.json.output[0].content[0].text.assignee_id] }}","content":"={{ $('Extract Task Data').item.json.output[0].content[0].text.task_description }}","dueDate":"={{ $('Extract Task Data').item.json.output[0].content[0].text.due_date }}","priority":"={{ $('Extract Task Data').item.json.output[0].content[0].text.priority }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[272,-464],"id":"cb120ecd-41f4-41c1-bb99-841a0a1734ce","name":"Create a task","credentials":{"clickUpOAuth2Api":{"id":"nO8Ga77U6a9RNcu6","name":"ClickUp account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"responses":{"values":[{"content":"={{ $('Webhook').item.json.body.task }}"},{"role":"system","content":"=# ClickUp Task Parser – System Prompt\n\nYou are a task parser that converts natural language commands into structured JSON for ClickUp task creation.\n\nStrictly output valid JSON only.\nDo NOT output explanations, text, markdown formatting, or comments.\n\n---\n\n## ASSIGNEE RULES\n\nAvailable assignees:\n\n* Mosmi → 100993403\n* Lakshit → 88904698\n\nRules:\n\n1. Detect names case-insensitively.\n2. Allow minor spelling variations (fuzzy matching).\n3. If both names appear → assign to the first mentioned.\n4. If no valid name found → default to Lakshit (88904698).\n5. Never invent or modify assignee IDs.\n\n---\n\n## LIST ROUTING RULES\n\nLists:\n\n* Lakmi List → 901613829435 (Default)\n* Lakshit Personal List → 901613780278\n\nRules:\n\nIf command contains phrase similar to “Lakshit work” (case-insensitive, minor variations allowed) → use 901613780278.\n\nOtherwise → use 901613829435.\n\nRemove the trigger phrase from the task name.\n\n---\n\n## PRIORITY RULES\n\nConvert words to numeric priority:\n\n* \"urgent\", \"asap\", \"immediately\" → 1\n* \"high\", \"important\" → 2\n* \"low\", \"later\", \"minor\" → 3\n* If not mentioned → default = 2\n\nReturn only numeric values: 1, 2, or 3.\n\n---\n\n## DUE DATE RULES\n\nTimezone: Asia/Kolkata (IST)\n\nInput will include:\n\nCURRENT_DATE: {{ $('Set Variable').item.json.CURRENT_DATE }}\n\nRules:\n\n1. Convert natural language dates (today, tomorrow, next Monday, specific dates, etc.).\n2. If no due date is mentioned → set due date to the coming Sunday from CURRENT_DATE.\n3. If CURRENT_DATE is Sunday → use next Sunday (7 days later).\n4. Output format must be exactly:\n\nYYYY-MM-DDT00:00:00\n\nNo other date format is allowed.\n\n---\n\n## TASK NAME RULES\n\n1. Remove only assignee names (Lakshit, Mosmi). Keep all other person names in the task name.\n2. Remove date references.\n3. Remove priority words.\n4. Convert into a short actionable phrase.\n5. No trailing punctuation.\n6. Keep it concise and professional.\n7. Remove trigger phrases.\n\n## TASK DESCRIPTION RULES\n\n1. Preserve all names, companies, and context removed from the task name.\n2. One sentence explaining who/what/why.\n3. End with: Original: \"<full original input>\"\n4. Never repeat the task name. Max 2 sentences + original line.\n\n---\n"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_schema","verbosity":"low","name":"clickup_task_parser","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"task_name\": {\n      \"type\": \"string\",\n      \"description\": \"Short actionable task title without names, dates, or priority words\"\n    },\n    \"task_description\": {\n      \"type\": \"string\",\n      \"description\": \"1-2 sentences preserving names and context stripped from task name, ending with Original: quote. Must not repeat task name\"\n    },\n    \"assignee_id\": {\n      \"type\": \"integer\",\n      \"enum\": [100993403, 88904698],\n      \"description\": \"Must be one of the predefined assignee IDs\"\n    },\n    \"priority\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 2, 3],\n      \"description\": \"1 = urgent, 2 = high/default, 3 = low\"\n    },\n    \"due_date\": {\n      \"type\": \"string\",\n      \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}T00:00:00$\",\n      \"description\": \"ISO format date in YYYY-MM-DDT00:00:00 format (IST timezone)\"\n    },\n    \"list_id\": {\n      \"type\": \"integer\",\n      \"enum\": [901613829435, 901613780278],\n      \"description\": \"ClickUp List ID based on routing rules\"\n    }\n  },\n  \"required\": [\"task_name\", \"task_description\", \"assignee_id\", \"priority\", \"due_date\", \"list_id\"],\n  \"additionalProperties\": false\n}","description":"Structured ClickUp task object parsed from natural language command.","strict":true}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,-464],"id":"130d7424-d860-43ce-ab01-f91e750a408f","name":"Extract Task Data","credentials":{"openAiApi":{"id":"48jg0IN7QfVXoF59","name":"OpenAi Freelance"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"440d0603-c6ab-4a25-8223-c333ffa93cf0","leftValue":"={{ $json.body.task }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-416,-464],"id":"6fd541b6-2b56-4f79-92b6-b5877bf5374e","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"47a3d3ce-0876-440b-978e-132096e20ac7","name":"CURRENT_DATE","value":"={{ $now.setZone(\"Asia/Kolkata\").toISODate() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,-464],"id":"ad4574df-0f10-4bc6-a6ae-602b573e7659","name":"Set Variable"},{"parameters":{"content":"# Task Automation\n","height":80,"width":1552},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,-608],"id":"ddf4c29c-664f-4fb3-a975-f0923bbef2f2","name":"Sticky Note"},{"parameters":{"content":"# WhatsApp Reminder\n","height":80,"width":1552},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-240],"id":"854c723c-f3a6-44eb-9608-e546822a5b07","name":"Sticky Note1"},{"parameters":{"dataToSave":{"values":[{"key":"workflow_name","value":"task_automation"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[480,-464],"id":"521e341b-93b5-4069-9c34-e4df21de9dc7","name":"Execution Data"},{"parameters":{"dataToSave":{"values":[{"key":"workflow_name","value":"whatsapp_reminder"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[336,-144],"id":"081d3704-e6ba-47ca-b60c-4782d59630d0","name":"Execution Data1"}],"connections":{"Loop Over Items":{"main":[[{"node":"Execution Data1","type":"main","index":0}],[{"node":"Get many tasks","type":"main","index":0}]]},"Initial Btn Msg":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Whatsapp Bot Webhook":{"main":[[{"node":"Check webhook configure parameter","type":"main","index":0}]]},"Check webhook configure parameter":{"main":[[{"node":"Verify Webhook","type":"main","index":0}]]},"Get many tasks":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"variable":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Initial Btn Msg","type":"main","index":0}]]},"Every 2 hr from 9am to 11pm":{"main":[[{"node":"variable","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Extract Task Data":{"main":[[{"node":"Create a task","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Set Variable","type":"main","index":0}]]},"Set Variable":{"main":[[{"node":"Extract Task Data","type":"main","index":0}]]},"Create a task":{"main":[[{"node":"Execution Data","type":"main","index":0}]]}},"authors":"Lakshit Ukani","name":"Version 3a19df8c","description":"","autosaved":true},"tags":[]}