Backup_2026-05-21/Vijay Automation.json
{"updatedAt":"2025-12-17T10:19:29.000Z","createdAt":"2025-12-17T05:46:26.054Z","id":"cOjVnmDittssxWuj","name":"Vijay Automation","active":false,"isArchived":true,"nodes":[{"parameters":{"multipleMethods":true,"path":"vijay","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,0],"id":"945825c4-d098-4b43-9276-c1e03f2755fc","name":"Webhook","webhookId":"b778a42c-96be-45a4-90d3-53be3f118204"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[272,-224],"id":"9e91d16b-371c-4ef8-8df3-f0faba6057a8","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"569662c7-ffaf-4824-be63-4325c85f46df","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals"}},{"id":"4441fc2e-4e5b-48f0-941a-09e4f53793f9","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[32,-224],"id":"d0a51dab-bc78-4fc8-9104-1b5472c11f4c","name":"Filter"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v24.0/{{ $json.body[0].body.entry[0].messaging[0].recipient.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"id\": \"{{ $json.body[0].body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Hello from the API!\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,80],"id":"04cbf5e9-6490-46bc-8469-27725a770712","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"lxu4PgFm10bzVunM","name":"Vijay Instagram Cred"}}},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v24.0/{{ $json.body[0].body.entry[0].messaging[0].recipient.id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer IGAAcq1q8VpLpBZAGEwc29CSVkwTFZA0ZAlZAqcjZAPSnZAEZAkFtR2ZA4TFYydF9JWXV5aTNOeHhMdFZA1a2RqZATdzMDM0N1pMcmZAuVUZAsLVpiUGhUdkxydG1pYU1seDZAXWHZAJMFhYWmNZAQkhVcFpET3ZA3Qi04dVNXQkVGMmI3VUpYdGM2WQZDZD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"id\": \"{{ $json.body[0].body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Hello from the API!\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[416,64],"id":"7ef9437c-064b-40a0-9e9e-ce60b334fb5a","name":"HTTP Request1"}],"connections":{"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e0bf8501-08a4-48bd-87cf-bea1f7e7b32d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-17T05:46:26.060Z","createdAt":"2025-12-17T05:46:26.060Z","role":"workflow:owner","workflowId":"cOjVnmDittssxWuj","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}