Backup_2026-07-15/Add contact via excel sheet.json
{"updatedAt":"2026-04-18T13:19:00.422Z","createdAt":"2026-04-08T10:27:56.384Z","id":"jLsfuhu9bxs4Rcvm706Nx","name":"Add contact via excel sheet","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,0],"id":"a2aff611-ca82-4458-87cf-87bf2e052cfd","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI","mode":"list","cachedResultName":"cal.com wa leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Platform Access","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xs7Fz8ccs1QOFKMPAofIckq27Xti0AEd8YJ593a89oI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-272,0],"id":"2fccd577-f02d-49f2-8004-0f4e0c6edeb3","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"cZc9FZPSLRtIq9IL","name":"Lakshit77 Account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-64,0],"id":"549b0c6b-ad6c-4428-88b5-00e9566db9b3","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[144,96],"id":"50f9ded0-0c73-4492-ba9a-a28ca15bd104","name":"Wait","webhookId":"e48a190a-129a-43a2-a6ee-d5b0ffa7047d"},{"parameters":{"method":"POST","url":"https://app.chatsyncs.com/api/v2/webhook/flows/69d61f584001b47b6704e9a3","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source\": \"cal.com\",\n  \"phone_number\": \"{{ $json.number.toString().slice(2) }}\",\n  \"name\": \"{{ $json.name }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"tag_type\": \"low-ticket\" \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[336,112],"id":"22326751-fdd3-4cef-9687-1fc00896d309","name":"Add Contact"},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[144,-96],"id":"ebccba9e-d407-4a1f-a2b4-563fcde6262e","name":"Wait1","webhookId":"a4b8650d-8444-4a59-a39f-5a98e754d9d8"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Add Contact","type":"main","index":0}]]},"Add Contact":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8b095a14-877a-470d-adb3-6155d7234449","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-08T10:27:56.392Z","createdAt":"2026-04-08T10:27:56.392Z","role":"workflow:owner","workflowId":"jLsfuhu9bxs4Rcvm706Nx","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}