Backup_2026-07-15/My workflow 38.json
{"updatedAt":"2026-07-02T09:34:37.075Z","createdAt":"2026-07-02T07:18:58.003Z","id":"LKTtKepwuTqxdXFE","name":"My workflow 38","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"doctor","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,-192],"id":"d3e515bc-ba14-4346-9d03-795e3b6eba00","name":"Webhook","webhookId":"16fa788c-0bc5-4157-af3e-2b8f445ef90f"},{"parameters":{"assignments":{"assignments":[{"id":"dcea566e-9a0c-441e-97b7-d99943b3a945","name":"doctor","value":"Dr. Rajesh","type":"string"},{"id":"6157b373-76de-4e71-bcaf-e3af1c6a7f53","name":"department","value":"Cardiology","type":"string"},{"id":"f5f62389-8c47-4df4-8ca5-8eccdf86c285","name":"timing","value":"10 AM - 2 PM","type":"string"},{"id":"bd9a559e-244d-4d63-ba69-65218b17b311","name":"fee","value":"₹800","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,-192],"id":"cb44dc43-260b-49b1-9fb5-988e454a56ff","name":"Edit Fields"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"doctor\": \"{{$json.doctor}}\",\n  \"department\": \"{{$json.department}}\",\n  \"timing\": \"{{$json.timing}}\",\n  \"fee\": \"{{$json.fee}}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[80,-208],"id":"daaf4cd4-1c97-4d36-aea9-2ab44ebebcb6","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"79e16210-b380-4f33-b8fc-4d33ceaacd63","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-07-02T07:18:58.011Z","createdAt":"2026-07-02T07:18:58.011Z","role":"workflow:owner","workflowId":"LKTtKepwuTqxdXFE","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}