Backup_2026-05-15/106. Production ready whatsapp.json
{"updatedAt":"2026-05-15T06:31:06.608Z","createdAt":"2026-05-15T05:19:30.510Z","id":"9pCUj_ACtycQaJR4va2Ju","name":"106. Production ready whatsapp","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-288,-32],"id":"464ac6b1-02dc-4290-bac3-1dff899c3f2f","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.number }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"hry\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,-32],"id":"c426a985-e76d-4b54-b6fd-3301799e2fa8","name":"Initial Btn Msg","credentials":{"httpHeaderAuth":{"id":"Y7qWNP72O0VEndGQ","name":"Kamla App"}}},{"parameters":{"assignments":{"assignments":[{"id":"1c3cb7e3-ce5f-4ed4-92a9-6b5846869558","name":"phone_number_id","value":"1096088246926555","type":"string"},{"id":"ceb4bcd2-efa8-4527-a059-096f06b1446f","name":"number","value":"919987749950","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-32],"id":"01a2aa4a-8b87-4878-841a-c762a47f0ccb","name":"variable"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"variable","type":"main","index":0}]]},"variable":{"main":[[{"node":"Initial Btn Msg","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"5a73e8a2-eaa0-4c0c-9389-59f006216376","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-15T05:19:30.530Z","createdAt":"2026-05-15T05:19:30.530Z","role":"workflow:owner","workflowId":"9pCUj_ACtycQaJR4va2Ju","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}