Backup_2026-03-03/45 Instagram AI Agent Voice & Vision.json
{
  "updatedAt": "2025-09-15T19:35:46.000Z",
  "createdAt": "2025-09-11T19:46:03.505Z",
  "id": "1EvbrhQ67Sz4DHwE",
  "name": "45 Instagram AI Agent Voice & Vision",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        128
      ],
      "id": "c2ad3782-4919-4960-9817-6c802368b981",
      "name": "Download Audio"
    },
    {
      "parameters": {
        "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        656
      ],
      "id": "b4f00428-592f-4bbf-b1c2-6e732571e86a",
      "name": "Download Image"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "bc33e77c-c85b-4458-8f76-53b904b1b647",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        432
      ],
      "id": "4380e189-2b44-4220-8ae9-28d806b1123e",
      "name": "Instagram Webhook Receiver",
      "webhookId": "bc33e77c-c85b-4458-8f76-53b904b1b647"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -32,
        256
      ],
      "id": "5457eb0e-784b-4138-ba7d-c16ce2124b6f",
      "name": "Webhook Verification Handler"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "9694efeb-5b46-40cd-8592-f6664de01e4b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Attachments"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3aed596-6252-40d7-b41a-b937a0c6d75c",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -32,
        528
      ],
      "id": "f2254dff-edcc-424f-9880-1ea7dd889744",
      "name": "Message Type Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79859d98-9bdd-4e4e-accb-e6421467f86a",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.is_echo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        432
      ],
      "id": "0078cfb7-e2f6-44e9-81da-2491d7361813",
      "name": "Check Echo for Attachments"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20ac67bc-c699-4abe-b9c4-9aaf54174d96",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.is_echo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        688
      ],
      "id": "04d32f4c-1314-42bf-a433-6dd23303a43c",
      "name": "Check Echo for Text"
    },
    {
      "parameters": {
        "content": "# Webhook & Initial Processing Section",
        "height": 752,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        144
      ],
      "id": "501115c1-4d70-453a-a9c4-4104ffdb5c78",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9694efeb-5b46-40cd-8592-f6664de01e4b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3aed596-6252-40d7-b41a-b937a0c6d75c",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        416,
        528
      ],
      "id": "5bd5c8f3-a07e-481f-9309-3958bcc0381d",
      "name": "Attachment Type Router"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        928,
        128
      ],
      "id": "abd33fc7-f276-447d-ad06-59937b382b62",
      "name": "Transcribe Audio to Text",
      "credentials": {
        "openAiApi": {
          "id": "L3P9Ae81haTD2rYm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Role \nYou are a helpful assistant named vision. Keep your answer short and to the point \n\n## Aditional Information\nTodays date is {{ $now.toLocal() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1136,
        128
      ],
      "id": "11ce1ffc-4937-4df0-9a32-90ed026c5a44",
      "name": "Process Audio with AI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7dfbbb7e-cb8f-425a-b8d9-b385f2631f55",
              "leftValue": "={{ $('Message Type Router').item.json.body.entry[0].messaging[0].message.attachments[0].type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        128
      ],
      "id": "1d194cac-af8c-4606-8990-4f987fe79b89",
      "name": "Audio Response Type Check"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1680,
        112
      ],
      "id": "304efdc7-2e1d-41ed-a1e3-7ff8e629c93b",
      "name": "Generate AI Voice Response",
      "credentials": {
        "openAiApi": {
          "id": "L3P9Ae81haTD2rYm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputItem = items[0];\ninputItem.binary.data.mimeType = `audio/wav`;\nreturn inputItem;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        112
      ],
      "id": "3e4a1626-9b1d-4d52-9112-5b2db145c954",
      "name": "Convert Audio Format"
    },
    {
      "parameters": {
        "name": "audio_file.wav",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dYPDTvzz7zgOJO1muIjgsLNVWMrmZYUC",
          "mode": "list",
          "cachedResultName": "n8n testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dYPDTvzz7zgOJO1muIjgsLNVWMrmZYUC"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2096,
        112
      ],
      "id": "f2f051f3-961b-46b0-b537-8355e3adaa38",
      "name": "Upload Audio to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P7hJ2H1cveh3Bajc",
          "name": "Lakshit Google Drive"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"recipient\":{\n       \"id\": \"{{ $('Message Type Router').item.json.body.entry[0].messaging[0].sender.id }}\"\n   },\n   \"message\":{\n      \"attachment\": {\n         \"type\": \"audio\",\n         \"payload\" : {\n           \"url\": \"{{ $json.webContentLink }}\"\n         }\n      }\n   }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2336,
        112
      ],
      "id": "14771b35-9eaa-4221-80dc-49aa288daf24",
      "name": "Send Voice Response",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AQrZ1kbx5Eeca1ro",
          "name": "Wanderer Spot Access Token"
        }
      }
    },
    {
      "parameters": {
        "content": "# Audio Processing Pipeline\n",
        "height": 448,
        "width": 2000,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        48
      ],
      "id": "ca1b9107-5f3a-4f38-84f2-01426534542d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Tell me what your see in the image?\n\nNote: \n1. Message length should be less than 800 character",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        944,
        656
      ],
      "id": "8e1e2514-62fc-4b7d-985e-79bec236cdf2",
      "name": "Analyze Image with GPT Vision",
      "credentials": {
        "openAiApi": {
          "id": "L3P9Ae81haTD2rYm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a4857af-5c36-4ae2-8331-47c831d38b4a",
              "name": "text_message",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "00627d59-b6a0-43f3-a731-26b7a92cdde6",
              "name": "reciptent_id",
              "value": "={{ $('Message Type Router').item.json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        656
      ],
      "id": "7de315fb-4782-4b2a-b0a1-8115beb14191",
      "name": "Prepare Image Response Data"
    },
    {
      "parameters": {
        "content": "# Image Processing Pipeline:",
        "height": 304,
        "width": 816,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        560
      ],
      "id": "16800c96-c528-43ac-838c-35ea36c938ec",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "# Role \nYou are a helpful assistant named vision. Keep your answer short and to the point \n\n## Aditional Information\nTodays date is {{ $now.toLocal() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        1008
      ],
      "id": "e60d65de-f9f2-4b6e-bf3d-91fe1b8cf2dd",
      "name": "Process Text with AI"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c636e426-f0f6-45e9-9953-15de13a0291c",
              "name": "text_message",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "0a0c7db8-d49a-4aea-9e0c-3c8267f5393a",
              "name": "reciptent_id",
              "value": "={{ $('Message Type Router').item.json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        1008
      ],
      "id": "de85cca7-f9d7-4c27-9cb6-37688134ee3c",
      "name": "Prepare Text Response Data"
    },
    {
      "parameters": {
        "content": "# Text Processing Pipeline:",
        "height": 400,
        "width": 816,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        912
      ],
      "id": "ff18714b-173c-4745-bed7-f9d9c71a2133",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1136,
        336
      ],
      "id": "450aaaa2-02c4-4033-b5b2-5a0b93952eb8",
      "name": " Audio AI Language Model",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        672,
        1152
      ],
      "id": "ddc099fe-e898-49e8-b5d0-2dd5a0c547e9",
      "name": "Text AI Language Model",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"recipient\":{\n       \"id\": \"{{ $json.reciptent_id }}\"\n   },\n   \"message\":{\n      \"text\": \"{{ $json.text_message.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n   }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        816
      ],
      "id": "9e326412-dce0-4441-b71c-8796c584fe7a",
      "name": "Send Text Response",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AQrZ1kbx5Eeca1ro",
          "name": "Wanderer Spot Access Token"
        }
      }
    },
    {
      "parameters": {
        "content": "# Response Handler:",
        "height": 384,
        "width": 496,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1552,
        688
      ],
      "id": "84dd98c8-8c48-4823-904d-87045de3a667",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze Image with GPT Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Webhook Receiver": {
      "main": [
        [
          {
            "node": "Webhook Verification Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type Router": {
      "main": [
        [
          {
            "node": "Check Echo for Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Echo for Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Echo for Attachments": {
      "main": [
        [],
        [
          {
            "node": "Attachment Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Echo for Text": {
      "main": [
        [],
        [
          {
            "node": "Process Text with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment Type Router": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio to Text": {
      "main": [
        [
          {
            "node": "Process Audio with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Audio with AI": {
      "main": [
        [
          {
            "node": "Audio Response Type Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Response Type Check": {
      "main": [
        [
          {
            "node": "Generate AI Voice Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Voice Response": {
      "main": [
        [
          {
            "node": "Convert Audio Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Audio Format": {
      "main": [
        [
          {
            "node": "Upload Audio to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio to Drive": {
      "main": [
        [
          {
            "node": "Send Voice Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image with GPT Vision": {
      "main": [
        [
          {
            "node": "Prepare Image Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Response Data": {
      "main": [
        [
          {
            "node": "Send Text Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Text with AI": {
      "main": [
        [
          {
            "node": "Prepare Text Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text Response Data": {
      "main": [
        [
          {
            "node": "Send Text Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Audio AI Language Model": {
      "ai_languageModel": [
        [
          {
            "node": "Process Audio with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text AI Language Model": {
      "ai_languageModel": [
        [
          {
            "node": "Process Text with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Text Response": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "446362dc-5ae8-4efe-813c-7d469a0e894a",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-11T19:46:03.512Z",
      "createdAt": "2025-09-11T19:46:03.512Z",
      "role": "workflow:owner",
      "workflowId": "1EvbrhQ67Sz4DHwE",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": null,
  "tags": []
}