Backup_2026-03-03/Perplexity AI Research Subworkflow.json
{
  "updatedAt": "2025-09-18T15:20:35.708Z",
  "createdAt": "2025-09-18T15:20:35.708Z",
  "id": "hhrPJBK6pawieDvs",
  "name": "Perplexity AI Research Subworkflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "parameters": {}
    },
    {
      "id": "perplexity-api-call",
      "name": "Perplexity API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.1-sonar-large-128k-online"
            },
            {
              "name": "messages",
              "value": "={{[\n  {\n    \"role\": \"system\",\n    \"content\": \"You are an expert AI news researcher. Provide comprehensive, factual information with proper citations. Focus on recent developments and credible sources.\"\n  },\n  {\n    \"role\": \"user\", \n    \"content\": $json.query || $json.search_query || $json.prompt || \"Latest AI news and developments\"\n  }\n]}}"
            },
            {
              "name": "max_tokens",
              "value": 2000
            },
            {
              "name": "temperature",
              "value": 0.2
            },
            {
              "name": "top_p",
              "value": 0.9
            },
            {
              "name": "return_citations",
              "value": true
            },
            {
              "name": "return_images",
              "value": false
            },
            {
              "name": "search_recency_filter",
              "value": "week"
            }
          ]
        },
        "options": {
          "bodyContentType": "json"
        }
      }
    },
    {
      "id": "format-response",
      "name": "Format Perplexity Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "research_result",
              "name": "research_result",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "citations",
              "name": "citations",
              "value": "={{ $json.citations || [] }}",
              "type": "array"
            },
            {
              "id": "usage_tokens",
              "name": "usage_tokens",
              "value": "={{ $json.usage?.total_tokens || 0 }}",
              "type": "number"
            },
            {
              "id": "model_used",
              "name": "model_used",
              "value": "llama-3.1-sonar-large-128k-online",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "original_query",
              "name": "original_query",
              "value": "={{ $('Execute Workflow Trigger').item.json.query || $('Execute Workflow Trigger').item.json.search_query || $('Execute Workflow Trigger').item.json.prompt }}",
              "type": "string"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Perplexity API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity API Call": {
      "main": [
        [
          {
            "node": "Format Perplexity Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "a71b668e-33e4-4eb0-96eb-1061c394793b",
  "activeVersionId": "a71b668e-33e4-4eb0-96eb-1061c394793b",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-18T15:20:35.710Z",
      "createdAt": "2025-09-18T15:20:35.710Z",
      "role": "workflow:owner",
      "workflowId": "hhrPJBK6pawieDvs",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-27T19:11:12.017Z",
    "createdAt": "2025-11-27T19:11:12.017Z",
    "versionId": "a71b668e-33e4-4eb0-96eb-1061c394793b",
    "workflowId": "hhrPJBK6pawieDvs",
    "nodes": [
      {
        "id": "workflow-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {}
      },
      {
        "id": "perplexity-api-call",
        "name": "Perplexity API Call",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          680,
          300
        ],
        "parameters": {
          "url": "https://api.perplexity.ai/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "llama-3.1-sonar-large-128k-online"
              },
              {
                "name": "messages",
                "value": "={{[\n  {\n    \"role\": \"system\",\n    \"content\": \"You are an expert AI news researcher. Provide comprehensive, factual information with proper citations. Focus on recent developments and credible sources.\"\n  },\n  {\n    \"role\": \"user\", \n    \"content\": $json.query || $json.search_query || $json.prompt || \"Latest AI news and developments\"\n  }\n]}}"
              },
              {
                "name": "max_tokens",
                "value": 2000
              },
              {
                "name": "temperature",
                "value": 0.2
              },
              {
                "name": "top_p",
                "value": 0.9
              },
              {
                "name": "return_citations",
                "value": true
              },
              {
                "name": "return_images",
                "value": false
              },
              {
                "name": "search_recency_filter",
                "value": "week"
              }
            ]
          },
          "options": {
            "bodyContentType": "json"
          }
        }
      },
      {
        "id": "format-response",
        "name": "Format Perplexity Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          880,
          300
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "research_result",
                "name": "research_result",
                "value": "={{ $json.choices[0].message.content }}",
                "type": "string"
              },
              {
                "id": "citations",
                "name": "citations",
                "value": "={{ $json.citations || [] }}",
                "type": "array"
              },
              {
                "id": "usage_tokens",
                "name": "usage_tokens",
                "value": "={{ $json.usage?.total_tokens || 0 }}",
                "type": "number"
              },
              {
                "id": "model_used",
                "name": "model_used",
                "value": "llama-3.1-sonar-large-128k-online",
                "type": "string"
              },
              {
                "id": "timestamp",
                "name": "timestamp",
                "value": "={{ $now }}",
                "type": "string"
              },
              {
                "id": "original_query",
                "name": "original_query",
                "value": "={{ $('Execute Workflow Trigger').item.json.query || $('Execute Workflow Trigger').item.json.search_query || $('Execute Workflow Trigger').item.json.prompt }}",
                "type": "string"
              }
            ]
          }
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Perplexity API Call",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Perplexity API Call": {
        "main": [
          [
            {
              "node": "Format Perplexity Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}