Backup_2026-03-03/Reminder automation - whatsapp.json
{
  "updatedAt": "2026-01-26T12:16:59.865Z",
  "createdAt": "2026-01-26T11:54:26.202Z",
  "id": "valIIsDkV8EQbtoM",
  "name": "Reminder automation - whatsapp",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10-23 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        0
      ],
      "id": "dafe549c-8882-44f1-b0e8-c4d0b4316aea",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "VzYTPbIGep1iK4rm",
          "mode": "list",
          "cachedResultName": "Reminder Entry - Automation",
          "cachedResultUrl": "/projects/iOyc3VpWKvgHH9fv/datatables/VzYTPbIGep1iK4rm"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "84e0281e-8030-4900-aba9-86354336cfc1",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Edit Fields').item.json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.phone_number }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $('Edit Fields').item.json.msg_to_send.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"speaking_english\",\n            \"title\": \"{{ $('Edit Fields').item.json.btn_cta }}\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        16
      ],
      "id": "e0aa093d-af74-4706-8a81-ef70308f100a",
      "name": "Initial Btn Msg",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iR5q4Pc809XWa04V",
          "name": "whatsapp wa-agent-alister app Lakshit"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a544759f-6431-4633-882d-4541c54d130a",
              "name": "msg_to_send",
              "value": "=🗣️ English Time Reminder!\n\nHey! This is your friendly nudge to keep the conversation flowing in English. \n\nRemember: Every word counts towards building fluency! 💪\n\nKeep going, you're doing great! 🌟",
              "type": "string"
            },
            {
              "id": "ba6fa207-41ec-41b8-9339-f68114f5fe49",
              "name": "btn_cta",
              "value": "Got It!",
              "type": "string"
            },
            {
              "id": "a8513f7a-520c-4969-8d43-5f39659358d8",
              "name": "phone_number_id",
              "value": "924412964080974",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        0
      ],
      "id": "c86a1b7c-c017-4f2d-9692-b4a4f5ca3eec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "a9b6549b-4513-4b1c-8e1d-ce197496b25e",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Initial Btn Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Btn Msg": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "3ae063a7-73f5-4921-a45a-428c9b8b3313",
  "activeVersionId": "3a827f59-0a16-429a-9be3-5ae9e9df1d98",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-26T11:54:26.210Z",
      "createdAt": "2026-01-26T11:54:26.210Z",
      "role": "workflow:owner",
      "workflowId": "valIIsDkV8EQbtoM",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-26T12:16:51.000Z",
    "createdAt": "2026-01-26T12:16:47.344Z",
    "versionId": "3a827f59-0a16-429a-9be3-5ae9e9df1d98",
    "workflowId": "valIIsDkV8EQbtoM",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 10-23 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -592,
          0
        ],
        "id": "dafe549c-8882-44f1-b0e8-c4d0b4316aea",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "VzYTPbIGep1iK4rm",
            "mode": "list",
            "cachedResultName": "Reminder Entry - Automation",
            "cachedResultUrl": "/projects/iOyc3VpWKvgHH9fv/datatables/VzYTPbIGep1iK4rm"
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "84e0281e-8030-4900-aba9-86354336cfc1",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v24.0/{{ $('Edit Fields').item.json.phone_number_id }}/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.phone_number }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $('Edit Fields').item.json.msg_to_send.replace(/\\n/g, '\\\\n').replace(/\"/g, \"'\") }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"speaking_english\",\n            \"title\": \"{{ $('Edit Fields').item.json.btn_cta }}\"\n          }\n        }\n      ]\n    }\n  }\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          544,
          16
        ],
        "id": "e0aa093d-af74-4706-8a81-ef70308f100a",
        "name": "Initial Btn Msg",
        "credentials": {
          "httpHeaderAuth": {
            "id": "iR5q4Pc809XWa04V",
            "name": "whatsapp wa-agent-alister app Lakshit"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a544759f-6431-4633-882d-4541c54d130a",
                "name": "msg_to_send",
                "value": "=🗣️ English Time Reminder!\n\nHey! This is your friendly nudge to keep the conversation flowing in English. \n\nRemember: Every word counts towards building fluency! 💪\n\nKeep going, you're doing great! 🌟",
                "type": "string"
              },
              {
                "id": "ba6fa207-41ec-41b8-9339-f68114f5fe49",
                "name": "btn_cta",
                "value": "Got It!",
                "type": "string"
              },
              {
                "id": "a8513f7a-520c-4969-8d43-5f39659358d8",
                "name": "phone_number_id",
                "value": "924412964080974",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -224,
          0
        ],
        "id": "c86a1b7c-c017-4f2d-9692-b4a4f5ca3eec",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          208,
          0
        ],
        "id": "a9b6549b-4513-4b1c-8e1d-ce197496b25e",
        "name": "Loop Over Items"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Initial Btn Msg",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Initial Btn Msg": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lakshit Ukani",
    "name": "Version v1",
    "description": "",
    "autosaved": false
  },
  "tags": []
}