Backup_2026-04-08/Chatsyncs form upload to mail.json
{"updatedAt":"2026-04-02T05:17:34.308Z","createdAt":"2026-04-01T15:27:01.986Z","id":"XylkSdy5TM-kg3tY4mazG","name":"Chatsyncs form upload to mail","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Sheet Upload","formFields":{"values":[{"fieldLabel":"Sheet","fieldType":"file"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[0,0],"id":"5a24ad09-a445-448d-86c9-2e1bdd9837d8","name":"On form submission","webhookId":"832cbb5a-87be-468a-967b-7d0753df726a"},{"parameters":{"binaryPropertyName":"Sheet","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[208,0],"id":"625adb8a-9374-4ea9-9e8b-6cf07531ceca","name":"Extract from File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,0],"id":"b8ef7b11-3c79-4345-bbba-84fed3518607","name":"Loop Over Items"},{"parameters":{"jsCode":"const today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  const startDate = new Date(data[\"Subscription Start Date\"]);\n  const endDate = new Date(data[\"Subscription End Date\"]);\n  startDate.setHours(0, 0, 0, 0);\n  endDate.setHours(0, 0, 0, 0);\n\n  const diffDays = Math.round((endDate - today) / (1000 * 60 * 60 * 24));\n\n  let category = null;\n\n  if (startDate.getTime() === today.getTime()) {\n    category = \"welcome\";\n  } else if (endDate.getTime() === today.getTime()) {\n    category = \"expiring_today\";\n  } else if (diffDays === 3) {\n    category = \"expiring_in_3_days\";\n  } else if (diffDays === -1) {\n    category = \"expired\";\n  } else if (diffDays === -2) {\n    category = \"expired_2_days\";\n  }\n\n  if (category) {\n    results.push({\n      json: {\n        ...data,\n        category\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,96],"id":"3ba21c47-a28e-434b-8a2e-6a514dc57051","name":"Code in JavaScript","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"welcome","operator":{"type":"string","operation":"equals"},"id":"76a023a0-4d05-4e41-8dc8-c3a36e7ec21e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Welcome"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6a9d7780-2fe1-40df-914a-4a792b71ac60","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expiring_in_3_days","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expiring 3 Days"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f588e740-fc6b-4efa-8aa9-3de221505803","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expiring_today","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expiring Today"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0d7fe8fe-c1fb-4013-80f0-ab1366d116d7","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"89728791-989a-4539-a3e1-9217dd4e7332","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"expired_2_days","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Expired 2 Days"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"afb01962-db15-4937-a9b4-2e08ed212c32","leftValue":"={{ $('Code in JavaScript').item.json.category }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Next Item"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1232,48],"id":"ccf39977-2c2b-4673-8bd1-6ce81affed39","name":"Category Route","alwaysOutputData":false},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[800,96],"id":"11774014-5b4b-4373-8e7a-850fc54dc670","name":"1 sec wait","webhookId":"ec9a3953-bb1d-4f30-9456-2633b06eb1ea"},{"parameters":{"assignments":{"assignments":[{"id":"a63be580-6f1c-44c3-9364-7ebfbf7946e8","name":"from_mail","value":"Lakshit Ukani <account@chatsyncs.com>","type":"string"},{"id":"77ae7f99-f862-471f-abfa-6d31578995d0","name":"subject_welcome","value":"🎉 You're in! Let's get your first WhatsApp automation running","type":"string"},{"id":"adccd4cf-a264-44fb-a5d1-bd43e0c2edcb","name":"subject_today_expiry","value":"⏰ Your ChatSyncs plan expires midnight tonight — don't lose your automations","type":"string"},{"id":"f091ad71-39d3-4877-86c8-52437a24d006","name":"subject_expired","value":"😔 Your ChatSyncs plan expired yesterday — but it's not too late","type":"string"},{"id":"99c468b0-aaea-4a86-8842-34bb6349b3d8","name":"subject_2_day_post_expiry","value":"🚨 2 days without ChatSyncs — your leads aren't getting responses","type":"string"},{"id":"55aa4cae-34d0-4f61-b104-bd3abc8da515","name":"subject_3_day_before_expiry","value":"3 days left on your ChatSyncs plan — here's what happens next","type":"string"},{"id":"512a558b-c201-4b13-a886-c6315354140a","name":"year","value":"={{ $now.format('yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,96],"id":"b4f8799a-e356-4a6e-81f0-4ca3214466d7","name":"Common Variables"},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_welcome }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"8583b74d-b44f-4ce2-8310-74bc9c23c66e","mode":"list","cachedResultName":"Welcome Email (8583b74d-b44f-4ce2-8310-74bc9c23c66e)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[1744,-240],"id":"ec63cc28-be93-4ba4-82bb-e59ac98e80bd","name":"Send Welcome Template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_3_day_before_expiry }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"b70fb9b0-6f7e-49f1-a03b-afe5b6695892","mode":"list","cachedResultName":"3 Day before expiry (b70fb9b0-6f7e-49f1-a03b-afe5b6695892)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"},{"key":{"__rl":true,"value":"expiry_date","mode":"list","cachedResultName":"expiry_date (string)"},"value":"={{ $('Code in JavaScript').item.json['Subscription End Date'] }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[1744,-80],"id":"24a51dc9-1598-4042-8586-29d4d4f3039f","name":"Send 3 day before expiry template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_today_expiry }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"0f4756eb-a64a-425f-b458-cdf7081eecb5","mode":"list","cachedResultName":"Plan Expiration Reminder (0f4756eb-a64a-425f-b458-cdf7081eecb5)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[1744,112],"id":"f17a54c3-ae4b-4a34-8d2b-f58e26a485e5","name":"Send expiring today template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_expired }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"b30e108b-607e-4611-b401-2b196b32b138","mode":"list","cachedResultName":"Plan Expired (b30e108b-607e-4611-b401-2b196b32b138)"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"},{"key":{"__rl":true,"value":"expiry_date","mode":"list","cachedResultName":"expiry_date (string)"},"value":"={{ $('Code in JavaScript').item.json['Subscription End Date'] }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[1744,288],"id":"8b5b1f58-5c0b-4b83-964c-8ae174df3bcf","name":"Send Expired Template","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{"from":"={{ $('Common Variables').item.json.from_mail }}","to":"={{ $('Code in JavaScript').item.json.Email }}","subject":"={{ $('Common Variables').item.json.subject_2_day_post_expiry }}","useTemplate":true,"emailTemplateId":{"__rl":true,"value":"2fa9648f-144c-43f5-b697-e8b233d108cd","mode":"id"},"emailTemplateVariables":{"variables":[{"key":{"__rl":true,"value":"first_name","mode":"list","cachedResultName":"first_name (string)"},"value":"={{ $('Code in JavaScript').item.json.Name }}"},{"key":{"__rl":true,"value":"year","mode":"list","cachedResultName":"year (string)"},"value":"={{ $('Common Variables').item.json.year }}"}]},"additionalOptions":{}},"type":"n8n-nodes-resend.resend","typeVersion":1,"position":[1744,480],"id":"96e248e1-ffcf-47c2-96a9-43eb00243bca","name":"Send Expired Post 2 days","webhookId":"14744e17-fac8-4a74-a921-a7ce7a0ab05e","credentials":{"resendApi":{"id":"JG3XHrZ0bNXowhFp","name":"ChatSyncs Resend"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[624,-96],"id":"b9594725-d217-49e1-970b-de583f66ca8c","name":"Limit"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0AQQ5VJSNM","mode":"list","cachedResultName":"chatsyncs-notification"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"📧 ChatSyncs Email Campaign Summary\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"<@U08MP7Z8215> Users have been notified regarding their subscription status\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": {{ $json.message.toJsonString() }}\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": {{ (\"🕑 *Generated At:* \" + $now.setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm a')).toJsonString() }}\n        }\n      ]\n    }\n  ]\n}","text":"=💳 ChatSyncs Subscription Status API Result","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1104,-160],"id":"7dfd940c-c15b-4227-87f2-5de202b8003a","name":"Send message","webhookId":"ff9d57f0-1e02-4a2b-ab35-5c7568f5c2f7","credentials":{"slackOAuth2Api":{"id":"ZC8Jm1dyTNehWjKR","name":"Techsunami Slack account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Initialize static store on first run\nif (!$getWorkflowStaticData('global').emailLog) {\n  $getWorkflowStaticData('global').emailLog = [];\n}\n\nconst log = $getWorkflowStaticData('global').emailLog;\n\n// Push current item into log\nlog.push({\n  name: $('Code in JavaScript').item.json.Name,\n  email: $('Code in JavaScript').item.json.Email,\n  category: $('Code in JavaScript').item.json.category\n});\n\n$getWorkflowStaticData('global').emailLog = log;\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,528],"id":"72c6543c-5b00-4d12-8167-f2fd5bee4687","name":"Accumulate Email Ids"},{"parameters":{"jsCode":"const log = $getWorkflowStaticData('global').emailLog || [];\n\n// Group by category\nconst grouped = {};\nfor (const entry of log) {\n  if (!grouped[entry.category]) grouped[entry.category] = [];\n  grouped[entry.category].push(entry);\n}\n\n// Category display names\nconst labels = {\n  welcome:              \"🎉 Welcome\",\n  expiring_in_3_days:   \"📅 Expiring in 3 Days\",\n  expiring_today:       \"⏰ Expiring Today\",\n  expired:              \"😔 Expired (1 day)\",\n  expired_2_days:       \"🚨 Expired (2 days)\"\n};\n\n// Build message lines\nlet lines = [];\nlines.push(`*Total Emails Sent: ${log.length}*\\n`);\n\nfor (const [category, entries] of Object.entries(grouped)) {\n  const label = labels[category] || category;\n  lines.push(`${label} — ${entries.length} email(s)`);\n  for (const e of entries) {\n    lines.push(`  • ${e.name} | ${e.email}`);\n  }\n  lines.push('');\n}\n\n// Clear log after summary\n$getWorkflowStaticData('global').emailLog = [];\n\nreturn [{ json: { message: lines.join('\\n') } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-144],"id":"44db7549-3c5b-49ee-85d8-75722b2284bd","name":"Generate Slack message"}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"1 sec wait","type":"main","index":0}]]},"1 sec wait":{"main":[[{"node":"Common Variables","type":"main","index":0}]]},"Category Route":{"main":[[{"node":"Send Welcome Template","type":"main","index":0}],[{"node":"Send 3 day before expiry template","type":"main","index":0}],[{"node":"Send expiring today template","type":"main","index":0}],[{"node":"Send Expired Template","type":"main","index":0}],[{"node":"Send Expired Post 2 days","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Common Variables":{"main":[[{"node":"Category Route","type":"main","index":0}]]},"Send Expired Post 2 days":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send Welcome Template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send 3 day before expiry template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send expiring today template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Send Expired Template":{"main":[[{"node":"Accumulate Email Ids","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Generate Slack message","type":"main","index":0}]]},"Accumulate Email Ids":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Generate Slack message":{"main":[[{"node":"Send message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c667b242-e064-4514-9f82-2f9caf2f72c1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-01T15:27:01.996Z","createdAt":"2026-04-01T15:27:01.996Z","role":"workflow:owner","workflowId":"XylkSdy5TM-kg3tY4mazG","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}