Backup_2025-09-21/Whatspp bot.json
{
  "createdAt": "2025-09-20T19:29:59.367Z",
  "updatedAt": "2025-09-20T20:36:14.000Z",
  "id": "UbIcs0ldejLp1B08",
  "name": "Whatspp bot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "757ac1b9-375a-4808-b885-f98f82f1dcc9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        0
      ],
      "id": "e3eb42f9-3007-489c-b7e5-ac7b1a824c08",
      "name": "Webhook",
      "webhookId": "757ac1b9-375a-4808-b885-f98f82f1dcc9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73988d28-aa47-48b0-bc64-d45e7e630ea9",
              "leftValue": "={{ $json.body.MessageType }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        0
      ],
      "id": "41ea2537-de7b-4aea-88b9-d448870460de",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $json.body.To }}"
            },
            {
              "name": "ContentSid",
              "value": "HX119cd36e8390f53f59b4ee25096fbf24"
            },
            {
              "name": "ContentVariables",
              "value": "={\"1\":\"{{ $json.body.ProfileName }}\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        400
      ],
      "id": "ace99152-ae51-47e5-b08f-59f48e7bf729",
      "name": "Start menu Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XbgCnjmIOf3tN8o7",
          "name": "Twillio cred 2"
        },
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $json.body.To }}"
            },
            {
              "name": "ContentSid",
              "value": "HXe3fc4c9d642ef734ba4232048effee2b"
            },
            {
              "name": "ContentVariables",
              "value": "={\"user_name\":\"{{ $json.body.ProfileName }}\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -416
      ],
      "id": "43f51aac-e3d6-4e0a-becc-dd804f9a62d6",
      "name": "Send Template",
      "credentials": {
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.ButtonPayload }}",
                    "rightValue": "reserve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a7c6ca04-7747-406d-ab76-cd29c0e07c09"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reserve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "623c6501-41f9-456d-864f-72f89f0ec8a6",
                    "leftValue": "={{ $json.body.ButtonPayload }}",
                    "rightValue": "list_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "List Booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f2ac48c-b7d5-4873-ac21-ead49f9e82b5",
                    "leftValue": "={{ $json.body.ListId }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "List Selection"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        240,
        272
      ],
      "id": "ce2dbacc-e5a5-4647-95e5-b2b9f4f8f15d",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $json.body.To }}"
            },
            {
              "name": "ContentSid",
              "value": "HX59c2afb4e02e52f18f97c67f6a7f47f5"
            },
            {
              "name": "ContentVariables",
              "value": "={\"user_name\":\"{{ $json.body.ProfileName }}\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        80
      ],
      "id": "1a102a01-9a8b-4f5d-99f3-643969b4bf8f",
      "name": "Send Template1",
      "credentials": {
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Xw4g8EQFceQJYPg6DmU5xtSqgkdNEBCqgOapXNIfOic",
          "mode": "list",
          "cachedResultName": "Restaurant Reservtion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xw4g8EQFceQJYPg6DmU5xtSqgkdNEBCqgOapXNIfOic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xw4g8EQFceQJYPg6DmU5xtSqgkdNEBCqgOapXNIfOic/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ $('If').item.json.body.WaId }}",
            "Person Name": "={{ $('If').item.json.body.ProfileName }}",
            "No of People": "={{ $('If').item.json.body.ListTitle }}",
            "Status": "Not Confirmed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Person Name",
              "displayName": "Person Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No of People",
              "displayName": "No of People",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timing",
              "displayName": "Timing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        496
      ],
      "id": "aecb9ffe-1ea4-48fa-87ed-470c66b56a44",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZc9FZPSLRtIq9IL",
          "name": "Lakshit77 Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $json.body.To }}"
            },
            {
              "name": "Body",
              "value": "Please mention your prefered date and time.?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        496
      ],
      "id": "ec0174e4-1bae-462f-8291-12d3d8a54504",
      "name": "Send Template2",
      "credentials": {
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc79f892-872b-4e84-bb0e-603f1a3d2dc4",
              "leftValue": "={{ $json.body.Body }}",
              "rightValue": "Hey",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        -96
      ],
      "id": "8e13c196-2520-4f6a-b311-6d8d98d1f56b",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a restaurant manager. You will be getting a message from that identifies the date and time. I need two responses:\n1. I need a pure date and time (nothing else)\n2. I need a message that your booking has been \nconfirmed on this particular day and time. We are looking forward to meeting you\nSuch a message you have to write "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        512,
        -192
      ],
      "id": "4aa00449-3c39-4dcc-8a9f-3d1e28be75cd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        16
      ],
      "id": "0749c0db-d9a7-45d0-8cc5-90481a073258",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Xw4g8EQFceQJYPg6DmU5xtSqgkdNEBCqgOapXNIfOic",
          "mode": "list",
          "cachedResultName": "Restaurant Reservtion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xw4g8EQFceQJYPg6DmU5xtSqgkdNEBCqgOapXNIfOic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xw4g8EQFceQJYPg6DmU5xtSqgkdNEBCqgOapXNIfOic/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ $('If1').item.json.body.WaId }}",
            "Status": "Confirm",
            "Timing": "={{ $json.output.date_time }}"
          },
          "matchingColumns": [
            "Phone Number"
          ],
          "schema": [
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Person Name",
              "displayName": "Person Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "No of People",
              "displayName": "No of People",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timing",
              "displayName": "Timing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        -208
      ],
      "id": "c4b5a4ef-efa2-4c00-af6d-307d553b2811",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZc9FZPSLRtIq9IL",
          "name": "Lakshit77 Account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"date_time\": \"Date and time from message\",\n\t\"booking_msg\": \"Booking confirm message\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        16
      ],
      "id": "2b987d80-eb72-4b06-ac97-adffdc276fb6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('If1').item.json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $('If1').item.json.body.To }}"
            },
            {
              "name": "Body",
              "value": "={{ $('AI Agent').item.json.output.booking_msg }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        -208
      ],
      "id": "20f37cac-2b31-47a3-8e12-86721656f92d",
      "name": "Send Template3",
      "credentials": {
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.WaId }}",
        "options": {
          "systemMessage": "You are a restaurant booking manager. You will be getting a phone number in the chat input. You have to get the booking information and draft a proper message the user. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        272
      ],
      "id": "bf93bdd4-15cd-409b-b322-cc6dbe20d8f9",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xw4g8EQFceQJYPg6DmU5xtSqgkdNEBCqgOapXNIfOic",
          "mode": "list",
          "cachedResultName": "Restaurant Reservtion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xw4g8EQFceQJYPg6DmU5xtSqgkdNEBCqgOapXNIfOic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xw4g8EQFceQJYPg6DmU5xtSqgkdNEBCqgOapXNIfOic/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Phone Number",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        928,
        432
      ],
      "id": "78c761c6-f31d-47da-9030-da4645d4c88d",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZc9FZPSLRtIq9IL",
          "name": "Lakshit77 Account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        672,
        448
      ],
      "id": "d5bc62c5-fab5-4e62-84f0-a06f88ebe70d",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Switch').item.json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $('Switch').item.json.body.To }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.output.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        272
      ],
      "id": "775efe83-175b-4066-a6b7-1dc6a6e66a0a",
      "name": "Send Template4",
      "credentials": {
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Template1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Template2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Template2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send Template3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send Template4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "32c1f6e0-9ff9-4879-b8a5-5be38d04aaef",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-20T19:29:59.376Z",
      "updatedAt": "2025-09-20T19:29:59.376Z",
      "role": "workflow:owner",
      "workflowId": "UbIcs0ldejLp1B08",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "tags": []
}