Backup_2026-02-16/41. Banana Model Image Generation.json
{
  "updatedAt": "2025-08-31T18:07:24.000Z",
  "createdAt": "2025-08-31T13:26:09.711Z",
  "id": "GSMg6gHrDtUWRqDQ",
  "name": "41. Banana Model Image Generation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Banana Model Description",
        "formDescription": "Banana Model",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image 1",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "Image 2",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "Action",
              "placeholder": "Describe what action to perform",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -688,
        -176
      ],
      "id": "dcaa8c83-1321-40d9-97d0-7bcc650d4e7d",
      "name": "On form submission",
      "webhookId": "24c05501-1a83-4f69-bb68-d013be7cf15d"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        48
      ],
      "id": "75c3c3e3-dc8e-45dc-89d0-53fa4e70a8a2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "Image_1",
        "name": "={{ $json[\"Image 1\"].filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dYPDTvzz7zgOJO1muIjgsLNVWMrmZYUC",
          "mode": "list",
          "cachedResultName": "n8n testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dYPDTvzz7zgOJO1muIjgsLNVWMrmZYUC"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -464,
        -272
      ],
      "id": "566e2f38-605b-4f51-9af2-5ac59af544e4",
      "name": "Upload Image 1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P7hJ2H1cveh3Bajc",
          "name": "Lakshit Google Drive"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "Image_2",
        "name": "=",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dYPDTvzz7zgOJO1muIjgsLNVWMrmZYUC",
          "mode": "list",
          "cachedResultName": "n8n testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dYPDTvzz7zgOJO1muIjgsLNVWMrmZYUC"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -464,
        -80
      ],
      "id": "663940ad-1b2b-42c7-90d5-a5df2c4c2d3f",
      "name": "Upload Image 2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P7hJ2H1cveh3Bajc",
          "name": "Lakshit Google Drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -32,
        -176
      ],
      "id": "c925ebec-55fd-493f-bfb3-dab228f8e992",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4542cdb0-06f8-42e8-b662-a4043951151c",
              "name": "image_url_2",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -80
      ],
      "id": "f5cd970c-2322-4be1-bb7a-af9d8487b86e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4542cdb0-06f8-42e8-b662-a4043951151c",
              "name": "image_url_1",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -272
      ],
      "id": "3636ba5f-216f-4dec-8938-fbc355e35a26",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Prompt - {{ $('On form submission').item.json.Action }}",
        "options": {
          "systemMessage": "=You are a prompt-generation assistant for an image model.\n\nThe user will describe an action involving two images:\n\nA superhero (Marvel or DC).\n\nAn animal.\n\nYour job is to take the user’s request and transform it into a detailed, well-structured image prompt for the image generation model.\n\nGuidelines for generated prompts:\n\nAlways instruct the model to merge the superhero and the animal into a single image.\n\nThe animal must wear or be covered in the superhero’s armor/costume, adapted naturally to its body.\n\nPreserve the animal’s natural form and appearance while blending superhero elements and keep it generic don't use name of any specific breed unless specified by user prompt.\n\nEmphasize seamless integration, realism, and recognizability of both the animal and superhero style.\n\nOutput only the final prompt text for the image generation model — nothing else.\n\nExample:\nIf the user says “merge a lion with Iron Man”, you generate:\n\"A majestic lion wearing Iron Man’s red and gold armored suit, seamlessly adapted to its body. The armor fits naturally over the lion’s form, keeping the mane visible while showcasing glowing arc reactor details. Realistic and cinematic style, highly detailed, seamless blending"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        -176
      ],
      "id": "10ae955f-2ff5-4861-9815-f42b03190317",
      "name": "Image Prompt"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -176
      ],
      "id": "79b10de0-4bfc-48de-99a8-a78127a08fef",
      "name": "Get Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OAZrEcldKeV1euTX",
          "name": "Fal AI Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n  \"image_urls\": [\n    \"{{ $('Merge').item.json.image_url_1 }}\",\n    \"{{ $('Merge').item.json.image_url_2 }}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -176
      ],
      "id": "b1ac8108-39e0-42e2-bd57-6a2c046608b6",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OAZrEcldKeV1euTX",
          "name": "Fal AI Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        -176
      ],
      "id": "f05cf759-fd6a-48fd-a669-2f1076b114b7",
      "name": "Wait",
      "webhookId": "6566a18e-a779-4702-a27f-12d01583d915"
    },
    {
      "parameters": {
        "content": "# Google Nano Banana Image Generation",
        "height": 80,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -464
      ],
      "id": "32ced157-a40a-48fd-bcd4-9894d575423f",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload Image 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Image 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "90728e5b-845f-46f9-b449-a65fb51c219d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-08-31T13:26:09.717Z",
      "createdAt": "2025-08-31T13:26:09.717Z",
      "role": "workflow:owner",
      "workflowId": "GSMg6gHrDtUWRqDQ",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "activeVersion": null,
  "tags": []
}