Backup_2026-04-19/Meta CAPI - Fire Events - ChatSyncs.json
{"updatedAt":"2026-04-16T15:00:29.575Z","createdAt":"2026-04-16T10:26:32.140Z","id":"ifsp2K6o7am8pzVvP8T3W","name":"Meta CAPI - Fire Events - ChatSyncs","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"meta-capi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,-32],"id":"a7d97794-42a3-4a04-8111-67af3ecf1752","name":"Webhook","webhookId":"87eb1151-2f16-4256-bc0a-48d22f0f715a"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nfunction hash(value) {\n  if (!value) return null;\n  return crypto\n    .createHash('sha256')\n    .update(value.toString().trim().toLowerCase())\n    .digest('hex');\n}\n\nconst body = $input.first().json.body;\n\nreturn {\n  event_name: body.event_name || 'Lead',\n  event_time: Math.floor(Date.now() / 1000),\n  email: hash(body.email),\n  phone: hash(body.phone),\n  first_name: hash(body.first_name),\n  last_name: hash(body.last_name),\n  fbc: body.fbc || null,\n  client_ip: body.client_ip || null,\n  client_user_agent: body.client_user_agent || null,\n  source_url: body.source_url || 'https://chatsyncs.com'\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-32],"id":"b2eae571-cbe7-4707-a9c2-fa1b1414cde8","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v19.0/3434771583353275/events?access_token=YOUR_ACCESS_TOKEN","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": [\n    {\n      \"event_name\": \"{{ $json.event_name }}\",\n      \"event_time\": \"{{ $json.event_time }}\",\n      \"action_source\": \"website\",\n      \"event_source_url\": \"{{ $json.source_url }}\",\n      \"user_data\": {\n        \"em\": \"{{ $json.email }}\",\n        \"ph\": \"{{ $json.phone }}\",\n        \"fn\": \"{{ $json.first_name }}\",\n        \"ln\": \"{{ $json.last_name }}\",\n        \"fbc\": \"{{ $json.fbc }}\",\n        \"client_ip_address\": \"{{ $json.client_ip }}\",\n        \"client_user_agent\": \"{{ $json.client_user_agent }}\"\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[256,-32],"id":"db345527-15a8-4de0-83e0-14ad523e9f2d","name":"HTTP Request","credentials":{"httpQueryAuth":{"id":"UcYKohZ5SyKneOzD","name":"ChatSyncs Meta CAPI Access Token"}}},{"parameters":{"dataToSave":{"values":[{"key":"type","value":"webhook"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[464,-32],"id":"6ad73ebe-c240-4d8b-a3e4-69dd0c5941af","name":"Execution Data"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Execution Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7045e1b-9ff5-46ea-86ea-d75e23546053","activeVersionId":"b7045e1b-9ff5-46ea-86ea-d75e23546053","triggerCount":1,"shared":[{"updatedAt":"2026-04-16T10:26:32.145Z","createdAt":"2026-04-16T10:26:32.145Z","role":"workflow:owner","workflowId":"ifsp2K6o7am8pzVvP8T3W","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":{"updatedAt":"2026-04-16T15:00:33.000Z","createdAt":"2026-04-16T15:00:29.575Z","versionId":"b7045e1b-9ff5-46ea-86ea-d75e23546053","workflowId":"ifsp2K6o7am8pzVvP8T3W","nodes":[{"parameters":{"httpMethod":"POST","path":"meta-capi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,-32],"id":"a7d97794-42a3-4a04-8111-67af3ecf1752","name":"Webhook","webhookId":"87eb1151-2f16-4256-bc0a-48d22f0f715a"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nfunction hash(value) {\n  if (!value) return null;\n  return crypto\n    .createHash('sha256')\n    .update(value.toString().trim().toLowerCase())\n    .digest('hex');\n}\n\nconst body = $input.first().json.body;\n\nreturn {\n  event_name: body.event_name || 'Lead',\n  event_time: Math.floor(Date.now() / 1000),\n  email: hash(body.email),\n  phone: hash(body.phone),\n  first_name: hash(body.first_name),\n  last_name: hash(body.last_name),\n  fbc: body.fbc || null,\n  client_ip: body.client_ip || null,\n  client_user_agent: body.client_user_agent || null,\n  source_url: body.source_url || 'https://chatsyncs.com'\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-32],"id":"b2eae571-cbe7-4707-a9c2-fa1b1414cde8","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v19.0/3434771583353275/events?access_token=YOUR_ACCESS_TOKEN","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": [\n    {\n      \"event_name\": \"{{ $json.event_name }}\",\n      \"event_time\": \"{{ $json.event_time }}\",\n      \"action_source\": \"website\",\n      \"event_source_url\": \"{{ $json.source_url }}\",\n      \"user_data\": {\n        \"em\": \"{{ $json.email }}\",\n        \"ph\": \"{{ $json.phone }}\",\n        \"fn\": \"{{ $json.first_name }}\",\n        \"ln\": \"{{ $json.last_name }}\",\n        \"fbc\": \"{{ $json.fbc }}\",\n        \"client_ip_address\": \"{{ $json.client_ip }}\",\n        \"client_user_agent\": \"{{ $json.client_user_agent }}\"\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[256,-32],"id":"db345527-15a8-4de0-83e0-14ad523e9f2d","name":"HTTP Request","credentials":{"httpQueryAuth":{"id":"UcYKohZ5SyKneOzD","name":"ChatSyncs Meta CAPI Access Token"}}},{"parameters":{"dataToSave":{"values":[{"key":"type","value":"webhook"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[464,-32],"id":"6ad73ebe-c240-4d8b-a3e4-69dd0c5941af","name":"Execution Data"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Execution Data","type":"main","index":0}]]}},"authors":"Lakshit Ukani","name":"Version b7045e1b","description":"","autosaved":true},"tags":[]}