Backup_2025-11-26/Whatsapp Chat.json
{
  "updatedAt": "2025-11-26T12:49:26.000Z",
  "createdAt": "2025-11-13T11:34:53.834Z",
  "id": "V1GolwUDxcGbl6aY",
  "name": "Whatsapp Chat",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a2ef0698-a3a2-4cca-954a-43a6ab0d7162",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -912,
        -288
      ],
      "id": "b40b9b51-7521-4d2b-826b-8874d1e730de",
      "name": "Webhook",
      "webhookId": "a2ef0698-a3a2-4cca-954a-43a6ab0d7162"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $json.body.To }}"
            },
            {
              "name": "ContentSid",
              "value": "HX67dec374c3290ba042afc2e69e75f8c1"
            },
            {
              "name": "ContentVariables",
              "value": "={\"1\":\"{{ $json.body.ProfileName }}\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        -48
      ],
      "id": "827f7c7e-60cd-4b31-b7c8-79b92825bfd7",
      "name": "Send Initial Template",
      "credentials": {
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c285b704-a505-4d8a-a018-83f7cc0070f0",
              "leftValue": "={{ $json.body.MessageType }}",
              "rightValue": "interactive",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        -288
      ],
      "id": "1047b585-12d9-4f4d-94a6-fcea6537f400",
      "name": "Check if Template"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU",
          "mode": "list",
          "cachedResultName": "catalog_products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1401568257,
          "mode": "list",
          "cachedResultName": "demo sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU/edit#gid=1401568257"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -688
      ],
      "id": "94d72d0f-a105-4cad-8bdb-05f815312402",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZc9FZPSLRtIq9IL",
          "name": "Lakshit77 Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://content.twilio.com/v1/Content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"friendly_name\": \"baby_product_template\",\n  \"language\": \"en\",\n  \"types\": {\n    \"twilio/list-picker\": {\n      \"body\": \"Choose a product to view the details\",\n      \"button\": \"Select Product\",\n      \"items\": {{$node[\"mapping_item\"].json[\"items_stringified\"]}}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        -688
      ],
      "id": "355d4ec5-ffca-45bb-984a-b54b02327e38",
      "name": "Create List picker template OG",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XbgCnjmIOf3tN8o7",
          "name": "Twillio cred 2"
        },
        "httpBasicAuth": {
          "id": "r3Hp5Vy6qya7XL5n",
          "name": "Twillio Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert Excel rows → PROPER JSON array ready for Twilio\nconst MAX_ITEMS = 10;\n  const TITLE_MAX = 24;\nconst DESC_MAX = 72;\n\nconst rows = $input.all().map(i => i.json);\n\nfunction trunc(s,n){ \n  if (!s) return \"\"; \n  s = String(s); \n  return s.length<=n ? s : s.slice(0,n-1)+\"…\"; \n}\n\n// Order by in-stock first\nconst inStock = rows.filter(r => (r.availability || '').toLowerCase() === 'in stock');\nconst others   = rows.filter(r => !inStock.includes(r));\nconst ordered  = inStock.concat(others).slice(0, MAX_ITEMS);\n\n// Build Twilio List Picker items\nconst listItems = ordered.map(p => {\n  const id = String(p.id);\n  const title = trunc(p.title, TITLE_MAX);\n  const description = trunc(p.description ?? `₹${p.price} • ${p.availability}`, DESC_MAX);\n  return {\n    item: title,\n    description: description,\n    id: id\n  };\n});\n\n// Return BOTH versions:\n// 1. Normal JSON array\n// 2. Stringified JSON array (for display)\nreturn [{\n  json: {\n    items: listItems,\n    items_stringified: JSON.stringify(listItems, null, 2)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -688
      ],
      "id": "2a670e03-2f63-416f-a240-6772e5987ca4",
      "name": "mapping_item"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.ButtonPayload }}",
                    "rightValue": "browse_product",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a7c6ca04-7747-406d-ab76-cd29c0e07c09"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Browse Product"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9ce7a61-a4ac-410d-a657-cc2043987041",
                    "leftValue": "={{ $json.body.ButtonPayload }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirm Order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fa8a5bb5-2908-4bee-b7f7-b7d6cd329182",
                    "leftValue": "={{ $json.body.ButtonPayload }}",
                    "rightValue": "ask_faqs",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ask FAQs"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ac966a0-815a-4c1b-9c9c-2af2834b903f",
                    "leftValue": "={{ $json.body.ButtonPayload }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancel Order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a082f7c7-a09f-4524-8298-89fadaaf58c6",
                    "leftValue": "={{ $json.body.Body }}",
                    "rightValue": "_",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No of Quantity"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "623c6501-41f9-456d-864f-72f89f0ec8a6",
                    "leftValue": "={{ $json.body.MessageType }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ask Quantity"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -464,
        -432
      ],
      "id": "07b0d4a1-0940-4d90-9e55-0903d622edab",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $node['Webhook'].json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $node['Webhook'].json.body.To }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json.sid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        -688
      ],
      "id": "0900b854-6c30-4ae3-82db-7ab40be0f30c",
      "name": "Send Template",
      "credentials": {
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://content.twilio.com/v1/Content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"friendly_name\": \"baby_product_template\",\n  \"language\": \"en\",\n  \"types\": {\n    \"twilio/list-picker\": {\n      \"body\": \"{{ $json.body }}\",\n      \"button\": \"{{ $json.button }}\",\n      \"items\": {{$node[\"list_quantity\"].json[\"items_stringified\"]}}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        240
      ],
      "id": "c2908f8e-371a-49a0-8708-f5f024e3d9a1",
      "name": "Create List Quantity picker ",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XbgCnjmIOf3tN8o7",
          "name": "Twillio cred 2"
        },
        "httpBasicAuth": {
          "id": "r3Hp5Vy6qya7XL5n",
          "name": "Twillio Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $node['Webhook'].json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $node['Webhook'].json.body.To }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json.sid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        240
      ],
      "id": "799a7aba-091a-4d48-963c-c0dc1d2e539f",
      "name": "Send Quantity Template",
      "credentials": {
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function node: Quantity List Builder\n// Input: previous node is your Twilio webhook (so product selection data is in $json)\n// Output: { body, button, items_stringified }\n\n// --- Config\nconst MAX_Q = 10;\nconst BUTTON_TEXT = 'Select Qty';     // <=20 chars\nconst BODY_PREFIX = 'You selected';   // used to build the message\n\n// --- Helpers\nfunction trunc(s, n=60){ if (s===undefined||s===null) return ''; s=String(s); return s.length<=n? s : s.slice(0,n-1)+'…'; }\n\n// --- Extract product identifier from common Twilio webhook fields\n// Try a few common locations: (adjust if your webhook stores elsewhere)\n\n// Common Twilio places seen in screenshots: payload.Body, payload.ListTitle, payload.body.ListTitle, payload.body.Body\nlet productIdentifier = $input.first().json.body.Body;\nlet productTitle = $input.first().json.body.ListTitle;\n\n\n// --- Build items array (1..MAX_Q). Use small 'item' titles and descriptions\nconst items = [];\nfor (let q = 1; q <= MAX_Q; q++) {\n  const idObj = `${q}_${productIdentifier}`;\n  items.push({\n    item: String(q),                    // label shown to the user\n    description: q === 1 ? '1 unit' : `${q} units`,\n    // id is a safe encoded JSON string (decode on webhook parse)\n    id: idObj\n  });\n}\n\n// Build output fields\nconst body = `${BODY_PREFIX} '${trunc(productTitle, 36)}'. How many units do you want?`;\nconst button = BUTTON_TEXT;\nconst items_stringified = JSON.stringify(items); // stringified JSON array as requested\n\nreturn [{\n  json: {\n    body,\n    button,\n    items_stringified\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        240
      ],
      "id": "65d80e60-876b-482a-ae6d-26cf9ad8bb46",
      "name": "list_quantity"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0ea277a-b6fc-4818-8787-bae7b6768ddc",
              "name": "item_id",
              "value": "={{ $json.body.ListId.split('_')[1] }}",
              "type": "string"
            },
            {
              "id": "d331bf07-e522-4f03-8752-f7b332b1f648",
              "name": "quantity",
              "value": "={{ $json.body.ListTitle }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        48
      ],
      "id": "821ae4ab-89a3-40a7-a39f-6cc8cb2a923a",
      "name": "Get Item ID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU",
          "mode": "list",
          "cachedResultName": "catalog_products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1401568257,
          "mode": "list",
          "cachedResultName": "demo sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU/edit#gid=1401568257"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $json.item_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        48
      ],
      "id": "456f52c3-22f4-4350-84a9-fb7381c49bcf",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZc9FZPSLRtIq9IL",
          "name": "Lakshit77 Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://content.twilio.com/v1/Content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"friendly_name\": \"confirm_order\",\n  \"language\": \"en\",\n  \"types\": {\n    \"twilio/quick-reply\": {\n      \"body\": \"Confirm your order: \\n • Product: {{ $json.title }} \\n • Quantity: {{ $('Get Item ID').item.json.quantity }}\",\n      \"actions\": [\n        {\n          \"title\": \"Confirm\",\n          \"id\": \"confirm_{{ $('Get Item ID').item.json.item_id }}_{{ $('Get Item ID').item.json.quantity }}\"\n        },\n        {\n          \"title\": \"Cancel\",\n          \"id\": \"cancel\"\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        48
      ],
      "id": "9d5a9e93-da3c-444f-9688-d3f2f5d11d30",
      "name": "Confirmation Template",
      "credentials": {
        "httpBasicAuth": {
          "id": "r3Hp5Vy6qya7XL5n",
          "name": "Twillio Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $node['Webhook'].json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $node['Webhook'].json.body.To }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json.sid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        48
      ],
      "id": "b794c898-6ebd-4a3b-bbe0-0fc81e1d7b15",
      "name": "Send Confirm Template",
      "credentials": {
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Webhook').item.json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $('Webhook').item.json.body.To }}"
            },
            {
              "name": "ContentSid",
              "value": "HX67dec374c3290ba042afc2e69e75f8c1"
            },
            {
              "name": "ContentVariables",
              "value": "={\"1\":\"{{ $('Webhook').item.json.body.ProfileName }}\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -144
      ],
      "id": "e4636f0d-3d9b-45f6-97b3-aea38371dda5",
      "name": "Send Initial Template1",
      "credentials": {
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Check if Template').item.json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $('Check if Template').item.json.body.To }}"
            },
            {
              "name": "Body",
              "value": "=Your Order Has Been Cancel\nIf you want inital menu, type \"Menu\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -144
      ],
      "id": "24d8d59c-5d24-4a4f-b3bf-29b9d67d305d",
      "name": "Send Normal Message",
      "credentials": {
        "httpBasicAuth": {
          "id": "r3Hp5Vy6qya7XL5n",
          "name": "Twillio Credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00a9c062-dd4a-46e1-aca8-543cae3c6dca",
              "name": "item_id",
              "value": "={{ $json.body.ButtonPayload.split(\"_\")[1] }}",
              "type": "string"
            },
            {
              "id": "951c7c53-da08-4ec7-84f0-4bbc5433d52a",
              "name": "quantity",
              "value": "={{ $json.body.ButtonPayload.split(\"_\")[2] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -512
      ],
      "id": "802434ea-635f-4c2c-9ed7-fbc60ff18135",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU",
          "mode": "list",
          "cachedResultName": "catalog_products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1401568257,
          "mode": "list",
          "cachedResultName": "demo sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU/edit#gid=1401568257"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $json.item_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        -512
      ],
      "id": "831d592b-01b4-4ded-b349-7730aa3973f2",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZc9FZPSLRtIq9IL",
          "name": "Lakshit77 Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU",
          "mode": "list",
          "cachedResultName": "catalog_products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 38109468,
          "mode": "list",
          "cachedResultName": "Order List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU/edit#gid=38109468"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ $('Webhook').item.json.body.WaId }}",
            "User": "={{ $('Webhook').item.json.body.ProfileName }}",
            "Item_id": "={{ $('Edit Fields').item.json.item_id }}",
            "Item": "={{ $json.title }}",
            "Quantity": "={{ $('Edit Fields').item.json.quantity }}",
            "Date": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item_id",
              "displayName": "Item_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        -512
      ],
      "id": "e63b5675-06e4-4c4e-a8e7-67c5190725cd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZc9FZPSLRtIq9IL",
          "name": "Lakshit77 Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Check if Template').item.json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $('Check if Template').item.json.body.To }}"
            },
            {
              "name": "Body",
              "value": "=Your Order Has Been Added in our Database\nIf you want inital menu, type \"Menu\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        -512
      ],
      "id": "85025d4d-0fe9-4a5e-b47d-41f4020ac3d2",
      "name": "Send Normal Message1",
      "credentials": {
        "httpBasicAuth": {
          "id": "r3Hp5Vy6qya7XL5n",
          "name": "Twillio Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Check if Template').item.json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $('Check if Template').item.json.body.To }}"
            },
            {
              "name": "Body",
              "value": "=This Feature is under Development\nIf you want inital menu, type \"Menu\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -320
      ],
      "id": "05d90907-b4dd-42b2-b517-7ba9771f87f4",
      "name": "Send Normal Message2",
      "credentials": {
        "httpBasicAuth": {
          "id": "r3Hp5Vy6qya7XL5n",
          "name": "Twillio Credential"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "whatsapp_alister",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -1424
      ],
      "id": "3b0080ac-4b54-41c0-9f56-b71be5213c58",
      "name": "Whatsapp Bot Webhook",
      "webhookId": "2b7f85b2-f581-46d9-8d22-172f7a9933c0"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -240,
        -2272
      ],
      "id": "cbef7959-d640-4f0e-9853-d51daa0d3ae9",
      "name": "Verify Webhook"
    },
    {
      "parameters": {
        "content": "# Twillio Connection",
        "height": 1184,
        "width": 1872
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1008,
        -720
      ],
      "id": "87410b3c-eef4-46ce-8088-a9442cac5d53",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "51696ba9-54b9-4f8c-bd0c-4e11fcb50d45",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4b041959-0ee0-4db3-8465-d08554bdec80",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "hello",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -496,
        -2224
      ],
      "id": "25f8644c-99d4-4c89-b1c2-5f640181f41c",
      "name": "Check webhook configure parameter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/902774616244718/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.msg_to }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.msg }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        -1920
      ],
      "id": "f1e4bb8a-d962-4215-8bb4-4cde171ca875",
      "name": "Send msg2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iR5q4Pc809XWa04V",
          "name": "whatsapp n8n-test-2 app Lakshit"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24009ed9-9dd8-4b22-9e15-ef5b4e0b1587",
              "name": "msg_from",
              "value": "={{ $json.body.entry[0].changes[0].value.metadata.display_phone_number }}",
              "type": "string"
            },
            {
              "id": "7d71c38b-88ef-44d9-a548-f848647b442f",
              "name": "msg_to",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "2977f9b0-5df4-4d94-93a7-308724b31769",
              "name": "msg",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "14d7554a-9415-4478-b26c-59d88b63d498",
              "name": "user_name",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].profile.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -1168
      ],
      "id": "a09b5fad-edb8-44f0-b4f7-b9fb39ead618",
      "name": "Set Variable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/902774616244718/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.msg_to }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"Hi {{ $json.user_name }} 👋 \\nWelcome to Alister Bharat! You can:\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"browse_product\",\n            \"title\": \"Browse Product\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"ask_faq\",\n            \"title\": \"Ask FAQs\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        -1168
      ],
      "id": "f78086e0-6261-45f0-a49d-108cd49c024e",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iR5q4Pc809XWa04V",
          "name": "whatsapp n8n-test-2 app Lakshit"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "897fa65a-47b7-4e25-b472-6f72bfc1d1c5",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.statuses[0].status }}",
              "rightValue": "read",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -400,
        -1328
      ],
      "id": "854c4a0b-00d9-4bb9-a993-70a2e14f295b",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5da1531-4df7-4703-8073-4a96908aa250",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "rightValue": "interactive",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        -1328
      ],
      "id": "56a06d53-e3d6-4391-a06e-0effec28207a",
      "name": "Check If Interactive Button Msg"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].interactive.button_reply.id }}",
                    "rightValue": "browse_product",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a7c6ca04-7747-406d-ab76-cd29c0e07c09"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Browse Product"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9ce7a61-a4ac-410d-a657-cc2043987041",
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].interactive.button_reply.id }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirm Order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fa8a5bb5-2908-4bee-b7f7-b7d6cd329182",
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].interactive.button_reply.id }}",
                    "rightValue": "ask_faqs",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ask FAQs"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ac966a0-815a-4c1b-9c9c-2af2834b903f",
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].interactive.button_reply.id }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancel Order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a082f7c7-a09f-4524-8298-89fadaaf58c6",
                    "leftValue": "={{ $json.body.Body }}",
                    "rightValue": "_",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No of Quantity"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "623c6501-41f9-456d-864f-72f89f0ec8a6",
                    "leftValue": "={{ $json.body.MessageType }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ask Quantity"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        320,
        -1536
      ],
      "id": "c70792a6-7041-4dea-ae7c-48c3f761d8b8",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].interactive.type }}",
                    "rightValue": "button_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "66f96ae4-4402-4323-8b49-2f569e97fbf3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Button Reply"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        16,
        -1424
      ],
      "id": "624d36cc-c55c-42fe-8460-17b6d6d18a4b",
      "name": "Interative Type Route"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU",
          "mode": "list",
          "cachedResultName": "catalog_products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1401568257,
          "mode": "list",
          "cachedResultName": "demo sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNcwhfZ3p9c6UdqmrroMieFeawXX_UND-OMsRnEjbSU/edit#gid=1401568257"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        -1680
      ],
      "id": "dc6a9564-09b1-4a65-92e8-54638755f599",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cZc9FZPSLRtIq9IL",
          "name": "Lakshit77 Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert Excel rows → PROPER JSON array ready for Twilio\nconst MAX_ITEMS = 10;\n  const TITLE_MAX = 24;\nconst DESC_MAX = 72;\n\nconst rows = $input.all().map(i => i.json);\n\nfunction trunc(s,n){ \n  if (!s) return \"\"; \n  s = String(s); \n  return s.length<=n ? s : s.slice(0,n-1)+\"…\"; \n}\n\n// Order by in-stock first\nconst inStock = rows.filter(r => (r.availability || '').toLowerCase() === 'in stock');\nconst others   = rows.filter(r => !inStock.includes(r));\nconst ordered  = inStock.concat(others).slice(0, MAX_ITEMS);\n\n// Build Twilio List Picker items\nconst listItems = ordered.map(p => {\n  const id = String(p.id);\n  const title = trunc(p.title, TITLE_MAX);\n  const description = trunc(p.description ?? `₹${p.price} • ${p.availability}`, DESC_MAX);\n  return {\n    item: title,\n    description: description,\n    id: id\n  };\n});\n\n// Return BOTH versions:\n// 1. Normal JSON array\n// 2. Stringified JSON array (for display)\nreturn [{\n  json: {\n    items: listItems,\n    items_stringified: JSON.stringify(listItems, null, 2)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -1680
      ],
      "id": "7acc8374-6e8d-4a56-8fa7-fd6b4d34f56b",
      "name": "mapping_item1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/902774616244718/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.body.entry[0].changes[0].value.contacts[0].wa_id }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"list\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"Our Products\"\n    },\n    \"body\": {\n      \"text\": \"Choose a product from our catalog\"\n    },\n    \"footer\": {\n      \"text\": \"Powered by YourBrand\"\n    },\n    \"action\": {\n      \"button\": \"View Products\",\n      \"sections\": [\n        {\n          \"title\": \"Electronics\",\n          \"rows\": [\n            {\n              \"id\": \"prod_001\",\n              \"title\": \"iPhone 15 Pro\",\n              \"description\": \"₹1,29,900 - Latest model\"\n            },\n            {\n              \"id\": \"prod_002\",\n              \"title\": \"Samsung Galaxy S24\",\n              \"description\": \"₹89,999 - Flagship phone\"\n            }\n          ]\n        },\n        {\n          \"title\": \"Laptops\",\n          \"rows\": [\n            {\n              \"id\": \"prod_003\",\n              \"title\": \"MacBook Pro M3\",\n              \"description\": \"₹1,99,900 - 14 inch\"\n            }\n          ]\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        -1856
      ],
      "id": "b78c543f-5a36-4e82-9aeb-7bfc02e76c72",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iR5q4Pc809XWa04V",
          "name": "whatsapp n8n-test-2 app Lakshit"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check if Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Template": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Initial Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "mapping_item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create List picker template OG": {
      "main": [
        [
          {
            "node": "Send Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapping_item": {
      "main": [
        [
          {
            "node": "Create List picker template OG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Normal Message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Normal Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Item ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "list_quantity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create List Quantity picker ": {
      "main": [
        [
          {
            "node": "Send Quantity Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list_quantity": {
      "main": [
        [
          {
            "node": "Create List Quantity picker ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Item ID": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Confirmation Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation Template": {
      "main": [
        [
          {
            "node": "Send Confirm Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Normal Message": {
      "main": [
        [
          {
            "node": "Send Initial Template1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send Normal Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp Bot Webhook": {
      "main": [
        [
          {
            "node": "Check webhook configure parameter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check webhook configure parameter": {
      "main": [
        [
          {
            "node": "Verify Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variable": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Initial Template": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Check If Interactive Button Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Interactive Button Msg": {
      "main": [
        [
          {
            "node": "Interative Type Route",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interative Type Route": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "mapping_item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f4a186f0-b07a-4ee6-bf3d-6eec3b9bb8dd",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-13T11:34:53.842Z",
      "createdAt": "2025-11-13T11:34:53.842Z",
      "role": "workflow:owner",
      "workflowId": "V1GolwUDxcGbl6aY",
      "projectId": "iOyc3VpWKvgHH9fv"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-14T10:19:51.673Z",
      "createdAt": "2025-11-14T10:19:51.673Z",
      "id": "ZeV32hHhoNphIlCK",
      "name": "mayank"
    }
  ]
}