Backup_2026-06-06/Daily AI Automation News to Slack.json
{"updatedAt":"2025-09-17T19:25:19.000Z","createdAt":"2025-09-17T18:58:47.397Z","id":"RcvpfQZGzEcmsdhB","name":"Daily AI Automation News to Slack","active":false,"isArchived":true,"nodes":[{"id":"daily-trigger","name":"Daily AI News Check","type":"n8n-nodes-base.scheduleTrigger","position":[640,540],"parameters":{"rule":{"interval":[{"field":"cronExpression","cronExpression":"0 8 * * *"}]}},"typeVersion":1.2},{"id":"venturebeat-rss","name":"VentureBeat AI RSS","type":"n8n-nodes-base.rssFeedRead","position":[860,280],"parameters":{"url":"https://feeds.feedburner.com/venturebeat/SZYF"},"typeVersion":1.2},{"id":"techcrunch-rss","name":"TechCrunch AI RSS","type":"n8n-nodes-base.rssFeedRead","position":[860,420],"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/"},"typeVersion":1.2},{"id":"openai-rss","name":"OpenAI Blog RSS","type":"n8n-nodes-base.rssFeedRead","position":[860,560],"parameters":{"url":"https://openai.com/blog/rss.xml"},"typeVersion":1.2},{"id":"zapier-rss","name":"Zapier Automation RSS","type":"n8n-nodes-base.rssFeedRead","position":[860,700],"parameters":{"url":"https://zapier.com/blog/feed/"},"typeVersion":1.2},{"id":"n8n-blog-rss","name":"n8n Blog RSS","type":"n8n-nodes-base.rssFeedRead","position":[860,840],"parameters":{"url":"https://blog.n8n.io/feed/"},"typeVersion":1.2},{"id":"merge-sources","name":"Merge All Sources","type":"n8n-nodes-base.merge","position":[1080,540],"parameters":{"mode":"combine","combinationMode":"multiplex"},"typeVersion":2.1},{"id":"filter-articles","name":"Filter Recent Automation Articles","type":"n8n-nodes-base.code","position":[1300,540],"parameters":{"jsCode":"// Filter articles from last 48 hours and relevant to AI + Automation\nconst now = new Date();\nconst twoDaysAgo = new Date(now.getTime() - (48 * 60 * 60 * 1000));\n\n// Create a Set to track unique articles (by title or link)\nconst uniqueArticles = new Map();\n\nitems.forEach(item => {\n  const articleDate = new Date(item.json.pubDate || item.json.date);\n  const isRecent = articleDate >= twoDaysAgo;\n  \n  const title = (item.json.title || '').toLowerCase();\n  const description = (item.json.description || '').toLowerCase();\n  \n  // Enhanced keywords for automation focus\n  const automationKeywords = [\n    'automation', 'automate', 'workflow', 'ai agent', 'agentic', 'no-code', 'low-code',\n    'zapier', 'n8n', 'make.com', 'power automate', 'robotic process automation', 'rpa',\n    'chatbot', 'ai assistant', 'copilot', 'ai tools', 'productivity', 'integration'\n  ];\n  \n  const aiKeywords = [\n    'ai', 'artificial intelligence', 'machine learning', 'ml', 'neural', 'gpt', 'llm',\n    'deep learning', 'generative ai', 'openai', 'anthropic', 'claude', 'langchain'\n  ];\n  \n  const allKeywords = [...automationKeywords, ...aiKeywords];\n  \n  const isRelevant = allKeywords.some(keyword => \n    title.includes(keyword) || description.includes(keyword)\n  );\n  \n  // Only add if recent, relevant, and not already added\n  if (isRecent && isRelevant) {\n    const uniqueKey = item.json.link || item.json.title;\n    if (!uniqueArticles.has(uniqueKey)) {\n      uniqueArticles.set(uniqueKey, {\n        title: item.json.title,\n        description: item.json.description || '',\n        link: item.json.link,\n        pubDate: item.json.pubDate || item.json.date,\n        source: item.json.source || 'RSS Feed',\n        dateObj: articleDate\n      });\n    }\n  }\n});\n\n// Convert Map to array, sort by date (newest first) and limit to top 10\nconst sortedItems = Array.from(uniqueArticles.values())\n  .sort((a, b) => b.dateObj - a.dateObj)\n  .slice(0, 10);\n\n// Return formatted items without dateObj\nreturn sortedItems.map(item => ({\n  json: {\n    title: item.title,\n    description: item.description,\n    link: item.link,\n    pubDate: item.pubDate,\n    source: item.source\n  }\n}));"},"typeVersion":2},{"id":"prepare-articles","name":"Prepare Articles for Summary","type":"n8n-nodes-base.code","position":[1520,540],"parameters":{"jsCode":"// Combine all articles into a single string for summarization\nconst articles = items.map(item => {\n  return `Title: ${item.json.title}\\nDescription: ${item.json.description}\\nSource: ${item.json.source}\\nDate: ${item.json.pubDate}\\nLink: ${item.json.link}\\n---`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    articles: articles,\n    articleCount: items.length,\n    processedAt: new Date().toISOString(),\n    individualArticles: items.map(item => item.json)\n  }\n}];"},"typeVersion":2},{"id":"check-articles","name":"Check Articles Exist","type":"n8n-nodes-base.if","position":[1740,540],"parameters":{"conditions":{"options":{"version":1,"caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"has-articles-condition","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.articleCount }}","rightValue":0}]}},"typeVersion":2},{"id":"ai-summarizer","name":"AI News Summarizer","type":"@n8n/n8n-nodes-langchain.openAi","position":[1960,640],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4o-mini"},"messages":{"values":[{"content":"=You are an expert AI automation analyst with deep knowledge of artificial intelligence, workflow automation, and no-code/low-code platforms. Your task is to analyze multiple news articles and create a compelling summary for automation professionals and AI enthusiasts.\n\n**Your Analysis Should:**\n- Identify the most significant AI and automation developments from the provided articles\n- Focus on stories that matter to business leaders, developers, automation professionals, and AI practitioners\n- Highlight breakthrough technologies, major tool releases, integration announcements, or industry shifts\n- Connect developments to broader automation and AI workflow trends\n- Prioritize practical applications and business impact\n\n**Content Requirements:**\n- Write 4-5 concise, informative sentences (120-180 words total)\n- Lead with the most impactful development for automation professionals\n- Include specific tool names, company names, or key features when relevant\n- Mention concrete details (new features, integrations, performance improvements) if significant\n- End with insights about impact on automation workflows or AI productivity\n- Use professional but accessible language\n\n**Style Guidelines:**\n- Write in active voice with clear, decisive language\n- Focus on practical implications for automation and AI workflows\n- Use specific numbers and details to add credibility\n- Create a sense of progress and innovation in the automation space\n- Be factual and informative without hype\n\n**If Multiple Major Stories Exist:**\n- Mention 2-3 key developments maximum\n- Connect them thematically (e.g., \"AI tool integrations,\" \"automation capabilities,\" \"workflow enhancements\")\n- Prioritize stories with direct impact on automation workflows\n\nNow analyze these AI automation news articles and create a summary covering the most important developments:\n\n{{ $json.articles }}\n\nFocus particularly on tool releases, platform integrations, automation capabilities, and developments that will impact how people build and use AI workflows."}]}},"credentials":{"openAiApi":{"id":"L3P9Ae81haTD2rYm","name":"OpenAi account"}},"typeVersion":1.3},{"id":"format-slack-message","name":"Format Slack Message","type":"n8n-nodes-base.code","position":[2180,640],"parameters":{"jsCode":"// Format the AI summary and articles for Slack\nconst summary = $input.first().json.message.content;\nconst articles = $input.first().json.individualArticles || [];\nconst articleCount = articles.length;\n\n// Create the main Slack message\nlet slackMessage = `🤖 *Daily AI Automation News Digest*\\n\\n`;\nslackMessage += `📰 *Today's Summary* (${articleCount} articles):\\n`;\nslackMessage += `${summary}\\n\\n`;\n\nif (articles.length > 0) {\n  slackMessage += `📋 *Top Articles:*\\n`;\n  \n  // Add top 5 articles with links\n  articles.slice(0, 5).forEach((article, index) => {\n    const title = article.title.length > 80 ? article.title.substring(0, 80) + '...' : article.title;\n    slackMessage += `${index + 1}. <${article.link}|${title}>\\n`;\n    slackMessage += `   _${article.source}_\\n\\n`;\n  });\n}\n\nslackMessage += `⏰ Generated at ${new Date().toLocaleString('en-US', { timeZone: 'America/New_York', timeStyle: 'short', dateStyle: 'short' })} ET`;\n\nreturn [{\n  json: {\n    text: slackMessage,\n    articleCount: articleCount,\n    processedAt: new Date().toISOString()\n  }\n}];"},"typeVersion":2},{"id":"send-to-slack","name":"Send to Slack","type":"n8n-nodes-base.slack","position":[2400,640],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"mode":"name","value":"#general"},"messageType":"text","text":"={{ $json.text }}","otherOptions":{"mrkdwn":true}},"credentials":{"slackApi":{"name":"[Please configure Slack credentials]"}},"typeVersion":2.3,"onError":"continueRegularOutput","retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"id":"no-articles-slack","name":"No Articles Notification","type":"n8n-nodes-base.slack","position":[2038,440],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"mode":"name","value":"#general"},"messageType":"text","text":"🤖 Daily AI Automation News: No new relevant articles found today. Check back tomorrow!","otherOptions":{"mrkdwn":true}},"credentials":{"slackApi":{"name":"[Please configure Slack credentials]"}},"typeVersion":2.3,"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3},{"id":"sticky-note-1","name":"RSS Sources","type":"n8n-nodes-base.stickyNote","position":[600,140],"parameters":{"color":4,"width":620,"height":820,"content":"## 🔍 RSS News Sources\\n\\n**AI News:**\\n- VentureBeat AI\\n- TechCrunch AI\\n- OpenAI Blog\\n\\n**Automation Focused:**\\n- Zapier Blog\\n- n8n Blog\\n\\n**Runs daily at 8:00 AM**\\n\\n**Keywords Filter:**\\n- AI + Automation terms\\n- No-code/Low-code\\n- Workflow tools\\n- AI Agents\\n\\n**Time Filter:**\\n- Last 48 hours only"},"typeVersion":1},{"id":"sticky-note-2","name":"AI Processing","type":"n8n-nodes-base.stickyNote","position":[1240,140],"parameters":{"color":5,"width":1000,"height":820,"content":"## 🤖 AI Processing\\n\\n**Filter & Merge:**\\n- Combines all RSS sources\\n- Filters for automation relevance\\n- Removes duplicates\\n- Sorts by date (newest first)\\n- Limits to top 10 articles\\n\\n**AI Summary:**\\n- Uses OpenAI GPT-4o-mini\\n- Focuses on automation impact\\n- Professional tone\\n- 120-180 words\\n- Highlights key developments"},"typeVersion":1},{"id":"sticky-note-3","name":"Slack Output","type":"n8n-nodes-base.stickyNote","position":[2260,140],"parameters":{"color":6,"width":760,"height":820,"content":"## 💬 Slack Integration\\n\\n**Message Format:**\\n- Daily digest header\\n- AI-generated summary\\n- Top 5 article links\\n- Source attribution\\n- Timestamp\\n\\n**Features:**\\n- Rich formatting (markdown)\\n- Clickable links\\n- Fallback for no articles\\n- Error handling\\n\\n**Configure:**\\n- Update #channel name\\n- Set Slack credentials"},"typeVersion":1}],"connections":{"Daily AI News Check":{"main":[[{"node":"VentureBeat AI RSS","type":"main","index":0},{"node":"TechCrunch AI RSS","type":"main","index":0},{"node":"OpenAI Blog RSS","type":"main","index":0},{"node":"Zapier Automation RSS","type":"main","index":0},{"node":"n8n Blog RSS","type":"main","index":0}]]},"VentureBeat AI RSS":{"main":[[{"node":"Merge All Sources","type":"main","index":0}]]},"TechCrunch AI RSS":{"main":[[{"node":"Merge All Sources","type":"main","index":1}]]},"OpenAI Blog RSS":{"main":[[{"node":"Merge All Sources","type":"main","index":1}]]},"Zapier Automation RSS":{"main":[[{"node":"Merge All Sources","type":"main","index":1}]]},"n8n Blog RSS":{"main":[[{"node":"Merge All Sources","type":"main","index":1}]]},"Merge All Sources":{"main":[[{"node":"Filter Recent Automation Articles","type":"main","index":0}]]},"Filter Recent Automation Articles":{"main":[[{"node":"Prepare Articles for Summary","type":"main","index":0}]]},"Prepare Articles for Summary":{"main":[[{"node":"Check Articles Exist","type":"main","index":0}]]},"Check Articles Exist":{"main":[[{"node":"AI News Summarizer","type":"main","index":0}],[{"node":"No Articles Notification","type":"main","index":0}]]},"AI News Summarizer":{"main":[[{"node":"Format Slack Message","type":"main","index":0}]]},"Format Slack Message":{"main":[[{"node":"Send to Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"d2f556a9-0506-4620-a08d-5d2d68474099","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-09-17T18:58:47.400Z","createdAt":"2025-09-17T18:58:47.400Z","role":"workflow:owner","workflowId":"RcvpfQZGzEcmsdhB","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}