Backup_2026-05-20/106. Production ready whatsapp.json
{"updatedAt":"2026-05-16T06:32:23.413Z","createdAt":"2026-05-15T05:19:30.510Z","id":"9pCUj_ACtycQaJR4va2Ju","name":"106. Production ready whatsapp","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-288,-32],"id":"464ac6b1-02dc-4290-bac3-1dff899c3f2f","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v24.0/{{ $json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.number }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"hry\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,-32],"id":"c426a985-e76d-4b54-b6fd-3301799e2fa8","name":"Initial Btn Msg","credentials":{"httpHeaderAuth":{"id":"Y7qWNP72O0VEndGQ","name":"Kamla App"}}},{"parameters":{"assignments":{"assignments":[{"id":"1c3cb7e3-ce5f-4ed4-92a9-6b5846869558","name":"phone_number_id","value":"1109733228895191","type":"string"},{"id":"ceb4bcd2-efa8-4527-a059-096f06b1446f","name":"number","value":"919987749950","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-32],"id":"01a2aa4a-8b87-4878-841a-c762a47f0ccb","name":"variable"},{"parameters":{"multipleMethods":true,"path":"f2dde159-cabc-4c0f-9c5e-3c7e1def3b29","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,240],"id":"5b0fed52-dd56-4b9c-aaa6-a84a70fca9d3","name":"Webhook","webhookId":"f2dde159-cabc-4c0f-9c5e-3c7e1def3b29"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query[\"hub.challenge\"] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[208,192],"id":"bd201096-1d06-4e39-8273-ad5b1efac078","name":"Verify Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51696ba9-54b9-4f8c-bd0c-4e11fcb50d45","leftValue":"={{ $json.query['hub.mode'] }}","rightValue":"subscribe","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4b041959-0ee0-4db3-8465-d08554bdec80","leftValue":"={{ $json.query['hub.verify_token'] }}","rightValue":"lakshit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-32,192],"id":"1e4458fa-671d-434f-8b16-3a20726d2a35","name":"Check webhook configure parameter"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"variable","type":"main","index":0}]]},"variable":{"main":[[{"node":"Initial Btn Msg","type":"main","index":0}]]},"Check webhook configure parameter":{"main":[[{"node":"Verify Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Check webhook configure parameter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"38df3267-419e-4af0-8957-c7cdc5e1246a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-15T05:19:30.530Z","createdAt":"2026-05-15T05:19:30.530Z","role":"workflow:owner","workflowId":"9pCUj_ACtycQaJR4va2Ju","projectId":"iOyc3VpWKvgHH9fv"}],"activeVersion":null,"tags":[]}